<div class="ui success icon message">
    <i class="blue info circle icon"></i>
    <div class="content">
        <div class="header">Informaci&oacute;n</div>
        <form class="ui form segment consulta">
            <p><strong>Usted aparece en nuestra Base de Datos como egresado con la siguiente información</strong></p>
            <table class="ui table compact line celled">
                <tr>
                    <td><strong>IDENTIFICACION</strong></td>
                    <td><strong>NOMBRES</strong></td>
                    <td><strong>APELLIDOS</strong></td>
                    <td><strong>PROGRAMA</strong></td>
                </tr>
                <?php foreach ($datosacta as $value): ?>

                    <tr>
                        <td width="5%"><?= $value['nro_ident'] ?></td>
                        <td width="20%"><?= utf8_decode($value['nombres']) ?></td>
                        <td width="20%"><?= utf8_decode($value['apellidos']) ?></td>
                        <td width="30%"><?= utf8_decode($value['nomprog']) ?></td>
                    </tr>

                <?php endforeach ?>
            </table>

            <!--<div class="field">
                <p><strong>Usted aparece en nuestra Base de Datos como egresado con la siguiente información</strong></p>
                <label style="font-size: 16px; font: 'Roboto'">Identificación: <?php $nro_ident; ?></label>
                <label style="font-size: 16px; font: 'Roboto'">Nombres y apellidos: <?php utf8_decode($datoestud['nombres'])." ".utf8_decode($datoestud['apellidos']); ?></label>
                <label style="font-size: 16px; font: 'Roboto'">Programa: <?php $datoprog['nomprog']; ?></label>
            </div>-->
        </form>
    </div>
</div>