<?php
    if(isset($_POST['post'])){
        print_r($_POST);
    }
?>
<head>
    <script src="https://www.google.com/recaptcha/api.js?render=6LdU1rAUAAAAAPn2YW39VAk4apwdB8Y0Vo32ovY-"></script>
</head>
<style type="text/css">
    .container2 {
        padding: 10px;
        width: 100%;
        height: 400px;
        border: 1px solid #D8D8D8;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .floatLeft2 {
        width: 2000px;
        height: 400px;
    }
</style>

<div class="ui green icon message">
    <i class="info green circle icon"></i>
    <div class="content">
        <div class="header">
            CONSULTA SI ESTAS EN LA BASE DE DATOS DE GRADUADOS.
        </div>
        <p></p>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="ui three column grid">
    <div class="column">

    </div>
    <div class="column">

        <form class="ui form segment egresados">

            <div class="field">
                <label style="font-size: 16px; font: 'Tahoma'">Identificación</label>
                <input type="text" id="identificacion" name="identificacion" maxlength="20">
            </div>

            <div class="field center aligned">
                <div class="ui fluid green labeled icon button busqueda" name="post"><i class="search icon"></i> Realizar Consulta </div>
            </div>
            <div class="ui error message"></div>
        </form>


    </div>
    <div class="column">

    </div>
</div>
<br>
<script type="text/javascript">

    $('.ui.dropdown.programa').click(function() {

    });

    $(document).ready(function() {

        $('ui.form.segment.busqueda').keypress(function(e){
            if(e == 13){
                return false;
            }
        });

        $('#identificacion').keypress(function(e){
            if(e.which == 13){
                return false;
            }
        });

    });

    var rules = {
        identificacion: {
            identifier  : 'identificacion',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el numero de identificación'
                },
                {
                    type: 'maxLength[11]',
                    prompt : 'M&aacute;ximo 11 caracteres'
                },
                {
                    type: 'integer',
                    prompt : 'Solo valores numéricos'
                },
            ]
        },

    };

    $('.ui.fluid.green.labeled.icon.button.busqueda').form({
        on: 'blur',
        inline : true,
        fields: rules,
        onSuccess : function() {
            return false;
        },
    });

    $.fn.api.settings.api = {
        'consultaegresado' : '<?php echo $this->url('home') ?>egresado/consultaegresado',
    };

    buttonPostValidation('.ui.fluid.green.labeled.icon.button.busqueda', 'consultaegresado', '.ui.form.segment.egresados', 'contenedor');

</script>

<div id="contenedor-calcular"></div>