
<style type="text/css">
    .container2 {
        padding: 10px;
        width: 100%;
        height: 400px;
        border: 1px solid #D8D8D8;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .floatLeft2 {
        width: 2000px;
        height: 400px;
    }
</style>


<!--<div class="ui green icon message">
    <i class="info green circle icon"></i>
    <div class="content">
        <div class="header">
            Validando para Actualizar Datos del Egresado
        </div>
        <p></p>
    </div>
</div>-->

<br>
<br>
<br>
<br>
<div class="ui three column grid">
    <div class="column">

    </div>
    <div class="column">
        <form class="ui form segment actualizar">
            <div class="field">
                <label>Identificación</label>
                <input type="text" id="identificacion" name="identificacion" maxlength="20">
            </div>

            <div class="field center aligned">
                <div class="ui fluid green labeled icon button actualizar">
                    <i class="search icon"></i> Realizar Actualización
                </div>
            </div>

            <div class="ui error message"></div>
        </form>
    </div>
    <div class="column">

    </div>
</div>

<script type="text/javascript">

    var rules = {
        identificacion: {
            identifier  : 'identificacion',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el numero de identificación'
                },
                {
                    type: 'maxLength[11]',
                    prompt : 'M&aacute;ximo 11 caracteres'
                },
                {
                    type: 'integer',
                    prompt : 'Solo valores numéricos'
                },
            ]
        },
    };

    $('.ui.form.segment.actualizar').form({
        on: 'blur',
        inline : true,
        fields: rules,
        onSuccess : function() {
            return false;
        },
    });

    $.fn.api.settings.api = {
        'tratadatosactualiza' : '<?php echo $this->url('home') ?>actualizar/tratadatosactualiza',
    };

    buttonPostValidation('.ui.button.actualizar', 'tratadatosactualiza', '.ui.form.segment.actualizar', 'contenedor');

</script>

<div id="contenedor-calcular"></div>