<h2 class="ui green header">
    <i class="question circle outline icon"></i>
    <div class="content">
        Crear Respuestas de Preguntas de Actualización de Datos
    </div>
</h2>
<div class="button">
    <div class="ui green submit button">Ver lista</div>
</div>

<div class="ui divider"></div>

<form class="ui form segment preguntas">

    <div class="fields">
        <div class="twelve wide field">
            <label>Respuesta</label>
            <input type="text" id="respuesta" name="respuesta" maxlength="100">
        </div>

        <div class="field">
        </div>
    </div>

    <div class="field">
        <div class="ui green labeled icon button preguntas"><i class="check circle icon"></i>Crear Respuesta</div>
    </div>
    <div class="ui error message"></div>
</form>

<script type="text/javascript">

    $('.ui.dropdown').dropdown();

    $('.ui.green.submit.button').on('click',function(){
        ajaxPost('<?php echo $this->url('home') ?>reportes/listaderespuestas', 'contenedor5');
    });

    var rules = {
        respuesta: {
            identifier  : 'respuesta',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese una respuesta completa'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres'
                },
            ],
        },
    };


    $('.ui.form.segment.preguntas').form({
        on: 'blur',
        inline : true,
        fields: rules,
        onSuccess : function() {
            return false;
        },
    });

    $.fn.api.settings.api = {
        'guardarPreguntas' : '<?php echo $this->url('home') ?>actualizar/guardarPreguntas',
    };

    buttonPostValidation('.ui.button.preguntas', 'guardarPreguntas', '.ui.form.segment.preguntas', 'contenedor5');

</script>