<form class="ui form">
    <div class="fields">
        <div class="three wide field">
            <label>Fecha Inicial</label>
            <input type="date" placeholder="AAAA-MM-DD" id="fecha1" name="fecha1" maxlength="10">
        </div>
        <div class="three wide field">
            <label>Fecha Final</label>
            <input type="date" placeholder="AAAA-MM-DD" id="fecha2" name="fecha2" maxlength="10">
        </div>
        <div class="twelve wide field">
            <label>Programa:</label>
            <select class="ui dropdown programa" id="programa" name="programa">
                <option value="0">Seleccionar todos los programas</option>
                <?php foreach ($prog as $bprogra) {?>
                    <option value="<?=$bprogra['id']?>"> <?=utf8_encode($bprogra['nombre'])?></option>
                <?php }?>
            </select>
        </div>
        <div class="seven wide field">
            <label>Forma de actualizacion:</label>
            <select class="ui dropdown formactualiza" id="formactualiza" name="formactualiza">
                <option value="TOD">Seleccionar todas las forma</option>
                <option value="DIR">Actualizacion directa</option>
                <option value="ENC">A traves de la encuesta</option>
                <option value="INS">A traves de inscripcion a eventos</option>
                <option value="OFI">Oficina egresados</option>
            </select>
        </div>
    </div>
    <!--<input type="hidden" id="modulo" name="modulo" value="<?=$modulo?>">-->
    <div class="ui button generar">
        Generar reporte
    </div>
</form>

<div id="contenedor5">

</div>

<script type="text/javascript">
    $('.ui.dropdown').dropdown();

    $(document).ready(function () {
//        var nmodulo = $("#modulo").val();

        $('.ui.button.generar').on('click', function () {
            ajaxPost('<?php echo $this->url('home') ?>actualizar/listaestudactualizados', 'contenedor5', {
                fecha1: $("#fecha1").val(),
                fecha2: $("#fecha2").val(),
                programa: $("#programa").val(),
                formactualiza: $("#formactualiza").val(),
            });
            /*if (nmodulo == 1) {
                ajaxPost('$this->url('home') ?>reportes/repor-encuestas-realizadas-sexo/' + tipoestud, 'contenedor5', {
                    sexo: $("#sexo").val(),
                    fecha1: $("#fecha1").val(),
                    fecha2: $("#fecha2").val(),
                    programa: $("#programa").val()
                });
            }
            if (nmodulo == 2) {
                ajaxPost(' $this->url('home') ?>reportes/repor-encuestas-trabajan-sexo/' + tipoestud, 'contenedor5', {
                    sexo: $("#sexo").val(),
                    fecha1: $("#fecha1").val(),
                    fecha2: $("#fecha2").val(),
                    programa: $("#programa").val()
                });
            }
            if (nmodulo == 3) {
                ajaxPost(' $this->url('home') ?>reportes/repor-encuestas-no-trabajan-sexo/' + tipoestud, 'contenedor5', {
                    sexo: $("#sexo").val(),
                    fecha1: $("#fecha1").val(),
                    fecha2: $("#fecha2").val(),
                    programa: $("#programa").val()
                });
            }
            if (nmodulo == 4) {
                ajaxPost('$this->url('home') ?>reportes/repor-graduados-sexo/' + tipoestud, 'contenedor5', {
                    sexo: $("#sexo").val(),
                    fecha1: $("#fecha1").val(),
                    fecha2: $("#fecha2").val(),
                    programa: $("#programa").val()
                });
            }
            if (nmodulo == 5) {
                ajaxPost('$this->url('home') ?>reportes/repor-graduados-trabajan-sexo/' + tipoestud, 'contenedor5', {
                    sexo: $("#sexo").val(),
                    fecha1: $("#fecha1").val(),
                    fecha2: $("#fecha2").val(),
                    programa: $("#programa").val()
                });
            }
            if (nmodulo == 6) {
                ajaxPost('$this->url('home') ?>reportes/repor-graduados-no-trabajan-sexo/' + tipoestud, 'contenedor5', {
                    sexo: $("#sexo").val(),
                    fecha1: $("#fecha1").val(),
                    fecha2: $("#fecha2").val(),
                    programa: $("#programa").val()
                });
            }*/
        });

    });

</script>