<form class="ui form segment tiny forma" id="forma">
    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Información Personal</h2>
        </div>
    </div>
    <div class="three fields">
        <div class="field">
            <label style="font-size: 16px"><strong>Apellidos</strong></label>
            <?= $estudiante['apellidos'] ?>
        </div>
        <div class="field">
            <label style="font-size: 16px"><strong>Nombres</strong></label>
            <?= $estudiante['nombres'] ?>
        </div>
        <div class="field">
            <label style="font-size: 16px"><strong>Género</strong></label>
            <?= $estudiante['sexo'] ?>
        </div>
    </div>
    <div class="three fields">
        <div class="field">
            <label style="font-size: 16px"><strong>Tipo de Documento</strong></label>
            <select class="ui search dropdown tipodoc" id="tipodoc" name="tipodoc" disabled>
                <option value="CC" <?php if($estudiante['tipo_doc']=="CC"){?> selected <?php } ?> >Cedula de ciudadanía</option>
                <option value="CE" <?php if($estudiante['tipo_doc']=="CE"){?> selected <?php } ?> >Cedula de extranjería</option>
            </select>
        </div>
        <div class="field">
            <label style="font-size: 16px"><strong>Identificación</strong></label>
            <?= $estudiante['nro_ident'] ?>
        </div>
        <div class="field">
            <label style="font-size: 16px"><strong>Expedida en</strong></label>
            <?= $estudiante['ciudad_exped'] ?>
        </div>

    </div>
    <div class="three fields">
        <div class="field">
            <label style="font-size: 16px">Dirección residencial</label>
            <input type="text" id="dir_residencial" name="dir_residencial" readonly
                   placeholder="Calle y/o carrera, numero"
                   value="<?= $datosactualizados['direc_residen'] ?>">
        </div>

        <div class="five wide field">
            <label style="font-size: 16px">Pais de residencia</label>
            <select class="ui search dropdown paisres" id="paisres" name="paisres" disabled>
                <?php foreach ($pais as $listpaises) { ?>
                    <option value="<?= $listpaises['Codigo'] ?>"> <?= $listpaises['Pais'] ?></option>
                <?php } ?>
            </select>
        </div>

        <div class="five wide field">
            <label style="font-size: 16px">Ciudad de residencia</label>
            <select class="ui search dropdown ciudres" id="ciudres" name="ciudres" disabled>
                <?php foreach ($ciudad as $listaciudad) { ?>
                    <option value="<?= $listaciudad['id'] ?>"> <?= $listaciudad['ciudad'] ?></option>
                <?php } ?>
            </select>
        </div>

    </div>

    <div class="three fields">
        <div class="field">
            <label style="font-size: 16px">E-mail</label>
            <input type="email" id="remailestud" name="remailestud" maxlength="100" readonly
                   value="<?= $datosactualizados['email'] ?>"/>
        </div>
        <div class="field">
            <label style="font-size: 16px">Teléfono(s)</label>
            <input type="text" id="rcelestud" name="rcelestud" readonly
                   value="<?= $datosactualizados['celular'] ?>"/>
        </div>
        <div class="field">
            <label style="font-size: 16px"><strong>Fecha de nacimiento</strong></label>
            <input type="date" readonly id="fec_nacim" name="fec_nacim"
                   value="<?= $estudiante['fec_nacimiento'] ?>" maxlength="10"/>
        </div>
    </div>
    <div class="three fields">
        <div class="five wide field">
            <label style="font-size: 16px">Pais de nacimiento</label>
            <select class="ui search dropdown paisnac" id="paisnac" name="paisnac" disabled>
                <?php foreach ($paisnac as $listpaisnac) { ?>
                    <option value="<?= $listpaisnac['Codigo'] ?>"> <?= $listpaisnac['Pais'] ?></option>
                <?php } ?>
            </select>
        </div>

        <div class="five wide field">
            <label style="font-size: 16px">Ciudad de nacimiento</label>
            <select class="ui search dropdown ciudnac" id="ciudnac" name="ciudnac" disabled>
                <?php foreach ($ciudadnac as $listaciudadnac) { ?>
                    <option value="<?= $listaciudadnac['id'] ?>"> <?= $listaciudadnac['ciudad'] ?></option>
                <?php } ?>
            </select>
        </div>
        <div class="three wide field">
            <label style="font-size: 16px">Estado civil</label>
            <select class="ui search dropdown est_civil" id="est_civil" name="est_civil" disabled>
                <?php foreach ($estcivil as $listaestcivil) { ?>
                    <option value="<?= $listaestcivil['id'] ?>"> <?= $listaestcivil['nom_estado'] ?></option>
                <?php } ?>
            </select>
        </div>
    </div>

    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Información Académica </h2>
        </div>
    </div>

    <!--<div class="fields">
        <div class="ten wide field">
            <label style="font-size: 16px">Titulo Obtenido</label>
            <select class="ui search dropdown titulo" id="titulo" name="titulo">
                <option value=0 selected>Seleccione...</option>
                <?php foreach ($estudios as $btitulo) { ?>
                    <option value="<?= $btitulo['id'] ?>"> <?= $btitulo['titulo_obtenido'] ?></option>
                <?php } ?>
            </select>
        </div>
        <div class="seven wide field">
            <label style="font-size: 16px">Nivel Académico</label>
            <select class="ui search dropdown nivelacad" id="nivelacad" name="nivelacad">
                <option value="Tecnologico">Tecnológico</option>
                <option value="Profesional">Profesional</option>
                <option value="Especializacion">Especialización</option>
                <option value="Maestria">Maestría</option>
                <option value="Doctorado">Doctorado</option>
            </select>
        </div>
    </div>
    <div class="fields">
        <div class="ten wide field">
            <label style="font-size: 16px">Institución</label>
            <select class="ui search dropdown iduniversidad" id="iduniversidad" name="iduniversidad">
                <option value=0 selected>Seleccione...</option>
                <?php foreach ($universidades as $value) { ?>
                    <option value="<?= $value['id'] ?>"> <?= $value['nombre'] ?></option>
                <?php } ?>
            </select>
        </div>
        <div class="five wide field">
            <label style="font-size: 16px">Año de Graduación</label>
            <input type="text" id="anogrado" name="anogrado" maxlength="4">
        </div>
    </div>
    <br>
    <div class="ui button green" onclick="agregar_estudios();">
        Agregar Inf. Académica
    </div>-->
    <br>
    <div class="table-responsive">
        <table class="ui fixed single line celled table" style="margin:0;" border="1px">
            <thead>
            <tr>
                <th>Título obtenido</th>
                <th>Nivel académico</th>
                <th>Institución</th>
                <th>Año de graduación</th>
                <th>Acción</th>
            </tr>
            </thead>
            <tbody id="testudios">
            <?php foreach ($titulosactualiza as $value): ?>
                <tr>
                    <td width="15%"><?= $value['titulo_obtenido'] ?></td>
                    <td width="25%"><?= utf8_decode($value['nivel_acade']) ?></td>
                    <td width="25%"><?= utf8_decode($value['nombre']) ?></td>
                    <td width="10%"><?= utf8_decode($value['ano_grado']) ?></td>
                </tr>
            <?php endforeach;?>
            </tbody>
        </table>
    </div>

    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Información Ocupacional/Laboral Actual </h2>
        </div>
    </div>

    <div class="fields">
        <div class="two wide field">
            <label style="font-size: 16px">Empleado</label>
            <div class="ui slider checkbox">
                <input type="checkbox" disabled id="empleado" name="empleado" value="on"
                    <?php if (!empty($datosactualizados['empleado'])) {
                        echo "checked";
                    } ?>>
                <label></label>
            </div>
        </div>
        <div class="two wide field">
            <label style="font-size: 16px">Empresario</label>
            <div class="ui slider checkbox">
                <input type="checkbox" disabled id="empresario" name="empresario" value="on"
                    <?php if (!empty($datosactualizados['empresario'])) {
                        echo "checked";
                    } ?>>
                <label></label>
            </div>
        </div>
        <div class="two wide field">
            <label style="font-size: 16px">Pensionado</label>
            <div class="ui slider checkbox">
                <input type="checkbox" disabled id="pensionado" name="pensionado" value="on"
                    <?php if (!empty($datosactualizados['pensionado'])) {
                        echo "checked";
                    } ?>>
                <label></label>
            </div>
        </div>
        <div class="two wide field">
            <label style="font-size: 16px">Estudiante</label>
            <div class="ui slider checkbox">
                <input type="checkbox" disabled id="estudiante" name="estudiante" value="on"
                    <?php if (!empty($datosactualizados['estudiante'])) {
                        echo "checked";
                    } ?>>
                <label></label>
            </div>
        </div>
        <div class="two wide field">
            <label style="font-size: 16px">desempleado</label>
            <div class="ui slider checkbox">
                <input type="checkbox" disabled id="desempleado" name="desempleado" value="on"
                    <?php if (!empty($datosactualizados['desempleado'])) {
                        echo "checked";
                    } ?>>
                <label></label>
            </div>
        </div>
    </div>
    <div class="fields">
        <div class="six wide field">
            <label style="font-size: 16px">Nombre Empresa o negocio donde trabaja</label>
            <input type="text" id="nombre_empresa" name="nombre_empresa" readonly
                   value="<?= $datosactualizados['nom_empresa'] ?>"/>
        </div>
        <div class="seven wide field">
            <label style="font-size: 16px">Actividad Económica</label>
            <select class="ui search dropdown act_economica" id="act_economica" name="act_economica" disabled>
                <?php foreach ($act_economica as $listactividades) { ?>
                    <option value="<?= $listactividades['id'] ?>"> <?= $listactividades['descrip_actividad'] ?></option>
                <?php } ?>
            </select>
        </div>
        <div class="one wide field">
            <label style="font-size: 16px">Sector</label>
            <select class="ui search dropdown sector" id="sector" name="sector" disabled>
                <option value="Publico" <?php if ($datosactualizados['sector']=='Publico'){?> selected <?php } ?>>Publico</option>
                <option value="Privado" <?php if ($datosactualizados['sector']=='Privado'){?> selected <?php } ?>>Privado</option>
                <option value="Mixto" <?php if ($datosactualizados['sector']=='Mixto'){?> selected <?php } ?>>Mixto</option>
            </select>
        </div>
    </div>
    <div class="fields">
        <div class="five wide field">
            <label style="font-size: 16px">Direccion de la empresa</label>
            <input type="text" name="direc_emp_trab" id="direc_emp_trab" readonly
                   placeholder="Calle y/o carrera, numero" value="<?= $datosactualizados['dir_empresa'] ?>"/>
        </div>
        <div class="five wide field">
            <label style="font-size: 16px">Pais donde labora</label>
            <select class="ui search dropdown paislab" id="paislab" name="paislab" disabled>
                <?php foreach ($pais2 as $listpaises2) { ?>
                    <option value="<?= $listpaises2['Codigo'] ?>"> <?= $listpaises2['Pais'] ?></option>
                <?php } ?>
            </select>
        </div>

        <div class="five wide field">
            <label style="font-size: 16px">Ciudad donde labora</label>
            <select class="ui search dropdown ciudlab" id="ciudlab" name="ciudlab" disabled>
                <?php foreach ($ciudad2 as $listaciudad2) { ?>
                    <option value="<?= $listaciudad2['id'] ?>"> <?= $listaciudad2['ciudad'] ?></option>
                <?php } ?>
            </select>
        </div>
    </div>

    <div class="fields">
        <div class="seven wide field">
            <label style="font-size: 16px">Cargo</label>
            <input type="text" name="cargo_trab" id="cargo_trab" readonly
                   value="<?= $datosactualizados['cargo_empresa'] ?>"/>
        </div>
        <div class="four wide field">
            <label style="font-size: 16px">Labora en su área(Si/No)</label>
            <select class="ui search dropdown sectprof" id="sectprof" name="sectprof" disabled>
                <option value="SI" <?php if ($datosactualizados['trabsectprofe']=='SI'){?> selected <?php } ?>>SI</option>
                <option value="NO" <?php if ($datosactualizados['trabsectprofe']=='NO'){?> selected <?php } ?>>NO</option>
            </select>
        </div>
        <div class="five wide field">
            <label style="font-size: 16px">Ingresos mensuales</label>
            <select class="ui search dropdown ingmensual" id="ingmensual" name="ingmensual" disabled>
                <?php foreach ($ingresosm as $listaingmen) { ?>
                    <option value="<?= $listaingmen['id'] ?>"> <?= $listaingmen['descrip_ingreso'] ?></option>
                <?php } ?>
            </select>
        </div>
        <div class="four wide field">
            <label style="font-size: 16px">Tiempo de vinculación</label>
            <input type="text" name="tiempovinc" id="tiempovinc" readonly
                   value="<?= $datosactualizados['tiempo_vinculacion'] ?>"/>
        </div>
    </div>

    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Reconocimientos Académicos, Profesionales y/o Sociales </h2>
        </div>
    </div>

    <div class="fields">
        <div class="three wide field">
            <label style="font-size: 16px">Ha tenido algún reconocimiento</label>
            <select class="ui search dropdown tienerecono" id="tienerecono" name="tienerecono" disabled>
                <option value="SI" <?php if ($datosactualizados['reconocimiento']=='SI'){?>selected <?php } ?>>SI</option>
                <option value="NO" <?php if ($datosactualizados['reconocimiento']=='NO'){?> selected <?php } ?>>NO</option>
            </select>
        </div>
        <div class="three wide field">
            <label style="font-size: 16px">Tipo de reconocimiento</label>
            <select class="ui search dropdown tporecono" id="tporecono" name="tporecono" disabled>
                <option value="Academico" <?php if ($datosactualizados['tipo_reconoc']=='Academico'){?> selected <?php } ?>>Académico</option>
                <option value="Profesional" <?php if ($datosactualizados['tipo_reconoc']=='Profesional'){?> selected <?php } ?>>Profesional</option>
                <option value="Social" <?php if ($datosactualizados['tipo_reconoc']=='Social'){?> selected <?php } ?>>Social</option>
            </select>
        </div>
        <div class="ten wide field">
            <label style="font-size: 16px">Descripción del reconocimiento</label>
            <input type="text" name="descriprecono" id="descriprecono" readonly
                   value="<?= $datosactualizados['descrip_reconoc'] ?>"/>
        </div>
    </div>
    <div class="fields">
        <div class="twelve wide field">
            <label style="font-size: 16px">Institución que realizó el reconocimiento</label>
            <input type="text" name="instrecono" id="instrecono" readonly
                   value="<?= $datosactualizados['inst_reconocimiento'] ?>"/>
        </div>
        <div class="five wide field">
            <label style="font-size: 16px">Año en el cual obtuvo el reconocimiento</label>
            <input type="text" name="anorecono" id="anorecono" readonly
                   value="<?= $datosactualizados['ano_reconoc'] ?>"/>
        </div>
    </div>

    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Pregunta Académica </h2>
        </div>
    </div>

    <div class="fields">
        <div class="twelve wide field">
            <p>De acuerdo con su experiencia en el mercado laboral y como graduado de la Universidad de Córdoba
                usted cree que su programa académico debe :</p>
            <label style="font-size: 16px">mejorar:</label>
            <div class="twelve wide field">
                <select class="ui search dropdown mejorar" id="mejorar" name="mejorar" disabled>
                    <?php foreach ($respuestas as $listaresp) { ?>
                        <option value="<?= $listaresp['id_respuesta'] ?>"
                            <?php if ($datosvig['id_prog_mejorar'] == $listaresp['id_respuesta']) { ?> selected <?php } ?>>
                            <?= utf8_decode($listaresp['descrip_respuesta']) ?></option>
                    <?php } ?>
                </select>
            </div>
            <label style="font-size: 16px"> y tiene como Fortaleza:</label>
            <div class="twelve wide field">
                <select class="ui search dropdown fortaleza" id="fortaleza" name="fortaleza" disabled>
                    <?php foreach ($respuestas1 as $listaresp1) { ?>
                        <option value="<?= $listaresp1['id_respuesta'] ?>">
                            <?= utf8_decode($listaresp1['descrip_respuesta']) ?></option>
                    <?php } ?>
                </select>
            </div>
        </div>

    </div>

    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Necesidades de Capacitación </h2>
        </div>
    </div>

    <div class="fields">
        <div class="two wide field">
            <label style="font-size: 16px">Especialización</label>
            <div class="ui slider checkbox">
                <input type="checkbox" disabled id="especiali" name="especiali" value="on"
                    <?php if (!empty($datosactualizados['ncapac_espec'])) {
                        echo "checked";
                    } ?>>
                <label></label>
            </div>
        </div>
        <div class="two wide field">
            <label style="font-size: 16px">Maestría</label>
            <div class="ui slider checkbox">
                <input type="checkbox" disabled id="maestria" name="maestria" value="on"
                    <?php if (!empty($datosactualizados['ncapac_mestria'])) {
                        echo "checked";
                    } ?>>
                <label></label>
            </div>
        </div>
        <div class="two wide field">
            <label style="font-size: 16px">Doctorado</label>
            <div class="ui slider checkbox">
                <input type="checkbox" disabled id="doctorado" name="doctorado" value="on"
                    <?php if (!empty($datosactualizados['ncapac_docto'])) {
                        echo "checked";
                    } ?>>
                <label></label>
            </div>
        </div>
        <div class="two wide field">
            <label style="font-size: 16px">Diplomado</label>
            <div class="ui slider checkbox">
                <input type="checkbox" disabled id="diplomado" name="diplomado" value="on"
                    <?php if (!empty($datosactualizados['ncapac_diploma'])) {
                        echo "checked";
                    } ?>>
                <label></label>
            </div>
        </div>
        <div class="ten wide field">
            <label style="font-size: 16px">Tema</label>
            <input type="text" id="tema" name="tema" value="<?= $datosactualizados['ncapac_tema'] ?>"
                   readonly="readonly">
        </div>
    </div>

    <div class="fields">
        <div class="ui checkbox">
            <input type="checkbox" tabindex="0" id="aceptacion" name="aceptacion" checked="checked" disabled>
            <?php if (!empty($datosactualizados['auto_recolec_datos'])) {
                echo "checked";
            } ?>>
            <label></label>
        </div>
        <label><strong>Acepto la política de protección de datos y autorizo el uso de la información recolectada en este formulario por parte de la institución.</strong>
        </label>
    </div>

</form>

<script type="text/javascript">

    $('.ui.search.dropdown.paisnac').dropdown('set selected', "<?=$datosactualizados['pais_nacim']?>");
    $('.ui.search.dropdown.ciudnac').dropdown('set selected',<?=$datosactualizados['ciud_nacim']?>);

    $('.ui.search.dropdown.est_civil').dropdown('set selected', <?= $datosactualizados['id_estad_civil'] ?>);
    $('.ui.search.dropdown.act_economica').dropdown('set selected', "<?= $datosactualizados['id_acteconomica'] ?>");
    $('.ui.search.dropdown.sector').dropdown('set selected', "<?= $datosactualizados['sector'] ?>");
    $('.ui.search.dropdown.ingmensual').dropdown('set selected', "<?= $datosactualizados['id_ingresos_mens'] ?>");

    $('.ui.search.dropdown.paisres').dropdown('set selected', "<?=$datosactualizados['pais_res']?>");
    $('.ui.search.dropdown.ciudres').dropdown('set selected',<?=$datosactualizados['ciud_res']?>);

    $('.ui.search.dropdown.paislab').dropdown('set selected', "<?=$datosactualizados['pais_lab']?>");
    $('.ui.search.dropdown.ciudlab').dropdown('set selected',<?=$datosactualizados['ciud_lab']?>);

    $('.ui.search.dropdown.mejorar').dropdown('set selected',<?=$datosactualizados['id_prog_mejorar']?>);
    $('.ui.search.dropdown.fortaleza').dropdown('set selected',<?=$datosactualizados['id_prog_fortaleza']?>);

</script>