<div id="contenedor5">
    <form class="ui form">
        <div class="two field">
            <div class="field">
                <label>Corte ó Periodo</label>
                <select class="ui dropdown corte" id="corte" name="corte">
                    <option value="0">Seleccione el corte...</option>
                    <?php foreach ($cortesinactivos as $bcortes) { ?>
                        <option value="<?= $bcortes['id'] ?>"> <?= $bcortes['nombre'] ?></option>
                    <?php } ?>
                </select>
            </div>
            <div class="field">

            </div>
        </div>

        <input type="hidden" id="modulo" name="modulo" value="<?=$modulo?>">
        <div class="ui button reporte">
            Generar reporte
        </div>
    </form>
</div>

<script type="text/javascript">

    $('.ui.dropdown').dropdown();

    $(document).ready(function() {
        var nmodulo=$("#modulo").val();

        $('.ui.button.reporte').on('click', function () {
            if (nmodulo==1){
                ajaxPost('<?php echo $this->url('home') ?>anteriores/encuestas-anteriores-realizadas-pre/' + tipoestud, 'contenedor5', {
                    sexo: $("#sexo").val(), fecha1: $("#fecha1").val(), fecha2: $("#fecha2").val(), programa: $("#programa").val()});
            }
            if (nmodulo==2){
                ajaxPost('<?php echo $this->url('home') ?>anteriores/encuestas-anteriores-no-realizadas-pre/' + tipoestud, 'contenedor5', {
                    sexo: $("#sexo").val(), fecha1: $("#fecha1").val(), fecha2: $("#fecha2").val(), programa: $("#programa").val()});
            }
            if (nmodulo==3){
                ajaxPost('<?php echo $this->url('home') ?>anteriores/anteriores-seleccionar-programa/1/' + tipoestud, 'contenedor5', {
                    sexo: $("#sexo").val(), fecha1: $("#fecha1").val(), fecha2: $("#fecha2").val(), programa: $("#programa").val()});
            }
            if (nmodulo==4){
                ajaxPost('<?php echo $this->url('home') ?>anteriores/selec-fecha-encuestas-anteriores-realizadas-pre/' + tipoestud, 'contenedor5', {
                    sexo: $("#sexo").val(), fecha1: $("#fecha1").val(), fecha2: $("#fecha2").val(), programa: $("#programa").val()});
            }
        });

    });

</script>