<script type="text/javascript">
    $(document).ready(function() {

        $('.ui.fecha2').on('change',function(){
            //   console.log($("#fecha1").val());
            //   console.log($("#fecha2").val());
            ajaxPost('<?php echo $this->url('home') ?>anteriores/encuestas-anteriores-realizadas-fecha-ps',
                'contenedor6',{fecha1: $("#fecha1").val(), fecha2: $("#fecha2").val()});
        });

    });
</script>
<form class="ui form">
    <div class="two fields">
        <div class="field">
            <label>Fecha Inicial</label>
            <input type="date" placeholder="AAAA-MM-DD" id="fecha1" name="fecha1" maxlength="10">
        </div>
        <div class="field">
            <label>Fecha Final</label>
            <input type="date" class="ui fecha2" placeholder="AAAA-MM-DD" id="fecha2" name="fecha2" maxlength="10">
        </div>
    </div>
</form>

<div id="contenedor6">

</div>

<script type="text/javascript">

    /*var rules = {
        fecha1: {
            identifier: 'fecha1',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Ingrese la fecha inicial'
                },
                {
                    type: 'maxLength[10]',
                    prompt: 'M&aacute;ximo 10 caracteres'
                },
                {
                    type: 'regExp[/^[0-9]{4}-[0-9]{2}-[0-9]{2}$/]',
                    prompt: 'Fecha NO válida. Formato AAAA-MM-DD'
                }
            ]
        },

        fecha2: {
            identifier: 'fecha2',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Ingrese la fecha final'
                },
                {
                    type: 'maxLength[10]',
                    prompt: 'M&aacute;ximo 10 caracteres'
                },
                {
                    type: 'regExp[/^[0-9]{4}-[0-9]{2}-[0-9]{2}$/]',
                    prompt: 'Fecha NO válida. Formato AAAA-MM-DD'
                }
            ]
        },
    };

    $('.ui.form.segment.tiny.formencuesta').form({
        on: 'blur',
        inline : true,
        fields: rules,
        onSuccess : function() {
            return false;
        },
    });*/

</script>