<h2 class="ui header green dividing">
    <i class="list icon"></i>
    <div class="content">
        Estudiantes con nro de actas del periodo [<?=$cortesinactivos['nombre']?>]
    </div>
</h2>

<table class="ui celled padded compact table">
    <tr>
        <td><strong># Reg.</strong></td>
        <td><strong>ID_ENCUESTA.</strong></td>
        <td><strong>NOMBRES</strong></td>
        <td><strong>APELLIDOS</strong></td>
        <td><strong>NRO DE IDENTIFICACION</strong></td>
        <td><strong>PROGRAMA</strong></td>
        <td><strong>CARNET</strong></td>
    </tr>
    <?php $i=1; ?>
    <?php foreach ($listanroactas as $value): ?>
        <tr>
            <td><?=$i++?></td>
            <td align="left"><?= $value['id_enc'] ?></td>
            <td align="left"><?= utf8_decode($value['nombres']) ?></td>
            <td align="left"><?= utf8_decode($value['apellidos']) ?></td>
            <td align="left"><?= $value['dp_identestud'] ?></td>
            <td align="left"><?= utf8_decode($value['nombre']) ?></td>
            <td align="left">
                <?php if($value['carnet_entregado'] == 1) :?>
                    Entregado
                <?php endif ?>
                <?php if($value['carnet_entregado'] == 2) :?>
                    Por entregar
                <?php endif ?>
                <?php if($value['carnet_entregado'] == 3) :?>
                    En tramite
                <?php endif ?>
            </td>
            <td>
                <a class="item request3" modulo="encuesta" accion="vernroacta/<?=$value['id_enc']?>/1">
                    <i class="icon eye">Ver</i>
                </a>
            </td>
            <!--<td>
                <a class="item request3" modulo="usuario" accion="addnroacta/<?=$value['id']?>">
                    <i class="icon edit">Acta</i>
                </a>
            </td>-->
        </tr>
    <?php endforeach ?>
</table>
<div id="contenedor6">

</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('.item.request3').on('click',function(){
            ajaxGet("<?php echo $this->url('home') ?>"+$(this).attr('modulo')+"/"+$(this).attr('accion'), "contenedor6");
        });
    });
</script>