
<h2 class="ui header green dividing">
    <i class="list icon"></i>
    <div class="content">
        Lista de Números de graduados por programa y sedes
    </div>
</h2>

<table class="ui celled padded compact table">
    <tr>
        <td><strong># Reg.</strong></td>
        <td><strong>NOMBRE SEDE</strong></td>
        <td><strong>NOMBRE DEL PROGRAMA</strong></td>
        <td><strong>AÑO</strong></td>
        <td><strong>NRO DE GRADUADOS</strong></td>
    </tr>
    <?php $i=1; $totgrad=0;?>
    <?php foreach ($listagraduados as $value): $totgrad=$totgrad+$value['total']; ?>
        <tr>
            <td><?=$i++?></td>
            <td align="left"><?= utf8_decode($value['nomsede']) ?></td>
            <td align="left"><?= utf8_decode($value['nomprog']) ?></td>
            <td align="left"><?= $value['ano'] ?></td>
            <td style="text-align: right"><?= $value['total'] ?></td>
            <!--<td>
                <a class="item request3" modulo="usuario" accion="vernroactas/<?=$value['id']?>">
                    <i class="icon eye">Ver</i>
                </a>
                <a href="#" ><i class="icon eye">Ver</i></a>
            </td>
            <td>
                <a class="item request3" modulo="encuesta" accion="addnroacta/<?=$value['id_enc']?>">
                    <i class="icon edit">Acta</i>
                </a>
                <a href="#" ><i class="icon eye">Ver</i></a>
            </td>-->
        </tr>
    <?php endforeach ?>
</table>
<table class="ui celled padded compact table">
    <tr>
        <td style="text-align: right" colspan="5">Total graduados programa: <?=$totgrad?></td>
    </tr>
</table>
<div id="contenedor7"></div>

<script type="text/javascript">
        $(document).ready(function() {
            $('.item.request3').on('click',function(){
                ajaxGet("<?php echo $this->url('home') ?>"+$(this).attr('modulo')+"/"+$(this).attr('accion'), "contenedor7");
            });
        });
</script>

