<h2 class="ui green header">
    <i class="user icon"></i>
    <div class="content">
        Cambio de Password - Usuario
    </div>
</h2>

<div class="ui divider"></div>

<form class="ui form segment cambioclave" id="cambioclave">

    <div class="fields">
        <div class="twelve wide field">
            <label>Nombre completo</label>
            <input type="text" id="nombre" name="nombre" value="<?=$editusuario['nom_del_usu']?>" readonly/>
        </div>

        <div class="field">
        </div>
    </div>
    <div class="fields">
        <div class="twelve wide field">
            <label>Usuario</label>
            <input type="text" id="usuario" name="usuario" value="<?=$editusuario['user_name']?>" readonly/>
        </div>

        <div class="field">
        </div>
    </div>
    <div class="fields">
        <div class="twelve wide field">
            <label>Contraseña Actual</label>
            <input type="password" id="actualpassword" name="actualpassword" maxlength="16">
        </div>

        <div class="field">
        </div>
    </div>
    <div class="content">
        <p>
            <strong>
                Nota: La contraseña debe contener letras (minusculas) sin tilde (á, ó, é, í, ú), solo estos caracteres
                especiales (@, * ,#) y números, su longitud debe ser minimo de 8 caracteres.
            </strong>
        </p>
    </div>
    <br>
    <div class="fields">
        <div class="twelve wide field">
            <label>Contraseña Nueva</label>
            <input type="password" id="nuevopassword" name="nuevopassword" maxlength="16" minlength="8">
        </div>

        <div class="field">
        </div>
    </div>
    <div class="fields">
        <div class="twelve wide field">
            <label>Confirmar Contraseña Nueva</label>
            <input type="password" id="cnuevopassword" name="cnuevopassword"
                   maxlength="16" minlength="8" onblur="comparar();" >
        </div>

        <div class="field">
        </div>
    </div>
    <div class="field">
        <div class="ui green labeled icon button cambioclave"><i class="check circle icon"></i>Cambiar Password</div>
    </div>
    <input type="hidden" id="idusuaescogido" name="idusuaescogido" value="<?=$editusuario['id_usuario']?>">
    <input type="hidden" id="iduser" name="iduser" value="<?=$idusuario?>">
    <div class="ui error message"></div>
</form>

<div class="ui modal" id="modalmensaje">
    <div class="header" style="background:#04B404; color: white;">Advertencia</div>
    <div class="content">
        <p id="modalcontenido"></p>
    </div>
    <div class="actions">
        <div class="ui approve button" style="background:#04B404;color: white;">OK</div>
    </div>
</div>

<div class="contenedor2"></div>

<script type="text/javascript">

    $('.ui.dropdown.modulo').dropdown();

    function comparar() {

        var clnew = $("#nuevopassword").val();
        var clnew2 = $("#cnuevopassword").val();
        var expreg = /^[a-zA-Z0-9\*#@]{3,10}$/;
        if (expreg.test(clnew)){
            if (expreg.test(clnew2)){
                if (clnew != clnew2) {
                    $('#modalcontenido').html("La nueva contraseña no coincide con la confirmacion ...!");
                    $('#modalmensaje').modal('show');
                }
            }else{
                $('#modalcontenido').html("La confirmacion de la nueva contraseña contiene caracteres no validos ...!");
                $('#modalmensaje').modal('show');
            }
        }else{
            $('#modalcontenido').html("La nueva contraseña contiene caracteres no validos ...!");
            $('#modalmensaje').modal('show');
        }

    }

    var rules = {

        actualpassword: {
            identifier: 'actualpassword',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Ingrese la contraseña actual'
                },
                {
                    type: 'maxLength[16]',
                    prompt: 'M&aacute;ximo 16 caracteres'
                },
            ],
        },
        nuevopassword: {
            identifier: 'nuevopassword',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Ingrese la contraseña nueva contraseña'
                },
                {
                    type: 'minLength[8]',
                    prompt: 'Minimo 8 caracteres'
                },
                {
                    type: 'maxLength[16]',
                    prompt: 'M&aacute;ximo 16 caracteres'
                },
            ],
        },
        cnuevopassword: {
            identifier: 'cnuevopassword',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Confirme la nueva contraseña'
                },
                {
                    type: 'minLength[8]',
                    prompt: 'Minimo 8 caracteres'
                },
                {
                    type: 'maxLength[16]',
                    prompt: 'M&aacute;ximo 16 caracteres'
                },
            ],
        },
    };

    $('.ui.form.segment.cambioclave').form({
        on: 'blur',
        inline : true,
        fields: rules,
        onSuccess : function() {
            return false;
        },
    });

    $.fn.api.settings.api = {
        'actualizapassword' : '<?php echo $this->url('home') ?>usuario/actualizapassword',
    };

    buttonPostValidation('.ui.button.cambioclave', 'actualizapassword', '.ui.form.segment.cambioclave', 'contenedor5');

</script>