<h2 class="ui green header">
    <i class="user icon"></i>
    <div class="content">
        Crear Nuevo Usuario
    </div>
</h2>
<div class="button">
    <div class="ui green submit button">Ver lista</div>
</div>

<div class="ui divider"></div>

<form class="ui form segment usuario" id="formausuario" style="display: none">

    <div class="fields">
        <div class="twelve wide field">
            <label>Nombre completo</label>
            <input type="text" id="nombre" name="nombre" maxlength="100">
        </div>

        <div class="field">
        </div>
    </div>
    <div class="fields">
        <div class="five wide field">
            <label>Usuario</label>
            <input type="text" id="usuario" name="usuario" maxlength="16">
        </div>
    </div>
    <div class="fields">
        <div class="five wide field">
            <label>Contraseña</label>
            <input type="password" id="password" name="password" maxlength="16">
        </div>

        <div class="field">
        </div>
        <div class="field">
        </div>
    </div>
    <div class="fields">
        <div class="twelve wide field">
            <label>E-mail</label>
            <input type="text" id="correo" name="correo" maxlength="100">
        </div>
        <div class="field">

        </div>
    </div>
    <div class="fields">
        <div class="seven wide field">
            <label>Tipo de usuario</label>
            <select class="ui search dropdown tipouser" id="tipouser" name="tipouser">
                <option value="">Seleccione....</option>
                <option value="1">Administrador</option>
                <option value="2">Usuarios</option>
            </select>
        </div>
        <div class="field">

        </div>
    </div>
    <div class="field">
        <div class="ui green labeled icon button usuario"><i class="check circle icon"></i>Crear Usuario</div>
    </div>
    <div class="ui error message"></div>
</form>

<script type="text/javascript">

    $('.ui.dropdown.modulo').dropdown();

    $(document).ready(function () {
       var tipo=<?=$tipouser?>;
       if (tipo==1) {
           $("#formausuario").show();
       }
    });
    $('.ui.green.submit.button').on('click',function(){
        var tipo=<?=$tipouser?>;
        var iduser=<?=$idusuario?>;
        if (tipo==1) {
            ajaxPost('<?php echo $this->url('home') ?>reportes/listadeusuarios', 'contenedor5');
        }else{
            if (tipo==2){
                ajaxPost('<?php echo $this->url('home') ?>usuario/edit-usuario'+'/'+iduser, 'contenedor5');
            }
        }
    });

    var rules = {
        nombre: {
            identifier  : 'nombre',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese nombre completo'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres'
                },
            ],
        },
        usuario: {
            identifier  : 'usuario',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese nombre de usuario para ingreso al sistema'
                },
                {
                    type: 'maxLength[16]',
                    prompt : 'M&aacute;ximo 16 caracteres'
                },
            ],
        },
        password: {
            identifier  : 'password',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese la contraseña'
                },
                {
                    type: 'minLength[8]',
                    prompt : 'Minimo 8 caracteres'
                },
                {
                    type: 'maxLength[16]',
                    prompt : 'M&aacute;ximo 16 caracteres'
                },
            ],
        },
        correo:{
            identifier  : 'correo',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese su email'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 carateres'
                },
                {
                    type: 'email',
                    prompt : 'ingrese un email valido'
                },
            ]
        },
        tipouser:{
            identifier  : 'tipouser',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione una opción'
                },
            ]
        },
    };


    $('.ui.form.segment.usuario').form({
        on: 'blur',
        inline : true,
        fields: rules,
        onSuccess : function() {
            return false;
        },
    });

    $.fn.api.settings.api = {
        'guardaUser' : '<?php echo $this->url('home') ?>usuario/guardaUser',
    };

    buttonPostValidation('.ui.button.usuario', 'guardaUser', '.ui.form.segment.usuario', 'contenedor5');

</script>