<h2 class="ui green header">
    <i class="user icon"></i>
    <div class="content">
        Editar Usuario
    </div>
</h2>
<div class="button" id="cambia" style="display: none">
    <div class="ui green submit button">Cambiar Contraseña</div>
</div>

<div class="ui divider"></div>

<form class="ui form segment usuario">

    <div class="fields">
        <div class="twelve wide field">
            <label>Nombre completo</label>
            <input type="text" id="nombre" name="nombre" maxlength="100" value="<?=$editusuario['nom_del_usu']?>">
        </div>

        <div class="field">
        </div>
    </div>
    <div class="fields" id="admon" style="display: none">
        <div class="six wide field">
            <label>Usuario</label>
            <input type="text" id="usuario" name="usuario" maxlength="30" value="<?=$editusuario['user_name']?>">
        </div>

        <div class="six wide field">
            <label>Tipo de usuario</label>
            <select class="ui search dropdown tipouser" id="tipouser" name="tipouser">
                <option value="1" <?php if($editusuario['tipo_user']==1){ ?> selected <?php } ?>>Administrador</option>
                <option value="2" <?php if($editusuario['tipo_user']==2){ ?> selected <?php } ?>>Usuarios</option>
            </select>
        </div>
    </div>
    <div class="fields">
        <div class="twelve wide field">
            <label>E-mail</label>
            <input type="text" id="correo" name="correo" maxlength="100" value="<?=$editusuario['correo']?>">
        </div>

        <div class="field">
        </div>
    </div>
    <div class="fields" id="estado" style="display: none">
        <div class="five wide field">
            <label>Estado del usuario</label>
            <select class="ui search dropdown estadouser" id="estadouser" name="estadouser">
                <option value="1" <?php if($editusuario['activo']==1){ ?> selected <?php } ?>>Activo</option>
                <option value="0" <?php if($editusuario['activo']==0){ ?> selected <?php } ?>>Inactivo</option>
            </select>
        </div>
    </div>
    <div class="field">
        <div class="ui green labeled icon button usuario"><i class="check circle icon"></i>Actualiza Usuario</div>
    </div>
    <div class="ui error message"></div>
    <input type="hidden" id="idusuaescogido" name="idusuaescogido" value="<?=$editusuario['id_usuario']?>">
    <input type="hidden" id="iduser" name="iduser" value="<?=$idusuario?>">

</form>

<script type="text/javascript">

    $('.ui.dropdown.modulo').dropdown();

    $(document).ready(function() {
        var idususelec=$("#idusuaescogido").val();
        var idusulogin=$("#iduser").val();
        var tipo=<?=$tipouser?>;
        if (tipo==1){
            $("#cambia").show();
            $("#admon").show();
            $("#estado").show();
        }else {
            if (idusulogin == idususelec) {
                $("#cambia").show();
            }
        }
    });

    $('.ui.green.submit.button').on('click', function () {
        ajaxPost('<?php echo $this->url('home') ?>usuario/cambio-contrasena/<?=$editusuario['id_usuario']?>', 'contenedor5');
    });

    var rules = {
        nombre: {
            identifier  : 'nombre',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese nombre completo'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres'
                },
            ],
        },
        usuario: {
            identifier  : 'usuario',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese nombre de usuario para ingreso al sistema'
                },
                {
                    type: 'maxLength[30]',
                    prompt : 'M&aacute;ximo 30 caracteres'
                },
            ],
        },
        correo:{
            identifier  : 'correo',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese su email'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 carateres'
                },
                {
                    type: 'email',
                    prompt : 'ingrese un email valido'
                },
            ]
        },
    };


    $('.ui.form.segment.usuario').form({
        on: 'blur',
        inline : true,
        fields: rules,
        onSuccess : function() {
            return false;
        },
    });

    $.fn.api.settings.api = {
        'actualizaUser' : '<?php echo $this->url('home') ?>usuario/actualizaUser',
    };

    buttonPostValidation('.ui.button.usuario', 'actualizaUser', '.ui.form.segment.usuario', 'contenedor5');

</script>