<script type="text/javascript">
    $(document).ready(function() {
        $('.item.request2').on('click',function(){
            ajaxGet("<?php echo $this->url('home') ?>"+$(this).attr('modulo')+"/"+$(this).attr('accion'), "contenedor5");
        });
        $('.search.link.icon.identificacion').on('click',function(){
            ajaxPost('<?php echo $this->url('home') ?>inscripcion/listainscritosident', 'contenedor5', {identificacion: $("#identificacion").val()})
        });
        $('.search.link.icon.nombres').on('click',function(){
            ajaxPost('<?php echo $this->url('home') ?>inscripcion/listainscritosnomb', 'contenedor5', {nombres: $("#nombres").val()});
        });

    });
</script>


<div class="ui menu">
    <div class="header item active green">
        INSCRIPCION EVENTOS
    </div>
    <a class="item request2" modulo="inscripcion" accion="nuevo-evento">
        Nuevo evento
    </a>
    <a class="item request2" modulo="inscripcion" accion="seleccionar-eventos-vig">
        Ver inscritos a evento
    </a>
    <a class="item request2" modulo="inscripcion" accion="seleccionar-eventos-ant">
        Ver inscritos a evento anteriores
    </a>
    <a class="item">
        <div class="ui icon input">
            <input id="identificacion" type="text" placeholder="identificacion">
            <i class="search link icon identificacion"></i>
        </div>
    </a>
    <a class="item">
        <div class="ui icon input">
            <input id="nombres" type="text" placeholder="Nombres">
            <i class="search link icon nombres"></i>
        </div>
    </a>

</div>

<div id="contenedor5">

    <div class="ui segment green">
        <h3 class="ui dividing header ">
            Estudiantes inscritos
        </h3>
        <div class="ui four column grid">
            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h4 class="ui red header"><i class="list icon"></i>Evento - <?= $estudinscritos['nombre']?></h4>
                    </div>
                    <div class="ui secondary red inverted dashboard center aligned segment">
                        <div class="ui dashboard statistic valor">
                            <div class="value valor" style="color: white">
                                <?= $estudinscritos['total']?>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment">
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
