
<script type="text/javascript">
    $('.ui.dropdown').dropdown();
    var corte=0;
    $(document).ready(function() {

        $('.ui.dropdown.corte').on('change',function(){
            corte = $("#corte").val();
        });

        $('.item.request2').on('click',function(){
            ajaxGet("<?php echo $this->url('home') ?>"+$(this).attr('modulo')+"/"+$(this).attr('accion')+"/"+corte, "contenedor6");
        });

        $('.item.request3').on('click',function(){
            ajaxGet("<?php echo $this->url('home') ?>"+$(this).attr('modulo')+"/"+$(this).attr('accion'), "contenedor6");
        });
    });
</script>



    <div class="ui menu">
        <div class="header item active green">
            ENC.PREGRADO ANT.
        </div>
        <a class="item request2" modulo="anteriores" accion="encuestas-anteriores-realizadas-pre">
            Encuestas realizadas
        </a>
        <a class="item request2" modulo="anteriores" accion="encuestas-anteriores-no-realizadas-pre">
            Encuestas sin realizar
        </a>
        <a class="item request3" modulo="anteriores" accion="anteriores-seleccionar-programa/1">
            Encuestas realizadas X programas
        </a>
        <a class="item request3" modulo="anteriores" accion="selec-fecha-encuestas-anteriores-realizadas-pre">
            Encuestas realizadas X fechas
        </a>
        <!--<a class="item request3" modulo="anteriores" accion="seleccionar-programa-nro-acta/1">
            Agregar # de Actas
        </a>
        <a class="item request2" modulo="anteriores" accion="ver-lista-estud-con-acta">
            Ver # de Actas
        </a>-->
    </div>

<div id="contenedor6">
<form class="ui form">
    <div class="two field">
        <div class="field">
            <label>Corte ó Periodo</label>
            <select class="ui dropdown corte" id="corte" name="corte">
                <option value="">Seleccione el corte...</option>
                <?php foreach ($cortesinactivos as $bcortes) {?>
                    <option value="<?=$bcortes['id']?>"> <?=$bcortes['nombre']?></option>
                <?php }?>
            </select>
        </div>
    </div>
</form>
</div>

