
<script type="text/javascript">
    $(document).ready(function() {
        $('.item.request2').on('click',function(){
            ajaxGet("<?php echo $this->url('home') ?>"+$(this).attr('modulo')+"/"+$(this).attr('accion'), "contenedor5");
        });
        $('.search.link.icon.identificacion').on('click',function(){
            ajaxPost('<?php echo $this->url('home') ?>estudiante/listadeestudiante', 'contenedor5', {identificacion: $("#identificacion").val()})
        });
        $('.search.link.icon.nombres').on('click',function(){
            ajaxPost('<?php echo $this->url('home') ?>reportes/listadeestudiante', 'contenedor5', {nombre_estud: $("#nombre_estud").val()})
        });

    });
</script>


<div class="ui menu">
    <div class="header item active green">
        ESTUDIANTES
    </div>
    <a class="item request2" modulo="estudiante" accion="estudiante">
        Nuevo estudiante-egresado
    </a>
    <a class="item request2" modulo="estudiante" accion="importarestudiante">
        Importar estudiantes desde .csv
    </a>
    <a class="item request2" modulo="estudiante" accion="iniciar-periodo-encuesta">
        Actualizar periodo de encuesta
    </a>
    <a class="item">
        <div class="ui icon input">
            <input id="identificacion" type="text" size="15" placeholder="Identificación">
            <i class="search link icon identificacion"></i>
        </div>
    </a>
    <a class="item">
        <div class="ui icon input">
            <input id="nombre_estud" type="text" placeholder="Nombres">
            <i class="search link icon nombres"></i>
        </div>
    </a>
</div>

<div id="contenedor5">

    <div class="ui segment green">
        <h3 class="ui dividing header ">
            Estudiantes
        </h3>
        <div class="ui four column grid">
            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h4 class="ui red header"><i class="list icon"></i>Estudiantes cargados</h4>
                    </div>
                    <div class="ui secondary red inverted dashboard center aligned segment">
                        <div class="ui dashboard statistic valor">
                            <div class="value valor" style="color: white">
                                <?= $totalestud['total']?>
                            </div>
                            <div class="label" style="color: white">
                                En Base de datos
                            </div>
                        </div>
                    </div>
                    <div class="ui segment">
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h4 class="ui red header"><i class="list icon"></i>Estudiantes aptos encuesta</h4>
                    </div>
                    <div class="ui secondary red inverted dashboard center aligned segment">
                        <div class="ui dashboard statistic valor">
                            <div class="value valor" style="color: white">
                                <?= $estudpre['total']?>
                            </div>
                            <div class="label" style="color: white">
                                Pregrado
                            </div>
                        </div>
                    </div>
                    <div class="ui segment">
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h4 class="ui yellow header"><i class="list icon"></i>Estudiantes aptos encuesta</h4>
                    </div>
                    <div class="ui secondary red inverted dashboard center aligned segment">
                        <div class="ui dashboard statistic valor">
                            <div class="value valor" style="color: white">
                                <?= $estudpost['total']?>
                            </div>
                            <div class="label" style="color: white">
                                Postgrado
                            </div>
                        </div>
                    </div>
                    <div class="ui segment">
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
