<script type="text/javascript">
    $(document).ready(function() {
        $('.item.request2').on('click',function(){
            ajaxGet("<?php echo $this->url('home') ?>"+$(this).attr('modulo')+"/"+$(this).attr('accion'), "contenedor5");
        });



        $('.search.link.icon.nombres').on('click',function(){
            ajaxPost('<?php echo $this->url('home') ?>actualizar/consultaactualizxnom', 'contenedor5', {nombres: $("#nombres").val()});
        });

    });
</script>


<div class="ui menu">
    <div class="header item active green">
        ACTUALIZACION DE DATOS
    </div>
    <!--<a class="item request2" modulo="actualizar" accion="validaforactualiza">
        Actualizar Datos
    </a>-->
    <a class="item request2" modulo="actualizar" accion="seleccionar-fechas">
        Lista Actualizados
    </a>
    <a class="item request2" modulo="actualizar" accion="listaestudactualizanterior">
        Lista Actualizaciones Anteriores
    </a>
    <a class="item request2" modulo="actualizar" accion="seleccionar-fechas-cumple">
        Cumpleaños Egresados
    </a>
    <!--<a class="item">
        <div class="ui icon input">
            <input id="identificacion" type="text" placeholder="identificacion">
            <i class="search link icon identificacion"></i>
        </div>
    </a>-->

    <a class="item">
        <div class="ui icon input">
            <input id="nombres" type="text" placeholder="Nombres">
            <i class="search link icon nombres"></i>
        </div>
    </a>

</div>

<div id="contenedor5">

    <div class="ui segment green">
        <h3 class="ui dividing header ">
            Estudiantes actualizados
        </h3>
        <div class="ui four column grid">
            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h4 class="ui red header"><i class="list icon"></i>Actualización Directa</h4>
                    </div>
                    <div class="ui secondary red inverted dashboard center aligned segment">
                        <div class="ui dashboard statistic valor">
                            <div class="value valor" style="color: white">
                                <?= $estudactualizados['total']?>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment">
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h4 class="ui yellow header"><i class="list icon"></i>Actualización por Encuesta</h4>
                    </div>
                    <div class="ui secondary yellow inverted dashboard center aligned segment">
                        <div class="ui dashboard statistic valor">
                            <div class="value valor" style="color: white">
                                <?= $estudactualizxenc['total']?>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment">
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
