<script type="text/javascript">
    $(document).ready(function() {
        $('.item.request2').on('click',function(){
            ajaxGet("<?php echo $this->url('home') ?>"+$(this).attr('modulo')+"/"+$(this).attr('accion'), "contenedor5");
        });



        $('.search.link.icon.nombres').on('click',function(){
            ajaxPost('<?php echo $this->url('home') ?>actualizar/consultaactualizxnom', 'contenedor5', {nombres: $("#nombres").val()});
        });

    });
</script>

<div class="ui menu">
    <div class="header item active green">
        PARAMETROS
    </div>
    <a class="item request2" modulo="usuario" accion="crea-usuario">
        Usuarios
    </a>
    <a class="item request2" modulo="actualizar" accion="crea-programas">
        Programas
    </a>
    <a class="item request2" modulo="reportes" accion="listadeuniversidades">
        Universidades
    </a>
    <a class="item request2" modulo="actualizar" accion="respuestas-actualiza-datos">
        Respuestas Actualiza-Datos
    </a>
    <a class="item request2" modulo="inscripcion" accion="tiposdeeventos">
        Tipos de eventos
    </a>
</div>

<div id="contenedor5">

</div>