<script type="text/javascript">
    $(document).ready(function() {
        $('.item.request2').on('click',function(){
            ajaxGet("<?php echo $this->url('home') ?>"+$(this).attr('modulo')+"/"+$(this).attr('accion'), "contenedor5");
        });
        $('.search.link.icon.identificacion').on('click',function(){
            ajaxPost('<?php echo $this->url('home') ?>encuesta/consultaencuestapost', 'contenedor5', {identificacion: $("#identificacion").val()})
        });

        $('.search.link.icon.nombres').on('click',function(){
            ajaxPost('<?php echo $this->url('home') ?>encuesta/consultaestudxnombrespos', 'contenedor5', {nombres: $("#nombres").val()});
        });
    });
</script>


<div class="ui menu">
    <div class="header item active green">
        REPORTES GRADUADOS
    </div>
    
    <a class="item request2" modulo="reportes" accion="seleccionar-nroacta-egresados/3">
        Filtros(Acta general, Programa y sexo)
    </a>
    <a class="item request2" modulo="reportes" accion="seleccionar-tipoestudio-sexo/4">
        Filtros(Programas, sede y Sexo)
    </a>
    <a class="item request2" modulo="reportes" accion="seleccionar-parametros-ubicacion/5">
        Trabajan Ubicacion(Pais-Ciudad)
    </a>
    <a class="item request2" modulo="reportes" accion="seleccionar-tipoestudio-sexo/6">
        No trabajan
    </a>
    <a class="item request2" modulo="reportes" accion="seleccionar-tipoestudio-sexo/8">
        Datos actualizados
    </a>
    <a class="item request2" modulo="reportes" accion="seleccionar-carnet-estado/7">
        Carnets
    </a>
</div>

<div id="contenedor5">

    <div class="ui segment green">
        <div class="ui four column grid">
            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h4 class="ui olive header"><i class="list icon"></i>Total Graduados - Pregrado (<?= $sexomascgraduadopre['total']+$sexofemegraduadopre['total']?>)</h4>
                    </div>
                    <div class="ui secondary olive inverted dashboard center aligned segment">
                        <table class="compact olive inverted">
                            <tr>
                                <td>
                                    Sexo Masculino:
                                </td>
                                <td>
                                    <?= $sexomascgraduadopre['total']?>
                                </td>
                            </tr>
                        </table>
                        <table class="compact olive inverted">
                            <tr>
                                <td>
                                    Sexo Femenino:
                                </td>
                                <td>
                                    <?= $sexofemegraduadopre['total']?>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h4 class="ui purple header"><i class="list icon"></i>Total Graduados - Postgrado (<?= $sexomascgraduadopos['total']+$sexofemegraduadopos['total']?>)</h4>
                    </div>
                    <div class="ui secondary purple inverted dashboard center aligned segment">
                        <table class="compact purple inverted">
                            <tr>
                                <td>
                                    Sexo Masculino:
                                </td>
                                <td>
                                    <?= $sexomascgraduadopos['total']?>
                                </td>
                            </tr>
                        </table>
                        <table class="compact purple inverted">
                            <tr>
                                <td>
                                    Sexo Femenino:
                                </td>
                                <td>
                                    <?= $sexofemegraduadopos['total']?>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui segment green">
        <div class="ui four column grid">
            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h4 class="ui blue header"><i class="list icon"></i>Graduados Pregrado Dijeron Trabajan (<?= $gradtrabmasculinopre['total']+$gradtrabfemeninopre['total']?>)</h4>
                    </div>
                    <div class="ui secondary blue inverted dashboard center aligned segment">
                        <table class="compact blue inverted">
                            <tr>
                                <td>
                                    Sexo Masculino:
                                </td>
                                <td>
                                    <?= $gradtrabmasculinopre['total']?>
                                </td>
                            </tr>
                        </table>
                        <table class="compact blue inverted">
                            <tr>
                                <td>
                                    Sexo Femenino:
                                </td>
                                <td>
                                    <?= $gradtrabfemeninopre['total']?>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h5 class="ui red header"><i class="list icon"></i>Graduados Postgrado Dijeron Trabajan (<?= $gradtrabmasculinopos['total']+$gradtrabfemeninopos['total']?>)</h5>
                    </div>
                    <div class="ui secondary red inverted dashboard center aligned segment">
                        <table class="compact red inverted">
                            <tr>
                                <td>
                                    Sexo Masculino:
                                </td>
                                <td>
                                    <?= $gradtrabmasculinopos['total']?>
                                </td>
                            </tr>
                        </table>
                        <table class="compact red inverted">
                            <tr>
                                <td>
                                    Sexo Femenino:
                                </td>
                                <td>
                                    <?= $gradtrabfemeninopos['total']?>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h5 class="ui white header"><i class="list icon"></i>Graduados Pregrado No Trabajan (<?= $gradnotrabmasculinopre['total']+$gradnotrabfemeninopre['total']?>)</h5>
                    </div>
                    <div class="ui secondary white inverted dashboard center aligned segment">
                        <table class="compact white inverted">
                            <tr>
                                <td>
                                    Sexo Masculino:
                                </td>
                                <td>
                                    <?= $gradnotrabmasculinopre['total']?>
                                </td>
                            </tr>
                        </table>
                        <table class="compact white inverted">
                            <tr>
                                <td>
                                    Sexo Femenino:
                                </td>
                                <td>
                                    <?= $gradnotrabfemeninopre['total']?>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h5 class="ui yellow header"><i class="list icon"></i>Graduados Postgrado No Trabajan (<?= $gradnotrabmasculinopos['total']+$gradnotrabfemeninopos['total']?>)</h5>
                    </div>
                    <div class="ui secondary yellow inverted dashboard center aligned segment">
                        <table class="compact yellow inverted">
                            <tr>
                                <td>
                                    Sexo Masculino:
                                </td>
                                <td>
                                    <?= $gradnotrabmasculinopos['total']?>
                                </td>
                            </tr>
                        </table>
                        <table class="compact yellow inverted">
                            <tr>
                                <td>
                                    Sexo Femenino:
                                </td>
                                <td>
                                    <?= $gradnotrabfemeninopos['total']?>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
