<script type="text/javascript">
    $(document).ready(function() {
        $('.item.request2').on('click',function(){
            ajaxGet("<?php echo $this->url('home') ?>"+$(this).attr('modulo')+"/"+$(this).attr('accion'), "contenedor5");
        });
        $('.search.link.icon.identificacion').on('click',function(){
            ajaxPost('<?php echo $this->url('home') ?>encuesta/consultaencuestapost', 'contenedor5', {identificacion: $("#identificacion").val()})
        });

        $('.search.link.icon.nombres').on('click',function(){
            ajaxPost('<?php echo $this->url('home') ?>encuesta/consultaestudxnombrespos', 'contenedor5', {nombres: $("#nombres").val()});
        });
    });
</script>


<div class="ui menu">
    <div class="header item active green">
        REPORTES
    </div>
    <a class="item request2" modulo="reportes" accion="seleccionar-tipoestudio-sexo/1">
        Encuestas realizadas
    </a>
    <!-- <a class="item request2" modulo="reportes" accion="seleccionar-tipoestudio-sexo/2">
        Encuest. trabajan Actualmente
    </a> -->
    <a class="item request2" modulo="reportes" accion="seleccionar-nroacta-egresados/3">
        Graduados Nro Acta general y Programa
    </a>
    <a class="item request2" modulo="reportes" accion="seleccionar-tipoestudio-sexo/4">
        Graduados Programas y Sexo
    </a>
    <a class="item request2" modulo="reportes" accion="seleccionar-tipoestudio-sexo/5">
        Graduados que trabajan
    </a>
    <a class="item request2" modulo="reportes" accion="seleccionar-tipoestudio-sexo/6">
        Graduados no trabajan
    </a>
    <a class="item request2" modulo="reportes" accion="seleccionar-carnet-estado/7">
        Carnets
    </a>
</div>

<div id="contenedor5">

    <div class="ui segment green">
        <h3 class="ui dividing header ">
            Egresados Encuestados Datos Estadisticos.
        </h3>
        <div class="ui four column grid">
            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h4 class="ui red header"><i class="list icon"></i>Total Encuestas Pregrado (<?=$sexomasculinopre['total']+$sexofemeninopre['total']?>)</h4>
                    </div>
                    <div class="ui secondary red inverted dashboard center aligned segment">
                        <table class="compact red inverted">
                            <tr>
                                <td>
                                    Sexo Masculino:
                                </td>
                                <td>
                                    <?= $sexomasculinopre['total']?>
                                </td>
                            </tr>
                        </table>
                        <table class="compact red inverted">
                            <tr>
                                <td>
                                    Sexo Femenino:
                                </td>
                                <td>
                                    <?= $sexofemeninopre['total']?>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h4 class="ui blue header"><i class="list icon"></i>Total Encuestas Postgrado (<?= $sexomasculinopos['total']+$sexofemeninopos['total']?>)</h4>
                    </div>
                    <div class="ui secondary blue inverted dashboard center aligned segment">
                        <table class="compact blue inverted">
                            <tr>
                                <td>
                                    Sexo Masculino:
                                </td>
                                <td>
                                    <?= $sexomasculinopos['total']?>
                                </td>
                            </tr>
                        </table>
                        <table class="compact blue inverted">
                            <tr>
                                <td>
                                    Sexo Femenino:
                                </td>
                                <td>
                                    <?= $sexofemeninopos['total']?>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h4 class="ui yellow header"><i class="list icon"></i>Encuestados Pregrado Dijeron Trabajan (<?= $trabmasculinopre['total']+$trabfemeninopre['total']?>)</h4>
                    </div>
                    <div class="ui secondary yellow inverted dashboard center aligned segment">
                        <div class="ui dashboard statistic valor">
                            <table class="compact yellow inverted">
                                <tr>
                                    <td>
                                        Sexo Masculino:
                                    </td>
                                    <td>
                                        <?= $trabmasculinopre['total']?>
                                    </td>
                                </tr>
                            </table>
                            <table class="compact yellow inverted">
                                <tr>
                                    <td>
                                        Sexo Femenino:
                                    </td>
                                    <td>
                                        <?= $trabfemeninopre['total']?>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h4 class="ui green header"><i class="list icon"></i>Encuestados Postgrado Dijeron Trabajan (<?= $trabmasculinopos['total']+$trabfemeninopos['total']?>)</h4>
                    </div>
                    <div class="ui secondary green inverted dashboard center aligned segment">
                        <div class="ui dashboard statistic valor">
                            <table class="compact green inverted">
                                <tr>
                                    <td>
                                        Sexo Masculino:
                                    </td>
                                    <td>
                                        <?= $trabmasculinopos['total']?>
                                    </td>
                                </tr>
                            </table>
                            <table class="compact green inverted">
                                <tr>
                                    <td>
                                         Sexo Femenino:
                                    </td>
                                    <td>
                                        <?= $trabfemeninopos['total']?>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="ui segment green">
        <div class="ui four column grid">
            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h4 class="ui white header"><i class="list icon"></i>Encuestados Pregrado No Trabajan (<?= $notrabmasculinopre['total']+$notrabfemeninopre['total']?>)</h4>
                    </div>
                    <div class="ui secondary white inverted dashboard center aligned segment">
                        <table class="compact white inverted">
                            <tr>
                                <td>
                                    Sexo Masculino:
                                </td>
                                <td>
                                    <?= $notrabmasculinopre['total']?>
                                </td>
                            </tr>
                        </table>
                        <table class="compact white inverted">
                            <tr>
                                <td>
                                    Sexo Femenino:
                                </td>
                                <td>
                                    <?= $notrabfemeninopre['total']?>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h4 class="ui orange header"><i class="list icon"></i>Encuestados Postgrado No Trabajan (<?= $notrabmasculinopos['total']+$notrabfemeninopos['total']?>)</h4>
                    </div>
                    <div class="ui secondary orange inverted dashboard center aligned segment">
                        <table class="compact orange inverted">
                            <tr>
                                <td>
                                    Sexo Masculino:
                                </td>
                                <td>
                                    <?= $notrabmasculinopos['total']?>
                                </td>
                            </tr>
                        </table>
                        <table class="compact orange inverted">
                            <tr>
                                <td>
                                    Sexo Femenino:
                                </td>
                                <td>
                                    <?= $notrabfemeninopos['total']?>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h4 class="ui olive header"><i class="list icon"></i>Total Graduados - Pregrado (<?= $sexomascgraduadopre['total']+$sexofemegraduadopre['total']?>)</h4>
                    </div>
                    <div class="ui secondary olive inverted dashboard center aligned segment">
                        <table class="compact olive inverted">
                            <tr>
                                <td>
                                    Sexo Masculino:
                                </td>
                                <td>
                                    <?= $sexomascgraduadopre['total']?>
                                </td>
                            </tr>
                        </table>
                        <table class="compact olive inverted">
                            <tr>
                                <td>
                                    Sexo Femenino:
                                </td>
                                <td>
                                    <?= $sexofemegraduadopre['total']?>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h4 class="ui purple header"><i class="list icon"></i>Total Graduados - Postgrado (<?= $sexomascgraduadopos['total']+$sexofemegraduadopos['total']?>)</h4>
                    </div>
                    <div class="ui secondary purple inverted dashboard center aligned segment">
                        <table class="compact purple inverted">
                            <tr>
                                <td>
                                    Sexo Masculino:
                                </td>
                                <td>
                                    <?= $sexomascgraduadopos['total']?>
                                </td>
                            </tr>
                        </table>
                        <table class="compact purple inverted">
                            <tr>
                                <td>
                                    Sexo Femenino:
                                </td>
                                <td>
                                    <?= $sexofemegraduadopos['total']?>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui segment green">
        <div class="ui four column grid">
            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h4 class="ui blue header"><i class="list icon"></i>Graduados Pregrado Dijeron Trabajan (<?= $gradtrabmasculinopre['total']+$gradtrabfemeninopre['total']?>)</h4>
                    </div>
                    <div class="ui secondary blue inverted dashboard center aligned segment">
                        <table class="compact blue inverted">
                            <tr>
                                <td>
                                    Sexo Masculino:
                                </td>
                                <td>
                                    <?= $gradtrabmasculinopre['total']?>
                                </td>
                            </tr>
                        </table>
                        <table class="compact blue inverted">
                            <tr>
                                <td>
                                    Sexo Femenino:
                                </td>
                                <td>
                                    <?= $gradtrabfemeninopre['total']?>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h5 class="ui red header"><i class="list icon"></i>Graduados Postgrado Dijeron Trabajan (<?= $gradtrabmasculinopos['total']+$gradtrabfemeninopos['total']?>)</h5>
                    </div>
                    <div class="ui secondary red inverted dashboard center aligned segment">
                        <table class="compact red inverted">
                            <tr>
                                <td>
                                    Sexo Masculino:
                                </td>
                                <td>
                                    <?= $gradtrabmasculinopos['total']?>
                                </td>
                            </tr>
                        </table>
                        <table class="compact red inverted">
                            <tr>
                                <td>
                                    Sexo Femenino:
                                </td>
                                <td>
                                    <?= $gradtrabfemeninopos['total']?>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h5 class="ui white header"><i class="list icon"></i>Graduados Pregrado No Trabajan (<?= $gradnotrabmasculinopre['total']+$gradnotrabfemeninopre['total']?>)</h5>
                    </div>
                    <div class="ui secondary white inverted dashboard center aligned segment">
                        <table class="compact white inverted">
                            <tr>
                                <td>
                                    Sexo Masculino:
                                </td>
                                <td>
                                    <?= $gradnotrabmasculinopre['total']?>
                                </td>
                            </tr>
                        </table>
                        <table class="compact white inverted">
                            <tr>
                                <td>
                                    Sexo Femenino:
                                </td>
                                <td>
                                    <?= $gradnotrabfemeninopre['total']?>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h5 class="ui yellow header"><i class="list icon"></i>Graduados Postgrado No Trabajan (<?= $gradnotrabmasculinopos['total']+$gradnotrabfemeninopos['total']?>)</h5>
                    </div>
                    <div class="ui secondary yellow inverted dashboard center aligned segment">
                        <table class="compact yellow inverted">
                            <tr>
                                <td>
                                    Sexo Masculino:
                                </td>
                                <td>
                                    <?= $gradnotrabmasculinopos['total']?>
                                </td>
                            </tr>
                        </table>
                        <table class="compact yellow inverted">
                            <tr>
                                <td>
                                    Sexo Femenino:
                                </td>
                                <td>
                                    <?= $gradnotrabfemeninopos['total']?>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
