<h2 class="ui header green dividing">
    <i class="list icon"></i>
    <div class="content">
        Encuestas realizadas del periodo [<?= $cortesinactivos['nombre'] ?>];
                                          Nro por encuestar <?= $Autoriencantpos['total']?> ; Nro realizadas <?= $realizencantpos['total']?>
    </div>
</h2>

<table class="ui celled padded compact table">
    <tr>
        <td><strong># Reg.</strong></td>
        <td><strong>ID_ESTUD.</strong></td>
        <td><strong>NOMBRES</strong></td>
        <td><strong>APELLIDOS</strong></td>
        <td><strong>NRO DE IDENTIFICACION</strong></td>
        <td><strong>PROGRAMA</strong></td>
        <td><strong>FECHA ENCUESTA</strong></td>
    </tr>
    <?php $i=1; ?>
    <?php foreach ($siencuestapos as $value): ?>
        <tr>
            <td><?=$i++?></td>
            <td align="left"><?= $value['id'] ?></td>
            <td align="left"><?= $value['nombres'] ?></td>
            <td align="left"><?= $value['apellidos'] ?></td>
            <td align="left"><?= $value['dp_identestud'] ?></td>
            <td align="left"><?= $value['nombre'] ?></td>
            <td align="left"><?= $value['fec_encuesta'] ?></td>
            <td>
                <a class="item request2" modulo="encuesta" accion="verencuestapost/<?=$value['id']?>/<?=$value['id_autorizado']?>">
                    <i class="icon eye">Ver</i>
                </a>
            </td>
        </tr>
    <?php endforeach ?>
</table>
<div id="contenedor6">

</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('.item.request2').on('click',function(){
            ajaxGet("<?php echo $this->url('home') ?>"+$(this).attr('modulo')+"/"+$(this).attr('accion'), "contenedor5");
        });
    });
</script>