<script type="text/javascript">
    $(document).ready(function() {

        $('.ui.dropdown.programa').on('change',function(){
            ajaxPost('<?php echo $this->url('home') ?>anteriores/ver-lista-encuestados-para-acta-pos/'+corte,
                'contenedor7', {programa: $("#programa").val()})
        });

    });
    $('.ui.dropdown').dropdown();
</script>
<form class="ui form">
    <div class="two field">
        <div class="field">
            <label>Programa:</label>
            <select class="ui dropdown programa" id="programa" name="programa">
                <option value="">Seleccione el programa...</option>
                <?php foreach ($prog as $bprogra) {?>
                    <option value="<?=$bprogra['id']?>"> <?=utf8_encode($bprogra['nombre'])?></option>
                <?php }?>
            </select>
        </div>
    </div>
</form>

<div id="contenedor7">

</div>