<script type="text/javascript">
    $(document).ready(function() {

        $('.ui.fecha2').on('change',function(){
         //   console.log($("#fecha1").val());
         //   console.log($("#fecha2").val());
            ajaxPost('<?php echo $this->url('home') ?>anteriores/encuestas-anteriores-realizadas-fecha-pre',
                'contenedor6',{fecha1: $("#fecha1").val(), fecha2: $("#fecha2").val()});
        });

    });
</script>
<form class="ui form">
    <div class="two fields">
        <div class="field">
            <label>Fecha Inicial</label>
            <input type="date" placeholder="AAAA-MM-DD" id="fecha1" name="fecha1" maxlength="10">
        </div>
        <div class="field">
            <label>Fecha Final</label>
            <input type="date" class="ui fecha2" placeholder="AAAA-MM-DD" id="fecha2" name="fecha2" maxlength="10">
        </div>
    </div>
</form>

<div id="contenedor6">

</div>