<div class="ui secondary pointing menu">
    <div class="item">
        <h2><i class="green user icon"></i>Buscar datos del estudiante encuestado</h2>
    </div>
</div>

<form class="ui form segment tiny formbusqueda">

    <div class="four fields">
        <div class="field">
            <label style="font-size: 14px">Numero de identificación actual</label>
            <input type="text" id="ident" name="identificacion" maxlength="11">
        </div>
        <div class="field">

        </div>
        <div class="field">

        </div>
        <div class="field">

        </div>
    </div>

    <div class="ui error message"></div>

    <div class="ui button buscarident">
        Buscar identificación
    </div>

</form>
<div class="contenedor5">

</div>
<script type="text/javascript">

    $('.ui.button.buscarident').on('click',function(){
        ajaxPost('<?php echo $this->url('home') ?>estudiante/corregir-ident-estud-encuesta/1', 'contenedor5', {identificacion: $("#ident").val()});
    });

    var rules = {

        identificacion: {
            identifier: 'identificacion',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Ingrese el numero de identificación actual'
                },
                {
                    type: 'maxLength[11]',
                    prompt: 'M&aacute;ximo 11 numeros'
                },
                {
                    type: 'integer',
                    prompt: 'Solo valores numéricos'
                },
            ]
        }
    };

    $('.ui.form.segment.tiny.formbusqueda').form({
        on: 'blur',
        inline : true,
        fields: rules,
        onSuccess : function() {
            return false;
        },
    });

</script>