<form class="ui form segment tiny formencuesta" enctype="multipart/form-data">
    <div class="">
        <div class="item">
            <h2><i class="green user icon"></i>Datos personales del estudiante</h2>
        </div>
    </div>

    <table class="ui table" style="font-size: 16px; background-color: white">
        <tbody>
        <tr>
            <td class="sombreado"><strong>Identificación</strong></td>
            <td><?= $estudiante['nro_ident'] ?></td>

            <td class="sombreado"><strong>Nombres y apellidos</strong></td>
            <td><?= $estudiante['nombres'] . ' ' . $estudiante['apellidos'] ?></td>

            <td class="sombreado"><strong>Email</strong></td>
            <td><?= $estudiante['email'] ?></td>
        </tr>
        </tbody>
    </table>

    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Reconfirme Datos Personales </h2>
        </div>
    </div>

    <div class="three fields">
        <div class="field">
            <label style="font-size: 14px">Numero de identificación actual</label>
            <input type="text" id="num_id" name="num_id" maxlength="11"/>
        </div>
        <div class="field">
            <label style="font-size: 14px">Lugar de expedición documento de ID</label>
            <input type="text" id="l_expedicion" name="l_expedicion" maxlength="100"/>
        </div>
        <div class="field">
            <label style="font-size: 16px">Estado civil</label>
            <select class="ui search dropdown est_civil" id="est_civil" name="est_civil">
                <?php foreach ($estcivil as $listaestcivil) { ?>
                    <option value="<?= $listaestcivil['id'] ?>"> <?= $listaestcivil['nom_estado'] ?></option>
                <?php } ?>
            </select>
        </div>

    </div>

    <div class="three fields">

        <div class="field">
            <label style="font-size: 14px">Fecha de nacimiento</label>
            <input type="date" placeholder="AAAA-MM-DD" id="f_nac" name="f_nac" maxlength="10" onblur="Verifica()";/>
        </div>

        <div class="field">
            <label style="font-size: 14px">Pais de Nacimiento</label>
            <select class="ui search dropdown paisnac" id="paisnac" name="paisnac">
                <option value="">Seleccionar el pais...</option>
                <?php foreach ($paisnac as $listpaisesnac) { ?>
                    <option value="<?= $listpaisesnac['Codigo'] ?>"> <?= $listpaisesnac['Pais'] ?></option>
                <?php } ?>
            </select>
        </div>

        <div class="field">
            <label style="font-size: 14px">Ciudad de Nacimiento</label>
            <select class="ui search dropdown ciudnac" id="ciudnac" name="ciudnac">

            </select>
        </div>
        <!--<div class="field">
            <label style="font-size: 14px">Municipio de nacimiento</label>
            <input type="text" id="nac_municipio" name="nac_municipio" maxlength="100" placeholder="Municipio"/>
        </div>
            <div class="field">
            <label style="font-size: 14px">&nbsp;</label>
            <input type="text" id="nac_depto" name="nac_depto" maxlength="100" placeholder="Departamento"/>
        </div>-->
    </div>

    <div class="four fields">
        <div class="field">
            <label style="font-size: 14px">Dirección residencial</label>
            <input type="text" id="dir_residencial" name="dir_residencial" maxlength="250"/>
        </div>

        <div class="field">
            <label style="font-size: 14px">Teléfono de Residencia</label>
            <input type="text" id="rtelestud" name="rtelestud" maxlength="10" placeholder="Teléfono de Residencia"/>
        </div>

        <div class="five wide field">
            <label style="font-size: 14px">Pais de Residencia</label>
            <select class="ui search dropdown paisres" id="paisres" name="paisres">
                <option value="">Seleccionar el pais...</option>
                <?php foreach ($paisres as $listpaisesre) { ?>
                    <option value="<?= $listpaisesre['Codigo'] ?>"> <?= $listpaisesre['Pais'] ?></option>
                <?php } ?>
            </select>
        </div>
        <div class="five wide field">
            <label style="font-size: 14px">Ciudad de Residencia</label>
            <select class="ui search dropdown ciudres" id="ciudres" name="ciudres">

            </select>
        </div>
        <!--<div class="field">
            <label style="font-size: 14px">Municipio de residencia</label>
            <input type="text" id="res_municipio" name="res_municipio" maxlength="100" placeholder="Municipio"/>
        </div>

        <div class="field">
            <label>&nbsp;</label>
            <input type="text" id="res_depto" name="res_depto" maxlength="100" placeholder="Departamento"/>
        </div>-->
    </div>


    <div class="four fields">
        <div class="field">
            <label style="font-size: 14px">Celular</label>
            <input type="text" id="rcelestud" name="rcelestud" maxlength="10" placeholder="Celular"/>
        </div>

        <div class="field">
            <label style="font-size: 14px">E-mail</label>
            <input type="email" id="remailestud" name="remailestud" maxlength="100" placeholder="ejemplo@um.es"/>
        </div>

        <!--   <div class="field">
               <label>Foto Alumno</label>
               <input type="file" id="fotoest" name="fotoest" size="30"/>
           </div>-->
    </div>


    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Historia Académica</h2>
        </div>
    </div>


    <div class="fields">
        <div class="six wide field">
            <label style="font-size: 14px">SNP_SABER_PRO Registro No</label>
            <input type="text" id="snp" name="snp" maxlength="14" placeholder="Por favor ingresar su registro ecaes">
        </div>

        <div class="ten wide field">
            <label style="font-size: 14px">Programa cursado</label>
            <select class="ui dropdown origen" id="programa" name="programa">
                <?php foreach ($programas as $bprogra) { ?>
                    <?php if ($selecprog['id_programa'] == $bprogra['id']): ?>
                        <option value="<?= $selecprog['id_programa'] ?>" selected> <?= $bprogra['nombre'] ?></option>
                    <?php endif ?>
                <?php } ?>
            </select>
        </div>

    </div>
    <div class="fields">
        <div class="three wide field">
            <label style="font-size: 14px">Semestre inicio</label>
            <select class="ui dropdown origen" id="sem_ini" name="sem_ini">
                <option value="">Origen...</option>
                <option value="1">I</option>
                <option value="2">II</option>
            </select>
        </div>
        <div class="two wide field">
            <label style="font-size: 14px">Año Inicio</label>
            <input type="text" id="anyo1" name="anyo1" maxlength="4" minlength="4">
        </div>
        <div class="three wide field">
            <label style="font-size: 14px">Semestre Finalización</label>
            <select class="ui dropdown origen" id="sem_fin" name="sem_fin">
                <option value="">Origen...</option>
                <option value="1">I</option>
                <option value="2">II</option>
            </select>
        </div>
        <div class="two wide field">
            <label style="font-size: 14px">Año Finalización</label>
            <input type="text" id="anyo2" name="anyo2" maxlength="4" minlength="4">
        </div>

        <div class="field">
            <label style="font-size: 14px">¿En que sede terminó?</label>
            <select class="ui dropdown origen" name="sedeuniv" id="sedeuniv">
                <option value="">Seleccione la sede</option>
                <option value="1">MONTERIA</option>
                <option value="2">BERASTEGUI</option>
                <option value="3">LORICA</option>
                <option value="4">MOÑITOS</option>
                <option value="5">PLANETA RICA</option>
                <option value="6">SAHAGUN</option>
                <option value="7">SAN BERNARDO DEL VIENTO</option>
                <option value="8">MONTELIBANO</option>
            </select>
        </div>
        <div class="six wide field">
            <label style="font-size: 14px">En qué % el programa de pregreado que estudió llenó sus expectativas
                académicas?</label>
            <input type="text" id="porcentaje" name="porcentaje" maxlength="3">
        </div>

    </div>
    <div class="fields">
        <div class="three wide field">
            <label style="font-size: 14px">Estudio otra carrera?</label>
            <div class="ui checkbox">
                <input type="checkbox" tabindex="0" id="estudio_otra" name="estudio_otra">
                <label></label>
            </div>
        </div>
        <div class="three wide field">
            <label style="font-size: 14px">Termino esa carrera?</label>
            <select class="ui dropdown termino_otra" id="termino_otra" name="termino_otra">
                <option value="">Seleccionar...</option>
                <option value="SI">SI</option>
                <option value="NO">NO</option>
            </select>
        </div>
        <div class="ten wide field">
            <label style="font-size: 14px">En que universidad</label>
            <select class="ui dropdown origen search univer_otra" name="univer_otra" id="univer_otra">
                <option value=0 selected>SELECCIONE</option>
                <?php foreach ($universidad as $bunivers) { ?>
                    <option value="<?= $bunivers['id'] ?>"> <?= $bunivers['nombre'] ?></option>
                <?php } ?>
            </select>
        </div>
    </div>
    <div class="field">
        <label style="font-size: 14px">Qué carrera estudio?</label>
        <input type="text" id="otroprograma" name="otroprograma" maxlength="100" disabled="disabled">
    </div>

    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Expectativa de postgrados</h2>
        </div>
    </div>

    <div class="field">
        <label style="font-size: 14px">En qúe área de formación le gustaría especializarse?</label>
        <input type="text" id="especializar" name="especializar" maxlength="150">
    </div>

    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Información Laboral</h2>
        </div>
    </div>

    <div class="fields">
        <div class="four wide field">
            <label style="font-size: 14px">Trabaja actualmente</label>
            <div class="ui checkbox">
                <input type="checkbox" tabindex="0" id="trabaja_actual" name="trabaja_actual">
                <label></label>
            </div>
        </div>
        <div class="one wide field"></div>
        <div class="three wide field">
            <label style="font-size: 14px">Fecha en la que comenzó</label>
            <input type="date" placeholder="AAAA-MM-DD" id="fecha_inilaboral" name="fecha_inilaboral" maxlength="10"
                   disabled="disabled">
        </div>
    </div>
    <div class="fields">
        <div class="four wide field">
            <label style="font-size: 14px">Ha tenido alguna vez algún trabajo remunerado?</label>
            <div class="ui checkbox">
                <input type="checkbox" tabindex="0" id="trabajo_remunera" name="trabajo_remunera">
                <label></label>
            </div>
        </div>
        <div class="five wide field">
            <label style="font-size: 14px">Ocupación en el trabajo</label>
            <input type="text" id="ocupacion_trabajo" name="ocupacion_trabajo" maxlength="80" disabled="disabled">
        </div>
        <div class="seven wide field">
            <label style="font-size: 14px">Empresa o negocio donde trabajaba o trabaja</label>
            <input type="text" id="nombre_empresa" name="nombre_empresa" maxlength="100" disabled="disabled">
        </div>
    </div>
    <div class="fields">
        <div class="three wide field" id="sector" style="display: none">
            <label style="font-size: 14px">En el sector de su profesión</label>
            <select class="ui dropdown sectprof" id="sectprof" name="sectprof">
                <option value="" selected>Elija una opción</option>
                <option value="SI">SI</option>
                <option value="NO">NO</option>
            </select>
        </div>
        <div class="one wide field" id="sector" style="display: none"></div>
        <div class="seven wide field">
            <label style="font-size: 14px">Actividad Económica</label>
            <input type="text" id="actividad_empresa" name="actividad_empresa" maxlength="150" disabled="disabled">
        </div>
        <!--<div class="seven wide field">
            <label style="font-size: 16px">Actividad Económica</label>
            <select class="ui search dropdown actividad_empresa" id="actividad_empresa" name="actividad_empresa">
                <option value=0>Seleccione una opción</option>
                <?php foreach ($act_economica as $listactividades) { ?>
                    <option value="<?= $listactividades['id'] ?>"> <?= $listactividades['descrip_actividad'] ?></option>
                <?php } ?>
            </select>
        </div>-->
        <div class="one wide field">
            <label style="font-size: 16px">Sector</label>
            <select class="ui search dropdown sectoremp" id="sectoremp" name="sectoremp">
                <option value="">Elija una opción</option>
                <option value="Publico">Publico</option>
                <option value="Privado">Privado</option>
                <option value="Mixto">Mixto</option>
            </select>
        </div>
    </div>

    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Información de empleadores</h2>
        </div>
    </div>

    <div class="content field">
        <div class="four fields">
            <div class="field">
                <label style="font-size: 14px">Nombre del Director o Gerente de la Empresa</label>
                <input type="text" name="nom_gerente_emp_trab" id="nom_gerente_emp_trab" maxlength="80"
                       disabled="disabled" placeholder="Nombre del Director o Gerente de la Empresa"/>
            </div>
            <div class="field">
                <label style="font-size: 14px">Nombre del Jefe Inmediato</label>
                <input type="text" name="nom_jefe_emp_trab" id="nom_jefe_emp_trab" maxlength="80" disabled="disabled"
                       placeholder="Nombre del Jefe Inmediato"/>
            </div>
            <div class="field">
                <label style="font-size: 14px">Direccion Laboral</label>
                <input type="text" name="direc_emp_trab" id="direc_emp_trab" maxlength="100" disabled="disabled"
                       placeholder="Direccion Laboral"/>
            </div>
            <div class="five wide field">
                <label style="font-size: 14px">Pais donde Labora</label>
                <select class="ui search dropdown paislab" id="paislab" name="paislab">
                    <option value="">Seleccionar el pais...</option>
                    <?php foreach ($paislab as $listpaiseslab) { ?>
                        <option value="<?= $listpaiseslab['Codigo'] ?>"> <?= $listpaiseslab['Pais'] ?></option>
                    <?php } ?>
                </select>
            </div>
            <!--<div class="field">
                <label style="font-size: 14px">Departamento</label>
                <input type="text" name="dpto_emp_trab" id="dpto_emp_trab" maxlength="60" disabled="disabled" placeholder="Departamento" />
            </div>-->
        </div>
        <div class="four fields">
            <!--<div class="field">
                <label style="font-size: 14px">Municipio</label>
                <input type="text" name="mpio_emp_trab" id="mpio_emp_trab" maxlength="60" disabled="disabled" placeholder="Municipio" />
            </div>-->
            <div class="five wide field">
                <label style="font-size: 14px">Ciudad donde Labora</label>
                <select class="ui search dropdown ciudlab" id="ciudlab" name="ciudlab">

                </select>
            </div>
            <div class="field">
                <label style="font-size: 14px">Telefono Labora</label>
                <input type="text" name="telef_emp_trab" id="telef_emp_trab" maxlength="10" disabled="disabled"
                       placeholder="Telefono Labora"/>
            </div>
            <div class="field">
                <label style="font-size: 14px">E-mail Laboral</label>
                <input type="text" name="email_emp_trab" id="email_emp_trab" maxlength="100" disabled="disabled"
                       placeholder="ejemplo@um.es"/>
            </div>
        </div>

        <div class="fields" id="mejorasfortaleza" style="display: none">
            <div class="twelve wide field">
                <label style="font-size: 14px">De acuerdo con su experiencia laboral, en que area considera uted debe mejorar el programa del cual
                    usted es egresado?</label>
                <select class="ui search dropdown mejorar" id="mejorar" name="mejorar">
                    <option value="0" selected>Elija una opción</option>
                    <?php foreach ($respuestas as $listaresp) { ?>
                        <option value="<?= $listaresp['id_respuesta'] ?>">
                            <?= utf8_decode($listaresp['descrip_respuesta']) ?></option>
                    <?php } ?>
                </select>
            </div>
            <div class="twelve wide field">
                <label style="font-size: 14px">Cual considera usted que es la Fortaleza del programa del cual usted es egresado?</label>
                <select class="ui search dropdown fortaleza" id="fortaleza" name="fortaleza">

                </select>
            </div>
        </div>

        <!--<div class="fields">
            <div class="ui checkbox">
                <input type="checkbox" tabindex="0" id="aceptacion" name="aceptacion" checked="checked">
                <label></label>
            </div>
            <label><strong>La UNIVERSIDAD DE CÓRDOBA, como Institución de educación superior, de carácter público nacional;
                    dando cumplimiento a lo preceptuado por la Ley 1581 de 2012, reglamentada parcialmente por el Decreto 1377 de 2013,
                    donde se fundamenta el principio que tienen las personas a conocer, actualizar y rectificar la información
                    que se haya recogido sobre ellas en bases de datos o archivos y como responsable del tratamiento de datos personales;
                    informa que previo a la fecha de expedición del Decreto mencionado, ha recolectado sus datos personales,
                    requeridos para el cumplimiento de la misión educativa institucional de formación, investigación y extensión
                    y para el desarrollo de sus  funciones como institución universitaria. Por lo expuesto la UNIVERSIDAD DE CÓRDOBA,
                    teniendo en cuenta lo dispuesto en la citada Ley y Decreto, está autorizada para conservar y utilizar toda su
                    información en el ejercicio de su actividad misional y operativa, a no ser que usted manifieste lo contrario de
                    manera directa, y por escrito, dentro de los treinta (30) días hábiles contados a partir de la recepción del presente
                    comunicado, a la dirección de correo dispuesta para este fin: protecciondedatos@correo.unicordoba.edu.co</strong>
            </label>
        </div>-->
    </div>
    <input type="hidden" id="aceptacion" name="aceptacion" value="on">
    <input type="hidden" name="id_autorizado" id="id_autorizado" value="<?= $selecprog['id'] ?>">
    <input type="hidden" name="id_estudiante" id="id_estudiante" value="<?= $selecprog['id_estudiante'] ?>">
    <input type="hidden" name="id_corte" id="id_corte" value="<?= $corte['id'] ?>">
    <input type="hidden" name="anace" id="anace">

    <div class="ui error message"></div>

    <button class="ui button encuesta">
        Guardar la Encuesta
    </button>

</form>

<div class="ui modal" id="modalmensaje">
    <div class="header" style="background:#04B404; color: white;">Advertencia</div>
    <div class="content">
        <p id="modalcontenido"></p>
    </div>
    <div class="actions">
        <div class="ui approve button" style="background:#04B404;color: white;">Aceptar</div>
    </div>
</div>

<script type="text/javascript">

 	$('.ui.dropdown').dropdown();


    $('.ui.search.dropdown.est_civil').dropdown('set selected', <?= $estudiante['estado_civil'] ?>);

    $("#mejorar").on('change',function () {
        var idmejorar=$("#mejorar").val();
        ajaxGet('<?php echo $this->url('home') ?>actualizar/fortaleza/'+idmejorar,'fortaleza');
    });

    $("#paisres").on('change',function () {
        var codpais=$("#paisres").val();
        ajaxGet('<?php echo $this->url('home') ?>actualizar/ciudades/'+codpais,'ciudres');
    });

    $("#paislab").on('change',function () {
        var codpais=$("#paislab").val();
        ajaxGet('<?php echo $this->url('home') ?>actualizar/ciudades/'+codpais,'ciudlab');
    });

    $("#paisnac").on('change',function () {
        var codpais=$("#paisnac").val();
        ajaxGet('<?php echo $this->url('home') ?>actualizar/ciudades/'+codpais,'ciudnac');
    });


    $(".ui.dropdown.termino_otra").addClass('disabled');
    $(".ui.dropdown.origen.search.univer_otra").addClass('disabled');
    $('#estudio_otra').click(function() {
        if ($(this).is(':checked')) {
            $(".ui.dropdown.termino_otra").removeClass('disabled');
            $(".ui.dropdown.origen.search.univer_otra").removeClass("disabled","");
            $("#otroprograma").prop("disabled","");
        }else {
            $(".ui.dropdown.termino_otra").addClass('disabled');
            $(".ui.dropdown.origen.search.univer_otra").addClass('disabled');
            $("#otroprograma").prop("disabled","disabled");
        }
    });

    $(".ui.dropdown.search.paislab").addClass('disabled');
    $(".ui.dropdown.search.ciudlab").addClass('disabled');
    //$(".ui.dropdown.search.actividad_empresa").addClass('disabled');
    $(".ui.dropdown.search.sectoremp").addClass('disabled');
    $('#trabaja_actual').click(function() {
        if ($(this).is(':checked')) {
            $("#fecha_inilaboral").prop("disabled","");
            $("#ocupacion_trabajo").prop("disabled","");
            $("#nombre_empresa").prop("disabled","");
            $("#actividad_empresa").prop('disabled',"");
            //$(".ui.dropdown.search.actividad_empresa").removeClass('disabled');
            $(".ui.dropdown.search.sectoremp").removeClass('disabled');

            $("#nom_gerente_emp_trab").prop("disabled","");
            $("#nom_jefe_emp_trab").prop("disabled","");
            $("#direc_emp_trab").prop("disabled","");
            $(".ui.dropdown.search.paislab").removeClass("disabled","");
            $(".ui.dropdown.search.ciudlab").removeClass("disabled","");
            $("#dpto_emp_trab").prop("disabled","");
            $("#mpio_emp_trab").prop("disabled","");
            $("#telef_emp_trab").prop("disabled","");
            $("#email_emp_trab").prop("disabled","");
            $("#sector").show();
            $("#mejorasfortaleza").show();
        }else {
            $("#fecha_inilaboral").prop("disabled","disabled");
            $("#sector").hide();
            $("#mejorasfortaleza").hide();
            if ($('#trabajo_remunera').is(':checked')) {
                $("#ocupacion_trabajo").prop("disabled","");
                $("#nombre_empresa").prop("disabled","");
                $("#actividad_empresa").prop('disabled',"");
                //$(".ui.dropdown.search.actividad_empresa").removeClass('disabled');
                $(".ui.dropdown.search.sectoremp").removeClass('disabled');

                $("#nom_gerente_emp_trab").prop("disabled","");
                $("#nom_jefe_emp_trab").prop("disabled","");
                $("#direc_emp_trab").prop("disabled","");
                $(".ui.dropdown.search.paislab").removeClass("disabled","");
                $(".ui.dropdown.search.ciudlab").removeClass("disabled","");
                $("#dpto_emp_trab").prop("disabled","");
                $("#mpio_emp_trab").prop("disabled","");
                $("#telef_emp_trab").prop("disabled","");
                $("#email_emp_trab").prop("disabled","");
                $("#sector").show();
                $("#mejorasfortaleza").show();
            }else{
                $("#ocupacion_trabajo").prop("disabled","disabled");
                $("#nombre_empresa").prop("disabled","disabled");
                $("#actividad_empresa").prop('disabled',"disabled");
                //$(".ui.dropdown.search.actividad_empresa").addClass('disabled');
                $(".ui.dropdown.search.sectoremp").addClass('disabled');

                $("#nom_gerente_emp_trab").prop("disabled","disabled");
                $("#nom_jefe_emp_trab").prop("disabled","disabled");
                $("#direc_emp_trab").prop("disabled","disabled");
                $(".ui.dropdown.search.paislab").addClass('disabled');
                $(".ui.dropdown.search.ciudlab").addClass('disabled');
                $("#dpto_emp_trab").prop("disabled","disabled");
                $("#mpio_emp_trab").prop("disabled","disabled");
                $("#telef_emp_trab").prop("disabled","disabled");
                $("#email_emp_trab").prop("disabled","disabled");
                $("#sector").hide();
                $("#mejorasfortaleza").hide();
            }
        }
    });

    $('#trabajo_remunera').click(function() {
        if ($(this).is(':checked')) {
            $("#ocupacion_trabajo").prop("disabled","");
            $("#nombre_empresa").prop("disabled","");
            $("#actividad_empresa").prop('disabled',"");
            //$(".ui.dropdown.search.actividad_empresa").removeClass('disabled');
            $(".ui.dropdown.search.sectoremp").removeClass('disabled');

            $("#nom_gerente_emp_trab").prop("disabled","");
            $("#nom_jefe_emp_trab").prop("disabled","");
            $("#direc_emp_trab").prop("disabled","");
            $(".ui.dropdown.search.paislab").removeClass("disabled","");
            $(".ui.dropdown.search.ciudlab").removeClass("disabled","");
            $("#dpto_emp_trab").prop("disabled","");
            $("#mpio_emp_trab").prop("disabled","");
            $("#telef_emp_trab").prop("disabled","");
            $("#email_emp_trab").prop("disabled","");
            $("#sector").show();
            $("#mejorasfortaleza").show();
        }else{
            $("#sector").hide();
            $("#mejorasfortaleza").hide();
            if ($('#trabaja_actual').is(':checked')) {
                $("#ocupacion_trabajo").prop("disabled","");
                $("#nombre_empresa").prop("disabled","");
                $("#actividad_empresa").prop('disabled',"");
                //$(".ui.dropdown.search.actividad_empresa").removeClass('disabled');
                $(".ui.dropdown.search.sectoremp").removeClass('disabled');
                $("#sector").show();
                $("#mejorasfortaleza").show();
                $("#nom_gerente_emp_trab").prop("disabled","");
                $("#nom_jefe_emp_trab").prop("disabled","");
                $("#direc_emp_trab").prop("disabled","");
                $(".ui.dropdown.search.paislab").removeClass("disabled","");
                $(".ui.dropdown.search.ciudlab").removeClass("disabled","");
                $("#dpto_emp_trab").prop("disabled","");
                $("#mpio_emp_trab").prop("disabled","");
                $("#telef_emp_trab").prop("disabled","");
                $("#email_emp_trab").prop("disabled","");
            }else{
                $("#ocupacion_trabajo").prop("disabled", "disabled");
                $("#nombre_empresa").prop("disabled", "disabled");
                $("#actividad_empresa").prop('disabled',"disabled");
                //$(".ui.dropdown.search.actividad_empresa").addClass('disabled');
                $(".ui.dropdown.search.sectoremp").addClass('disabled');
                $("#sector").hide();
                $("#mejorasfortaleza").hide();
                $("#nom_gerente_emp_trab").prop("disabled", "disabled");
                $("#nom_jefe_emp_trab").prop("disabled", "disabled");
                $("#direc_emp_trab").prop("disabled", "disabled");
                $(".ui.dropdown.search.paislab").addClass('disabled');
                $(".ui.dropdown.search.ciudlab").addClass('disabled');
                $("#dpto_emp_trab").prop("disabled", "disabled");
                $("#mpio_emp_trab").prop("disabled", "disabled");
                $("#telef_emp_trab").prop("disabled", "disabled");
                $("#email_emp_trab").prop("disabled", "disabled");
            }
        }
    });

    /*$("#f_nac").on('blur', function () {

    });*/

    function Verifica() {
        var fecnac=$('#f_nac').val();
        //alert(fecnac);
        //$("#anace").val(fecnac);
        var hoy = Date();
        var cumpleanos = Date(fecnac);
        var edad = hoy.getFullYear() - cumpleanos.getFullYear();
        var m = hoy.getMonth() - cumpleanos.getMonth();


        if (m < 0 || (m === 0 && hoy.getDate() < cumpleanos.getDate())) {
            edad--;
        }

        if (edad < 18){
            $('#modalcontenido').html("Por favor verificar fecha de nacimiento...!");
            $('#modalmensaje').modal('show');
            $('#f_nac').focus();
        }
    }

    /*$.fn.form.settings.rules.anyofecna = function(value) {
        var fecha = $("#anace").val();

        var ano = fecha.getFullYear();
        alert(ano);

        if (ano == '01-01-0001'){
            return false;
        }else{
            return true;
        }
        **********
        {
            type: 'anyofecna',
            prompt : 'Año incorrecto para la fecha'
        },
        **************
    };*/

    $.fn.form.settings.rules.anyo2000 = function(value) {
        if (value < 1900){
           return false;
        }else{
            return true;
        }
    };

    $.fn.form.settings.rules.anyo2mayor = function(value) {
        anyo1= $('#anyo1').val();

        if ((value - anyo1) < 2){
            return false;
        }else{
            return true;
        }
    };

    $.fn.form.settings.rules.snpnovalido = function(value) {
        if (value == '00000000000000'){
            return false;
        }else{
            return true;
        }
    };

    var rules = {

        num_id: {
            identifier  : 'num_id',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el numero de identificación actual'
                },
                {
                    type: 'maxLength[11]',
                    prompt : 'M&aacute;ximo 11 numeros'
                },
                {
                    type: 'integer',
                    prompt : 'Solo valores numéricos'
                },
            ]
        },

        l_expedicion: {
            identifier  : 'l_expedicion',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese municipio de expedición de identificación'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres'
                },
            ]
        },

        f_nac: {
            identifier  : 'f_nac',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese la fecha de nacimiento'
                },
                {
                    type: 'maxLength[10]',
                    prompt : 'M&aacute;ximo 10 caracteres'
                },
                {
                    type   : 'regExp[/^[0-9]{4}-[0-9]{2}-[0-9]{2}$/]',
                    prompt: 'Fecha NO válida. Formato AAAA-MM-DD'
                },
            ]
        },

        paisnac:{
            identifier  : 'paisnac',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un pais'
                },
            ]
        },

        ciudnac:{
            identifier  : 'ciudnac',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione una ciudad'
                },
            ]
        },

        nac_municipio: {
            identifier  : 'nac_municipio',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese municipio de nacimiento'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres'
                },
            ]
        },

        nac_depto: {
            identifier  : 'nac_depto',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese departamento de nacimiento'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres'
                },
            ]
        },

        dir_residencial: {
            identifier  : 'dir_residencial',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese la dirección residencial'
                },
                {
                    type: 'maxLength[250]',
                    prompt : 'M&aacute;ximo 250 caracteres'
                },
            ]
        },

        rcelestud: {
            identifier  : 'rcelestud',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el numero de celular'
                },
                {
                    type: 'maxLength[10]',
                    prompt : 'M&aacute;ximo 10 numeros'
                },
                {
                    type: 'integer',
                    prompt : 'Solo valores numéricos'
                },
            ]
        },

        paisres:{
            identifier  : 'paisres',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un pais'
                },
            ]
        },

        ciudres:{
            identifier  : 'ciudres',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione una ciudad'
                },
            ]
        },

        res_municipio: {
            identifier  : 'res_municipio',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese municipio de residencia'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres - residencia'
                },
            ]
        },

        res_depto: {
            identifier  : 'res_depto',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese departamento de residencia'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres - residencia'
                },
            ]
        },


        rtelestud:{
            identifier  : 'rtelestud',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el numero de telefono fijo residencia, si no tiene ingrese 0'
                },
                {
                    type: 'maxLength[10]',
                    prompt : 'M&aacute;ximo 10 numeros'
                },
                {
                    type: 'integer',
                    prompt : 'Solo valores numéricos'
                },
            ]
        },

        remailestud:{
            identifier  : 'remailestud',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese su email'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 carateres'
                },
                {
                    type: 'email',
                    prompt : 'ingrese un email valido'
                },
            ]
        },

        snp:{
            identifier  : 'snp',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese su SNP pruebas icfes saber PRO'
                },
                {
                    type   : 'snpnovalido',
                    prompt : 'Número de registro de ecaes no valido'
                },
                {
                    type: 'exactLength[14]',
                    prompt : 'El código debe tener 14 carateres'
                },
            ]
        },

        programa:{
            identifier  : 'programa',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un programa academico'
                },
            ]
        },

        sem_ini:{
            identifier  : 'sem_ini',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un valor de la lista'
                },
            ]
        },

        anyo1:{
            identifier  : 'anyo1',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el año de inicio de semestre'
                },
                {
                    type: 'minLength[4]',
                    prompt : 'Minimo 4 numeros'
                },
                {
                    type: 'anyo2000',
                    prompt : 'Elvalor no debe ser menor a 2000'
                },
                {
                    type: 'integer',
                    prompt : 'Solo valores numéricos'
                },
            ]
        },

        sem_fin:{
            identifier  : 'sem_fin',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un valor de la lista'
                },
            ]
        },

        anyo2:{
            identifier  : 'anyo2',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el año de fin de semestre'
                },
                {
                    type: 'minLength[4]',
                    prompt : 'Minimo 4 numeros'
                },
                {
                    type: 'anyo2mayor',
                    prompt : 'El valor debe ser minimo 3 años mayor a año inicio'
                },
                {
                    type: 'integer',
                    prompt : 'Solo valores numéricos'
                },
            ]
        },

        sedeuniv:{
            identifier  : 'sedeuniv',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un valor de la lista'
                },
            ]
        },

        porcentaje:{
            identifier  : 'porcentaje',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el porcentaje de satisfaccion'
                },
                {
                    type: 'maxLength[3]',
                    prompt : 'M&aacute;ximo 3 numeros'
                },
                {
                    type: 'integer[1..100]',
                    prompt : 'Solo valores numéricos del 1 al 100'
                },
            ]
        },

        termino_otra:{
            identifier  : 'termino_otra',
            depends     : 'estudio_otra',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un valor de la lista'
                },
            ]
        },

        univer_otra:{
            identifier  : 'univer_otra',
            depends     : 'estudio_otra',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el nombre la universidad'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 carateres'
                },
            ]
        },

        otroprograma:{
            identifier  : 'otroprograma',
            depends    : 'estudio_otra',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un valor de la lista'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 carateres'
                },
            ]
        },

        especializar:{
            identifier  : 'especializar',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el nombre de la especializacion'
                },
                {
                    type: 'maxLength[150]',
                    prompt : 'M&aacute;ximo 150 caracteres'
                },
            ]
        },

        trabaja_actual:{
            identifier  : 'trabaja_actual',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un valor de la lista'
                },
            ]
        },

        fecha_inilaboral:{
            identifier  : 'fecha_inilaboral',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese la fecha de inicio laboral'
                },
                {
                    type   : 'regExp[/^[0-9]{4}-[0-9]{2}-[0-9]{2}$/]',
                    prompt: 'Fecha NO válida. Formato AAAA-MM-DD'
                },
            ]
        },

        trabajo_remunera:{
            identifier  : 'trabajo_remunera',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un valor de la lista'
                },
            ]
        },

        ocupacion_trabajo:{
            identifier  : 'ocupacion_trabajo',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese su ocupacion en la empresa'
                },
                {
                    type: 'maxLength[80]',
                    prompt : 'M&aacute;ximo 80 caracteres'
                },
            ]
        },

        nombre_empresa:{
            identifier  : 'nombre_empresa',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el nombre de la empresa'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres'
                },
            ]
        },

        actividad_empresa:{
            identifier  : 'actividad_empresa',
            depends     : 'trabaja_actual',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione la actividad economica de la empresa'
                },
            ]
        },

        nom_gerente_emp_trab:{
            identifier  : 'nom_gerente_emp_trab',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el nombre del gerente de la empresa'
                },
                {
                    type: 'maxLength[80]',
                    prompt : 'M&aacute;ximo 80 caracteres'
                },
            ]
        },

        nom_jefe_emp_trab:{
            identifier  : 'nom_jefe_emp_trab',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el nombre del jefe inmediato de la empresa'
                },
                {
                    type: 'maxLength[80]',
                    prompt : 'M&aacute;ximo 80 caracteres'
                },
            ]
        },

        direc_emp_trab:{
            identifier  : 'direc_emp_trab',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese la direccion de la empresa'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres'
                },
            ]
        },

        paislab:{
            identifier  : 'paislab',
            depends     : 'trabaja_actual',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un pais'
                },
            ]
        },

        ciudlab:{
            identifier  : 'ciudlab',
            depends     : 'trabaja_actual',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione una ciudad'
                },
            ]
        },

        dpto_emp_trab:{
            identifier  : 'dpto_emp_trab',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el nombre del departamento de ubicacion de la empresa'
                },
                {
                    type: 'maxLength[60]',
                    prompt : 'M&aacute;ximo 60 caracteres'
                },
            ]
        },

        mpio_emp_trab:{
            identifier  : 'mpio_emp_trab',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el nombre del municipio de ubicacion de la empresa'
                },
                {
                    type: 'maxLength[60]',
                    prompt : 'M&aacute;ximo 60 caracteres'
                },
            ]
        },

        telef_emp_trab:{
            identifier  : 'telef_emp_trab',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el numero de telefono de la empresa'
                },
                {
                    type: 'maxLength[10]',
                    prompt : 'M&aacute;ximo 10 caracteres'
                },
                {
                    type: 'integer',
                    prompt : 'Solo valores numericos'
                },
            ]
        },

        email_emp_trab:{
            identifier  : 'email_emp_trab',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el email de la empresa donde labora'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres'
                },
                {
                    type: 'email',
                    prompt : 'ingrese un email valido'
                },
            ]
        },

    };

    $.fn.api.settings.api = {
        'insertarpre' : '<?php echo $this->url('home') ?>encuesta/insertarpre',
    };

    $('.ui.form.segment.tiny.formencuesta').form({
        on: 'blur',
        inline : true,
        fields: rules,
        onSuccess : function() {
            return false;
        },
    });

    buttonPostValidation('.ui.button.encuesta', 'insertarpre', '.ui.form.segment.tiny.formencuesta', 'contenedor');

</script>


