
<style type="text/css">
    .container2 {
        padding: 10px;
        width: 100%;
        height: 400px;
        border: 1px solid #D8D8D8;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .floatLeft2 {
        width: 2000px;
        height: 400px;
    }
</style>


<!--<div class="ui green icon message">
    <i class="info green circle icon"></i>
    <div class="content">
        <div class="header">
            Validando para Realizar Encuesta de Egresados
        </div>
        <p></p>
    </div>
</div>-->

<br>
<br>
<br>
<br>
<div class="ui three column grid">
    <div class="column">

    </div>
    <div class="column">

        <form class="ui form segment busqueda">
            <div class="field" align="center">
                <label style="font-size: 16px; font: 'Roboto'">Tipo de estudio realizado</label>
                <input type="radio" id="tipo" name="tipo" value="1" style="font-size: 14px">Pregrado
                <input type="radio" id="tipo" name="tipo" value="2" style="font-size: 14px">Postgrado
            </div>

            <div class="field">
                <label style="font-size: 16px; font: 'Roboto'">Identificación</label>
                <input type="text" id="identificacion" name="identificacion" maxlength="20">
            </div>


            <div class="field">
                <label style="font-size: 16px; font: 'Roboto'">Programa cursado</label>
                <select class="ui dropdown origen" id="programa" name="programa">

                </select>
            </div>




            <div class="field center aligned">
                <div class="ui fluid green labeled icon button busqueda"><i class="search icon"></i> Realizar Encuesta </div>
            </div>
            <div class="ui error message"></div>
        </form>

    </div>
    <div class="column">

    </div>
</div>


<br>
<script type="text/javascript">

    $('.ui.dropdown.programa').click(function() {

    });

    $(document).ready(function() {

        $('ui.form.segment.busqueda').keypress(function(e){
            if(e == 13){
                return false;
            }
        });

        $('#identificacion').keypress(function(e){
            if(e.which == 13){
                return false;
            }
        });

    });

    var rules = {
        identificacion: {
            identifier  : 'identificacion',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el numero de identificación'
                },
                {
                    type: 'maxLength[11]',
                    prompt : 'M&aacute;ximo 11 caracteres'
                },
                {
                    type: 'integer',
                    prompt : 'Solo valores numéricos'
                },
            ]
        },

        programa: {
            identifier  : 'programa',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione el programa cursado'
                },
            ]
        },

    };

    $('.ui.fluid.green.labeled.icon.button.busqueda').form({
        on: 'blur',
        inline : true,
        fields: rules,
        onSuccess : function() {
            return false;
        },
    });

    $("input[name=tipo]").click(function () {
        valor = $(this).val();
        if ((valor=="1")) {
            ajaxGet(
                '<?php echo $this->url('home') ?>estudiante/programas/1',
                'programa'
            );
        }else{
            ajaxGet(
                '<?php echo $this->url('home') ?>estudiante/programas/2',
                'programa'
            );
        }
    });

    $.fn.api.settings.api = {
        'tratadatosencuesta' : '<?php echo $this->url('home') ?>estudiante/tratadatosencuesta',
    };

    buttonPostValidation('.ui.fluid.green.labeled.icon.button.busqueda', 'tratadatosencuesta', '.ui.form.segment.busqueda', 'contenedor');

</script>

<div id="contenedor-calcular"></div>