<h3 class="ui header green dividing">
    <i class="list icon"></i>
    <div class="content">
        Lista de Estudiantes
    </div>
</h3>

<table class="ui table compact line celled">
    <tr>
        <td><strong>ID.</strong></td>
        <td><strong>NOMBRES</strong></td>
        <td><strong>APELLIDOS</strong></td>
        <td><strong>IDENTIFICACION</strong></td>
        <td><strong>DIRECCION</strong></td>
        <td><strong>CELULAR</strong></td>
        <td><strong>SEXO</strong></td>
    </tr>
    <?php foreach ($lista as $value): ?>

        <tr>
            <td width="3%"><?= $value['id'] ?></td>
            <td width="8%"><?= $value['nombres'] ?></td>
            <td width="30%"><?= $value['apellidos'] ?></td>
            <td width="5%"><?= $value['nro_ident'] ?></td>
            <td width="10%"><?= $value['dir_resid'] ?></td>
            <td width="5%"><?= $value['celular'] ?></td>
            <td width="20%"><?= $value['sexo'] ?></td>
            <td>
                <a class="item request2" modulo="estudiante"
                   accion="verestudiante/<?= $value['id'] ?>" href="#"><i class="icon eye">Ver</i>
                </a>
            </td>
        </tr>

    <?php endforeach ?>
</table>


<script type="text/javascript">
    $(document).ready(function() {
        $('.item.request2').on('click',function(){
            ajaxGet("<?php echo $this->url('home') ?>"+$(this).attr('modulo')+"/"+$(this).attr('accion'), "contenedor5");
        });
    });
</script>