<form class="ui form segment tiny formtratadatos" enctype="multipart/form-data">

    <div class="">
        <div class="item">
            <a class="ui green ribbon label" style="font-style: italic; font-size: 20px">PROTECCIÓN DE DATOS</a>
        </div>
    </div>
    <br>
    <div class="field">
        <label style="font-size: 18px">La UNIVERSIDAD DE CÓRDOBA, como Institución de educación superior, de carácter público nacional;
                dando cumplimiento a lo preceptuado por la Ley 1581 de 2012, reglamentada parcialmente por el Decreto 1377 de 2013,
                donde se fundamenta el principio que tienen las personas a conocer, actualizar y rectificar la información
                que se haya recogido sobre ellas en bases de datos o archivos y como responsable del tratamiento de datos personales;
                informa que previo a la fecha de expedición del Decreto mencionado, ha recolectado sus datos personales,
                requeridos para el cumplimiento de la misión educativa institucional de formación, investigación y extensión
                y para el desarrollo de sus  funciones como institución universitaria. Por lo expuesto la UNIVERSIDAD DE CÓRDOBA,
                teniendo en cuenta lo dispuesto en la citada Ley y Decreto, está autorizada para conservar y utilizar toda su
                información en el ejercicio de su actividad misional y operativa, a no ser que usted manifieste lo contrario de
                manera directa, y por escrito, dentro de los treinta (30) días hábiles contados a partir de la recepción del presente
                comunicado, a la dirección de correo dispuesta para este fin: egresados@correo.unicordoba.edu.co
        </label>
    </div>
    <div class="field">
        <a class="ui red label" style="font-size: 20px; font-style: italic">
            <strong>
                Acepto la política de protección de datos y autorizo el uso de la información recolectada en este formulario
                por parte de la institución.
            </strong>
        </a><br>
        <select class="ui search dropdown aceptotratadatos" id="aceptotratadatos" name="aceptotratadatos">
            <option value="">Elije</option>
            <option value="SI">Si</option>
        </select>
    </div>
    <br>

    <div>
        <!--Encuesta-->
        <input type="hidden" id="tipo" name="tipo" value="<?=$tipo?>">
        <input type="hidden" id="programa" name="programa" value="<?=$programa?>">
        <input type="hidden" id="identificacion" name="identificacion" value="<?=$identificacion?>">
        <!--------------------->
    </div>
    <div class="ui error message"></div>

    <button class="ui green button siguiente">
        Siguiente
    </button>

</form>

<script type="text/javascript">

    $('.ui.dropdown').dropdown();

    var rules = {

        aceptotratadatos: {
            identifier  : 'aceptotratadatos',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Este campo es requerido.."Acepto la política de protección de datos y autorizo  el uso de la información recolectada en este formulario por parte de la institución."'
                }
            ]
        },

    };

    $('.ui.form.segment.tiny.formtratadatos').form({
        on: 'blur',
        //inline : true,
        fields: rules,
        onSuccess : function() {
            return false;
        },
    });

    var tipo=$("#tipo").val();
    if (tipo==1){
        $.fn.api.settings.api = {
            'buscar' : '<?php echo $this->url('home') ?>estudiante/buscar',
        };

        buttonPostValidation('.ui.button.siguiente', 'buscar', '.ui.form.segment.tiny.formtratadatos', 'contenedor');
    }else{
        if (tipo==2){
            $.fn.api.settings.api = {
                'formpost' : '<?php echo $this->url('home') ?>estudiante/formpost',
            };

            buttonPostValidation('.ui.button.siguiente', 'formpost', '.ui.form.segment.tiny.formtratadatos', 'contenedor');
        }
    }


</script>