<div class="ui secondary pointing menu">
    <div class="item">
        <h2><i class="green user icon"></i>Datos personales del estudiante</h2>
    </div>
</div>

<div class="button">
    <div class="ui green submit button editardatos">Editar datos</div>
</div>

<form class="ui form segment tiny formactdatosestudiantes">
    <div class="four fields">
        <div class="field">
            <label>Tipo Ident.</label>
            <select class="ui search dropdown tipodoc" id="tipodoc" name="tipodoc" disabled="disabled">
                <option value="CC" <?php if($estudiante['tipo_doc']=="CC"){?> selected <?php } ?>>Cedula de ciudadanía</option>
                <option value="CE" <?php if($estudiante['tipo_doc']=="CE"){?> selected <?php } ?>>Cedula de extranjería</option>
            </select>
        </div>
        <div class="field">
            <label>Identificación</label>
            <input type="text" id="nro_ident" name="nro_ident" value="<?= $estudiante['nro_ident'] ?>" readonly="readonly">
            <input type="hidden" id="id_estud" name="id_estud" value="<?= $estudiante['id'] ?>">
        </div>
        <div class="field">
            <label>Lugar de expedición documento de ID</label>
            <input type="text" id="l_expedicion" name="l_expedicion" value="<?= utf8_decode($estudiante['ciudad_exped']) ?>" readonly="readonly">
        </div>
        <div class="field">
            <label>Nombres</label>
            <input type="text" id="nombres" name="nombres" value="<?= utf8_decode($estudiante['nombres']) ?>" readonly="readonly" >
        </div>
        <div class="field">
            <label>Apellidos</label>
            <input type="text" id="apellidos" name="apellidos" value="<?= utf8_decode($estudiante['apellidos']) ?>" readonly="readonly" >
        </div>
    </div>

    <div class="four fields">
        <div class="two wide field">
            <label>Fecha de nacimiento</label>
            <input type="date" id="fec_nacim" name="fec_nacim" value="<?= $estudiante['fec_nacimiento'] ?>"
                   readonly="readonly" />
        </div>
        <div class="two wide field">
            <label>Sexo</label>
            <input type="text" id="sexo" name="sexo" value="<?= $estudiante['sexo'] ?>" readonly="readonly">
        </div>
        <div class="two wide field">
            <label>Estado Civil</label>
            <select class="ui search dropdown est_civil" id="est_civil" name="est_civil" disabled="disabled">
                <?php foreach ($estcivil as $listaestcivil) { ?>
                    <option value="<?= $listaestcivil['id'] ?>"> <?= $listaestcivil['nom_estado'] ?></option>
                <?php } ?>
            </select>
        </div>
        <div class="one wide field"></div>
        <div class="eight wide field">
            <label>Dirección residencial</label>
            <input type="text" id="dir_resid" name="dir_resid" value="<?= utf8_decode($estudiante['dir_resid']) ?>" readonly="readonly">
        </div>
    </div>
    <div class="four fields">

        <div class="five wide field">
            <label>Celular</label>
            <input type="text" id="rcelestud" name="rcelestud" value="<?= $estudiante['celular'] ?>" readonly="readonly">
        </div>
        <div class="seven wide field">
            <label>E-mail</label>
            <input type="text" id="email" name="email" value="<?= $estudiante['email'] ?>" readonly="readonly" >
        </div>

        <div class="ui error message"></div>

        <button class="ui button green ui right floated guardadatoseditados" id="guardadatoseditados" disabled>
            Guardar Datos Editados
        </button>
    </div>

</form>

<form class="ui form segment tiny formautorizaestudiantes">

    <div class="autorizar" id="autorizar">
        <div class="four fields">
            <div class="field">
                <label>Corte Periodo</label>
                <select class="ui dropdown origen" id="corte" name="corte">
                    <option value="">Seleccione el corte...</option>
                    <option value="<?= $corte['id'] ?>"> <?= $corte['nombre'] ?></option>
                </select>
            </div>
            <div class="field">
                <label>Tipo de estudio realizado</label>
                <input type="radio" id="tipo" name="tipo" value="1">Pregrado
                <input type="radio" id="tipo" name="tipo" value="2">Postgrado
            </div>
            <div class="field">
                <label>Programa</label>
                <select class="ui dropdown origen" id="programa" name="programa">

                </select>
            </div>
        </div>

        <input type="hidden" id="nro_ident" name="nro_ident" value="<?= $estudiante['nro_ident'] ?>">

        <div class="ui error message"></div>

        <button class="ui button green autorizaencuesta">
            Guardar Autorización
        </button>
    </div>

    <table class="ui table compact">
        <tr><center>LISTA DE PROGRAMAS AUTORIZADOS PARA REALIZAR LA ENCUESTA</center></tr>

        <tr>
            <td><strong>PROGRAMA</strong></td>
            <td><strong>PERIODO ENCUESTA</strong></td>
        </tr>
        <?php $i = 1; ?>
        <?php foreach ($progautorizados as $value): ?>
            <tr>
                <td align="left"><?= utf8_decode($value['nombre']) ?></td>
                <td align="left"><?= $value['nombrecorte'] ?></td>
                <td>
                    <?php if ($value['id_estudio']==1){ ?>
                        <a class="item request2" modulo="encuesta" accion="verencuesta/<?=$value['id_estudiante']?>/<?=$value['id']?>">
                            <i class="icon eye">Ver Encuesta Pre</i>
                        </a>
                    <?php }else{ ?>
                        <a class="item request2" modulo="encuesta" accion="verencuestapost/<?=$value['id_estudiante']?>/<?=$value['id']?>">
                            <i class="icon eye">Ver Encuesta Pos</i>
                        </a>
                    <?php } ?>
                </td>
                <td>
                    <a class="item request2" modulo="actualizar" accion="verdatosactualizadoestud/<?=$value['id_estudiante']?>">
                        <i class="icon eye">Ver Datos Actualizados</i>
                    </a>
                </td>
                <td>
                    <a class="item request2" modulo="encuesta" accion="vernroactaestudgraduado/<?=$value['id']?>/<?=$value['id_estudio']?>">
                        <i class="icon eye">Ver Acta</i>
                    </a>
                </td>
            </tr>
        <?php endforeach ?>
    </table>

</form>

<div class="ui modal" id="modalmensaje">
    <div class="header" style="background:#04B404; color: white;">Advertencia</div>
    <div class="content">
        <p id="modalcontenido"></p>
    </div>
    <div class="actions">
        <div class="ui approve button" style="background:#04B404;color: white;">Aceptar</div>
    </div>
</div>

<script type="text/javascript">

    $('.ui.dropdown').dropdown();

    $('.ui.search.dropdown.est_civil').dropdown('set selected', <?= $estudiante['estado_civil'] ?>);


    $('.ui.green.submit.button.editardatos').on('click',function(){
        $('#modalcontenido').html("Acaba de habilitar la edicion de los campos Nombres, Apellidos, Fecha de nacimiento, Sexo, Estado civil, Dirección, Celular y Email..!");
        $('#modalmensaje').modal('show');
        $('#nombres').focus();
        $('#nombres').prop('readonly','');
        $("#apellidos").prop('readonly','');
        $("#fec_nacim").prop('readonly','');
        $("#sexo").prop('readonly','');
        $("#est_civil").prop('disabled','');
        $("#dir_resid").prop('readonly','');
        $("#rcelestud").prop('readonly','');
        $("#email").prop('readonly','');
        $("#guardadatoseditados").prop("disabled","");

    });

    $('.item.request2').on('click',function(){
        ajaxGet("<?php echo $this->url('home') ?>"+$(this).attr('modulo')+"/"+$(this).attr('accion'), "contenedor5");
    });

    $("input[name=tipo]").click(function () {
        valor = $(this).val();
        if ((valor=="1")) {
            ajaxGet(
                '<?php echo $this->url('home') ?>estudiante/programas/1',
                'programa'
            );
        }else{
            ajaxGet(
                '<?php echo $this->url('home') ?>estudiante/programas/2',
                'programa'
            );
        }
    });


    var rules = {
        corte: {
            identifier: 'corte',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Seleccione el periodo actual'
                },
            ]
        },

        programa: {
            identifier: 'programa',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Seleccione un programa academico'
                },
            ]
        },
    };

    $('.ui.form.segment.tiny.formautorizaestudiantes').form({
        on: 'blur',
        inline : true,
        fields: rules,
        onSuccess : function() {
            return false;
        },
    });


    $.fn.api.settings.api = {
        'insertautoriza': '<?php echo $this->url('home') ?>estudiante/insertautoriza',
    };

    buttonPostValidation('.ui.button.green.autorizaencuesta', 'insertautoriza', '.ui.form.segment.tiny.formautorizaestudiantes', 'contenedor5');

    $.fn.api.settings.api = {
        'actualizaestud': '<?php echo $this->url('home') ?>estudiante/actualizaestud',
    };

    buttonPostValidation('.ui.button.green.ui.right.floated.guardadatoseditados', 'actualizaestud', '.ui.form.segment.tiny.formactdatosestudiantes', 'contenedor5');


</script>