<div class="ui secondary pointing menu">
    <div class="item">
        <h2><i class="green user icon"></i>Datos personales del estudiante</h2>
    </div>
</div>

<form class="ui form segment tiny formestudiante">
    <div class="four fields">
        <div class="field">
            <label>Tipo Ident.</label>
            <select class="ui search dropdown tipodoc" id="tipodoc" name="tipodoc" disabled="disabled">
                <option value="CC" <?php if($estudiante['tipo_doc']=="CC"){?> selected <?php } ?>>Cedula de ciudadanía</option>
                <option value="CE" <?php if($estudiante['tipo_doc']=="CE"){?> selected <?php } ?>>Cedula de extranjería</option>
            </select>
        </div>
        <div class="field">
            <label>Identificación</label>
            <input type="text" id="nro_ident" name="nro_ident" value="<?= $estudiante['nro_ident'] ?>" readonly="readonly">
        </div>
        <div class="field">
            <label>Lugar de expedición documento de ID</label>
            <input type="text" id="l_expedicion" name="l_expedicion" value="<?= utf8_decode($estudiante['ciudad_exped']) ?>" readonly="readonly">
        </div>
        <div class="field">
            <label>Nombres</label>
            <input type="text" id="nombres" name="nombres" value="<?= utf8_decode($estudiante['nombres']) ?>" readonly="readonly" >
        </div>
        <div class="field">
            <label>Apellidos</label>
            <input type="text" id="apellidos" name="apellidos" value="<?= utf8_decode($estudiante['apellidos']) ?>" readonly="readonly" >
        </div>
    </div>

    <div class="four fields">
        <div class="two wide field">
            <label>Fecha de nacimiento</label>
            <input type="date" id="fec_nacim" name="fec_nacim" value="<?= $estudiante['fec_nacimiento'] ?>"
                   readonly="readonly" />
        </div>
        <div class="two wide field">
            <label>Sexo</label>
            <input type="text" id="sexo" name="sexo" value="<?= $estudiante['sexo'] ?>" readonly="readonly">
        </div>
        <div class="two wide field">
            <label>Estado Civil</label>
            <select class="ui search dropdown est_civil" id="est_civil" name="est_civil" disabled="disabled">
                <?php foreach ($estcivil as $listaestcivil) { ?>
                    <option value="<?= $listaestcivil['id'] ?>"> <?= $listaestcivil['nom_estado'] ?></option>
                <?php } ?>
            </select>
        </div>
        <div class="one wide field"></div>
        <div class="field">
            <label>Dirección residencial</label>
            <input type="text" id="dir_resid" name="dir_resid" value="<?= utf8_decode($estudiante['dir_resid']) ?>" readonly="readonly">
        </div>
        <div class="field">
            <label>Celular</label>
            <input type="text" id="rcelestud" name="rcelestud" value="<?= $estudiante['celular'] ?>" readonly="readonly">
        </div>
        <div class="field">
            <label>E-mail</label>
            <input type="text" id="email" name="email" value="<?= $estudiante['email'] ?>" readonly="readonly" >
        </div>
    </div>

    <div class="autorizar" id="autorizar">
        <div class="four fields">
            <div class="field">
                <label>Corte Periodo</label>
                <select class="ui dropdown origen" id="corte" name="corte">
                    <option value="">Seleccione el corte...</option>
                    <option value="<?= $corte['id'] ?>"> <?= $corte['nombre'] ?></option>
                </select>
            </div>
            <div class="field">
                <label>Tipo de estudio realizado</label>
                <input type="radio" id="tipo" name="tipo" value="1">Pregrado
                <input type="radio" id="tipo" name="tipo" value="2">Postgrado
            </div>
            <div class="field">
                <label>Programa</label>
                <select class="ui dropdown origen" id="programa" name="programa">

                </select>
            </div>
        </div>

        <div class="ui error message"></div>

        <button class="ui button green autorizaencuesta">
            Guardar Autorización
        </button>
    </div>

    <table class="ui table compact">
        <tr><center>LISTA DE PROGRAMAS AUTORIZADOS PARA REALIZAR LA ENCUESTA</center></tr>
        <tr>
            <td><strong>PROGRAMA</strong></td>
            <td><strong>PERIODO ENCUESTA</strong></td>
        </tr>
        <?php $i = 1; ?>
        <?php foreach ($progautorizados as $value): ?>
            <tr>
                <td align="left"><?= $value['nombre'] ?></td>
                <td align="left"><?= $value['nombrecorte'] ?></td>
                <td>
                    <?php if ($value['id_estudio']==1){ ?>
                        <a class="item request2" modulo="encuesta" accion="verencuesta/<?=$value['id_estudiante']?>/<?=$value['id']?>">
                            <i class="icon eye">Ver Encuesta Pre</i>
                        </a>
                    <?php }else{ ?>
                        <a class="item request2" modulo="encuesta" accion="verencuestapost/<?=$value['id_estudiante']?>/<?=$value['id']?>">
                            <i class="icon eye">Ver Encuesta Pos</i>
                        </a>
                    <?php } ?>
                </td>
                <td>
                    <a class="item request2" modulo="actualizar" accion="verdatosactualizadoestud/<?=$value['id_estudiante']?>">
                        <i class="icon eye">Ver Datos Actualizados</i>
                    </a>
                </td>
                <td>
                    <a class="item request2" modulo="encuesta" accion="vernroactaestudgraduado/<?=$value['id']?>/<?=$value['id_estudio']?>">
                        <i class="icon eye">Ver Acta</i>
                    </a>
                </td>
            </tr>
        <?php endforeach ?>
    </table>

</form>
<div class="contenedor5"></div>

<script type="text/javascript">

    $(document).ready(function(){
        /*var dato = $("#nompro").val();

        if(dato!=""){
            $("#autorizar").hide();
        }else{
            $("#autorizar").show();
        }*/
    });

    $('.ui.button.green.autorizar').on('click',function(){
        $("#autorizar").show();
    });

    $('.item.request2').on('click',function(){
        ajaxGet("<?php echo $this->url('home') ?>"+$(this).attr('modulo')+"/"+$(this).attr('accion'), "contenedor5");
    });

    $('.ui.dropdown').dropdown();

    $("input[name=tipo]").click(function () {
        valor = $(this).val();
        if ((valor=="1")) {
            ajaxGet(
                '<?php echo $this->url('home') ?>estudiante/programas/1',
                'programa'
            );
        }else{
            ajaxGet(
                '<?php echo $this->url('home') ?>estudiante/programas/2',
                'programa'
            );
        }
    });

    $('.ui.form.segment.tiny.formautorizaencuesta').form({
        on: 'blur',
        inline : true,
        fields: rules,
        onSuccess : function() {
            return false;
        },
    });

    var rules = {
        corte: {
            identifier: 'corte',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Seleccione el periodo actual'
                },
            ]
        },

        programa: {
            identifier: 'programa',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Seleccione un programa academico'
                },
            ]
        },
    };

    $.fn.api.settings.api = {
        'insertautoriza' : '<?php echo $this->url('home') ?>estudiante/insertautoriza',
    };

    buttonPostValidation('.ui.button.green.autorizaencuesta', 'insertautoriza', '.ui.form.segment.tiny.formautorizaencuesta', 'contenedor5');

</script>