<html>
<head>
    <style media="print">
        .noprint { display: none }
    </style>
</head>
<body>
<table class="ui table compact">
    <div class="item">
        <h2 align="center"><i class="green"></i>UNIVERSIDAD DE CORDOBA</strong></h2>
    </div>
</table>
<br>
<form>
    <table class="ui table compact">
        <tr>
            <td>
                <button class="ui button noprint enviar">
                    Imprimir
                </button>
            </td>
            <td>
                <div class="item">
                    <h5 align="center"><i class="green"></i>Estudiantes que Realizaron la Encuesta-Postgrado</strong></h5>
                </div>
            </td>
            <td style="right:inherit">
                <button class="ui button noprint regresar">
                    Regesar
                </button>
            </td>
        </tr>

    </table>
</form>
<script type="text/javascript">

    $(.ui.button.regresar).api(
        {
            action: accion,

        });

    $.fn.api.settings.api = {
        'index' : '<?php echo $this->url('home') ?>reportes/index',
    };

</script>
<br>
<table class="ui table compact">
    <tr>
        <td width="5%" height="20"></td>
        <td><strong>NOMBRES DEL ESTUDIANTE</strong></td>
        <td><strong>APELLIDOS</strong></td>
        <td><strong>NRO DE IDENTIFICACION</strong></td>
        <td><strong>PROGRAMA</strong></td>
        <td width="5%"></td>
    </tr>
    <?php foreach ($siencuestapost as $value): ?>
        <tr>
            <td></td>
            <td align="left"><?= $value['nombres'] ?></td>
            <td align="left"><?= $value['apellidos'] ?></td>
            <td align="left"><?= $value['nro_ident'] ?></td>
            <td align="left"><?= $value['programa'] ?></td>
            <td></td>
        </tr>
    <?php endforeach ?>
</table>
</body>
</html>