<html>
<head>
    <style media="print">
        .noprint { display: none }
    </style>
</head>
<body>
<table class="ui table compact">
    <div class="item">
            <h2 align="center"><i class="green"></i>UNIVERSIDAD DE CORDOBA</strong></h2>
    </div>
</table>
<br>
<table class="ui table compact">
    <div class="item">
            <h5 align="center"><i class="green"></i>Encuestas Realizadas por Sedes</strong></h5>
    </div>
</table>
<table class="ui table compact">
    <tr>
        <td width="5%" height="20"></td>
        <td><strong>NOMBRE DE LA SEDE</strong></td>
        <td><strong>NRO DE ENCUESTADOS</strong></td>
        <td width="5%"></td>
    </tr>
    <?php foreach ($encuestaxsed as $value): ?>
        <tr>
            <td></td>
            <td align="left"><?= $value['nombre'] ?></td>
            <td align="left"><?= $value['encuesta_id'] ?></td>
            <td></td>
        </tr>
    <?php endforeach ?>

</table>
</body>
</html>