
<h2 class="ui header red dividing">
    <i class="warning circle icon"></i>
    <div class="content">
        Encuestas por realizar (<?=count($noencuesta)?>)
    </div>
</h2>

<table class="ui table compact">
    <tr>
        <td width="5%" height="20"></td>
        <td><strong>PROGRAMA</strong></td>
        <td><strong>ESTUDIANTE</strong></td>
        <td><strong>NRO DE IDENTIFICACION</strong></td>
        <td width="5%"></td>
    </tr>
    <?php $i=1; ?>
    <?php foreach ($noencuesta as $value): ?>
        <tr>
            <td><?=$i++?></td>
            <td align="left"><?= $value['programa'] ?></td>
            <td align="left"><?= $value['nombres'] ?></td>
            <td align="left"><?= $value['nro_ident'] ?></td>
            <td></td>
        </tr>
    <?php endforeach ?>
</table>
