<h2 class="ui header green dividing">
    <i class="list icon"></i>
    <div class="content">
        Encuestas realizadas
    </div>
</h2>

<table class="ui table compact">
   <tr>
        <td width="5%" height="20"></td>
        <td><strong>NOMBRES DEL ESTUDIANTE</strong></td>
        <td><strong>APELLIDOS</strong></td>
        <td><strong>NRO DE IDENTIFICACION</strong></td>
        <td><strong>PROGRAMA</strong></td>
        <td width="5%"></td>
   </tr>
    <?php foreach ($siencuesta as $value): ?>
        <tr>
            <td></td>
            <td align="left"><?= $value['nombres'] ?></td>
            <td align="left"><?= $value['apellidos'] ?></td>
            <td align="left"><?= $value['nro_ident'] ?></td>
            <td align="left"><?= $value['programa'] ?></td>
            <td></td>
        </tr>
    <?php endforeach ?>
</table>
