<style type="text/css">
    .container2 {
        padding: 10px;
        width: 100%;
        height: 400px;
        border: 1px solid #D8D8D8;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .floatLeft2 {
        width: 2000px;
        height: 400;
    }
</style>


<div class="ui green icon message">
    <div class="header green">
        Escoja el tipo de reporte
    </div>
</div>


<div class="ui three column grid">
    <div class="column">
    </div>

    <div class="column"  style="size: 250pt">

        <form class="ui form segment ver">
            <div class="field" align="center">
                <label>Tipo de estudio realizado</label>
                <input type="radio" id="tipo" name="tipo" value="1">Listado de egresados postgrado realizaron la encuesta<br>
                <input type="radio" id="tipo" name="tipo" value="2">Listado de egresados postgrado No realizaron la encuesta<br>
                <input type="radio" id="tipo" name="tipo" value="3">Numero de egresados postgrado realizaron la encuesta por Sede<br>
                <input type="radio" id="tipo" name="tipo" value="4">Indicadores egresados postgrado realizaron la encuesta
            </div>

            <div class="field center aligned">
                <div class="ui fluid green labeled icon button ver"><i class="search icon"></i> Ver reporte </div>
            </div>
            <div class="ui error message"></div>
        </form>

    </div>

    <div class="column">
    </div>

</div>

<script type="text/javascript">

    $('.ui.form.segment.ver').form({
        on: 'blur',
        fields: rules,
        onSuccess : function() {
            return false;
        },
    });

    $("input[name=tipo]").click(function () {
        valor = $(this).val();
        if ((valor=="1")) {

            $.fn.api.settings.api = {
                'encuestas-post-realizadas' : '<?php echo $this->url('home') ?>reportes/encuestas-post-realizadas',
            };

            buttonPostValidation('.ui.button.ver', 'encuestas-post-realizadas', '.ui.form.segment.ver', 'contenedor');
        }
        if ((valor=="2")){

            $.fn.api.settings.api = {
                'encuestas-post-no-realizadas' : '<?php echo $this->url('home') ?>reportes/encuestas-post-no-realizadas',
            };

            buttonPostValidation('.ui.button.ver', 'encuestas-post-no-realizadas', '.ui.form.segment.ver', 'contenedor');
        }
        if ((valor=="3")){

            $.fn.api.settings.api = {
                'encuestas-post-por-sedes' : '<?php echo $this->url('home') ?>reportes/encuestas-post-por-sedes',
            };

            buttonPostValidation('.ui.button.ver', 'encuestas-post-por-sedes', '.ui.form.segment.ver', 'contenedor');
        }
        if ((valor=="4")){

            $.fn.api.settings.api = {
                'encuestas-post-indicador' : '<?php echo $this->url('home') ?>reportes/encuestas-post-indicador',
            };

            buttonPostValidation('.ui.button.ver', 'encuestas-post-indicador', '.ui.form.segment.ver', 'contenedor');
        }
    });



    var rules = {

    };

</script>

<div id="contenedor-calcular"></div>