<html>
<head>
<style media="print">
    .noprint { display: none }
</style>
</head>
<body>
<table class="ui table compact">
    <div class="item">
            <h2 align="center"><i class="green"></i>UNIVERSIDAD DE CORDOBA</strong></h2>
    </div>
</table>
<br>
<table class="ui table compact">
    <div class="item">
            <h5 align="center"><i class="green"></i>Estudiantes que Realizaron la Encuesta</strong></h5>
    </div>
</table>
<br>
<table class="ui table compact">
   <tr>
        <td width="5%" height="20"></td>
        <td><strong>NOMBRES DEL ESTUDIANTE</strong></td>
        <td><strong>APELLIDOS</strong></td>
        <td><strong>NRO DE IDENTIFICACION</strong></td>
        <td><strong>PROGRAMA</strong></td>
        <td width="5%"></td>
   </tr>

   <?php foreach ($siencuesta as  $value): ?>
        <tr>
            <td></td>
            <td align="left"><?= $value['nombres']?></td>
            <td align="left"><?= $value['apellidos']?></td>
            <td align="left"><?= $value['nro_ident']?></td>
            <td align="left"><?= $value['programa']?></td>
            <td></td>
        </tr>
   <?php endforeach ?>

</table>
</body>
</html>