<html>
<head>
    <style media="print">
        .noprint { display: none }
    </style>
</head>
<body>
<table class="ui table compact">
    <div class="item">
            <h2 align="center"><i class="green"></i>UNIVERSIDAD DE CORDOBA</strong></h2>
    </div>
</table>
<br>
<table class="ui table compact">
    <div class="item">
            <h5 align="center"><i class="green"></i>Indicadores Estudiantes Realizaron la Encuesta</strong></h5>
    </div>
</table>
<br>
<table class="ui table compact">
    <?php
          $tot=0;
          foreach ($estudtrabaja as  $value):
            $tot=$tot+1;
          endforeach ?>
    <tr>
        <td width="5%"></td>
        <td><strong>¿Cuantos Egresados Trabajan Actualmente?</strong>&nbsp;&nbsp;<?= $tot ?> </td>
    </tr>
    <br>
    <?php
    $tot=0;
    foreach ($estudnotrabaja as  $value):
        $tot=$tot+1;
    endforeach ?>
    <tr>
        <td width="5%"></td>
        <td><strong>¿Cuantos Egresados NO Trabajan Actualmente?</strong>&nbsp;&nbsp;<?= $tot ?> </td>
    </tr>
    <br>
    <?php
    $tot=0;
    foreach ($estudotracarre as  $value):
        $tot=$tot+1;
    endforeach ?>
    <tr>
        <td width="5%"></td>
        <td><strong>¿Cuantos Egresados Estudiaron otra Carrera?</strong>&nbsp;&nbsp;<?= $tot ?> </td>
    </tr>
    <br>
    <?php
    $tot=0;
    foreach ($estudotracarresi as  $value):
        $tot=$tot+1;
    endforeach ?>
    <tr>
        <td width="5%"></td>
        <td><strong>¿Cuantos Egresados Estudiaron otra Carrera y la terminaron?</strong>&nbsp;&nbsp;<?= $tot ?> </td>
    </tr>
    <br>
    <?php
    $tot=0;
    foreach ($estudotracarreno as  $value):
        $tot=$tot+1;
    endforeach ?>
    <tr>
        <td width="5%"></td>
        <td><strong>¿Cuantos Egresados Estudiaron otra Carrera y NO la terminaron?</strong>&nbsp;&nbsp;<?= $tot ?> </td>
    </tr>
    <br>
    <?php
    $tot=0;
    foreach ($noestudotracarre as  $value):
        $tot=$tot+1;
    endforeach ?>
    <tr>
        <td width="5%"></td>
        <td><strong>¿Cuantos Egresados NO estudiaron otra Carrera?</strong>&nbsp;&nbsp;<?= $tot ?> </td>
    </tr>
</table>
</body>
</html>