<form class="ui form segment tiny forma" id="forma">
    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Información Personal</h2>
        </div>
    </div>
    <div class="three fields">
        <div class="field">
            <label style="font-size: 16px"><strong>Apellidos</strong></label>
            <?= $estudiante['apellidos'] ?>
        </div>
        <div class="field">
            <label style="font-size: 16px"><strong>Nombres</strong></label>
            <?= $estudiante['nombres'] ?>
        </div>
        <div class="field">
            <label style="font-size: 16px"><strong>Género</strong></label>
            <?= $estudiante['sexo'] ?>
        </div>
    </div>
    <div class="three fields">
        <div class="field">
            <label style="font-size: 16px"><strong>Tipo de Documento</strong></label>
            <select class="ui search dropdown tipodoc" id="tipodoc" name="tipodoc">
                <option value="CC" <?php if($estudiante['tipo_doc']=="CC"){?> selected <?php } ?> >Cedula de ciudadanía</option>
                <option value="CE" <?php if($estudiante['tipo_doc']=="CE"){?> selected <?php } ?> >Cedula de extranjería</option>
            </select>
        </div>
        <div class="field">
            <label style="font-size: 16px"><strong>Identificación</strong></label>
            <?= $estudiante['nro_ident'] ?>
        </div>
        <div class="field">
            <label style="font-size: 16px"><strong>Expedida en</strong></label>
            <?= $estudiante['ciudad_exped'] ?>
        </div>

    </div>
    <div class="three fields">
        <div class="field">
            <label style="font-size: 16px">Dirección residencial</label>
            <input type="text" id="dir_residencial" name="dir_residencial" maxlength="100"
                   placeholder="Calle y/o carrera, numero"
                   value="<?= $datosvig['direc_residen'] ?>">
        </div>

        <div class="five wide field">
            <label style="font-size: 16px">Pais de residencia</label>
            <select class="ui search dropdown paisres" id="paisres" name="paisres">
                <option value="">Seleccionar el pais...</option>
                <?php foreach ($pais as $listpaises) { ?>
                    <option value="<?= $listpaises['Codigo'] ?>"> <?= $listpaises['Pais'] ?></option>
                <?php } ?>
            </select>
        </div>

        <div class="five wide field">
            <label style="font-size: 16px">Ciudad de residencia</label>
            <select class="ui search dropdown ciudres" id="ciudres" name="ciudres">
                <?php foreach ($ciudad as $listaciudad) { ?>
                    <option value="<?= $listaciudad['id'] ?>"> <?= $listaciudad['ciudad'] ?></option>
                <?php } ?>
            </select>
        </div>

    </div>

    <div class="three fields">
        <div class="field">
            <label style="font-size: 16px">E-mail</label>
            <input type="email" id="remailestud" name="remailestud" maxlength="100" placeholder="ejemplo@um.es"
                   value="<?= $datosvig['email'] ?>"/>
        </div>
        <div class="field">
            <label style="font-size: 16px">Teléfono(s)</label>
            <input type="text" id="rcelestud" name="rcelestud" maxlength="30" value="<?= $datosvig['celular'] ?>"/>
        </div>
        <div class="field">
            <label style="font-size: 16px"><strong>Fecha de nacimiento</strong></label>
            <input type="date" placeholder="AAAA-MM-DD" id="fec_nacim" name="fec_nacim" onblur="Verifica();"
                   value="<?= $estudiante['fec_nacimiento'] ?>" maxlength="10"/>
        </div>
    </div>
    <div class="three fields">
        <div class="five wide field">
            <label style="font-size: 16px">Pais de nacimiento</label>
            <select class="ui search dropdown paisnac" id="paisnac" name="paisnac">
                <option value="">Seleccionar el pais...</option>
                <?php foreach ($paisnac as $listpaisnac) { ?>
                    <option value="<?= $listpaisnac['Codigo'] ?>"> <?= $listpaisnac['Pais'] ?></option>
                <?php } ?>
            </select>
        </div>

        <div class="five wide field">
            <label style="font-size: 16px">Ciudad de nacimiento</label>
            <select class="ui search dropdown ciudnac" id="ciudnac" name="ciudnac">
                <?php foreach ($ciudadnac as $listaciudadnac) { ?>
                    <option value="<?= $listaciudadnac['id'] ?>"> <?= $listaciudadnac['ciudad'] ?></option>
                <?php } ?>
            </select>
        </div>
        <div class="three wide field">
            <label style="font-size: 16px">Estado civil</label>
            <select class="ui search dropdown est_civil" id="est_civil" name="est_civil">
                <?php foreach ($estcivil as $listaestcivil) { ?>
                    <option value="<?= $listaestcivil['id'] ?>"> <?= $listaestcivil['nom_estado'] ?></option>
                <?php } ?>
            </select>
        </div>
    </div>

    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Información Académica </h2>
        </div>
    </div>

    <div class="fields">
        <div class="ten wide field">
            <label style="font-size: 16px">Titulo Obtenido</label>
            <select class="ui search dropdown titulo" id="titulo" name="titulo">
                <option value=0 selected>Seleccione...</option>
                <?php foreach ($estudios as $btitulo) { ?>
                    <option value="<?= $btitulo['id'] ?>"> <?= $btitulo['titulo_obtenido'] ?></option>
                <?php } ?>
            </select>
        </div>
        <div class="seven wide field">
            <label style="font-size: 16px">Nivel Académico</label>
            <select class="ui search dropdown nivelacad" id="nivelacad" name="nivelacad">
                <option value="Tecnologico">Tecnológico</option>
                <option value="Profesional">Profesional</option>
                <option value="Especializacion">Especialización</option>
                <option value="Maestria">Maestría</option>
                <option value="Doctorado">Doctorado</option>
            </select>
        </div>
    </div>
    <div class="fields">
        <div class="ten wide field">
            <label style="font-size: 16px">Institución</label>
            <select class="ui search dropdown iduniversidad" id="iduniversidad" name="iduniversidad">
                <option value=0 selected>Seleccione...</option>
                <?php foreach ($universidades as $value) { ?>
                    <option value="<?= $value['id'] ?>"> <?= $value['nombre'] ?></option>
                <?php } ?>
            </select>
        </div>
        <div class="five wide field">
            <label style="font-size: 16px">Año de Graduación</label>
            <input type="text" id="anogrado" name="anogrado" maxlength="4">
        </div>
    </div>
    <br>
    <div class="ui button green" onclick="agregar_estudios();">
        Agregar Inf. Académica
    </div>
    <br>
    <div class="table-responsive">
        <table class="ui fixed single line celled table" style="margin:0;" border="1px">
            <thead>
            <tr>
                <th>Título obtenido</th>
                <th>Nivel académico</th>
                <th>Institución</th>
                <th>Año de graduación</th>
                <th>Acción</th>
            </tr>
            </thead>
            <tbody id="testudios">
            <?php foreach ($titulosactualiza as $value): ?>
                <tr>
                    <td width="15%"><?= $value['titulo_obtenido'] ?></td>
                    <td width="25%"><?= utf8_decode($value['nivel_acade']) ?></td>
                    <td width="25%"><?= utf8_decode($value['nombre']) ?></td>
                    <td width="10%"><?= utf8_decode($value['ano_grado']) ?></td>
                    <!--<td><input type='button' id='quitar' name='quitar' value='Eliminar'
                               style='color: white;
                           background-color: #1aa62a' ></td>-->
                </tr>
            <?php endforeach;?>
            </tbody>
        </table>
    </div>

    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Información Ocupacional/Laboral Actual </h2>
        </div>
    </div>

    <div class="fields">
        <div class="two wide field">
            <label style="font-size: 16px">Empleado</label>
            <div class="ui slider checkbox">
                <input type="checkbox" tabindex="0" id="empleado" name="empleado" value="on"
                    <?php if (!empty($datosvig['empleado'])) {
                        echo "checked";
                    } ?>>
                <label></label>
            </div>
        </div>
        <div class="two wide field">
            <label style="font-size: 16px">Empresario</label>
            <div class="ui slider checkbox">
                <input type="checkbox" tabindex="0" id="empresario" name="empresario" value="on"
                    <?php if (!empty($datosvig['empresario'])) {
                        echo "checked";
                    } ?>>
                <label></label>
            </div>
        </div>
        <div class="two wide field">
            <label style="font-size: 16px">Pensionado</label>
            <div class="ui slider checkbox">
                <input type="checkbox" tabindex="0" id="pensionado" name="pensionado" value="on"
                    <?php if (!empty($datosvig['pensionado'])) {
                        echo "checked";
                    } ?>>
                <label></label>
            </div>
        </div>
        <div class="two wide field">
            <label style="font-size: 16px">Estudiante</label>
            <div class="ui slider checkbox">
                <input type="checkbox" tabindex="0" id="estudiante" name="estudiante" value="on"
                    <?php if (!empty($datosvig['estudiante'])) {
                        echo "checked";
                    } ?>>
                <label></label>
            </div>
        </div>
        <div class="two wide field">
            <label style="font-size: 16px">desempleado</label>
            <div class="ui slider checkbox">
                <input type="checkbox" tabindex="0" id="desempleado" name="desempleado" value="on"
                    <?php if (!empty($datosvig['desempleado'])) {
                        echo "checked";
                    } ?>>
                <label></label>
            </div>
        </div>
    </div>
    <div class="fields">
        <div class="six wide field">
            <label style="font-size: 16px">Nombre Empresa o negocio donde trabaja</label>
            <input type="text" id="nombre_empresa" name="nombre_empresa" maxlength="100"
                   value="<?= $datosvig['nom_empresa'] ?>"/>
        </div>
        <div class="seven wide field">
            <label style="font-size: 16px">Actividad Económica</label>
            <input type="text" id="act_economica" name="act_economica" maxlength="150"
                   value="<?= $datosvig['actecoemplabora'] ?>"/>
        </div>
        <!--<div class="seven wide field">
            <label style="font-size: 16px">Actividad Económica</label>
            <select class="ui search dropdown act_economica" id="act_economica" name="act_economica">
                <option value="">Seleccione una opción</option>
                <?php foreach ($act_economica as $listactividades) { ?>
                    <option value="<?= $listactividades['id'] ?>"> <?= $listactividades['descrip_actividad'] ?></option>
                <?php } ?>
            </select>
        </div>-->
        <div class="one wide field">
            <label style="font-size: 16px">Sector</label>
            <select class="ui search dropdown sector" id="sector" name="sector">
                <option value="">Elija una opción</option>
                <option value="Publico" <?php if ($datosvig['sector']=='Publico'){?> selected <?php } ?>>Publico</option>
                <option value="Privado" <?php if ($datosvig['sector']=='Privado'){?> selected <?php } ?>>Privado</option>
                <option value="Mixto" <?php if ($datosvig['sector']=='Mixto'){?> selected <?php } ?>>Mixto</option>
            </select>
        </div>
    </div>
    <div class="fields">
        <div class="five wide field">
            <label style="font-size: 16px">Direccion de la empresa</label>
            <input type="text" name="direc_emp_trab" id="direc_emp_trab" maxlength="100"
                   placeholder="Calle y/o carrera, numero" value="<?= $datosvig['dir_empresa'] ?>"/>
        </div>
        <div class="five wide field">
            <label style="font-size: 16px">Pais donde labora</label>
            <select class="ui search dropdown paislab" id="paislab" name="paislab">
                <option value="">Seleccionar el pais...</option>
                <?php foreach ($pais2 as $listpaises2) { ?>
                    <option value="<?= $listpaises2['Codigo'] ?>"> <?= $listpaises2['Pais'] ?></option>
                <?php } ?>
            </select>
        </div>

        <div class="five wide field">
            <label style="font-size: 16px">Ciudad donde labora</label>
            <select class="ui search dropdown ciudlab" id="ciudlab" name="ciudlab">
                <?php foreach ($ciudad2 as $listaciudad2) { ?>
                    <option value="<?= $listaciudad2['id'] ?>"> <?= $listaciudad2['ciudad'] ?></option>
                <?php } ?>
            </select>
        </div>
    </div>

    <div class="fields">
        <div class="seven wide field">
            <label style="font-size: 16px">Cargo</label>
            <input type="text" name="cargo_trab" id="cargo_trab" maxlength="100"
                   value="<?= $datosvig['cargo_empresa'] ?>"/>
        </div>
        <div class="four wide field">
            <label style="font-size: 16px">Labora en su área(Si/No)</label>
            <select class="ui search dropdown sectprof" id="sectprof" name="sectprof">
                <option value="">Elija una opción</option>
                <option value="SI" <?php if ($datosvig['trabsectprofe']=='SI'){?> selected <?php } ?>>SI</option>
                <option value="NO" <?php if ($datosvig['trabsectprofe']=='NO'){?> selected <?php } ?>>NO</option>
            </select>
        </div>
        <div class="four wide field" id="area_espec" style="display: none">
            <label style="font-size: 16px">En qué área de trabajo se encuentra</label>
            <select class="ui search dropdown areaespecif" id="areaespecif" name="areaespecif">
                <option value="">Elija una opción</option>
                <option value="N/A">No aplica</option>
                <option value="Educacion Fisica">Educación Física</option>
                <option value="Deporte">Deporte</option>
                <option value="Recreación">Recreación</option>
                <option value="Actividad Fisica">Actividad Física</option>
            </select>
        </div>
    </div>
    <div class="fields">
        <div class="four wide field" id="pobla_benef" style="display: none">
            <label style="font-size: 16px">Describa a que población beneficia</label>
            <select class="ui search dropdown poblabenef" id="poblabenef" name="poblabenef">
                <option value="">Elija una opción</option>
                <option value="N/A">No aplica</option>
                <option value="Niños y niñas">Niños y niñas</option>
                <option value="Deportista de Alto Logro">Deportista de Alto Logro</option>
                <option value="Adulto Mayor">Adulto Mayor</option>
                <option value="Comunidad Vulnerable">Comunidad Vulnerable</option>
                <option value="Comunidad Afro">Comunidad Afro</option>
                <option value="Comunidad Indigena">Comunidad Indigena</option>
                <option value="Comunidad Discapacitada">Comunidad Discapacitada</option>
                <option value="Otro-cual">Otro-cual</option>
            </select>
        </div>
        <div class="four wide field" id="otro_cual" style="display: none">
            <label style="font-size: 16px">Otro-cual</label>
            <input type="text" name="otrocualdpte" id="otrocualdpte" maxlength="100""/>
        </div>
        <div class="five wide field">
            <label style="font-size: 16px">Ingresos mensuales</label>
            <select class="ui search dropdown ingmensual" id="ingmensual" name="ingmensual">
                <option value=0>Seleccione...</option>
                <?php foreach ($ingresosm as $listaingmen) { ?>
                    <option value="<?= $listaingmen['id'] ?>"> <?= $listaingmen['descrip_ingreso'] ?></option>
                <?php } ?>
            </select>
        </div>
        <div class="four wide field">
            <label style="font-size: 16px">Tiempo de vinculación</label>
            <input type="text" name="tiempovinc" id="tiempovinc" maxlength="25"
                   value="<?= $datosvig['tiempo_vinculacion'] ?>"/>
        </div>
    </div>

    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Reconocimientos Académicos, Profesionales y/o Sociales </h2>
        </div>
    </div>

    <div class="fields">
        <div class="three wide field">
            <label style="font-size: 16px">Ha tenido algún reconocimiento</label>
            <select class="ui search dropdown tienerecono" id="tienerecono" name="tienerecono">
                <option value="" selected>Seleccione una opción</option>
                <option value="SI" <?php if ($datosvig['reconocimiento']=='SI'){?>selected <?php } ?>>SI</option>
                <option value="NO" <?php if ($datosvig['reconocimiento']=='NO'){?> selected <?php } ?>>NO</option>
            </select>
        </div>
        <div class="three wide field">
            <label style="font-size: 16px">Tipo de reconocimiento</label>
            <select class="ui search dropdown tporecono" id="tporecono" name="tporecono">
                <option value="--" selected>Seleccione una opción</option>
                <option value="Academico" <?php if ($datosvig['tipo_reconoc']=='Academico'){?> selected <?php } ?>>Académico</option>
                <option value="Profesional" <?php if ($datosvig['tipo_reconoc']=='Profesional'){?> selected <?php } ?>>Profesional</option>
                <option value="Social" <?php if ($datosvig['tipo_reconoc']=='Social'){?> selected <?php } ?>>Social</option>
            </select>
        </div>
        <div class="ten wide field">
            <label style="font-size: 16px">Descripción del reconocimiento</label>
            <input type="text" name="descriprecono" id="descriprecono" maxlength="200"
                   value="<?= $datosvig['descrip_reconoc'] ?>"/>
        </div>
    </div>
    <div class="fields">
        <div class="twelve wide field">
            <label style="font-size: 16px">Institución que realizó el reconocimiento</label>
            <input type="text" name="instrecono" id="instrecono" maxlength="150"
                   value="<?= $datosvig['inst_reconocimiento'] ?>"/>
        </div>
        <div class="five wide field">
            <label style="font-size: 16px">Año en el cual obtuvo el reconocimiento</label>
            <input type="text" name="anorecono" id="anorecono" maxlength="4"
                   value="<?= $datosvig['ano_reconoc'] ?>"/>
        </div>
    </div>

    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Pregunta Académica </h2>
        </div>
    </div>

    <div class="fields">
        <div class="twelve wide field">
            <p>De acuerdo con su experiencia en el mercado laboral y como graduado de la Universidad de Córdoba
                usted cree que su programa académico debe :</p>
            <label style="font-size: 16px">mejorar:</label>
            <div class="twelve wide field">
                <select class="ui search dropdown mejorar" id="mejorar" name="mejorar">
                    <option value="0" selected>Elija una opción</option>
                    <?php foreach ($respuestas as $listaresp) { ?>
                        <option value="<?= $listaresp['id_respuesta'] ?>"
                            <?php if ($datosvig['id_prog_mejorar'] == $listaresp['id_respuesta']) { ?> selected <?php } ?>>
                            <?= utf8_decode($listaresp['descrip_respuesta']) ?></option>
                    <?php } ?>
                </select>
            </div>
            <label style="font-size: 16px"> y tiene como Fortaleza:</label>
            <div class="twelve wide field">
                <select class="ui search dropdown fortaleza" id="fortaleza" name="fortaleza">
                    <?php foreach ($respuestas1 as $listaresp1) { ?>
                        <option value="<?= $listaresp1['id_respuesta'] ?>">
                            <?= utf8_decode($listaresp1['descrip_respuesta']) ?></option>
                    <?php } ?>
                </select>
            </div>
        </div>

    </div>

    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Necesidades de Capacitación </h2>
        </div>
    </div>

    <div class="fields">
        <div class="two wide field">
            <label style="font-size: 16px">Especialización</label>
            <div class="ui slider checkbox">
                <input type="checkbox" tabindex="0" id="especiali" name="especiali" value="on"
                    <?php if (!empty($datosvig['ncapac_espec'])) {
                        echo "checked";
                    } ?>>
                <label></label>
            </div>
        </div>
        <div class="two wide field">
            <label style="font-size: 16px">Maestría</label>
            <div class="ui slider checkbox">
                <input type="checkbox" tabindex="0" id="maestria" name="maestria" value="on"
                    <?php if (!empty($datosvig['ncapac_mestria'])) {
                        echo "checked";
                    } ?>>
                <label></label>
            </div>
        </div>
        <div class="two wide field">
            <label style="font-size: 16px">Doctorado</label>
            <div class="ui slider checkbox">
                <input type="checkbox" tabindex="0" id="doctorado" name="doctorado" value="on"
                    <?php if (!empty($datosvig['ncapac_docto'])) {
                        echo "checked";
                    } ?>>
                <label></label>
            </div>
        </div>
        <div class="two wide field">
            <label style="font-size: 16px">Diplomado</label>
            <div class="ui slider checkbox">
                <input type="checkbox" tabindex="0" id="diplomado" name="diplomado" value="on" checked="checked"
                    <?php if (!empty($datosvig['ncapac_diploma'])) {
                        echo "checked";
                    } ?>>
                <label></label>
            </div>
        </div>
        <div class="ten wide field">
            <label style="font-size: 16px">Tema</label>
            <input type="text" id="tema" name="tema" value="<?= $datosvig['ncapac_tema'] ?>" maxlength="200">
        </div>
    </div>

    <!--<div class="fields">
        <div class="ui checkbox">
            <input type="checkbox" tabindex="0" id="aceptacion" name="aceptacion" checked="checked">
            <label></label>
        </div>
        <label><strong>La UNIVERSIDAD DE CÓRDOBA, como Institución de educación superior, de carácter público nacional;
                dando cumplimiento a lo preceptuado por la Ley 1581 de 2012, reglamentada parcialmente por el Decreto 1377 de 2013,
                donde se fundamenta el principio que tienen las personas a conocer, actualizar y rectificar la información
                que se haya recogido sobre ellas en bases de datos o archivos y como responsable del tratamiento de datos personales;
                informa que previo a la fecha de expedición del Decreto mencionado, ha recolectado sus datos personales,
                requeridos para el cumplimiento de la misión educativa institucional de formación, investigación y extensión
                y para el desarrollo de sus  funciones como institución universitaria. Por lo expuesto la UNIVERSIDAD DE CÓRDOBA,
                teniendo en cuenta lo dispuesto en la citada Ley y Decreto, está autorizada para conservar y utilizar toda su
                información en el ejercicio de su actividad misional y operativa, a no ser que usted manifieste lo contrario de
                manera directa, y por escrito, dentro de los treinta (30) días hábiles contados a partir de la recepción del presente
                comunicado, a la dirección de correo dispuesta para este fin: protecciondedatos@correo.unicordoba.edu.co</strong></label>
    </div>-->

    <input type="hidden" id="aceptacion" name="aceptacion" value="on">
    <input type="hidden" id="vmej" name="vmej" value="<?=$datosvig['id_prog_mejorar']?>">
    <input type="hidden" id="vfor" name="vfor" value="<?=$datosvig['id_prog_fortaleza']?>">
    <input type="hidden" id="id_estudiante" name="id_estudiante" value="<?= $estudiante['id'] ?>">
    <input type="hidden" id="id_evento" name="id_evento" value="<?= $idevento ?>">
    <input type="hidden" id="ctrl" name="ctrl">
    <input type="hidden" id="Cnt" name="Cnt">
    <input type="hidden" id="estudyaactua" name="estudyaactua" value="<?=count($titulosactualiza)?>">

    <div class="ui error message"></div>

    <button class="ui button green estudiante">
        Realizar Inscripción
    </button>

</form>

<div class="ui modal" id="modalmensaje">
    <div class="header" style="background:#04B404; color: white;">Advertencia</div>
    <div class="content">
        <p id="modalcontenido"></p>
    </div>
    <div class="actions">
        <div class="ui approve button" style="background:#04B404;color: white;">Aceptar</div>
    </div>
</div>

<script type="text/javascript">

    $('.ui.dropdown').dropdown();

    $(document).ready(function() {
        $("#ctrl").val(0);

        if ($("#empleado").is(':checked')) {
            //alert("si");
            $("#nombre_empresa").prop("disabled","");
            $("#act_economica").prop("disabled","");
            //$(".ui.dropdown.search.act_economica").removeClass("disabled","");
            $(".ui.dropdown.search.sector").removeClass("disabled","");
            $("#direc_emp_trab").prop("disabled","");
            $(".ui.dropdown.search.paislab").removeClass("disabled","");
            $(".ui.dropdown.search.ciudlab").removeClass("disabled","");
            $("#cargo_trab").prop("disabled","");
            $(".ui.dropdown.search.sectprof").removeClass("disabled","");
            $(".ui.dropdown.search.ingmensual").removeClass("disabled","");
            $("#tiempovinc").prop("disabled","");
        }else{
            if ($("#empresario").is(':checked')) {
                $("#nombre_empresa").prop("disabled","");
                $("#act_economica").prop("disabled","");
                //$(".ui.dropdown.search.act_economica").removeClass("disabled","");
                $(".ui.dropdown.search.sector").removeClass("disabled","");
                $("#direc_emp_trab").prop("disabled","");
                $(".ui.dropdown.search.paislab").removeClass("disabled","");
                $(".ui.dropdown.search.ciudlab").removeClass("disabled","");
                $("#cargo_trab").prop("disabled","");
                $(".ui.dropdown.search.sectprof").removeClass("disabled","");
                $(".ui.dropdown.search.ingmensual").removeClass("disabled","");
                $("#tiempovinc").prop("disabled","");
            }else{
                $("#nombre_empresa").prop("disabled","disabled");
                $("#act_economica").prop("disabled","disabled");
                //$(".ui.dropdown.search.act_economica").addClass('disabled');
                $(".ui.dropdown.search.sector").addClass('disabled');
                $("#direc_emp_trab").prop("disabled","disabled");
                $(".ui.dropdown.search.paislab").addClass('disabled');
                $(".ui.dropdown.search.ciudlab").addClass('disabled');
                $("#cargo_trab").prop("disabled","disabled");
                $(".ui.dropdown.search.sectprof").addClass('disabled');
                $(".ui.dropdown.search.ingmensual").addClass('disabled');
                $("#tiempovinc").prop("disabled","disabled");
            }
        }

        $(".ui.dropdown.search.tporecono").addClass('disabled');
        var recono = $("#tienerecono").val();
        if (recono == 'SI') {
            $(".ui.dropdown.search.tporecono").removeClass("disabled","");
            $("#descriprecono").prop("disabled", "");
            $("#instrecono").prop("disabled", "");
            $("#anorecono").prop("disabled", "");
        } else {
            if (recono == 'NO') {
                $(".ui.dropdown.search.tporecono").addClass('disabled');
                $("#descriprecono").prop("disabled", "disabled");
                $("#instrecono").prop("disabled", "disabled");
                $("#anorecono").prop("disabled", "disabled");
            }
        }

        var mej=$("#vmej").val();
        var fort=$("#vfor").val();
        if (mej!=0){
            $(".ui.dropdown.search.mejorar").addClass('disabled');
            if (fort!=0){
                $(".ui.dropdown.search.fortaleza").addClass('disabled');
            }
        }
    });

    function Verifica() {
        var fecnac=$('#fec_nacim').val();
        var hoy = new Date();
        var cumpleanos = new Date(fecnac);
        var edad = hoy.getFullYear() - cumpleanos.getFullYear();
        var m = hoy.getMonth() - cumpleanos.getMonth();

        if (m < 0 || (m === 0 && hoy.getDate() < cumpleanos.getDate())) {
            edad--;
        }

        if (edad < 18){
            $('#modalcontenido').html("Por favor verificar fecha de nacimiento...!");
            $('#modalmensaje').modal('show');
            $('#fec_nacim').focus();
        }
    }

    $('.ui.search.dropdown.paisnac').dropdown('set selected', "<?=$datosvig['pais_nacim']?>");
    $('.ui.search.dropdown.ciudnac').dropdown('set selected',<?=$datosvig['ciud_nacim']?>);

    $('.ui.search.dropdown.est_civil').dropdown('set selected', <?= $datosvig['id_estad_civil'] ?>);
    //$('.ui.search.dropdown.act_economica').dropdown('set selected', "<?= $datosvig['id_acteconomica'] ?>");
    $('.ui.search.dropdown.sector').dropdown('set selected', "<?= $datosvig['sector'] ?>");
    $('.ui.search.dropdown.ingmensual').dropdown('set selected', "<?= $datosvig['id_ingresos_mens'] ?>");

    $('.ui.search.dropdown.paisres').dropdown('set selected', "<?=$datosvig['pais_res']?>");
    $('.ui.search.dropdown.ciudres').dropdown('set selected',<?=$datosvig['ciud_res']?>);

    $('.ui.search.dropdown.paislab').dropdown('set selected', "<?=$datosvig['pais_lab']?>");
    $('.ui.search.dropdown.ciudlab').dropdown('set selected',<?=$datosvig['ciud_lab']?>);

    $('.ui.search.dropdown.mejorar').dropdown('set selected',<?=$datosvig['id_prog_mejorar']?>);
    $('.ui.search.dropdown.fortaleza').dropdown('set selected',<?=$datosvig['id_prog_fortaleza']?>);

    $("#mejorar").on('change',function () {
        var idmejorar=$("#mejorar").val();
        ajaxGet('<?php echo $this->url('home') ?>actualizar/fortaleza/'+idmejorar,'fortaleza');
    });

    $("#paisnac").on('change',function () {
        var codpais=$("#paisnac").val();
        ajaxGet('<?php echo $this->url('home') ?>actualizar/ciudades/'+codpais,'ciudnac');
    });

    $("#paisres").on('change',function () {
        var codpais=$("#paisres").val();
        ajaxGet('<?php echo $this->url('home') ?>actualizar/ciudades/'+codpais,'ciudres');
    });

    $("#paislab").on('change',function () {
        var codpais=$("#paislab").val();
        ajaxGet('<?php echo $this->url('home') ?>actualizar/ciudades/'+codpais,'ciudlab');
    });

    $('#empleado').click(function() {
        if ($(this).is(':checked')) {
            $("#empresario").prop("checked", false);
            $("#pensionado").prop("checked", false);
            $("#estudiante").prop("checked", false);
            $("#desempleado").prop("checked", false);
            $("#nombre_empresa").prop("disabled","");
            $("#act_economica").prop("disabled","");
            //$(".ui.dropdown.search.act_economica").removeClass("disabled","");
            $(".ui.dropdown.search.sector").removeClass("disabled","");
            $("#direc_emp_trab").prop("disabled","");
            $(".ui.dropdown.search.paislab").removeClass("disabled","");
            $(".ui.dropdown.search.ciudlab").removeClass("disabled","");
            $("#cargo_trab").prop("disabled","");
            $(".ui.dropdown.search.sectprof").removeClass("disabled","");
            $(".ui.dropdown.search.ingmensual").removeClass("disabled","");
            $("#tiempovinc").prop("disabled","");
        }else {
            $("#nombre_empresa").prop("disabled","disabled");
            $("#act_economica").prop("disabled","disabled");
            //$(".ui.dropdown.search.act_economica").addClass('disabled');
            $(".ui.dropdown.search.sector").addClass('disabled');
            $("#direc_emp_trab").prop("disabled","disabled");
            $(".ui.dropdown.search.paislab").addClass('disabled');
            $(".ui.dropdown.search.ciudlab").addClass('disabled');
            $("#cargo_trab").prop("disabled","disabled");
            $(".ui.dropdown.search.sectprof").addClass('disabled');
            $(".ui.dropdown.search.ingmensual").addClass('disabled');
            $("#tiempovinc").prop("disabled","disabled");
        }
    });

    $('#empresario').click(function() {
        if ($(this).is(':checked')) {
            $("#empleado").prop("checked", false);
            $("#pensionado").prop("checked", false);
            $("#estudiante").prop("checked", false);
            $("#desempleado").prop("checked", false);
            $("#nombre_empresa").prop("disabled","");
            $("#act_economica").prop("disabled","");
            //$(".ui.dropdown.search.act_economica").removeClass("disabled","");
            $(".ui.dropdown.search.sector").removeClass("disabled","");
            $("#direc_emp_trab").prop("disabled","");
            $(".ui.dropdown.search.paislab").removeClass("disabled","");
            $(".ui.dropdown.search.ciudlab").removeClass("disabled","");
            $("#cargo_trab").prop("disabled","");
            $(".ui.dropdown.search.sectprof").removeClass("disabled","");
            $(".ui.dropdown.search.ingmensual").removeClass("disabled","");
            $("#tiempovinc").prop("disabled","");
        }else {
            $("#nombre_empresa").prop("disabled","disabled");
            $("#act_economica").prop("disabled","disabled");
            //$(".ui.dropdown.search.act_economica").addClass('disabled');
            $(".ui.dropdown.search.sector").addClass('disabled');
            $("#direc_emp_trab").prop("disabled","disabled");
            $(".ui.dropdown.search.paislab").addClass('disabled');
            $(".ui.dropdown.search.ciudlab").addClass('disabled');
            $("#cargo_trab").prop("disabled","disabled");
            $(".ui.dropdown.search.sectprof").addClass('disabled');
            $(".ui.dropdown.search.ingmensual").addClass('disabled');
            $("#tiempovinc").prop("disabled","disabled");
        }
    });

    $('#pensionado').click(function() {
        if ($(this).is(':checked')) {
            $("#empleado").prop("checked", false);
            $("#empresario").prop("checked", false);
            $("#estudiante").prop("checked", false);
            $("#desempleado").prop("checked", false);
            $("#nombre_empresa").prop("disabled","disabled");
            $("#act_economica").prop("disabled","disabled");
            //$(".ui.dropdown.search.act_economica").addClass('disabled');
            $(".ui.dropdown.search.sector").addClass('disabled');
            $("#direc_emp_trab").prop("disabled","disabled");
            $(".ui.dropdown.search.paislab").addClass('disabled');
            $(".ui.dropdown.search.ciudlab").addClass('disabled');
            $("#cargo_trab").prop("disabled","disabled");
            $(".ui.dropdown.search.sectprof").addClass('disabled');
            $(".ui.dropdown.search.ingmensual").addClass('disabled');
            $("#tiempovinc").prop("disabled","disabled");
        }
    });

    $('#estudiante').click(function() {
        if ($(this).is(':checked')) {
            $("#empleado").prop("checked", false);
            $("#empresario").prop("checked", false);
            $("#pensionado").prop("checked", false);
            $("#desempleado").prop("checked", false);
            $("#nombre_empresa").prop("disabled","disabled");
            $("#act_economica").prop("disabled","disabled");
            //$(".ui.dropdown.search.act_economica").addClass('disabled');
            $(".ui.dropdown.search.sector").addClass('disabled');
            $("#direc_emp_trab").prop("disabled","disabled");
            $(".ui.dropdown.search.paislab").addClass('disabled');
            $(".ui.dropdown.search.ciudlab").addClass('disabled');
            $("#cargo_trab").prop("disabled","disabled");
            $(".ui.dropdown.search.sectprof").addClass('disabled');
            $(".ui.dropdown.search.ingmensual").addClass('disabled');
            $("#tiempovinc").prop("disabled","disabled");
        }
    });

    $('#desempleado').click(function() {
        if ($(this).is(':checked')) {
            $("#empleado").prop("checked", false);
            $("#empresario").prop("checked", false);
            $("#pensionado").prop("checked", false);
            $("#estudiante").prop("checked", false);
            $("#nombre_empresa").prop("disabled","disabled");
            $("#act_economica").prop("disabled","disabled");
            //$(".ui.dropdown.search.act_economica").addClass('disabled');
            $(".ui.dropdown.search.sector").addClass('disabled');
            $("#direc_emp_trab").prop("disabled","disabled");
            $(".ui.dropdown.search.paislab").addClass('disabled');
            $(".ui.dropdown.search.ciudlab").addClass('disabled');
            $("#cargo_trab").prop("disabled","disabled");
            $(".ui.dropdown.search.sectprof").addClass('disabled');
            $(".ui.dropdown.search.ingmensual").addClass('disabled');
            $("#tiempovinc").prop("disabled","disabled");
        }
    });

    $("#sectprof").on('change', function () {
        var vlrsectprof = $("#sectprof").val();
        if (vlrsectprof=='SI'){
            //$("#area_espec").show();
            //$("#pobla_benef").show();
        }else{
            $("#area_espec").hide();
            $("#pobla_benef").hide();
        }
    });

    $("#poblabenef").on('change', function () {
        var vlrpoblabenef = $("#poblabenef").val();
        if (vlrpoblabenef == 'Otro-cual'){
            $("#otro_cual").show();
        }else{
            $("#otro_cual").hide();
        }
    });
    /*********/
    $("#tienerecono").on('change',function () {
        var recono = $("#tienerecono").val();
        if (recono == 'SI') {
            $(".ui.dropdown.search.tporecono").removeClass("disabled","");
            $("#descriprecono").prop("disabled","");
            $("#instrecono").prop("disabled","");
            $("#anorecono").prop("disabled","");
        } else {
            if (recono == 'NO') {
                $(".ui.dropdown.search.tporecono").addClass("disabled");
                $("#descriprecono").prop("disabled","disabled");
                $("#instrecono").prop("disabled","disabled");
                $("#anorecono").prop("disabled","disabled");
            }
        }
    });
    /*********/
    $('#especiali').click(function() {
        if ($(this).is(':checked')) {
            $("#maestria").prop("checked", false);
            $("#doctorado").prop("checked", false);
            $("#diplomado").prop("checked", false);
        }
    });

    $('#maestria').click(function() {
        if ($(this).is(':checked')) {
            $("#especiali").prop("checked", false);
            $("#doctorado").prop("checked", false);
            $("#diplomado").prop("checked", false);
        }
    });

    $('#doctorado').click(function() {
        if ($(this).is(':checked')) {
            $("#especiali").prop("checked", false);
            $("#maestria").prop("checked", false);
            $("#diplomado").prop("checked", false);
        }
    });

    $('#diplomado').click(function() {
        if ($(this).is(':checked')) {
            $("#especiali").prop("checked", false);
            $("#maestria").prop("checked", false);
            $("#doctorado").prop("checked", false);
        }
    });
    /********/

    /*Adiciona a la tabla estudios realizados*/
    var Cnt=0;
    var Ind=0;
    function agregar_estudios() {
        console.log(Cnt);
        var actrl = $("#ctrl").val();
        console.log(actrl);
        actrl++;
        console.log(actrl);
        var titulo = $("#titulo").val();
        var nivelaca= $("#nivelacad").val();
        var iduniversidad= $("#iduniversidad").val();
        var anogrado= $("#anogrado").val();

        if (titulo==0 || titulo=="" || nivelaca=="" || iduniversidad=="" || iduniversidad==0 ||
            anogrado=="" || anogrado==0){
            $('#modalcontenido').html("Debe ingresar todos los datos de los Estudios realizados...!");
            $('#modalmensaje').modal('show');
        }else{
            var i=0;
            var s=0;
            while (i < Ind) {
                if(document.forms['forma']['titulo'+i]){
                    if(document.forms['forma']['titulo'+i].value==titulo){
                        s=1;
                    }
                }
                i++;
            }
            if(s==0){
                var k=document.forms['forma']['titulo'].selectedIndex;
                var l=document.forms['forma']['iduniversidad'].selectedIndex;
                myNewRow=document.getElementById("testudios").insertRow(-1);
                myNewRow.id=Ind;
                myNewCell=myNewRow.insertCell(-1);
                myNewCell.innerHTML="<td align='center'>&nbsp;"+ document.forms['forma']['titulo'].options[k].text + "<input type='hidden' id='titulo"+Ind+"' name='titulo"+Ind+"' value='"+titulo+"'></td>";
                myNewCell=myNewRow.insertCell(-1);
                myNewCell.innerHTML="<td align='center'>&nbsp;"+nivelaca+"&nbsp;<input type='hidden' id='nivelacad"+Ind+"' name='nivelacad"+Ind+"' value='"+nivelaca+"'></td>";
                myNewCell=myNewRow.insertCell(-1);
                myNewCell.innerHTML="<td align='center'>&nbsp;"+ document.forms['forma']['iduniversidad'].options[l].text + "<input type='hidden' id='iduniversidad"+Ind+"' name='iduniversidad"+Ind+"' value='"+iduniversidad+"'></td>";
                myNewCell=myNewRow.insertCell(-1);
                myNewCell.innerHTML="<td align='center'>&nbsp;"+anogrado+"&nbsp;<input type='hidden' id='anogrado"+Ind+"' name='anogrado"+Ind+"' value='"+anogrado+"'></td>";
                myNewCell=myNewRow.insertCell(-1);
                myNewCell.innerHTML="<td>"+"<input type='button' id='btelimanar' name='btelimanar' value='Quitar' style='color: white; background-color: #1aa62a' onclick='RemoveLinea(this, "+Ind+");' ></td>";

                $("#Cnt").val(Ind);
                Ind++;
                Cnt++;
                $("#ctrl").val(actrl);
                document.forms['forma']['titulo'].selectedIndex=0;
                document.forms['forma']['iduniversidad'].selectedIndex=0;
                $("#nivelacad").val('');
                $("#anogrado").val('');
            }else{
                $('#modalcontenido').html("Estudio realizado cargado en detalle...!");
                $('#modalmensaje').modal('show');
            }
        }
    }

    var rctrl=0;
    function RemoveLinea(obj, i){
        rctrl = $("#ctrl").val();
        Cnt--;
        var oTr=obj;
        while(oTr.nodeName.toLowerCase()!='tr'){
            oTr=oTr.parentNode;
        }
        var root=oTr.parentNode;
        root.removeChild(oTr);
        rctrl--;
        $("#ctrl").val(rctrl);
    }
    /************************************/

    var rules = {

        dir_residencial: {
            identifier: 'dir_residencial',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese la direccion de residencia actual'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres'
                }
            ]
        },

        ciudres:{
            identifier  : 'ciudres',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione una ciudad'
                }
            ]
        },

        remailestud:{
            identifier  : 'remailestud',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese su email'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 carateres'
                },
                {
                    type: 'email',
                    prompt : 'ingrese un email valido'
                }
            ]
        },

        rcelestud: {
            identifier: 'rcelestud',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el # de celular actual'
                },
                {
                    type: 'maxLength[10]',
                    prompt : 'M&aacute;ximo 10 números'
                },
                {
                    type: 'integer',
                    prompt : 'Solo valores numéricos'
                }
            ]
        },

        fec_nacim:{
            identifier  : 'fec_nacim',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese la fecha de nacimiento'
                },
                {
                    type   : 'regExp[/^[0-9]{4}-[0-9]{2}-[0-9]{2}$/]',
                    prompt: 'Fecha NO válida. Formato AAAA-MM-DD'
                }
            ]
        },

        ciudnac:{
            identifier  : 'ciudnac',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione una ciudad'
                }
            ]
        },

        nombre_empresa:{
            identifier: 'nombre_empresa',
            depends     : 'empleado',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el nombre de la empresa actual'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres'
                }
            ]
        },

        direc_emp_trab:{
            identifier: 'direc_emp_trab',
            depends: 'empleado',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Ingrese la dirección de la empresa actual'
                },
                {
                    type: 'maxLength[100]',
                    prompt: 'M&aacute;ximo 100 caracteres'
                }
            ]
        },

        paislab:{
            identifier  : 'paislab',
            depends     : 'empleado',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un pais'
                }
            ]
        },

        ciudlab:{
            identifier  : 'ciudlab',
            depends     : 'empleado',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione una ciudad'
                }
            ]
        },

        act_economica:{
            identifier: 'act_economica',
            depends     : 'empleado',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione una actividad economica'
                }
            ]
        },

        cargo_trab:{
            identifier: 'cargo_trab',
            depends     : 'empleado',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el cargo que ocupa en la empresa actual'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres'
                }
            ]
        },

        sector:{
            identifier: 'sector',
            depends     : 'empleado',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione una actividad economica'
                }
            ]
        },

        sectprof:{
            identifier: 'sectprof',
            depends     : 'empleado',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione una actividad economica'
                }
            ]
        },

        tiempovinc:{
            identifier: 'tiempovinc',
            depends     : 'empleado',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el tiempo de vinculacion'
                },
                {
                    type: 'maxLength[25]',
                    prompt : 'M&aacute;ximo 25 caracteres'
                }
            ]
        },

        tienerecono:{
            identifier: 'tienerecono',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione una opción de la lista'
                }
            ]
        },

        tporecono:{
            identifier: 'tporecono',
            depends   : 'tienerecono',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione el tipo de reconocimiento'
                }
            ]
        },

        descriprecono:{
            identifier: 'descriprecono',
            depends   : 'tienerecono',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese la Descripción del reconocimiento'
                },
                {
                    type: 'maxLength[200]',
                    prompt : 'M&aacute;ximo 200 caracteres'
                }
            ]
        },

        instrecono: {
            identifier: 'instrecono',
            depends   : 'tienerecono',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el nombre de la Institución que otorga el reconocimiento'
                },
                {
                    type: 'maxLength[150]',
                    prompt : 'M&aacute;ximo 150 caracteres'
                }
            ]
        },

        anorecono: {
            identifier: 'anorecono',
            depends   : 'tienerecono',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el año en que recibio el reconocimiento'
                },
                {
                    type   : 'integer',
                    prompt : 'Solo valores númericos'
                },
                {
                    type: 'maxLength[4]',
                    prompt : 'M&aacute;ximo 4 caracteres'
                }
            ]
        },

        tema: {
            identifier: 'tema',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el tema de la nacesidad académica'
                },
                {
                    type: 'maxLength[200]',
                    prompt : 'M&aacute;ximo 200 caracteres'
                }
            ]
        }

    };

    $('.ui.form.segment.tiny.forma').form({
        on: 'blur',
        inline : true,
        fields: rules,
        onSuccess : function() {
            return false;
        }
    });

    $.fn.api.settings.api = {
        'insertarActualizainscrip' : '<?php echo $this->url('home') ?>inscripcion/insertarActualizainscrip',
    };

    buttonPostValidation('.ui.button.green.estudiante', 'insertarActualizainscrip', '.ui.form.segment.tiny.forma', 'contenedor');

</script>