<h2 class="ui green header">
    <i class="book icon"></i>
    <div class="content">
        Editar Tipo de evento
    </div>
</h2>
<div class="button">
    <div class="ui green submit button">Ver lista</div>
</div>

<div class="ui divider"></div>

<form class="ui form segment tipoevento">

    <div class="fields">
        <div class="twelve wide field">
            <label>Tipo de Evento</label>
            <input type="text" id="tipoevento" name="tipoevento" maxlength="100"
                                         value="<?= utf8_decode($editatipoevento['tipoevento']) ?>">
        </div>

        <div class="field">
        </div>
    </div>

    <div class="field">
        <div class="ui green labeled icon button tipoevento"><i class="check circle icon"></i>Actualizar Datos</div>
    </div>
    <div class="ui error message"></div>
    <input type="hidden" id="idtipo" name="idtipo" value="<?= $editatipoevento['id_tipo'] ?>">
</form>

<script type="text/javascript">

    $('.ui.dropdown.modulo').dropdown();

    $('.ui.green.submit.button').on('click',function(){
        ajaxPost('<?php echo $this->url('home') ?>reportes/listadetipevento', 'contenedor5');
    });

    var rules = {
        nombre: {
            identifier  : 'tipoevento',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el tipo de evento'
                },
                {
                    type: 'maxLength[80]',
                    prompt : 'M&aacute;ximo 80 caracteres'
                },
            ],
        },

    };


    $('.ui.form.segment.tipoevento').form({
        on: 'blur',
        inline : true,
        fields: rules,
        onSuccess : function() {
            return false;
        },
    });

    $.fn.api.settings.api = {
        'actualizatipoevento' : '<?php echo $this->url('home') ?>inscripcion/actualizatipoevento',
    };

    buttonPostValidation('.ui.button.tipoevento', 'actualizatipoevento', '.ui.form.segment.tipoevento', 'contenedor5');

</script>