<h2 class="ui header green dividing">
    <i class="list icon"></i>
    <div class="content">
        Estudiantes inscritos al evento
    </div>
</h2>

<table class="ui table compact">
    <tr>
        <td><strong>ID_ESTUD.</strong></td>
        <td><strong>NOMBRES</strong></td>
        <td><strong>APELLIDOS</strong></td>
        <td><strong>IDENTIFICACION</strong></td>
        <td><strong>EVENTO</strong></td>
        <td><strong>FECHA DE INSCRIPCION</strong></td>
    </tr>
    <?php $i=1; ?>
    <?php foreach ($estudinscrinomb as $value): ?>
        <?php $i++; ?>
        <tr>
            <td align="left"><?= $value['id'] ?></td>
            <td align="left"><?= $value['nombres'] ?></td>
            <td align="left"><?= $value['apellidos'] ?></td>
            <td align="left"><?= $value['nro_ident'] ?></td>
            <td align="left"><?= $value['nombre'] ?></td>
            <td align="left"><?= $value['fecha'] ?></td>
            <!--<td>
                <a class="item request2" modulo="actualizar" accion="verdatosactualizados/<?=$value['id']?>">
                    <i class="icon eye">Ver</i>
                </a>
            </td> -->
        </tr>
    <?php endforeach ?>
</table>
<div id="contenedor5">

</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('.item.request2').on('click',function(){
            ajaxGet("<?php echo $this->url('home') ?>"+$(this).attr('modulo')+"/"+$(this).attr('accion'), "contenedor5");
        });
    });
</script>