<h2 class="ui green header">
    <i class="book icon"></i>
    <div class="content">
        Crear Nuevo Tipo de evento
    </div>
</h2>
<div class="button">
    <div class="ui green submit button">Ver lista</div>
</div>

<div class="ui divider"></div>

<form class="ui form segment tipoevento" id="formtipoevento" style="display: none">

    <div class="fields">
        <div class="twelve wide field">
            <label>Tipo de evento</label>
            <input type="text" id="tipoevento" name="tipoevento" maxlength="80">
        </div>

        <div class="field">
        </div>
    </div>

    <div class="field">
        <div class="ui green labeled icon button tipoevento"><i class="check circle icon"></i>Guardar Tipo de Evento</div>
    </div>
    <div class="ui error message"></div>
</form>

<script type="text/javascript">

    $('.ui.dropdown.modulo').dropdown();

    $(document).ready(function () {
        var tipo=<?=$tipouser?>;
        if (tipo==1) {
            $("#formtipoevento").show();
        }
    });
    $('.ui.green.submit.button').on('click',function(){
        ajaxPost('<?php echo $this->url('home') ?>reportes/listadetipevento', 'contenedor5');
    });

    var rules = {
        nombre: {
            identifier  : 'tipoevento',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingreseel tipo de evento'
                },
                {
                    type: 'maxLength[80]',
                    prompt : 'M&aacute;ximo 80 caracteres'
                },
            ],
        },

    };


    $('.ui.form.segment.tipoevento').form({
        on: 'blur',
        inline : true,
        fields: rules,
        onSuccess : function() {
            return false;
        },
    });

    $.fn.api.settings.api = {
        'guardatipoevento' : '<?php echo $this->url('home') ?>inscripcion/guardatipoevento',
    };

    buttonPostValidation('.ui.button.tipoevento', 'guardatipoevento', '.ui.form.segment.tipoevento', 'contenedor5');

</script>