<div class="ui secondary pointing menu">
    <div class="item">
        <h2><i class="green user icon"></i>Editar Evento</h2>
    </div>
</div>
<form class="ui form segment tiny formevento">
    <div class="four fields">
        <div class="twelve wide field">
            <label>Nombre del evento</label>
            <input type="text" id="evento" name="evento" maxlength="100" value="<?= utf8_decode($evento['nombre']) ?>"/>
        </div>
        <div class="three wide field">
            <label style="font-size: 14px">Tipo de evento</label>
            <select class="ui search dropdown tpevento" id="tpevento" name="tpevento">
                <option value="">Seleccionar una opción...</option>
                <?php foreach ($tipoevento as $tpeventos) { ?>
                    <option value="<?= $tpeventos['id_tipo'] ?>"> <?= $tpeventos['tipoevento'] ?></option>
                <?php } ?>
            </select>
        </div>
        <div class="five wide field">
            <label>fecha Inicio Inscripción</label>
            <input type="date" id="feciniinscrip" name="feciniinscrip" maxlength="10" value="<?= $evento['fec_ini_inscrip'] ?>"/>
        </div>
        <div class="five wide field">
            <label>fecha Finaliza Inscripción</label>
            <input type="date" id="fecfininscrip" name="fecfininscrip" maxlength="10" value="<?= $evento['fec_fin_inscrip'] ?>"/>
        </div>

    </div>

    <div class="two fields">
        <div class="five wide field">
            <label>fecha Inicio Evento</label>
            <input type="date" id="fecinievento" name="fecinievento" maxlength="10" value="<?= $evento['fecha_evento'] ?>"/>
        </div>
        <div class="five wide field">
            <label>fecha Finaliza Evento</label>
            <input type="date" id="fecfinevento" name="fecfinevento" maxlength="10" value="<?= $evento['fecha_finaliza'] ?>"/>
        </div>
    </div>

    <input type="hidden" id="idevento" name="idevento" value="<?= $evento['id'] ?>">


    <div class="ui error message"></div>

    <button class="ui button green evento">
        Actualizar Datos
    </button>

</form>
<script type="text/javascript">

    $('.ui.dropdown').dropdown();

    $('.ui.search.dropdown.tpevento').dropdown('set selected', <?= $evento['tipo_de_evento'] ?>);

    var rules = {

        evento: {
            identifier: 'evento',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Ingrese el nombre del evento'
                },
                {
                    type: 'maxLength[100]',
                    prompt: 'M&aacute;ximo 100 caracteres'
                },
            ]
        },

        tpevento: {
            identifier: 'tpevento',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Seleccione un tipo de evento'
                },

            ]
        },

        feciniinscrip:{
            identifier  : 'feciniinscrip',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese la fecha de inicio de inscripción'
                },
                {
                    type   : 'regExp[/^[0-9]{4}-[0-9]{2}-[0-9]{2}$/]',
                    prompt: 'Fecha NO válida. Formato AAAA-MM-DD'
                }
            ]
        },

        fecfininscrip:{
            identifier  : 'fecfininscrip',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese la fecha de finalización de la inscripción'
                },
                {
                    type   : 'regExp[/^[0-9]{4}-[0-9]{2}-[0-9]{2}$/]',
                    prompt: 'Fecha NO válida. Formato AAAA-MM-DD'
                }
            ]
        },

        fecinievento:{
            identifier  : 'fecinievento',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese la fecha de inicio del evento'
                },
                {
                    type   : 'regExp[/^[0-9]{4}-[0-9]{2}-[0-9]{2}$/]',
                    prompt: 'Fecha NO válida. Formato AAAA-MM-DD'
                }
            ]
        },

        fecfinevento:{
            identifier  : 'fecfinevento',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese la fecha de finalización del evento'
                },
                {
                    type   : 'regExp[/^[0-9]{4}-[0-9]{2}-[0-9]{2}$/]',
                    prompt: 'Fecha NO válida. Formato AAAA-MM-DD'
                }
            ]
        },

    };

    $('.ui.form.segment.tiny.formevento').form({
        on: 'blur',
        inline : true,
        fields: rules,
        onSuccess : function() {
            return false;
        },
    });

    $.fn.api.settings.api = {
        'updateEvento' : '<?php echo $this->url('home') ?>inscripcion/updateEvento',
    };

    buttonPostValidation('.ui.button.green.evento', 'updateEvento', '.ui.form.segment.tiny.formevento', 'contenedor5');

</script>