<form class="ui form segment tiny forma">
    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Datos personales del estudiante</h2>
        </div>
        <!--   <div class="right menu">
             <a class="ui item" id="link_ver_productos">
               <i class="write square large green icon"></i> Corregir Datos Personales
             </a>
           </div>-->
    </div>
    <table class="ui table" style="font-size: 16px">
        <tbody>
        <tr>
            <td class="sombreado"><strong>Nombres y apellidos</strong></td>
            <td><?= $estudiante['nombres'] . ' ' . $estudiante['apellidos'] ?></td>

            <td class="sombreado"><strong>Identificación</strong></td>
            <td><?= $estudiante['nro_ident'] ?></td>

            <td class="sombreado"><strong>Expedida en</strong></td>
            <td><?= $estudiante['ciudad_exped'] ?></td>
        </tr>
        </tbody>
    </table>

    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Actualizar Datos Personales </h2>
        </div>
    </div>

    <div class="three fields">

        <div class="field">
            <label>Dirección residencial</label>
            <input type="text" id="dir_residencial" name="dir_residencial" maxlength="100"
                   placeholder="Calle y/o carrera, numero"
                   value="<?= $datosvig['direc_residen'] ?>">
        </div>

        <div class="five wide field">
            <label>Pais de residencia</label>
            <select class="ui search dropdown paisres" id="paisres" name="paisres">
                <option value="">Seleccionar el pais...</option>
                <?php foreach ($pais as $listpaises) { ?>
                    <option value="<?= $listpaises['Codigo'] ?>"> <?= $listpaises['Pais'] ?></option>
                <?php } ?>
            </select>
        </div>

        <div class="five wide field">
            <label>Ciudad de residencia</label>
            <select class="ui search dropdown ciudres" id="ciudres" name="ciudres">
                <?php foreach ($ciudad as $listaciudad) { ?>
                    <option value="<?= $listaciudad['id'] ?>"> <?= $listaciudad['ciudad'] ?></option>
                <?php } ?>
            </select>
        </div>

    </div>


    <div class="three fields">
        <div class="field">
            <label>Celular</label>
            <input type="text" id="rcelestud" name="rcelestud" maxlength="10" value="<?= $datosvig['celular'] ?>"/>
        </div>

        <div class="field">
            <label>E-mail</label>
            <input type="email" id="remailestud" name="remailestud" maxlength="100" placeholder="ejemplo@um.es"
                   value="<?= $datosvig['email'] ?>"/>
        </div>
        <div class="three wide field">
            <label>Teléfono fijo</label>
            <input type="text" id="tel_fijo" name="tel_fijo" maxlength="10" value="<?= $datosvig['tel_fijo'] ?>"/>
        </div>
    </div>

    <div class="fields">
        <div class="ten wide field">
            <label>Programa pregrado cursado-Unicordoba</label>
            <select class="ui search dropdown idprogpre" id="progpre" name="progpre">
                <option value=0 selected>Seleccione...</option>
                <?php foreach ($progpre as $bprogapre) { ?>
                    <option value="<?= $bprogapre['id'] ?>"> <?= $bprogapre['nombre'] ?></option>
                <?php } ?>
            </select>
        </div>
    </div>

    <div class="fields">
        <div class="ten wide field">
            <label>Programa pregrado cursado-Otra universidad</label>
            <input type="text" id="progpreotra" name="progpreotra" maxlength="100">
        </div>
        <div class="ten wide field">
            <label>Universidad-Pregrado</label>
            <select class="ui search dropdown nomotraunivpre" id="nomotraunivpre" name="nomotraunivpre">
                <option value=0 selected>Seleccione...</option>
                <?php foreach ($otraunivprogpre as $value) { ?>
                    <option value="<?= $value['id'] ?>"> <?= $value['nombre'] ?></option>
                <?php } ?>
            </select>
        </div>
        <div class="ten wide field" id="otranomunivpre" style="display: none">
            <label>Otra cual-nombre universidad</label>
            <input type="text" id="otracualunivpre" name="otracualunivpre" maxlength="100">
        </div>
    </div>

    <div class="fields">
        <div class="ten wide field">
            <label>Programa postgrado cursado-Unicordoba</label>
            <select class="ui search dropdown idprogpos" id="progpos" name="progpos">
                <option value=0 selected>Seleccione...</option>
                <?php foreach ($progpos as $bprograpos) { ?>
                    <option value="<?= $bprograpos['id'] ?>"> <?= $bprograpos['nombre'] ?></option>
                <?php } ?>
            </select>
        </div>
    </div>

    <div class="fields">
        <div class="eight wide field">
            <label>Programa postgrado cursado-Otra universidad</label>
            <input type="text" id="progposotra" name="progposotra" maxlength="100">
        </div>
        <div class="eight wide field">
            <label>Universidad-Postgrado</label>
            <select class="ui search dropdown nomotraunivpos" id="nomotraunivpos" name="nomotraunivpos">
                <option value=0 selected>Seleccione...</option>
                <?php foreach ($otraunivprogpos as $value) { ?>
                    <option value="<?= $value['id'] ?>"> <?= $value['nombre'] ?></option>
                <?php } ?>
            </select>
        </div>
        <div class="ten wide field" id="otranomunivpos" style="display: none">
            <label>Otra cual-nombre universidad</label>
            <input type="text" id="otracualunivpos" name="otracualunivpos" maxlength="100">
        </div>
    </div>

    <div class="fields">
        <div class="two wide field">
            <label>Trabaja actualmente</label>
            <div class="ui checkbox">
                <input type="checkbox" tabindex="0" id="trabaja_actual" name="trabaja_actual" value="on"
                    <?php if (!empty($datosvig['trabajo_act'])) {
                        echo "checked";
                    } ?>>
                <label></label>
            </div>
        </div>
        <div class="two wide field" id="sector" style="display: none">
            <label>En el sector de su profesión</label>
            <select class="ui dropdown sectprof" id="sectprof" name="sectprof">
                <option value="" selected>Elija una opción</option>
                <option value="SI" <?php if ($datosvig['trabsectprofe']=='SI'){?> selected <?php } ?>>SI</option>
                <option value="NO" <?php if ($datosvig['trabsectprofe']=='NO'){?> selected <?php } ?>>NO</option>
            </select>
        </div>
        <div class="one wide field"></div>
        <div class="seven wide field">
            <label>Nombre Empresa o negocio donde trabaja</label>
            <input type="text" id="nombre_empresa" name="nombre_empresa" maxlength="100" disabled="disabled"
                   value="<?= $datosvig['nom_empresa'] ?>"/>
        </div>
        <div class="five wide field">
            <label>Direccion de la empresa</label>
            <input type="text" name="direc_emp_trab" id="direc_emp_trab" maxlength="100" disabled="disabled"
                   placeholder="Calle y/o carrera, numero"
                   value="<?= $datosvig['dir_empresa'] ?>"/>
        </div>
    </div>

    <div class="fields">
        <div class="five wide field">
            <label>Pais donde labora</label>
            <select class="ui search dropdown paislab" id="paislab" name="paislab">
                <option value="">Seleccionar el pais...</option>
                <?php foreach ($pais2 as $listpaises2) { ?>
                    <option value="<?= $listpaises2['Codigo'] ?>"> <?= $listpaises2['Pais'] ?></option>
                <?php } ?>
            </select>
        </div>

        <div class="five wide field">
            <label>Ciudad donde labora</label>
            <select class="ui search dropdown ciudlab" id="ciudlab" name="ciudlab">
                <?php foreach ($ciudad2 as $listaciudad2) { ?>
                    <option value="<?= $listaciudad2['id'] ?>"> <?= $listaciudad2['ciudad'] ?></option>
                <?php } ?>
            </select>
        </div>
    </div>

    <div class="fields">
        <div class="five wide field">
            <label>Telefono Labora</label>
            <input type="text" name="telef_emp_trab" id="telef_emp_trab" maxlength="10" disabled="disabled"
                   value="<?= $datosvig['tel_empresa'] ?>"/>
        </div>

        <div class="ten wide field">
            <label>Cargo que ocupa actualmente</label>
            <input type="text" name="cargo_trab" id="cargo_trab" maxlength="100" disabled="disabled"
                   value="<?= $datosvig['cargo_empresa'] ?>"/>
        </div>

        <div class="thirteen wide field">
            <label>En que área le gustaria continuar su formación</label>
            <input type="text" name="expec_formac" id="expec_formac" maxlength="150"
                   value="<?= $datosvig['expec_formacion'] ?>">
        </div>
    </div>

    <div class="fields">
        <div class="twelve wide field">
            <label>De acuerdo con su experiencia laboral, en que area considera uted debe mejorar el programa del cual
                usted es egresado?</label>
            <select class="ui search dropdown mejorar" id="mejorar" name="mejorar">
                <option value="0" selected>Elija una opción</option>
                <?php foreach ($respuestas as $listaresp) { ?>
                    <option value="<?= $listaresp['id_respuesta'] ?>"
                        <?php if ($datosvig['id_prog_mejorar']==$listaresp['id_respuesta']){ ?> selected <?php } ?>>
                        <?= utf8_decode($listaresp['descrip_respuesta']) ?></option>
                <?php } ?>
            </select>
        </div>
        <div class="twelve wide field">
            <label>Cual considera usted que es la Fortaleza del programa del cual usted es egresado?</label>
            <select class="ui search dropdown fortaleza" id="fortaleza" name="fortaleza">
                <?php foreach ($respuestas1 as $listaresp1) { ?>
                    <option value="<?= $listaresp1['id_respuesta'] ?>">
                        <?= utf8_decode($listaresp1['descrip_respuesta']) ?></option>
                <?php } ?>
            </select>
        </div>
    </div>

    <input type="hidden" id="vmej" name="vmej" value="<?=$datosvig['id_prog_mejorar']?>">
    <input type="hidden" id="vfor" name="vfor" value="<?=$datosvig['id_prog_fortaleza']?>">
    <input type="hidden" id="paisderes" name="paisderes">
    <input type="hidden" id="ciudderes" name="ciudderes">
    <input type="hidden" id="paisdelab" name="paisdelab">
    <input type="hidden" id="ciuddelab" name="ciuddelab">
    <input type="hidden" id="id_estudiante" name="id_estudiante" value="<?= $estudiante['id'] ?>">
    <input type="hidden" id="ofic" name="ofic" value="<?= $oficina ?>">

    <div class="ui error message"></div>

    <button class="ui button green estudiante">
        Guardar Datos
    </button>

</form>

<div id="contenedor5"></div>

<div class="ui modal" id="modalmensaje">
    <div class="header" style="background:#04B404; color: white;">Advertencia</div>
    <div class="content">
        <p id="modalcontenido"></p>
    </div>
    <div class="actions">
        <div class="ui approve button" style="background:#04B404;color: white;">Aceptar</div>
    </div>
</div>

<script type="text/javascript">

    $('.ui.dropdown').dropdown();

    $(document).ready(function() {
        $(".ui.dropdown.search.paislab").addClass('disabled');
        $(".ui.dropdown.search.ciudlab").addClass('disabled');
        if ($("#trabaja_actual").is(':checked')) {
            $("#nombre_empresa").prop("disabled","");
            $("#direc_emp_trab").prop("disabled","");
            $(".ui.dropdown.search.paislab").removeClass("disabled","");
            $(".ui.dropdown.search.ciudlab").removeClass("disabled","");
            $("#telef_emp_trab").prop("disabled","");
            $("#cargo_trab").prop("disabled","");
            $("#sector").show();
        }else {
            $("#nombre_empresa").prop("disabled","disabled");
            $("#direc_emp_trab").prop("disabled","disabled");
            $(".ui.dropdown.search.paislab").addClass('disabled');
            $(".ui.dropdown.search.ciudlab").addClass('disabled');
            $("#telef_emp_trab").prop("disabled","disabled");
            $("#cargo_trab").prop("disabled","disabled");
            $("#sector").hide();
        }

        var mej=$("#vmej").val();
        var fort=$("#vfor").val();
        if (mej!=0){
            $(".ui.dropdown.search.mejorar").addClass('disabled');
            if (fort!=0){
                $(".ui.dropdown.search.fortaleza").addClass('disabled');
            }
        }
    });

    $("#nomotraunivpre").on('change',function() {
        var idunivpre=$("#nomotraunivpre").val();
        if (idunivpre==999){
            $("#otranomunivpre").show();
            $("#otracualunivpre").focus();
        }else{
            $("#otranomunivpre").hide();
            $("#otracualunivpre").val("");
        }
    });

    $("#nomotraunivpos").on('change',function() {
        var idunivpos=$("#nomotraunivpos").val();
        if (idunivpos==999){
            $("#otranomunivpos").show();
            $("#otracualunivpos").focus();
        }else{
            $("#otranomunivpos").hide();
            $("#otracualunivpos").val("");
        }
    });


     $('.ui.search.dropdown.paisres').dropdown('set selected',"<?=$datosvig['pais_res']?>");
     $('.ui.search.dropdown.ciudres').dropdown('set selected',<?=$datosvig['ciud_res']?>);

     $('.ui.search.dropdown.paislab').dropdown('set selected',"<?=$datosvig['pais_lab']?>");
     $('.ui.search.dropdown.ciudlab').dropdown('set selected',<?=$datosvig['ciud_lab']?>);

     $('.ui.search.dropdown.idprogpre').dropdown('set selected',<?=$datosvig['id_progpre']?>);
     $('.ui.search.dropdown.idprogpos').dropdown('set selected',<?=$datosvig['id_progpos']?>);

    $('.ui.search.dropdown.nomotraunivpre').dropdown('set selected',<?=$datosvig['id_otraunivpre']?>);
    $('.ui.search.dropdown.nomotraunivpos').dropdown('set selected',<?=$datosvig['id_otraunivpos']?>);

    $('.ui.search.dropdown.mejorar').dropdown('set selected',<?=$datosvig['id_prog_mejorar']?>);
    $('.ui.search.dropdown.fortaleza').dropdown('set selected',<?=$datosvig['id_prog_fortaleza']?>);

    $("#mejorar").on('change',function () {
        var idmejorar=$("#mejorar").val();
        ajaxGet('<?php echo $this->url('home') ?>actualizar/fortaleza/'+idmejorar,'fortaleza');
    });

     $("#paisres").on('change',function () {
         var codpais=$("#paisres").val();
        ajaxGet('<?php echo $this->url('home') ?>actualizar/ciudades/'+codpais,'ciudres');
     });

     $("#paislab").on('change',function () {
         var codpais=$("#paislab").val();
         ajaxGet('<?php echo $this->url('home') ?>actualizar/ciudades/'+codpais,'ciudlab');
     });

    $(".ui.dropdown.search.paislab").addClass('disabled');
    $(".ui.dropdown.search.ciudlab").addClass('disabled');
    $('#trabaja_actual').click(function() {
        if ($(this).is(':checked')) {
            $("#nombre_empresa").prop("disabled","");
            $("#direc_emp_trab").prop("disabled","");
            $(".ui.dropdown.search.paislab").removeClass("disabled","");
            $(".ui.dropdown.search.ciudlab").removeClass("disabled","");
            $("#telef_emp_trab").prop("disabled","");
            $("#cargo_trab").prop("disabled","");
            $("#sector").show();
        }else {
            $("#nombre_empresa").prop("disabled","disabled");
            $("#direc_emp_trab").prop("disabled","disabled");
            $(".ui.dropdown.search.paislab").addClass('disabled');
            $(".ui.dropdown.search.ciudlab").addClass('disabled');
            $("#telef_emp_trab").prop("disabled","disabled");
            $("#cargo_trab").prop("disabled","disabled");
            $("#sector").hide();
        }
    });

     $.fn.form.settings.rules.proprepos = function(value) {
         var pre=$("#progpre").val();
         var pos=$("#progpos").val();
         //alert(pre); alert(pos);
         if (pre == 0) {
             if (pos == 0) {
                 return false;
             }else{
                 return true
             }
         }else{
             return true
         }
     };

     var rules = {

         dir_residencial: {
             identifier: 'dir_residencial',
             rules: [
                 {
                     type   : 'empty',
                     prompt : 'Ingrese la direccion de residencia actual'
                 },
                 {
                     type: 'maxLength[100]',
                     prompt : 'M&aacute;ximo 100 caracteres'
                 },
             ]
         },

         ciudres:{
             identifier  : 'ciudres',
             rules: [
                 {
                     type   : 'empty',
                     prompt : 'Seleccione una ciudad'
                 },
             ]
         },

         rcelestud: {
             identifier: 'rcelestud',
             rules: [
                 {
                     type   : 'empty',
                     prompt : 'Ingrese el # de celular actual'
                 },
                 {
                     type: 'maxLength[10]',
                     prompt : 'M&aacute;ximo 10 números'
                 },
                 {
                     type: 'integer',
                     prompt : 'Solo valores numéricos'
                 },
             ]
         },

         remailestud:{
             identifier  : 'remailestud',
             rules: [
                 {
                     type   : 'empty',
                     prompt : 'Ingrese su email'
                 },
                 {
                     type: 'maxLength[100]',
                     prompt : 'M&aacute;ximo 100 carateres'
                 },
                 {
                     type: 'email',
                     prompt : 'ingrese un email valido'
                 },
             ]
         },

         tel_fijo: {
             identifier: 'tel_fijo',
             rules: [
                 {
                     type   : 'empty',
                     prompt : 'Ingrese el # del teléfono fijo actual'
                 },
                 {
                     type: 'maxLength[10]',
                     prompt : 'M&aacute;ximo 10 números'
                 },
                 {
                     type: 'integer',
                     prompt : 'Solo valores numéricos'
                 },
             ]
         },

         progpre: {
             identifier: 'progpre',
             rules: [
                 {
                     type   : 'proprepos',
                     prompt : 'Seleccione un programa de pregrado de la lista'
                 },
             ]
         },

         progpos: {
             identifier: 'progpos',
             rules: [
                 {
                     type   : 'proprepos',
                     prompt : 'Seleccione un programa de postgrado de la lista'
                 },
             ]
         },

         /*trabaja_actual:{
             identifier  : 'trabaja_actual',
             rules: [
                 {
                     type   : 'checked',
                     prompt : 'Marque la casilla'
                 },
             ]
         },*/

         nombre_empresa: {
             identifier: 'nombre_empresa',
             rules: [
                 {
                     type   : 'empty',
                     prompt : 'Ingrese el nombre de la empresa actual'
                 },
                 {
                     type: 'maxLength[100]',
                     prompt : 'M&aacute;ximo 100 caracteres'
                 },
             ]
         },

         direc_emp_trab: {
         identifier: 'direc_emp_trab',
             rules: [
                  {
                      type   : 'empty',
                      prompt : 'Ingrese la dirección de la empresa actual'
                  },
                  {
                      type: 'maxLength[100]',
                      prompt : 'M&aacute;ximo 100 caracteres'
                  },
             ]
         },

         paislab:{
             identifier  : 'paislab',
             depends     : 'trabaja_actual',
             rules: [
                 {
                     type   : 'empty',
                     prompt : 'Seleccione un pais'
                 },
             ]
         },

         ciudlab:{
             identifier  : 'ciudlab',
             depends     : 'trabaja_actual',
             rules: [
                 {
                     type   : 'empty',
                     prompt : 'Seleccione una ciudad'
                 },
             ]
         },

         telef_emp_trab: {
             identifier: 'telef_emp_trab',
             rules: [
                 {
                     type   : 'empty',
                     prompt : 'Ingrese el # del teléfono fijo de la empresa actual'
                 },
                 {
                     type: 'maxLength[10]',
                     prompt : 'M&aacute;ximo 10 números'
                 },
                 {
                     type: 'integer',
                     prompt : 'Solo valores numéricos'
                 },
             ]
         },

         cargo_trab: {
             identifier: 'cargo_trab',
             rules: [
                 {
                     type   : 'empty',
                     prompt : 'Ingrese el cargo que ocupa en la empresa actual'
                 },
                 {
                     type: 'maxLength[100]',
                     prompt : 'M&aacute;ximo 100 caracteres'
                 },
             ]
         },

         expec_formac: {
             identifier: 'expec_formac',
             rules: [
                 {
                     type   : 'empty',
                     prompt : 'Ingrese el área donde le gustaria continuar su formación'
                 },
                 {
                     type: 'maxLength[150]',
                     prompt : 'M&aacute;ximo 150 caracteres'
                 },
             ]
         },
     };

     $('.ui.form.segment.tiny.forma').form({
         on: 'blur',
         inline : true,
         fields: rules,
         onSuccess : function() {
             return false;
         },
     });

    $.fn.api.settings.api = {
        'insertarActualizacion' : '<?php echo $this->url('home') ?>actualizar/insertarActualizacion',
    };

    var desde=$("#ofic").val();
    if (desde=='DIR'){
        buttonPostValidation('.ui.button.green.estudiante', 'insertarActualizacion', '.ui.form.segment.tiny.forma', 'contenedor');
    }else {
        buttonPostValidation('.ui.button.green.estudiante', 'insertarActualizacion', '.ui.form.segment.tiny.forma', 'contenedor5');
    }

</script>