<h2 class="ui green header">
    <i class="book icon"></i>
    <div class="content">
        Crear Nuevo Programa
    </div>
</h2>
<div class="button">
    <div class="ui green submit button">Ver lista</div>
</div>

<div class="ui divider"></div>

<form class="ui form segment programas" id="formprogramas" style="display: none">

    <div class="fields">
        <div class="twelve wide field">
            <label>Nombre del Programa</label>
            <input type="text" id="nombre" name="nombre" maxlength="100">
        </div>

        <div class="field">
        </div>
    </div>
    <div class="fields">
        <div class="seven wide field">
            <label>Tipo de programa</label>
            <select class="ui search dropdown tipoprog" id="tipoprog" name="tipoprog">
                <option value="">Seleccione....</option>
                <option value="1">Pregrado</option>
                <option value="2">Postgrado</option>
            </select>
        </div>
        <div class="field">

        </div>
    </div>
    <div class="fields">
        <div class="seven wide field">
            <label>Ofertado</label>
            <select class="ui search dropdown ofertado" id="ofertado" name="ofertado">
                <option value="">Seleccione....</option>
                <option value="S">SI</option>
                <option value="N">NO</option>
            </select>
        </div>
        <div class="field">

        </div>
    </div>
    <div class="field">
        <div class="ui green labeled icon button programas"><i class="check circle icon"></i>Guardar Programa</div>
    </div>
    <div class="ui error message"></div>
</form>

<script type="text/javascript">

    $('.ui.dropdown.modulo').dropdown();

    $(document).ready(function () {
        var tipo=<?=$tipouser?>;
        if (tipo==1) {
            $("#formprogramas").show();
        }
    });
    $('.ui.green.submit.button').on('click',function(){
        ajaxPost('<?php echo $this->url('home') ?>reportes/listadeprogramas', 'contenedor5');
    });

    var rules = {
        nombre: {
            identifier  : 'nombre',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese nombre completo'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres'
                },
            ],
        },
        tipoprog:{
            identifier  : 'tipoprog',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione una opción'
                },
            ]
        },
        ofertado:{
            identifier  : 'ofertado',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione una opción'
                },
            ]
        },
    };


    $('.ui.form.segment.programas').form({
        on: 'blur',
        inline : true,
        fields: rules,
        onSuccess : function() {
            return false;
        },
    });

    $.fn.api.settings.api = {
        'guardaProgramas' : '<?php echo $this->url('home') ?>actualizar/guardaProgramas',
    };

    buttonPostValidation('.ui.button.programas', 'guardaProgramas', '.ui.form.segment.programas', 'contenedor5');

</script>