<h2 class="ui green header">
    <i class="university icon"></i>
    <div class="content">
        Editar Universidad
    </div>
</h2>
<div class="button">
    <div class="ui green submit button">Ver lista</div>
</div>

<div class="ui divider"></div>

<form class="ui form segment universidad">

    <div class="fields">
        <div class="four wide field">
            <label>Código de la Universidad</label>
            <input type="text" id="codigo" name="codigo" maxlength="5"
                   value="<?= utf8_decode($edituniversidad['cod_univer']) ?>">
        </div>

        <div class="field">
        </div>
    </div>
    <div class="fields">
        <div class="twelve wide field">
            <label>Nombre de la Universidad</label>
            <input type="text" id="nombre" name="nombre" maxlength="100"
                   value="<?= utf8_decode($edituniversidad['nom_univer']) ?>">
        </div>
        <div class="field">

        </div>
    </div>
    <div class="fields">
        <div class="seven wide field">
            <label>Ciudad sede principal</label>
            <input type="text" id="ciudad" name="ciudad" maxlength="60"
                   value="<?= utf8_decode($edituniversidad['sede_ppal']) ?>">
        </div>
        <div class="field">

        </div>
    </div>
    <div class="field">
        <div class="ui green labeled icon button universidad"><i class="check circle icon"></i>Actualizar Datos</div>
    </div>
    <div class="ui error message"></div>
    <input type="hidden" id="id_univ" name="id_univ" value="<?= $edituniversidad['id_univer'] ?>">
</form>

<script type="text/javascript">

    $('.ui.dropdown.modulo').dropdown();

    $('.ui.green.submit.button').on('click',function(){
        ajaxPost('<?php echo $this->url('home') ?>reportes/listadeuniversidades', 'contenedor5');
    });

    var rules = {
        codigo: {
            identifier  : 'codigo',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese codigo de la universidad'
                },
                {
                    type: 'maxLength[5]',
                    prompt : 'M&aacute;ximo 5 caracteres'
                },
            ],
        },
        nombre: {
            identifier  : 'nombre',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese nombre de la universidad'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres'
                },
            ],
        },
        ciudad: {
            identifier  : 'ciudad',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese nombre de la ciudad'
                },
                {
                    type: 'maxLength[60]',
                    prompt : 'M&aacute;ximo 60 caracteres'
                },
            ],
        },
    };


    $('.ui.form.segment.universidad').form({
        on: 'blur',
        inline : true,
        fields: rules,
        onSuccess : function() {
            return false;
        },
    });

    $.fn.api.settings.api = {
        'actualizaUniversidad' : '<?php echo $this->url('home') ?>actualizar/actualizaUniversidad',
    };

    buttonPostValidation('.ui.button.universidad', 'actualizaUniversidad', '.ui.form.segment.universidad', 'contenedor5');

</script>