<h2 class="ui green header">
    <i class="book icon"></i>
    <div class="content">
        Editar Programa
    </div>
</h2>
<div class="button">
    <div class="ui green submit button">Ver lista</div>
</div>

<div class="ui divider"></div>

<form class="ui form segment programas">

    <div class="fields">
        <div class="twelve wide field">
            <label>Nombre del Programa</label>
            <input type="text" id="nombre" name="nombre" maxlength="100"
                                         value="<?= utf8_decode($editprogramas['nom_programa']) ?>">
        </div>

        <div class="field">
        </div>
    </div>
    <div class="fields">
        <div class="seven wide field">
            <label>Tipo de programa</label>
            <select class="ui search dropdown tipoprog" id="tipoprog" name="tipoprog">
                <option value="1" <?php if ($editprogramas['tipo_progra']==1){ ?> selected <?php } ?>>Pregrado</option>
                <option value="2" <?php if ($editprogramas['tipo_progra']==2){ ?> selected <?php } ?>>Postgrado</option>
            </select>
        </div>
        <div class="field">

        </div>
    </div>
    <div class="fields">
        <div class="seven wide field">
            <label>Ofertado</label>
            <select class="ui search dropdown ofertado" id="ofertado" name="ofertado">
                <option value="S" <?php if ($editprogramas['ofertado']=='S'){ ?> selected <?php } ?>>SI</option>
                <option value="N" <?php if ($editprogramas['ofertado']=='N'){ ?> selected <?php } ?>>NO</option>
            </select>
        </div>
        <div class="field">

        </div>
    </div>
    <div class="field">
        <div class="ui green labeled icon button programas"><i class="check circle icon"></i>Guardar Programa</div>
    </div>
    <div class="ui error message"></div>
    <input type="hidden" id="idprog" name="idprog" value="<?= $editprogramas['id_progra'] ?>">
</form>

<script type="text/javascript">

    $('.ui.dropdown.modulo').dropdown();

    $('.ui.green.submit.button').on('click',function(){
        ajaxPost('<?php echo $this->url('home') ?>reportes/listadeprogramas', 'contenedor5');
    });

    var rules = {
        nombre: {
            identifier  : 'nombre',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese nombre completo'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres'
                },
            ],
        },
        tipoprog:{
            identifier  : 'tipoprog',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione una opción'
                },
            ]
        },
        ofertado:{
            identifier  : 'ofertado',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione una opción'
                },
            ]
        },
    };


    $('.ui.form.segment.programas').form({
        on: 'blur',
        inline : true,
        fields: rules,
        onSuccess : function() {
            return false;
        },
    });

    $.fn.api.settings.api = {
        'actualizaProgramas' : '<?php echo $this->url('home') ?>actualizar/actualizaProgramas',
    };

    buttonPostValidation('.ui.button.programas', 'actualizaProgramas', '.ui.form.segment.programas', 'contenedor5');

</script>