<h2 class="ui header green dividing">
    <i class="list icon"></i>
    <div class="content">
        Lista de actualización anteriores (<?=count($estudactulizanter)?>)
    </div>
</h2>

<table class="ui table compact">
    <tr>
        <td><strong># REG.</strong></td>
        <td><strong>ID.TABLA</strong></td>
        <td><strong>ID_ESTUD.</strong></td>
        <td><strong>NOMBRES</strong></td>
        <td><strong>APELLIDOS</strong></td>
        <td><strong>NRO DE IDENTIFICACION</strong></td>
        <td><strong>FECHA DE ACTUALIZACION</strong></td>
    </tr>
    <?php $i=1; ?>
    <?php foreach ($estudactulizanter as $value): ?>
        <tr>
            <td><?=$i++?></td>
            <td align="left"><?= $value['id'] ?></td>
            <td align="left"><?= $value['idest'] ?></td>
            <td align="left"><?= $value['nombres'] ?></td>
            <td align="left"><?= $value['apellidos'] ?></td>
            <td align="left"><?= $value['nro_ident'] ?></td>
            <td align="left"><?= $value['fec_actualizadatos'] ?></td>
            <td>
                <a class="item request2" modulo="actualizar" accion="verdatosactualizados/<?=$value['idest']?>/<?=$value['id']?>">
                    <i class="icon eye">Ver</i>
                </a>
                <!--      <a href="#" ><i class="icon eye">Ver</i></a> -->
            </td>
        </tr>
    <?php endforeach ?>
</table>
<div id="contenedor5">

</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('.item.request2').on('click',function(){
            ajaxGet("<?php echo $this->url('home') ?>"+$(this).attr('modulo')+"/"+$(this).attr('accion'), "contenedor5");
        });
    });
</script>