<div class="ui secondary pointing menu">
    <div class="item">
        <h2><i class="green user icon"></i>Datos personales del estudiante</h2>
    </div>
</div>
<table class="ui table" style="font-size: 16px">
    <tbody>
    <tr>
        <td class="sombreado"><strong>Fecha Actualiza</strong></td>
        <td><?=$datosactualizados['fec_actualizadatos']?></td>

        <td class="sombreado"><strong>Nombres y apellidos</strong></td>
        <td><?= $estudiante['nombres'].' '.$estudiante['apellidos'] ?></td>

        <td class="sombreado"><strong>Identificación</strong></td>
        <td><?= $estudiante['nro_ident']?></td>

        <td class="sombreado"><strong>Expedida en</strong></td>
        <td><?= $estudiante['ciudad_exped'] ?></td>
    </tr>
    </tbody>
</table>

<div class="ui secondary pointing menu">
    <div class="item">
        <h2><i class="green user icon"></i>Datos Personales Actualizados</h2>
    </div>
</div>

<form class="ui form segment tiny forma">

    <div class="three fields">

        <div class="field">
            <label>Dirección residencial</label>
            <input type="text" id="dir_residencial" name="dir_residencial" maxlength="100" placeholder="Calle y/o carrera, numero"
                   value="<?=$datosactualizados['direc_residen']?>" readonly >
        </div>

        <div class="five wide field">
            <label>Pais de residencia</label>
            <input type="text" id="paisres" name="paisres" value="<?=$paisres['Pais']?>" readonly>
        </div>

        <div class="five wide field">
            <label>Ciudad de residencia</label>
            <input type="text" id="ciudres" name="ciudres" value="<?=$ciudres['ciudad']?>" readonly>
        </div>

    </div>

    <div class="fields">
        <div class="field">
            <label>Celular</label>
            <input type="text" id="rcelestud" name="rcelestud" value="<?=$datosactualizados['celular']?>" readonly/>
        </div>

        <div class="field">
            <label>E-mail</label>
            <input type="email" id="remailestud" name="remailestud" value="<?=$datosactualizados['email']?>" readonly/>
        </div>
        <div class="three wide field">
            <label>Teléfono fijo</label>
            <input type="text" id="tel_fijo" name="tel_fijo" value="<?=$datosactualizados['tel_fijo']?>" readonly/>
        </div>
    </div>

    <div class="fields">
        <div class="ten wide field">
            <label>Programa pregrado cursado-Unicordoba</label>
            <input type="text" id="progpre" name="progpre" value="<?=$progpre['nombre']?>" readonly/>
        </div>
    </div>

    <div class="fields">
        <div class="ten wide field">
            <label>Programa pregrado cursado-Otra universidad</label>
            <input type="text" id="progpreotra" name="progpreotra" value="<?=$datosactualizados['progpreotrauniv']?>">
        </div>
        <div class="ten wide field">
            <label>Nombre-Otra universidad-Pregrado</label>
            <select class="ui search dropdown nomotraunivpre" id="nomotraunivpre" name="nomotraunivpre" disabled>
                <?php foreach ($otraunivprogpre as $value) { ?>
                    <option value="<?=$value['id'] ?>"> <?=$value['nombre'] ?></option>
                <?php } ?>
            </select>
        </div>
    </div>

    <div class="fields">
        <div class="ten wide field">
            <label>Programa postgrado cursado-Unicordoba</label>
            <input type="text" id="progpos" name="progpos" value="<?=$progpos['nombre']?>" readonly/>
        </div>
    </div>

    <div class="fields">
        <div class="eight wide field">
            <label>Programa postgrado cursado-Otra universidad</label>
            <input type="text" id="progposotra" name="progposotra" value="<?=$datosactualizados['progposotrauniv']?>">
        </div>
        <div class="eight wide field">
            <label>Nombre-Otra universidad-Postgrado</label>
            <select class="ui search dropdown nomotraunivpos" id="nomotraunivpos" name="nomotraunivpos" disabled>
                <?php foreach ($otraunivprogpos as $value) { ?>
                    <option value="<?=$value['id'] ?>"> <?=$value['nombre'] ?></option>
                <?php } ?>
            </select>
        </div>
    </div>

    <div class="fields">
        <div class="four wide field">
            <label>Trabaja actualmente</label>
            <div class="ui checkbox">
                <input type="checkbox" tabindex="0" id="trabaja_actual" name="trabaja_actual" value="on"
                    <?php if (!empty($datosactualizados['trabajo_act'])) {    echo "checked";}?> disabled="disabled">
                <label></label>
            </div>
        </div>

        <div class="seven wide field">
            <label>Nombre Empresa o negocio donde trabaja</label>
            <input type="text" id="nombre_empresa" name="nombre_empresa" value="<?=$datosactualizados['nom_empresa']?>" readonly/>
        </div>

        <div class="five wide field">
            <label>Direccion de la empresa</label>
            <input type="text" name="direc_emp_trab" id="direc_emp_trab" value="<?=$datosactualizados['dir_empresa']?>" readonly />
        </div>
    </div>

    <div class="fields">
        <div class="five wide field">
            <label>Pais donde labora</label>
            <input type="text" id="paislab" name="paislab" value="<?=$paisres['Pais']?>" readonly>
        </div>

        <div class="five wide field">
            <label>Ciudad donde labora</label>
            <input type="text" id="ciudlab" name="ciudlab" value="<?=$ciudres['ciudad']?>" readonly>
        </div>
    </div>

    <div class="four fields">
        <div class="field">
            <label>Telefono Labora</label>
            <input type="text" name="telef_emp_trab" id="telef_emp_trab" value="<?=$datosactualizados['tel_empresa']?>" readonly />
        </div>

        <div class="field">
            <label>Cargo que ocupa actualmente</label>
            <input type="text" name="cargo_trab" id="cargo_trab" value="<?=$datosactualizados['cargo_empresa']?>" readonly />
        </div>

        <div class="thirteen wide field">
            <label>En que área le gustaria continuar su formación</label>
            <input type="text" name="expec_formac" id="expec_formac" maxlength="150"
                   value="<?= $datosactualizados['expec_formacion'] ?>" readonly >
        </div>
    </div>

    <div class="fields">
        <div class="twelve wide field">
            <label>De acuerdo con su experiencia laboral, en que area considera uted debe mejorar el programa del cual usted es egresado?</label>
            <input type="text" name="prog_debe_mejorar" id="prog_debe_mejorar" maxlength="300"
                   value="<?= $datosactualizados['prog_debe_mejorar'] ?>" readonly >
        </div>
        <div class="twelve wide field">
            <label>Cual considera usted que es la Fortaleza del programa del cual usted es egresado?</label>
            <input type="text" name="prog_fortaleza" id="prog_fortaleza" maxlength="300"
                   value="<?= $datosactualizados['prog_fortaleza'] ?>" readonly >
        </div>
    </div>

    <div class="ui error message"></div>

</form>

<script type="text/javascript">

    $('.ui.search.dropdown.paisres').dropdown('set selected',"<?=$datosactualizados['pais_res']?>");
    $('.ui.search.dropdown.ciudres').dropdown('set selected',<?=$datosactualizados['ciud_res']?>);

    $('.ui.search.dropdown.paislab').dropdown('set selected',"<?=$datosactualizados['pais_lab']?>");
    $('.ui.search.dropdown.ciudlab').dropdown('set selected',<?=$datosactualizados['ciud_lab']?>);

    $('.ui.search.dropdown.nomotraunivpre').dropdown('set selected',<?=$datosactualizados['id_otraunivpre']?>);
    $('.ui.search.dropdown.nomotraunivpos').dropdown('set selected',<?=$datosactualizados['id_otraunivpos']?>);

</script>