
<?php echo $this->doctype(); ?>

<html lang="en">
<head>
    <meta charset="iso-8859-1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">


    <?php echo $this->headTitle('Administrador - '. $this->translate('Encuestas'))->setSeparator(' - ')->setAutoEscape(false) ?>

    <link rel="stylesheet" type="text/css" href="<?php echo $this->url('home') ?>semantic/semantic.css">
    <!-- <link rel="stylesheet" type="text/css" href="<?php echo $this->url('home') ?>css/estilos.css"> -->

    <script src="<?php echo $this->url('home') ?>js/jquery-3.1.0.min.js"></script>
    <script src="<?php echo $this->url('home') ?>semantic/semantic.js"></script>
    <script src="<?php echo $this->url('home') ?>js/scripts.js"></script>

    <script type="text/javascript">
        // var ajax = new AJAX();
        $(document).ready(function() {
            $('.item.request').on('click',function(){
                ajaxGet("<?php echo $this->url('home') ?>"+$(this).attr('modulo')+"/"+$(this).attr('accion'), "contenedor2");
            });

            $('.toc.item').on('click',function(){
                $('.ui.sidebar').sidebar('toggle');
            });
        });
    </script>

</head>
<body>


<div class="ui bottom attached segment pushable">

    <div class="ui visible left vertical sidebar menu">
        <br>
        <h3 class="ui green center aligned icon header">
            <i class="circular white users icon"></i>
            [<?php echo $usuario; ?>]
        </h3>

        <a class="item request" modulo="docente" accion="mis-cursos">
            <i class="green calendar icon"></i>Encuesta Actual
        </a>
        <a class="item request" modulo="semana" accion="semanas">
            <i class="green calendar icon"></i>Encuestas Anteriores
        </a>
        <a class="item request" modulo="docente" accion="ver" href="<?php echo $this->url('home') ?>autenticacion/logout">
            <i class="red sign out icon"></i>Salir
        </a>



    </div>
    <div class="pusher">
        <div class="ui basic segment" id="contenedor" style="padding-right: 300px;">
            <?php echo $this->content; ?>
        </div>
    </div>

</div>


</body>
</html>
