<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name=viewport content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">

  <title>:: Arquitect SAS - Login ::</title>

  <link rel="stylesheet" type="text/css" href="<?php echo $this->url('home') ?>semantic/semantic.css"> 
  <link rel="stylesheet" type="text/css" href="<?php echo $this->url('home') ?>css/estilos.css">
 
  <script src="<?php echo $this->url('home') ?>js/jquery-3.1.0.min.js"></script>
  <script src="<?php echo $this->url('home') ?>semantic/semantic.js"></script>    

  <style type="text/css">

     
        
       
  </style>
    
  <script type="text/javascript">

    $(document).ready(function() {
            
        var settings = {
          on : 'blur',
            inline : true,
            onSuccess : function() {
                return true;
            }
        };
        
        
        $('.ui.form')
          .form({
                username: {
                  identifier  : 'username',
                  rules: [
                    {
                      type   : 'empty',
                      prompt : 'Ingrese nombre de usuario'
                    }
                  ]
                },
                password: {
                  identifier  : 'password',
                  rules: [
                    {
                      type   : 'empty',
                      prompt : 'Ingrese contrase&ntilde;a'
                    }
                  ]
                },
          },
          settings
          )
        ;
        
      
      });  

</script>


</head>

<body>


<div class="ui segment">
      <img src="<?php echo $this->url('home') ?>img/logo.png" class="ui image ">
</div>


<div class="ui grid">


      <div class="four wide column">
                <div style="padding-left: 50px; padding-top: 35px">
                <h2 class="ui green header">Iniciar Sesión</h2>
                <br>
                <form class="ui form" action="<?php echo $this->url('home') ?>autenticacion/autenticar" method="post" class="b">
                      <div class="field">
                        <label>Usuario</label>
                        <div class="ui left icon input">
                          <i class="user icon"></i>
                          <input type="text" name="username" id="username" placeholder="Usuario" maxlength="15">
                        </div>
                      </div>

                      <div class="field">
                        <label>Contraseña</label>
                        <div class="ui left icon input">
                          <i class="lock icon"></i>
                          <input type="password" name="password" id="password" placeholder="Contrase&ntilde;a" maxlength="15">
                        </div>
                      </div>
                      <div class="ui green submit button"><i class="sign in icon"></i>Ingresar</div>

                      <div class="ui error message"></div>

                </form>
                </div>
      </div>


      <div class="column">
              <div style="display: table-cell; background-color: #e6e6e6; width: 3px; height: 310px"></div>
      </div>
</div>



    
</body>
</html>
