<div class="ui secondary pointing menu">
    <div class="item">
        <h2><i class="green user icon"></i>Datos personales del estudiante</h2>
    </div>
    <!--   <div class="right menu">
         <a class="ui item" id="link_ver_productos">
           <i class="write square large green icon"></i> Corregir Datos Personales
         </a>
       </div>-->
</div>

<table class="ui table compact">
    <tbody>
    <tr>
        <td class="sombreado"><strong>Identificación</strong></td>
        <td><?= $estudiante['nro_ident']?></td>

        <td class="sombreado"><strong>Nombres y apellidos</strong></td>
        <td><?= $estudiante['nombres'].' '.$estudiante['apellidos'] ?></td>

        <td class="sombreado"><strong>Lugar de expedición</strong></td>
        <td><?= $estudiante['ciud_exped'] ?></td>
    </tr>
    <tr>
        <td class="sombreado"><strong>Fecha de nacimiento</strong></td>
        <td><?= date_format(date_create($estudiante['fecnac']), 'd/m/Y') ?></td>

        <td class="sombreado"><strong>Lugar de Nacimiento</strong></td>
        <td><?= $estudiante['mpio_nac'] ?></td>

        <td class="sombreado"><strong>Email</strong></td>
        <td><?= $estudiante['email'] ?></td>
    </tr>
    <tr>
        <td class="sombreado"><strong>Teléfono</strong></td>
        <td><?= $estudiante['tel_residencia'] ?></td>

        <td class="sombreado"><strong>Celular</strong></td>
        <td><?= $estudiante['cel_egresado'] ?></td>

        <td class="sombreado"><strong>Dirección de residencia</strong></td>
        <td><?= $estudiante['dir_residencia'] ?></td>
    </tr>
    </tbody>
</table>

<form class="ui form segment tiny forma">

    <div class="fields">
        <label>Autorizar para realizar la encuesta?</label>
        <div class="ui checkbox">
            <input type="checkbox" id="autoriza" name="autoriza">
            <label></label>
        </div>
    </div>

    <div class="ui error message"></div>

    <button class="ui button estudiante">
        Autorizar para la Encuesta
    </button>

    <input type="hidden" name="id_estudiante" value="<?=$estudiante['id']?>">
</form>

<script type="text/javascript">

     $('.ui.dropdown').dropdown();

     $.fn.api.settings.api = {
       'actualizar' : '<?php echo $this->url('home') ?>autoriza/actualizar',
     };

     var rules = {
         autoriza: {
             identifier: 'autoriza',
             rules: [
                 {
                     type: 'checked',
                     prompt: 'Ingrese el valor del campo autorizar'
                 },
             ]
         },
     };


     $('.ui.form.segment.tiny.forma').form({
         on: 'blur',
         inline : true,
         fields: rules,
         onSuccess : function() {
             return false;
         },
     });

     buttonPostValidation('.ui.button.estudiante', 'actualizar', '.ui.form.segment.tiny.forma', 'contenedor');

</script>