
<style type="text/css">
    .container2 {
        padding: 10px;
        width: 100%;
        height: 400px;
        border: 1px solid #D8D8D8;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .floatLeft2 {
        width: 2000px;
        height: 400px;
    }
    .column {
        max-width: 400px;
    }
    .recuadro {
        background: #FFFFFF;
        max-width: 850px;
        padding: 30px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    #cedula, #nombres, #apellidos,
    #celular, #email, #email_secundario, #tipo_asistente,
    #programa, #institucion, #ciudad, #departamento, #colilla{
        width: 100%;
        border: 1px solid #60A644;
    }
    h4#text{
        color: #60a644;
    }

</style>

<div class="ui middle aligned center aligned grid">
    <div class="column recuadro">
        <center><img class="img-responsive" src="<?php echo $this->url('home') ?>img/congreso1.jpeg"></center>
        <form class="ui form segment inscripcion" method="post" enctype="multipart/form-data">
            <div class="ui stacked segment basic">
                <h4 id="text" class="ui dividing header">Datos Personales</h4>
                <div class="tree fields">
                    <div class="five wide field">
                        <label>Cedula:</label>
                        <input type="text" id="cedula" name="cedula">
                    </div>
                    <div class="six wide field">
                        <label>Nombres:</label>
                        <input type="text" id="nombres" name="nombres">
                    </div>
                    <div class="six wide field">
                        <label>Apellidos:</label>
                        <input type="text" id="apellidos" name="apellidos">
                    </div>
                </div>
                <h4 id="text" class="ui dividing header">Datos de contacto</h4>
                <div class="tree fields">
                    <div class="five wide field">
                        <label>Celular:</label>
                        <input type="text" id="celular" name="celular">
                    </div>
                    <div class="six wide field">
                        <label>E-mail:</label>
                        <input type="text" id="email" name="email">
                    </div>
                    <div class="six wide field">
                        <label>E-mail Secundario:</label>
                        <input type="text" id="email_secundario" name="email_secundario">
                    </div>
                </div>
                <h4 id="text" class="ui dividing header">Información Academica</h4>
                <div class="tree fields">
                    <div class="five wide field">
                        <label>Tipo Asistente:</label>
                        <select id="tipo_asistente" name="tipo_asistente">
                            <option value="">Tipo de Asistente</option>
                            <option value="Asistente">Asistente</option>
                            <option value="Ponente">Ponente</option>
                        </select>
                    </div>
                    <div class="six wide field">
                        <label>Programa:</label>
                        <input type="text" id="programa" name="programa">
                    </div>
                    <div class="six wide field">
                        <label>Institución:</label>
                        <input class="c1 c2" type="text" id="institucion" name="institucion">
                    </div>
                </div>
                <h4 id="text" class="ui dividing header">Datos de Ubicación</h4>
                <div class="two fields">
                    <div class="field">
                        <label>Departamento:</label>
                        <input type="text" id="departamento" name="departamento">
                    </div>
                    <div class="field">
                        <label>Ciudad:</label>
                        <input type="text" id="ciudad" name="ciudad">
                    </div>
                </div>
                <h4 id="text" class="ui dividing header">Comprobante de pago</h4>
                <div class="field">
                    <label>Colilla de pago</label>
                    <input type="file" id="colilla" name="colilla" >
                </div>

                <div class="field center aligned">
                    <div class="ui fluid green labeled icon button inscribir"><i class="save icon"></i> Registrar </div>
                </div>
                <div class="ui error message"></div>
            </div>
        </form>
    </div>
</div>


<br>
<script type="text/javascript">

    $.fn.api.settings.api = {
        'inscribir' : '<?php echo $this->url('home') ?>usuario/upload',
    };
    var rules = {

        colilla: { identifier  : 'colilla', rules: [
            { type   : 'empty', prompt : 'Cargue la colilla de pago en formato jpg ó png' }, ]
        },
    };
    $('.ui.form.segment.inscripcion').form({
        on: 'blur',
        inline : true,
        fields: rules,
        onSuccess : function() {
            return false;
        },
    });

    buttonPostValidation('.ui.button.inscribir', 'inscribir', '.ui.form.segment.inscripcion', 'contenedor');

</script>

<div id="contenedor-calcular"></div>
