
<script type="text/javascript">
    $(document).ready(function() {
        $('.item.request2').on('click',function(){
            ajaxGet("<?php echo $this->url('home') ?>"+$(this).attr('modulo')+"/"+$(this).attr('accion'), "contenedor5");
        });
    });
</script>


<div class="ui menu">
    <div class="header item active green">
        Opciones
    </div>
    <a class="item request2" modulo="reportes" accion="form-encuestas-realizadas">
        Encuestas realizadas
    </a>
    <a class="item request2" modulo="reportes" accion="form-encuestas-no-realizadas">
        Encuestas sin realizar
    </a>
    <a class="item">
        <div class="ui action input">
            <input type="text" placeholder="Identificaci&oacute;n">
            <div class="ui green button">Buscar</div>
        </div>
    </a>

</div>

<div id="contenedor5">

<div class="ui segment green">
    <h3 class="ui dividing header ">
        Encuestas Actual
    </h3>
    <div class="ui four column grid">
        <div class="column">
            <div class="ui segments">
                <div class="ui segment">
                    <h4 class="ui red header"><i class="list icon"></i> Encuestas a realizar</h4>
                </div>
                <div class="ui secondary red inverted dashboard center aligned segment">
                    <div class="ui dashboard statistic valor">
                        <div class="value valor" style="color: white">
                            <?= $estudiantes['total']?>
                        </div>
                        <div class="label" style="color: white">
                            Estudiantes
                        </div>
                    </div>
                </div>
                <div class="ui segment">
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui segments">
                <div class="ui segment">
                    <h4 class="ui yellow header"><i class="list icon"></i> Encuestas realizadas</h4>
                </div>
                <div class="ui secondary yellow inverted dashboard center aligned segment">
                    <div class="ui dashboard statistic valor">
                        <div class="value valor" style="color: white">
                            <?= $realizadas['total']?>
                        </div>
                        <div class="label" style="color: white">
                            Encuestas
                        </div>
                    </div>
                </div>
                <div class="ui segment">
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui segments">
                <div class="ui segment">
                    <h4 class="ui green header"><i class="list icon"></i>Encuestas Faltantes</h4>
                </div>
                <div class="ui secondary green inverted dashboard center aligned segment">
                    <div class="ui dashboard statistic valor">
                        <div class="value valor" style="color: white">
                            <?= $estudiantes['total'] - $realizadas['total'] ?>
                        </div>
                        <div class="label" style="color: white">
                            Encuestas
                        </div>
                    </div>
                </div>
                <div class="ui segment">
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>

    </div>
</div>


</div>




