
<div class="ui secondary pointing menu">
    <div class="item">
        <h2><i class="green user icon"></i>Datos personales del estudiante</h2>
    </div>
</div>

<label>Fecha y hora de la Encuesta: </label><input type="text" id="fec_encuesta" name="fec_encuesta" value="<?=$encuestapost['fec_encuesta']?>">

<table class="ui table compact">
    <tbody>
    <tr>
        <td class="sombreado"><strong>Nombres y apellidos</strong></td>
        <td><?= $estudiante['nombres'].' '.$estudiante['apellidos'] ?></td>

        <td class="sombreado"><strong>Identificación</strong></td>
        <td><?= $estudiante['nro_ident']?></td>

        <td class="sombreado"><strong>Lugar de expedición</strong></td>
        <td><?= $estudiante['ciud_exped'] ?></td>
    </tr>
    <tr>
        <td class="sombreado"><strong>Fecha de nacimiento</strong></td>
        <td><?= date_format(date_create($estudiante['fecnac']), 'd/m/Y') ?></td>

        <td class="sombreado"><strong>Sexo</strong></td>
        <td><?= $estudiante['sexo'] ?></td>

        <td class="sombreado"><strong>Lugar de Nacimiento</strong></td>
        <td><?= $estudiante['mpio_nac'] ?></td>
    </tr>
    <tr>
        <td class="sombreado"><strong>Departamento Nacimiento</strong></td>
        <td><?= $estudiante['dpto_nac'] ?></td>

        <td class="sombreado"><strong>Teléfono</strong></td>
        <td><?= $estudiante['tel_residencia'] ?></td>

        <td class="sombreado"><strong>Celular</strong></td>
        <td><?= $estudiante['cel_egresado'] ?></td>
    </tr>
    <tr>
        <td class="sombreado"><strong>Email</strong></td>
        <td><?= $estudiante['email'] ?></td>

        <td class="sombreado"><strong>Dirección de residencia</strong></td>
        <td><?= $estudiante['dir_residencia'] ?></td>

        <td class="sombreado"><strong>Municipio de residencia</strong></td>
        <td><?= $estudiante['mpio_residencia'] ?></td>
    </tr>
    </tbody>
</table>

<div class="ui secondary pointing menu">
    <div class="item">
        <h2><i class="green user icon"></i>Reconfirme Datos Personales</h2>
    </div>
</div>

<form class="ui form segment tiny formencuesta">

    <div class="four fields">
        <div class="field">
            <label>Celular</label>
            <input type="text" id="rcelestud" name="rcelestud" maxlength="10" value="<?= $encuestapost['rcelestud'] ?>"  readonly="readonly"/>
        </div>
        <div class="field">
            <label>Teléfono de Residencia</label>
            <input type="text" id="rtelestud" name="rtelestud" maxlength="10"  readonly="readonly" value="<?= $encuestapost['rtelestud'] ?>"/>
        </div>
        <div class="field">
            <label>Teléfono de Trabajo</label>
            <input type="text" id="rteltrabestud" name="rteltrabestud" maxlength="10" value="<?= $encuestapost['rteltrabestud'] ?>" readonly="readonly">
        </div>
        <div class="field">
            <label>E-mail</label>
            <input type="email" id="remailestud" name="remailestud" maxlength="100"
                   value="<?= $encuestapost['remailestud'] ?>" readonly="readonly">
        </div>
    </div>


    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Historia Académica</h2>
        </div>
    </div>


    <div class="fields">
        <div class="six wide field">
            <label>SNP_SABER_PRO Registro No</label>
            <input type="text" id="snp" name="snp" maxlength="30" value="<?= $encuestapost['ha_npsaberpro'] ?>" readonly="readonly">
        </div>
        <div class="ten wide field">
            <label>En que universidad se Graduo del Pregrado</label>
            <!--		      <input type="text" id="univer_otra" name="univer_otra" maxlength="100" disabled="disabled"> -->
            <select class="ui dropdown univer_pre" name="univer_pre" id="univer_pre">
                <option value="" selected>SELECCIONE</option>
                <?php foreach ($universidad as $bunivers) {?>
                    <option value="" <?php if($encuesta['ha_univpregraduado'] == ""){ ?> selected <?php } ?> ></option>
                    <option value="<?=$encuestapost['ha_univpregraduado']?>"
                        <?php if($encuestapost['ha_univpregraduado'] == $bunivers['codigo']){ ?> selected <?php } ?> >
                              <?=$bunivers['nombre']?></option>
                <?php }?>
            </select>
        </div>
    </div>

    <div class="fields">
        <div class="ten wide field">
            <label>Programa pregrado cursado</label>
            <input type="text" id="progpre" name="progpre" size="120" value="<?= $encuestapost['ha_progpregraduado'] ?>" readonly="readonly">
        </div>
        <div class="ten wide field">
            <label>Programa de Postgrado Cursado</label>
            <select class="ui dropdown origen search" id="progpost" name="progpost">
                <option value="1" <?php if($encuestapost['ha_progpostgraduado']=="1"){ ?> selected <?php } ?> >TELECOMUNICACIONES</option>
                <option value="2" <?php if($encuestapost['ha_progpostgraduado']=="2"){ ?> selected <?php } ?> >TRIBUTARIA</option>
            </select>
        </div>
    </div>

    <div class="fields">
        <div class="three wide field">
            <label>Semestre inicio</label>
            <select class="ui dropdown origen search" id="sem_ini" name="sem_ini" disabled="disabled">
                <option value="1" <?php if($encuestapost['ha_seminipost']=="1"){ ?> selected <?php } ?> >I</option>
                <option value="2" <?php if($encuestapost['ha_seminipost']=="2"){ ?> selected <?php } ?> >II</option>
            </select>
        </div>
        <div class="two wide field">
            <label>Año Inicio</label>
            <input type="text" id="anyo1" name="anyo1" maxlength="4" value="<?= $encuestapost['ha_anoinipost'] ?>" readonly="readonly">
        </div>
        <div class="three wide field">
            <label>Semestre Finalización</label>
            <select class="ui dropdown origen search" id="sem_fin" name="sem_fin" disabled="disabled">
                <option value="1" <?php if($encuestapost['ha_semfinpost']=="1"){ ?> selected <?php } ?> >I</option>
                <option value="2" <?php if($encuestapost['ha_semfinpost']=="1"){ ?> selected <?php } ?> >II</option>
            </select>
        </div>
        <div class="two wide field">
            <label>Año Finalización</label>
            <input type="text" id="anyo2" name="anyo2" maxlength="4" value="<?= $encuestapost['ha_anofinpost'] ?>" readonly="readonly">
        </div>
        <div class="six wide field">
            <label>En qué % el programa de pregreado que estudió llenó sus expectativas académicas?</label>
            <input type="text" id="porcentaje" name="porcentaje" readonly="readonly" value="<?= $encuestapost['ha_porcsatis'] ?>">
        </div>
    </div>

    <div class="fields">
        <div class="three wide field">
            <label>Estudio otra carrera?</label>
            <div class="ui checkbox">
                <input type="checkbox" tabindex="0" id="estudio_otra" name="estudio_otra" value="on"
                    <?php if (!empty($encuestapost['ha_estudotropost'])) {    echo "checked";}?> disabled="disabled">
                <label></label>
            </div>
        </div>
        <div class="three wide field">
            <label>Termino esa carrera?</label>
            <select class="ui dropdown termino_otra" id="termino_otra" name="termino_otra" disabled="disabled">
                <option value="" <?php if($encuestapost['ha_termesepost']==""){ ?> selected <?php } ?> ></option>
                <option value="SI" <?php if($encuestapost['ha_termesepost']=="SI"){ ?> selected <?php } ?> >SI</option>
                <option value="NO" <?php if($encuestapost['ha_termesepost']=="NO"){ ?> selected <?php } ?> >NO</option>
            </select>
        </div>
        <div class="field">
            <label>Qué carrera estudio?</label>
            <input type="text" id="otroprograma" name="otroprograma" maxlength="100" value="<?=$encuestapost['ha_nomesepost']?>" readonly="readonly">
        </div>
        <div class="ten wide field">
            <label>En que universidad</label>
            <select class="ui dropdown univer_otra" name="univer_otra" id="univer_otra" disabled="disabled">
                <?php foreach ($univpost as $bunipost) {?>
                    <option value="" <?php if($encuestapost['ha_univpostgraduado'] == ""){ ?> selected <?php } ?> ></option>
                    <option value="<?=$encuestapost['ha_univpostgraduado']?>"
                        <?php if($encuestapost['ha_univpostgraduado'] == $bunipost['codigo']){ ?> selected <?php } ?> >
                           <?=$bunipost['nombre']?></option>
                <?php }?>
            </select>
        </div>
    </div>

    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Expectativa de postgrados</h2>
        </div>
    </div>

    <div class="field">
        <label>En qúe área de formación le gustaría continuar?</label>
        <input type="text" id="especializar" name="especializar" maxlength="80" value="<?=$encuestapost['ep_areaformcontinua']?>" readonly="readonly">
    </div>

    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Información Laboral</h2>
        </div>
    </div>

    <div class="fields">
        <div class="three wide field">
            <label>Trabaja actualmente</label>
            <div class="ui checkbox">
                <input type="checkbox" tabindex="0" id="trabaja_actual" name="trabaja_actual" value="on"
                    <?php if (!empty($encuestapost['il_trabactualmente'])) {    echo "checked";}?> disabled="disabled">
                <label></label>
            </div>
        </div>
        <div class="three wide field">
            <label>Fecha en la que comenzó</label>
            <input type="text" id="fecha_inilaboral" name="fecha_inilaboral" maxlength="10"
                   value="<?=$encuestapost['il_fecinilab']?>" readonly="readonly">
        </div>
        <div class="five wide field">
            <label>Ocupación en ese trabajo</label>
            <input type="text" id="ocupacion_trabajo" name="ocupacion_trabajo" maxlength="80" value="<?=$encuestapost['il_ocupesetraba']?>" readonly="readonly">
        </div>
    </div>
    <div class="fields">
        <div class="seven wide field">
            <label>Empresa o negocio donde trabajaba</label>
            <input type="text" id="nombre_empresa" name="nombre_empresa" maxlength="100" value="<?=$encuestapost['il_nomemplab']?>" readonly="readonly">
        </div>
        <div class="field">
            <label>Cual es la actividad económica a la que se dedica la empresa donde trabajaba o trabaja?</label>
            <input type="text" id="actividad_empresa" name="actividad_empresa" maxlength="80" value="<?=$encuestapost['il_actecoemplab']?>" readonly="readonly">
        </div>
    </div>
    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Información de empleadores</h2>
        </div>
    </div>

    <div class="content field">
        <div class="four fields">
            <div class="field">
                <label>Nombre del Director o Gerente de la Empresa</label>
                <input type="text" name="nom_gerente_emp_trab" id="nom_gerente_emp_trab" maxlength="80" value="<?=$encuestapost['ie_nomgteemp']?>" readonly="readonly" />
            </div>
            <div class="field">
                <label>Nombre del Jefe Inmediato</label>
                <input type="text" name="nom_jefe_emp_trab" id="nom_jefe_emp_trab" maxlength="80" value="<?=$encuestapost['ie_nomjefinme']?>" readonly="readonly" />
            </div>
            <div class="field">
                <label>Direccion Laboral</label>
                <input type="text" name="direc_emp_trab" id="direc_emp_trab" maxlength="100" value="<?=$encuestapost['ie_diremplab']?>" readonly="readonly" />
            </div>
            <div class="field">
                <label>Departamento</label>
                <input type="text" name="dpto_emp_trab" id="dpto_emp_trab" maxlength="60" value="<?=$encuestapost['ie_dptoemplab']?>" readonly="readonly" />
            </div>
        </div>
        <div class="four fields">
            <div class="field">
                <label>Municipio</label>
                <input type="text" name="mpio_emp_trab" id="mpio_emp_trab" maxlength="60" value="<?=$encuestapost['ie_mpioemplab']?>" readonly="readonly" />
            </div>
            <div class="field">
                <label>Telefono Labora</label>
                <input type="text" name="telef_emp_trab" id="telef_emp_trab" maxlength="10" value="<?=$encuestapost['ie_telemplab']?>" readonly="readonly" />
            </div>
            <div class="field">
                <label>E-mail Labora</label>
                <input type="text" name="email_emp_trab" id="email_emp_trab" maxlength="100" value="<?=$encuestapost['ie_emailemplab']?>" readonly="readonly" />
            </div>
        </div>
    </div>

    <div class="ui error message"></div>

    <button class="ui button encuesta">
        Regesar
    </button>

</form>

<script type="text/javascript">

    $('.ui.dropdown').dropdown();

    $(.ui.button.encuesta).api(
        {
            action: accion,

        });

    $.fn.api.settings.api = {
        'index' : '<?php echo $this->url('home') ?>usuario/index',
    };



</script>
