<script type="text/javascript">
	var rules1={};
	var rules2={};
	var rules3={};
	var rules4={};
	var reglas={};
</script>

<h2>Encuesta sobre Clima Organizacional</h2>



<form class="ui form factor1" id="form-0">

<div id="container1" >

	<div class="ui top attached tabular menu">
	  <a class="active item" data-tab="first">1. Factores Psicológicos</a>
	</div>

	<div class="ui bottom attached active tab segment" data-tab="first">

		
			<table class="ui table celled striped blue selectable small compact letramediana">
			  <thead>
			    <tr>
			      <th>&nbsp;</th>
			      <th>Pregunta</th>
			      <th class="collapsing">1. Nunca</th>
			      <th class="collapsing">2. Casi Nunca</th>
			      <th class="collapsing">3. Algunas Veces</th>
			      <th class="collapsing">4. Casi Siempre</th>
			      <th class="collapsing">5. Siempre</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<?php 
			        $i=1;
			    ?>
			    <?php foreach ($f1 as $key): ?>
				        <tr>
				          <td><?= $i++; ?></td>
				          <td><?= $key['descripcion'] ?></td>
				          <td class="center aligned"><input type="radio" value="1" name="<?= $key['id'] ?>" tabindex="0" class="hidden"></td>
				          <td class="center aligned"><input type="radio" value="2" name="<?= $key['id'] ?>" tabindex="0" class="hidden"></td>
				          <td class="center aligned"><input type="radio" value="3" name="<?= $key['id'] ?>" tabindex="0" class="hidden"></td>
				          <td class="center aligned"><input type="radio" value="4" name="<?= $key['id'] ?>" tabindex="0" class="hidden"></td>
				          <td class="center aligned"><input type="radio" value="5" name="<?= $key['id'] ?>" tabindex="0" class="hidden"></td>
				        </tr>

				     	<script type="text/javascript">
				     			var nomElemento = '<?= $key['id'] ?>';
				     			var rule1 = {
			                      	[nomElemento]: {
			                          	identifier  : nomElemento,
			                          	rules: [
			                                {
			                                    type   : 'checked',
			                                    prompt : 'El campo {name} esta vacío'
			                                },
			                          	]
			                      	},
			                  	};

			                  	// var newRule = $.extend(rules, rule);
			                  	var newRule1 = $.extend(rules1, rule1);
			                  	$.extend(reglas, rule1);

				     	</script>

			    <?php endforeach ?>
			  </tbody>
			</table>

			<div class="ui segment basic right aligned">
				<div class="ui green inverted  right labeled icon  button" id="btn_f2"> Siguiente...
	                <i class="right chevron icon"></i>
	            </div>
			</div>
	</div>

</div>



<div id="container2">
		<div class="ui top attached tabular menu">
		  <a class="active item" data-tab="first">2. Factores Grupales</a>
		</div>

	<div class="ui bottom attached active tab segment" data-tab="first">
		
			<table class="ui table celled striped blue selectable small compact letramediana">
			  <thead>
			    <tr>
			      <th>&nbsp;</th>
			      <th>Pregunta</th>
			      <th class="collapsing">1. Nunca</th>
			      <th class="collapsing">2. Casi Nunca</th>
			      <th class="collapsing">3. Algunas Veces</th>
			      <th class="collapsing">4. Casi Siempre</th>
			      <th class="collapsing">5. Siempre</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<?php 
			        $i=1;
			    ?>
			    <?php foreach ($f2 as $key): ?>
			        <tr>
			          <td><?= $i++; ?></td>
			          <td><?= $key['descripcion'] ?></td>
			          <td class="center aligned"><input type="radio" value="1" name="<?= $key['id'] ?>" tabindex="0" class="hidden"></td>
			          <td class="center aligned"><input type="radio" value="2" name="<?= $key['id'] ?>" tabindex="0" class="hidden"></td>
			          <td class="center aligned"><input type="radio" value="3" name="<?= $key['id'] ?>" tabindex="0" class="hidden"></td>
			          <td class="center aligned"><input type="radio" value="4" name="<?= $key['id'] ?>" tabindex="0" class="hidden"></td>
			          <td class="center aligned"><input type="radio" value="5" name="<?= $key['id'] ?>" tabindex="0" class="hidden"></td>
			        </tr>

			        	<script type="text/javascript">
				     			var nomElemento = '<?= $key['id'] ?>';
				     			var rule2 = {
			                      	[nomElemento]: {
			                          	identifier  : nomElemento,
			                          	rules: [
			                                {
			                                    type   : 'checked',
			                                    prompt : 'El campo {name} esta vacío'
			                                },
			                          	]
			                      	},
			                  	};

			                  	var newRule2 = $.extend(rules2, rule2);
			                  	$.extend(reglas, rule2);

				     	</script>

			    <?php endforeach ?>
			  </tbody>
			</table>


			<div class="ui two column grid">
				<div class="column">  
						<div class="ui green inverted left labeled icon  button" id="btn_step2">Anterior
			                <i class="left chevron icon"></i>
			            </div>
				</div>
				<div class="column right aligned">  
						<div class="ui green inverted  right labeled icon  button" id="btn_f3">Siguiente
			                <i class="right chevron icon"></i>
			            </div>
				</div>
			</div>
	</div>
</div>




<div id="container3">
		<div class="ui top attached tabular menu">
		  <a class="active item" data-tab="first">3. Factores Organizacionales</a>
		</div>

		<div class="ui bottom attached active tab segment" data-tab="first">

				<table class="ui table celled striped blue selectable small compact letramediana">
				  <thead>
				    <tr>
				      <th>&nbsp;</th>
				      <th>Pregunta</th>
				      <th class="collapsing">1. Nunca</th>
				      <th class="collapsing">2. Casi Nunca</th>
				      <th class="collapsing">3. Algunas Veces</th>
				      <th class="collapsing">4. Casi Siempre</th>
				      <th class="collapsing">5. Siempre</th>
				    </tr>
				  </thead>
				  <tbody>
				  	<?php 
				        $i=1;
				    ?>
				    <?php foreach ($f3 as $key): ?>
				        <tr>
				          <td><?= $i++; ?></td>
				          <td><?= $key['descripcion'] ?></td>
				          <td class="center aligned"><input type="radio" value="1" name="<?= $key['id'] ?>" tabindex="0" class="hidden"></td>
				          <td class="center aligned"><input type="radio" value="2" name="<?= $key['id'] ?>" tabindex="0" class="hidden"></td>
				          <td class="center aligned"><input type="radio" value="3" name="<?= $key['id'] ?>" tabindex="0" class="hidden"></td>
				          <td class="center aligned"><input type="radio" value="4" name="<?= $key['id'] ?>" tabindex="0" class="hidden"></td>
				          <td class="center aligned"><input type="radio" value="5" name="<?= $key['id'] ?>" tabindex="0" class="hidden"></td>
				        </tr>

				        <script type="text/javascript">
					     			var nomElemento = '<?= $key['id'] ?>';
					     			var rule3 = {
				                      	[nomElemento]: {
				                          	identifier  : nomElemento,
				                          	rules: [
				                                {
				                                    type   : 'checked',
				                                    prompt : 'El campo {name} esta vacío'
				                                },
				                          	]
				                      	},
				                  	};

				                  	var newRule3 = $.extend(rules3, rule3);
				                  	$.extend(reglas, rule3);

					     	</script>

				    <?php endforeach ?>
				  </tbody>
				</table>

				<div class="ui two column grid">
					<div class="column">  
							<div class="ui green inverted left labeled icon  button" id="btn_step4">Anterior
				                <i class="left chevron icon"></i>
				            </div>
					</div>
					<div class="column right aligned">  
							<div class="ui green inverted  right labeled icon  button" id="btn_f4">Siguiente
				                <i class="right chevron icon"></i>
				            </div>
					</div>
				</div>
		</div>
</div>




<div id="container4">

		<div class="ui top attached tabular menu">
		  <a class="active item" data-tab="first">4. Factores Político Laborales</a>
		</div>

		<div class="ui bottom attached active tab segment" data-tab="first">	

			<table class="ui table celled striped blue selectable small compact letramediana">
			  <thead>
			    <tr>
			      <th>&nbsp;</th>
			      <th>Pregunta</th>
			      <th class="collapsing">1. Nunca</th>
			      <th class="collapsing">2. Casi Nunca</th>
			      <th class="collapsing">3. Algunas Veces</th>
			      <th class="collapsing">4. Casi Siempre</th>
			      <th class="collapsing">5. Siempre</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<?php 
			        $i=1;
			    ?>
			    <?php foreach ($f4 as $key): ?>
			        <tr>
			          <td><?= $i++; ?></td>
			          <td><?= $key['descripcion'] ?></td>
			          <td class="center aligned"><input type="radio" value="1" name="<?= $key['id'] ?>" tabindex="0" class="hidden"></td>
			          <td class="center aligned"><input type="radio" value="2" name="<?= $key['id'] ?>" tabindex="0" class="hidden"></td>
			          <td class="center aligned"><input type="radio" value="3" name="<?= $key['id'] ?>" tabindex="0" class="hidden"></td>
			          <td class="center aligned"><input type="radio" value="4" name="<?= $key['id'] ?>" tabindex="0" class="hidden"></td>
			          <td class="center aligned"><input type="radio" value="5" name="<?= $key['id'] ?>" tabindex="0" class="hidden"></td>
			        </tr>

			        	<script type="text/javascript">
				     			var nomElemento = '<?= $key['id'] ?>';
				     			var rule4 = {
			                      	[nomElemento]: {
			                          	identifier  : nomElemento,
			                          	rules: [
			                                {
			                                    type   : 'checked',
			                                    prompt : 'El campo {name} esta vacío'
			                                },
			                          	]
			                      	},
			                  	};

			                  	var newRule4 = $.extend(rules4, rule4);
			                  	$.extend(reglas, rule4);

				     	</script>

			    <?php endforeach ?>
			  </tbody>
			</table>

			<div class="ui two column grid">
				<div class="column">  
						<div class="ui green inverted left labeled icon  button" id="btn_step6">Anterior
			                <i class="left chevron icon"></i>
			            </div>
				</div>
				<div class="column right aligned">  
						<div class="ui green inverted  right labeled icon  button" id="btn_final">Siguiente
			                <i class="right chevron icon"></i>
			            </div>
				</div>
			</div>
		</div>
</div>

<div id="container5">

		<div class="ui top attached tabular menu">
			<a class="active item" data-tab="first">Finalizar Encuesta</a>
		</div>

		<div class="ui bottom attached active tab segment" data-tab="first">
				<div class="column right aligned">  
						<div class="ui red inverted  right labeled icon  button enviar" id="btn_enviar">Finalizar
			                <i class="right chevron icon"></i>
			            </div>
				</div>
		</div>

</div>


</form>


<br>
<script type="text/javascript">
	
	$('.menu .item').tab();
	$('.ui.radio.checkbox').checkbox();

	$('#container2').hide();
	$('#container3').hide();
	$('#container4').hide();
	$('#container5').hide();


	$('.ui.form.factor1').form({fields: newRule1});

	// 2. Factores Grupales
	$('#btn_f2').on("click",function(){
		$('.ui.form.factor1').form('validate form');
        if ($('.ui.form.factor1').form('is valid')) {
            transicionSiguiente("#container1","#container2");
            $('.ui.form.factor1').form({fields: newRule2});
        } else{
            alert('no');
        };        
    });



    // 3. Factores Organizacionales
	$('#btn_f3').on("click",function(){
		$('.ui.form.factor1').form('validate form');
        if ($('.ui.form.factor1').form('is valid')) {
            transicionSiguiente("#container2","#container3");
            $('.ui.form.factor1').form({fields: newRule3});
        } else{
            alert('no');
        };        
    });

    // 4. Factores Político Laborales
	$('#btn_f4').on("click",function(){
		$('.ui.form.factor1').form('validate form');
        if ($('.ui.form.factor1').form('is valid')) {
            transicionSiguiente("#container3","#container4");
            $('.ui.form.factor1').form({fields: newRule4});
        } else{
            alert('no');
        };        
    });


    $('#btn_final').on("click",function(){
		$('.ui.form.factor1').form('validate form');
        if ($('.ui.form.factor1').form('is valid')) {
            transicionSiguiente("#container4","#container5");
            $('.ui.form.factor1').form({fields: reglas});
        } else{
            alert('no');
        };        
    });

    $.fn.api.settings.api = {
      'enviar' : "<?php echo $this->url('home') ?>encuesta/enviar",
  	};

    buttonPostValidation('.ui.red.inverted.right.labeled.icon.button.enviar', 'enviar', '.ui.form.factor1', 'contenedorxxxxxxx');

	/*
	// Regresar Paso 1
    $('#btn_step2').on("click",function(){       
        
        $('.ui.form.factor2').form('validate form');
        if ($('.ui.form.factor2').form('is valid')) {
            transicionAnterior("#container2","#container1");
        } else{
            alert('no');
        };
    });


    // Paso 3
    $('#btn_step3').on("click",function(){       
        
        $('.ui.form.factor2').form('validate form');
        if ($('.ui.form.factor2').form('is valid')) {
            transicionSiguiente("#container2","#container3");
        } else{
            alert('no');
        };
    });


    // Regresar paso 2
    $('#btn_step4').on("click",function(){       
        
        $('.ui.form.factor3').form('validate form');
        if ($('.ui.form.factor3').form('is valid')) {
            transicionAnterior("#container3","#container2");
        } else{
            alert('no');
        };
    });


    // Paso 4
    $('#btn_step5').on("click",function(){       
        
        $('.ui.form.factor3').form('validate form');
        if ($('.ui.form.factor3').form('is valid')) {
            transicionSiguiente("#container3","#container4");
        } else{
            alert('no');
        };
    });

    // Regresar paso 3
    $('#btn_step6').on("click",function(){       
        
        $('.ui.form.factor3').form('validate form');
        if ($('.ui.form.factor3').form('is valid')) {
            transicionAnterior("#container4","#container3");
        } else{
            alert('no');
        };
    });


	*/
    

</script>