<div class="ui negative icon message">
	  <i class="warning  circle icon"></i>
	  <div class="content">
				<div class="header">Error</div>
				<p>
					<?php 
						foreach ($mensaje as $key => $value) {
							foreach ($value as $key2 => $value2) {
								echo $value2." <br>";
							}							
						}
					?>
				</p>
	  </div>
</div>
