<div class="ui teal info icon message">
	  <i class="blue info circle icon"></i>
	  <div class="content">
				<div class="header">Informaci&oacute;n</div>
				<p><?php echo $mensaje; ?></p>
	  </div>
</div>
