<html>
<head>
    <style media="print">
        .noprint { display: none }
    </style>
</head>
<body>
<table class="ui table compact">
    <div class="item">
        <h2 align="center"><i class="green"></i>UNIVERSIDAD DE CORDOBA</strong></h2>
    </div>
</table>
<br>
<table class="ui table compact">
    <div class="item">
        <h5 align="center"><i class="green"></i>Indicadores Estudiantes Realizaron la Encuesta-Postgrado</strong></h5>
    </div>
</table>
<table class="ui table compact">
    <tr>
        <?php
        $tot=0;
        foreach ($estudtrabajapost as  $value):
            $tot=$tot+1;
        endforeach ?>
        <td width="5%"></td>
        <td><strong>¿Cuantos Egresados Trabajan Actualmente?</strong>&nbsp;&nbsp;<?= $tot ?> </td>
    </tr>
    <tr>
        <?php
        $tot=0;
        foreach ($estudnotrabajapost as  $value):
            $tot=$tot+1;
        endforeach ?>
        <td width="5%"></td>
        <td><strong>¿Cuantos Egresados NO Trabajan Actualmente?</strong>&nbsp;&nbsp;<?= $tot ?> </td>
    </tr>
    <tr>
        <?php
        $tot=0;
        foreach ($estudotracarrepost as  $value):
            $tot=$tot+1;
        endforeach ?>
        <td width="5%"></td>
        <td><strong>¿Cuantos Egresados Estudiaron otra Carrera?</strong>&nbsp;&nbsp;<?= $tot ?> </td>
    </tr>
    <tr>
        <?php
        $tot=0;
        foreach ($estudotracarresipost as  $value):
            $tot=$tot+1;
        endforeach ?>
        <td width="5%"></td>
        <td><strong>¿Cuantos Egresados Estudiaron otra Carrera y la terminaron?</strong>&nbsp;&nbsp;<?= $tot ?> </td>
    </tr>
    <tr>
        <?php
        $tot=0;
        foreach ($estudotracarrenopost as  $value):
            $tot=$tot+1;
        endforeach ?>
        <td width="5%"></td>
        <td><strong>¿Cuantos Egresados Estudiaron otra Carrera y NO la terminaron?</strong>&nbsp;&nbsp;<?= $tot ?> </td>
    </tr>
    <tr>
        <?php
        $tot=0;
        foreach ($noestudotracarrepost as  $value):
            $tot=$tot+1;
        endforeach ?>
        <td width="5%"></td>
        <td><strong>¿Cuantos Egresados NO estudiaron otra Carrera?</strong>&nbsp;&nbsp;<?= $tot ?> </td>
    </tr>
</table>
</body>
</html>