<h3 class="ui header green dividing">
    <i class="list icon"></i>
    <div class="content">
        Lista de Programas
    </div>
</h3>

<table class="ui table line celled">
    <tr>
        <td><strong>ID.</strong></td>
        <td><strong>NOMBRE DEL PROGRAMA</strong></td>
        <td><strong>TIPO</strong></td>
        <td><strong>OFERTADO</strong></td>
    </tr>
    <?php foreach ($listaprogra as $value): ?>

        <tr>
            <td width="5%"><?= $value['id_progra'] ?></td>
            <td width="40%"><?= utf8_decode($value['nom_programa']) ?></td>
            <td width="10%"><?php if($value['tipo_progra']==1) { ?> PREGRADO <?php }else{ ?> POSTGRADO <?php } ?></td>
            <td width="10%"><?= $value['ofertado'] ?></td>
            <td>
                <a class="item request2" modulo="actualizar"
                   accion="edit-programas/<?= $value['id_progra'] ?>" href="#">
                    Editar
                </a>
            </td>
        </tr>

    <?php endforeach ?>
</table>

<div class="ui modal" id="modalmensaje">
    <div class="header" style="background:#04B404; color: white;">Advertencia</div>
    <div class="content">
        <p id="modalcontenido"></p>
    </div>
    <div class="actions">
        <div class="ui approve button" style="background:#04B404;color: white;">Aceptar</div>
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('.item.request2').on('click',function(){
            var tipo=<?=$tipouser?>;
            if (tipo==1) {
                ajaxGet("<?php echo $this->url('home') ?>"+$(this).attr('modulo')+"/"+$(this).attr('accion'), "contenedor5");
            }else{
                $('#modalcontenido').html("Usuario no autorizado para este proceso...!");
                $('#modalmensaje').modal('show');
            }
        });
    });
</script>