<h3 class="ui header green dividing">
    <i class="list icon"></i>
    <div class="content">
        Lista de Usuarios
    </div>
</h3>

<table class="ui celled table compact">
    <thead>
    <tr>
        <th><strong>ID.</strong></th>
        <th><strong>NOMBRE DEL USUARIO</strong></th>
        <th><strong>USUARIO</strong></th>
        <th><strong>EMAIL</strong></th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($usuarios as $value): ?>
        <tr>
            <td width="10%"><?= $value['id_usuario'] ?></td>
            <td width="30%"><?= $value['nom_del_usu'] ?></td>
            <td width="20%"><?= $value['user_name'] ?></td>
            <td width="40%"><?= $value['correo'] ?></td>
            <td>
                <a class="item request2" modulo="usuario"
                   accion="edit-usuario/<?= $value['id_usuario'] ?>" href="#">
                    Editar
                </a>
            </td>
        </tr>
    <?php endforeach ?>
    </tbody>
</table>


<script type="text/javascript">
    $(document).ready(function() {
        $('.item.request2').on('click',function(){
            ajaxGet("<?php echo $this->url('home') ?>"+$(this).attr('modulo')+"/"+$(this).attr('accion'), "contenedor5");
        });
    });
</script>