<h3 class="ui header green dividing">
    <i class="list icon"></i>
    <div class="content">
        Listado de Respuesta a las preguntas de actualizacion de datos
    </div>
</h3>

<table class="ui celled table compact" align="center" width="50%">
    <thead>
    <tr>
        <th><strong>ID.</strong></th>
        <th><strong>RESPUESTA</strong></th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($respuestas as $value): ?>
        <tr>
            <td><?= $value['id_respuesta'] ?></td>
            <td><?= utf8_decode($value['descrip_respuesta']) ?></td>
            <td>
                <a class="item request2" modulo="actualizar"
                   accion="edit-respuesta/<?= $value['id_respuesta'] ?>" href="#">
                    Editar
                </a>
            </td>
        </tr>
    <?php endforeach ?>
    </tbody>
</table>


<script type="text/javascript">
    $(document).ready(function() {
        $('.item.request2').on('click',function(){
            ajaxGet("<?php echo $this->url('home') ?>"+$(this).attr('modulo')+"/"+$(this).attr('accion'), "contenedor5");
        });
    });
</script>