<h2 class="ui header green dividing">
    <i class="list icon"></i>
    <div class="content">
        Reporte de estado de carnets por programas [<?php
        if($carnet==1){?>
            Entregado
        <?php }?>
        <?php
        if($carnet==2){?>
            Por Entregar
        <?php }?>
        <?php
        if($carnet==3){?>
            En tramite
        <?php }?>] desde [<?=$fec1?>] hasta [<?=$fec2?>] <img src="<?php echo $this->url('home') ?>img/excel.jpg" style="width: 30px; height: 30px" onclick="descargar();">
    </div>
    <input type="hidden" id="carnet" value="<?=$carnet?>">
    <input type="hidden" id="estud" value="<?=$estudio?>">
    <input type="hidden" id="fecha1" name="fecha1" value="<?=$fec1?>">
    <input type="hidden" id="fecha2" name="fecha2" value="<?=$fec2?>">
    <input type="hidden" id="progra" name="progra" value="<?=$prog?>">
</h2>

<table class="ui celled padded compact table">
    <tr>
        <td><strong># Reg.</strong></td>
        <td><strong>ID_ESTUD.</strong></td>
        <td><strong>NOMBRES</strong></td>
        <td><strong>APELLIDOS</strong></td>
        <td><strong>NRO DE IDENTIFICACION</strong></td>
        <td><strong>PROGRAMA</strong></td>
        <td><strong>ESTADO CARNET</strong></td>
        <td><strong>FECHA PROCESO</strong></td>
        <td width="5%"></td>
    </tr>
    <?php $i=1; ?>
    <?php foreach ($estadocarnetestudprograma as $value): ?>
        <tr>
            <td><?=$i++?></td>
            <td align="left"><?= $value['id'] ?></td>
            <td align="left"><?= utf8_decode($value['nombres']) ?></td>
            <td align="left"><?= utf8_decode($value['apellidos']) ?></td>
            <td align="left"><?= $value['nro_ident'] ?></td>
            <td align="left"><?= utf8_decode($value['nomprog']) ?></td>
            <td align="left"><?php
                                  if($value['carnet_entregado']==1){?>
                                     Entregado
                             <?php }?>
                             <?php
                                  if($value['carnet_entregado']==2){?>
                                     Por Entregar
                             <?php }?>
                             <?php
                                  if($value['carnet_entregado']==3){?>
                                     En tramite
                             <?php }?>
            </td>
            <td align="left"><?= $value['fec_entrecarnet'] ?></td>
        </tr>
    <?php endforeach ?>
</table>

<script type="text/javascript">
    function descargar(){
        var estado=$("#carnet").val();
        var est=$("#estud").val();
        var fec1=$("#fecha1").val();
        var fec2=$("#fecha2").val();
        var prog=$("#progra").val();
        var win = window.open('<?php echo $this->url('home') ?>reportes/reporteEstadoCarnetExcel/'+estado+'/'+est+'/'+fec1+'/'+fec2+'/'+prog, '_blank');
        if(win){
            win.focus();
        }else{
            alert('Debe permitir las ventanas emergentes');
        }
    }
</script>