<h2 class="ui header green dividing">
    <i class="list icon"></i>
    <div class="content">
        Egresados graduados por nro acta general [<?=$acta?>] desde [<?=$fec1?>] hasta [<?=$fec2?>] <img src="<?php echo $this->url('home') ?>img/excel.jpg"
                                                                                                style="width: 30px; height: 30px" onclick="descargar();">
    </div>
    <input type="hidden" id="acta" name="acta" value="<?=$acta?>">
    <input type="hidden" id="fecha1" name="fecha1" value="<?=$fec1?>">
    <input type="hidden" id="fecha2" name="fecha2" value="<?=$fec2?>">
    <input type="hidden" id="progra" name="progra" value="<?=$prog?>">
    <input type="hidden" id="tipoprog" name="tipoprog" value="<?=$estudio?>">
</h2>

<table class="ui celled padded compact table">
    <tr>
        <td><strong># Reg.</strong></td>
        <td><strong>ID_ESTUD.</strong></td>
        <td><strong>NOMBRES</strong></td>
        <td><strong>APELLIDOS</strong></td>
        <td><strong>NRO DE IDENTIFICACION</strong></td>
        <td><strong>PROGRAMA</strong></td>
        <td><strong>SEDE</strong></td>
        <td><strong>FECHA GRADO</strong></td>
        <td><strong># ACTA GENERAL</strong></td>
    </tr>
    <?php $i=1; ?>
    <?php foreach ($graduadosporactagral as $value): ?>
        <tr>
            <td><?=$i++?></td>
            <td align="left"><?= $value['id_estudiante'] ?></td>
            <td align="left"><?= utf8_decode($value['nombres']) ?></td>
            <td align="left"><?= utf8_decode($value['apellidos']) ?></td>
            <td align="left"><?= $value['dp_identestud'] ?></td>
            <td align="left"><?= utf8_decode($value['nombre']) ?></td>
            <?php if ($estudio==1) { ?>
                <td align="left"><?= utf8_decode($value['nom_sede']) ?></td>
            <?php }else{ ?>
                <td align="left">MONTERIA</td>
            <?php } ?>
            <td align="left"><?= $value['fec_actas'] ?></td>
            <td align="left"><?= $value['nro_actgral'] ?></td>
        </tr>
    <?php endforeach ?>
</table>
<script type="text/javascript">
    function descargar(){
        var nroact=$("#acta").val();
        var fec1=$("#fecha1").val();
        var fec2=$("#fecha2").val();
        var prog=$("#progra").val();
        var tpprog=$("#tipoprog").val();
        var win = window.open('<?php echo $this->url('home') ?>reportes/reporteNroactaGraduadosExcel/'+nroact+'/'+fec1+'/'+fec2+'/'+prog+'/'+tpprog, '_blank');
        if(win){
            win.focus();
        }else{
            alert('Debe permitir las ventanas emergentes');
        }
    }
</script>