<script type="text/javascript">
    $('.ui.dropdown').dropdown();

    $("#paislab").on('change',function () {
        var codpais=$("#paislab").val();
        ajaxGet('<?php echo $this->url('home') ?>actualizar/ciudades-repor/'+codpais,'ciudlab');
    });

    $(document).ready(function() {
        var nmodulo=$("#modulo").val();
        $('.ui.dropdown.tipoestudio').on('change',function(){
            tipoestud = $("#tipoestudio").val();
        });

        $('.ui.button.repor-sexo').on('click', function () {
            if (nmodulo==5){
                //ajaxPost('<?php echo $this->url('home') ?>reportes/repor-graduados-trabajan-sexo/' + tipoestud, 'contenedor5', {
                //    sexo: $("#sexo").val(), fecha1: $("#fecha1").val(), fecha2: $("#fecha2").val(), programa: $("#programa").val()});
                ajaxPost('<?php echo $this->url('home') ?>reportes/ubicacion-Egresados-Que-Laboran/' + tipoestud, 'contenedor5', {
                    sexo: $("#sexo").val(), fecha1: $("#fecha1").val(), fecha2: $("#fecha2").val(), paislab: $("#paislab").val(),
                    ciudlab: $("#ciudlab").val()});
            }
        });

    });

    function validaProgramas () {
        var estudio = $("#tipoestudio").val();
        //console.log(estudio);
        if (estudio=="1") {
            ajaxGet(
                '<?php echo $this->url('home') ?>reportes/programas-reportes/1',
                'programa'
            );
        }
        if (estudio=="2") {
            ajaxGet(
                '<?php echo $this->url('home') ?>reportes/programas-reportes/2',
                'programa'
            );
        }
    }

</script>
<form class="ui form">
    <div class="fields">
        <div class="three wide field">
            <label>Tipo Egresado:</label>
            <select class="ui dropdown tipoestudio" id="tipoestudio" name="tipoestudio" onchange="validaProgramas();">
                <option value="">Selec tipo egresado.</option>
                <option value="1">Pregrado</option>
                <option value="2">Postgrado</option>
            </select>
        </div>
        <div class="three wide field">
            <label>Pais:</label>
            <select class="ui search dropdown paislab" id="paislab" name="paislab">
                <option value="">Seleccionar el pais...</option>
                <?php foreach ($pais as $listpaises) { ?>
                    <option value="<?= $listpaises['Codigo'] ?>"> <?= $listpaises['Pais'] ?></option>
                <?php } ?>
            </select>
        </div>
        <div class="three wide field">
            <label>Ciudad:</label>
            <select class="ui search dropdown ciudlab" id="ciudlab" name="ciudlab">
                
            </select>
        </div>
        <div class="four wide field">
            <label>Sexo:</label>
            <select class="ui dropdown sexo" id="sexo" name="sexo">
                <option value="">Selec una opción...</option>
                <option value="A">Ambos</option>
                <option value="F">Femenino</option>
                <option value="M">Masculino</option>
            </select>
        </div>
        <div class="three wide field">
            <label>Fecha Inicial Graduado</label>
            <input type="date" placeholder="AAAA-MM-DD" id="fecha1" name="fecha1" maxlength="10">
        </div>
        <div class="three wide field">
            <label>Fecha Final Graduado</label>
            <input type="date" placeholder="AAAA-MM-DD" id="fecha2" name="fecha2" maxlength="10">
        </div>
    </div>
    <input type="hidden" id="modulo" name="modulo" value="<?=$modulo?>">
    <div class="ui button repor-sexo">
        Generar reporte
    </div>
</form>

<div id="contenedor5">

</div>