<script type="text/javascript">
    $('.ui.dropdown').dropdown();

    $(document).ready(function() {
        var nmodulo=$("#modulo").val();
        $('.ui.dropdown.tipoestudio').on('change',function(){
            tipoestud = $("#tipoestudio").val();
        });

        $('.ui.button.repor-sexo').on('click', function () {
            if (nmodulo==1){
                ajaxPost('<?php echo $this->url('home') ?>reportes/repor-encuestas-realizadas-sexo/' + tipoestud, 'contenedor5', {
                    sexo: $("#sexo").val(), fecha1: $("#fecha1").val(), fecha2: $("#fecha2").val(), programa: $("#programa").val()});
            }
            if (nmodulo==2){
                ajaxPost('<?php echo $this->url('home') ?>reportes/repor-encuestas-trabajan-sexo/' + tipoestud, 'contenedor5', {
                    sexo: $("#sexo").val(), fecha1: $("#fecha1").val(), fecha2: $("#fecha2").val(), programa: $("#programa").val()});
            }
            if (nmodulo==3){
                ajaxPost('<?php echo $this->url('home') ?>reportes/repor-encuestas-no-trabajan-sexo/' + tipoestud, 'contenedor5', {
                    sexo: $("#sexo").val(), fecha1: $("#fecha1").val(), fecha2: $("#fecha2").val(), programa: $("#programa").val()});
            }
            if (nmodulo==4){
                ajaxPost('<?php echo $this->url('home') ?>reportes/repor-graduados-sexo/' + tipoestud, 'contenedor5', {
                    sexo: $("#sexo").val(), fecha1: $("#fecha1").val(), fecha2: $("#fecha2").val(), programa: $("#programa").val()});
            }
            if (nmodulo==5){
                ajaxPost('<?php echo $this->url('home') ?>reportes/repor-graduados-trabajan-sexo/' + tipoestud, 'contenedor5', {
                    sexo: $("#sexo").val(), fecha1: $("#fecha1").val(), fecha2: $("#fecha2").val(), programa: $("#programa").val()});
            }
            if (nmodulo==6){
                ajaxPost('<?php echo $this->url('home') ?>reportes/repor-graduados-no-trabajan-sexo/' + tipoestud, 'contenedor5', {
                    sexo: $("#sexo").val(), fecha1: $("#fecha1").val(), fecha2: $("#fecha2").val(), programa: $("#programa").val()});
            }
            if (nmodulo==8){
                ajaxPost('<?php echo $this->url('home') ?>reportes/repor-graduados-datos-actualizados/' + tipoestud, 'contenedor5', {
                    sexo: $("#sexo").val(), fecha1: $("#fecha1").val(), fecha2: $("#fecha2").val(), programa: $("#programa").val()});
            }
        });

    });

    function validaProgramas () {
        var estudio = $("#tipoestudio").val();
        //console.log(estudio);
        if (estudio=="1") {
            ajaxGet(
                '<?php echo $this->url('home') ?>reportes/programas-reportes/1',
                'programa'
            );
        }
        if (estudio=="2") {
            ajaxGet(
                '<?php echo $this->url('home') ?>reportes/programas-reportes/2',
                'programa'
            );
        }
    }

</script>
<form class="ui form">
    <div class="five fields">
        <div class="field">
            <label>Tipo Egresado:</label>
            <select class="ui dropdown tipoestudio" id="tipoestudio" name="tipoestudio" onchange="validaProgramas();">
                <option value="">Seleccione tipo egresado...</option>
                <option value="1">Pregrado</option>
                <option value="2">Postgrado</option>
            </select>
        </div>
        <div class="field">
            <label>Programa:</label>
                <select class="ui dropdown search" id="programa" name="programa">

                </select>
        </div>
        <div class="field">
            <label>Sexo:</label>
            <select class="ui dropdown sexo" id="sexo" name="sexo">
                <option value="">Seleccione una opción...</option>
                <option value="A">Ambos</option>
                <option value="F">Femenino</option>
                <option value="M">Masculino</option>
            </select>
        </div>
        <div class="field">
            <label>Fecha Inicial</label>
            <input type="date" placeholder="AAAA-MM-DD" id="fecha1" name="fecha1" maxlength="10">
        </div>
        <div class="field">
            <label>Fecha Final</label>
            <input type="date" placeholder="AAAA-MM-DD" id="fecha2" name="fecha2" maxlength="10">
        </div>
    </div>
    <input type="hidden" id="modulo" name="modulo" value="<?=$modulo?>">
    <div class="ui button repor-sexo">
        Generar reporte
    </div>
</form>

<div id="contenedor5">

</div>