<style>
    .alternar:hover{ background-color: #2ECC40}
</style>
<h3 class="ui header green dividing">
    <i class="list icon"></i>
    <div class="content">
        LISTADO DE EGRESADOS QUE LABORAN - UBICACION <img src="<?php echo $this->url('home') ?>img/excel.jpg"
                                                                                          style="width: 30px; height: 30px" onclick="descargar();">
    </div>
    <input type="hidden" id="sexo" value="<?=$sexo?>">
    <input type="hidden" id="estud" value="<?=$estudio?>">
    <input type="hidden" id="fecha1" name="fecha1" value="<?=$fec1?>">
    <input type="hidden" id="fecha2" name="fecha2" value="<?=$fec2?>">
    <input type="hidden" id="pais" name="pais" value="<?=$pais?>">
    <input type="hidden" id="ciudad" name="ciudad" value="<?=$ciudad?>">
</h3>

<table class="ui table compact line celled">
    <thead>
    <tr>
        <td><strong># Reg.</strong></td>
        <th><strong>ID.ESTUD</strong></th>
        <th><strong>NOMBRES</strong></th>
        <th><strong>APELLIDOS</strong></th>
        <th><strong>NRO DE IDENTIFICACION</strong></th>
        <th><strong>FEC. GRADO</strong></th>
        <th><strong>EMPRESA</strong></th>
        <th><strong>PAIS</strong></th>
        <th><strong>CIUDAD</strong></th>
        <th><strong>PROGRAMA</strong></th>
    </tr>
    </thead>
    <tbody>
    <?php
    $i=1;
    ?>
    <?php foreach ($graduadostrabubica as $value): ?>
            <tr class="alternar">
                <td width="5%"><?= $i++ ?></td>
                <td width="5%"><?= $value['id_estudiante'] ?></td>
                <td width="8%"><?= $value['nombres'] ?></td>
                <td width="10%"><?= $value['apellidos'] ?></td>
                <td width="10%"><?= $value['dp_identestud'] ?></td>
                <td width="7%"><?= $value['fec_actas'] ?></td>
                <td width="10%"><?= $value['nom_empresa'] ?></td>
                <td width="10%"><?= utf8_decode($value["Pais"]) ?></td>
                <td width="10%"><?= utf8_decode($value["ciudad"]) ?></td>
                <td width="5%"><?= utf8_decode($value['nomprog']) ?></td>
            </tr>
        
    <?php endforeach ?>
    
    </tbody>
</table>

<script type="text/javascript">
    function descargar(){
        var sex=$("#sexo").val();
        var est=$("#estud").val();
        var fec1=$("#fecha1").val();
        var fec2=$("#fecha2").val();
        var paisl=$("#pais").val();
        var ciudl=$("#ciudad").val();

        if (est==1) {
            var win = window.open('<?php echo $this->url('home') ?>reportes/reporteEgresaPrePosUbicaExcel/' + sex + '/' + est + '/' + fec1 + '/' + fec2 + '/' + paisl + '/' +ciudl, '_blank');
        }else{
            var win = window.open('<?php echo $this->url('home') ?>reportes/reporteEgresaPrePosUbicaExcel/' + sex + '/' + est + '/' + fec1 + '/' + fec2 + '/' + paisl + '/' +ciudl, '_blank');
        }
        if(win){
            win.focus();
        }else{
            alert('Debe permitir las ventanas emergentes');
        }
    }
</script>