<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>:: Estudiante - Encuesta ::</title>

    <link rel="stylesheet" type="text/css" href="<?php echo $this->url('home') ?>semantic/semantic.css">
    <link rel="stylesheet" type="text/css" href="<?php echo $this->url('home') ?>css/estilos.css">

    <script src="<?php echo $this->url('home') ?>js/jquery-3.1.0.min.js"></script>
    <script src="<?php echo $this->url('home') ?>semantic/semantic.js"></script>
    <script src="<?php echo $this->url('home') ?>js/scripts.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.item.menusup1').on('click',function(){
                ajaxGet("<?php echo $this->url('home') ?>reportes/"+$(this).attr('accion') , "contenedor");
            });
            $('.item.menusup2').on('click',function(){
                ajaxGet("<?php echo $this->url('home') ?>reportes/"+$(this).attr('accion') , "contenedor");
            });
        });




    </script>


    <style type="text/css">
        body {
            background-color: #FFFFFF;
        }
        .main.container {
            margin-top: 5em;
        }
    </style>
</head>
<body>

<div class="ui fixed inverted  menu">
    <div class="ui container">
        <a class="item menusup1" accion="index">
            <strong>Reportes Encuestas Pregrado</strong>
        </a>
        <a class="item menusup2" accion="indexpost">
            <strong>Reportes Encuestas Postgrado</strong>
        </a>
        <a class="item menusup3" accion="">
            <strong></strong>
        </a>
        <a class="item menusup4" accion="">
            <strong></strong>
        </a>
        <a class="item menusup" accion="">
            <strong></strong>
        </a>
        <a class="item menusup" accion="">
            <strong></strong>
        </a>
    </div>
</div>

<div id="contenedor" class="ui main container">
    <?php echo $this->content; ?>
</div>

</body>

</html>
<script type="text/javascript">
    $('.ui.dropdown.item').dropdown({
        // on: 'hover'
    });

</script>