<!DOCTYPE html>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <meta charset="utf-8" />

    <title>:: División de Atención al Egresado - Login ::</title>

    <link rel="stylesheet" type="text/css" href="<?php echo $this->url('home') ?>semantic/semantic.css">
    <link rel="stylesheet" type="text/css" href="<?php echo $this->url('home') ?>css/style.css">

    <script src="<?php echo $this->url('home') ?>js/jquery-3.1.0.min.js"></script>
    <script src="<?php echo $this->url('home') ?>semantic/semantic.js"></script>

    <style type="text/css">

    </style>
    <style>
        body {
            background: url('<?php echo $this->url('home') ?>img/fondo.jpg') no-repeat fixed center center;
            background-size: cover;
            font-family: Montserrat;
        }

        .logo {
            width: 213px;
            height: 36px;
            /* background: url('http://i.imgur.com/fd8Lcso.png') no-repeat; */
            margin: 30px auto;
        }

        .login-block {
            width: 320px;
            padding: 20px;
            background: #fff;
            border-radius: 5px;
            border-top: 5px solid #1aa62a;
            margin: 0 auto;
        }

        .login-block h1 {
            text-align: center;
            color: #000;
            font-size: 18px;
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 20px;
        }

        .login-block input {
            width: 100%;
            height: 42px;
            box-sizing: border-box;
            border-radius: 5px;
            border: 1px solid #ccc;
            margin-bottom: 20px;
            font-size: 14px;
            font-family: Montserrat;
            padding: 0 20px 0 50px;
            outline: none;
        }

        .login-block input#username {
            background: #fff url('<?php echo $this->url('home') ?>img/u0XmBmv.png') 20px top no-repeat;
            background-size: 16px 80px;
        }

        .login-block input#username:focus {
            background: #fff url('<?php echo $this->url('home') ?>img/u0XmBmv.png') 20px bottom no-repeat;
            background-size: 16px 80px;
        }

        .login-block input#password {
            background: #fff url('<?php echo $this->url('home') ?>img/Qf83FTt.png') 20px top no-repeat;
            background-size: 16px 80px;
        }

        .login-block input#password:focus {
            background: #fff url('<?php echo $this->url('home') ?>img/Qf83FTt.png') 20px bottom no-repeat;
            background-size: 16px 80px;
        }

        .login-block input:active, .login-block input:focus {
            border: 1px solid #1aa62a;
        }

        .login-block button {
            width: 100%;
            height: 40px;
            background: #1aa62a;
            box-sizing: border-box;
            border-radius: 5px;
            border: 1px solid #1aa62a;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 14px;
            font-family: Montserrat;
            outline: none;
            cursor: pointer;
        }

        .login-block button:hover {
            background: #1aa62a;
        }

    </style>

    <script type="text/javascript">

        $(document).ready(function() {
            
            var settings = {
            on : 'blur',
                inline : true,
                onSuccess : function() {
                    return true;
                }
            };
            
            
            $('.ui.form')
            .form({
                    username: {
                    identifier  : 'username',
                    rules: [
                        {
                        type   : 'empty',
                        prompt : 'Ingrese nombre de usuario'
                        }
                    ]
                    },
                    password: {
                    identifier  : 'password',
                    rules: [
                        {
                        type   : 'empty',
                        prompt : 'Ingrese contrase&ntilde;a'
                        }
                    ]
                    },
            },
            settings
            )
            ;
      });

    </script>
</head>

    <body style="background-image: url(<?php echo $this->url('home') ?>img/fegresado.png)">
        <br>
        <br>
        <br>
        <br>
        <div class="" align="center">
            <form class="ui form" action="<?php echo $this->url('home') ?>autenticacion/autenticar" method="post" class="b">
                <div class="logo">

                </div>
                <div class="login-block">
                    <div class="twelve wide field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="username" id="username" placeholder="Usuario" maxlength="15">
                        </div>
                    </div>

                    <div class="twelve wide field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" id="password" placeholder="Contrase&ntilde;a"
                                    maxlength="15">
                        </div>
                    </div>
                    <div class="ui green submit button"><i class="sign in icon"></i>Ingresar</div>

                    <div class="ui error message"></div>
                </div>

            </form>
        </div>
    </body>
</html>
