<!DOCTYPE html>
<html>
<head>
  
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  	<!-- Site Properties -->
  	<title>:: Estudiante - Encuesta ::</title>

  	<link rel="stylesheet" type="text/css" href="<?php echo $this->url('home') ?>semantic/semantic.css">
	<link rel="stylesheet" type="text/css" href="<?php echo $this->url('home') ?>css/style.css">

	<script src="<?php echo $this->url('home') ?>js/jquery-3.1.0.min.js"></script>
	<script src="<?php echo $this->url('home') ?>semantic/semantic.js"></script>
	<script src="<?php echo $this->url('home') ?>js/scripts.js"></script>
	
	<script type="text/javascript">
	    $(document).ready(function() {
	        $('.item.menutop').on('click',function(){
                ajaxGet("<?php echo $this->url('home') ?>"+$(this).attr('modulo')+"/"+$(this).attr('accion') , "contenedor");
	        });
	    });
	</script>


	<style type="text/css">
		body {
			background-color: #FFFFFF;
		}		
		.main.container {
			margin-top: 5em; 
		}		
	</style>
    <style>
        body {
            background: url('<?php echo $this->url('home') ?>img/fondo.jpg') no-repeat fixed center center;
            background-size: cover;
            font-family: Montserrat;
        }

        .logo {
            width: 213px;
            height: 36px;
            /* background: url('http://i.imgur.com/fd8Lcso.png') no-repeat; */
            margin: 30px auto;
        }

        .login-block {
            width: 320px;
            padding: 20px;
            background: #fff;
            border-radius: 5px;
            border-top: 5px solid #1aa62a;
            margin: 0 auto;
        }

        .login-block h1 {
            text-align: center;
            color: #000;
            font-size: 18px;
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 20px;
        }

        .login-block input {
            width: 100%;
            height: 42px;
            box-sizing: border-box;
            border-radius: 5px;
            border: 1px solid #ccc;
            margin-bottom: 20px;
            font-size: 14px;
            font-family: Montserrat;
            padding: 0 20px 0 50px;
            outline: none;
        }

        .login-block input#username {
            background: #fff url('<?php echo $this->url('home') ?>img/u0XmBmv.png') 20px top no-repeat;
            background-size: 16px 80px;
        }

        .login-block input#username:focus {
            background: #fff url('<?php echo $this->url('home') ?>img/u0XmBmv.png') 20px bottom no-repeat;
            background-size: 16px 80px;
        }

        .login-block input#password {
            background: #fff url('<?php echo $this->url('home') ?>img/Qf83FTt.png') 20px top no-repeat;
            background-size: 16px 80px;
        }

        .login-block input#password:focus {
            background: #fff url('<?php echo $this->url('home') ?>img/Qf83FTt.png') 20px bottom no-repeat;
            background-size: 16px 80px;
        }

        .login-block input:active, .login-block input:focus {
            border: 1px solid #1aa62a;
        }

        .login-block button {
            width: 100%;
            height: 40px;
            background: #1aa62a;
            box-sizing: border-box;
            border-radius: 5px;
            border: 1px solid #1aa62a;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 14px;
            font-family: Montserrat;
            outline: none;
            cursor: pointer;
        }

        .login-block button:hover {
            background: #1aa62a;
        }

    </style>
</head>

<body style="background-image: url(<?php echo $this->url('home') ?>img/fegresado.png)">

  <div id="contenedor" class="ui main container">
  		<?php echo $this->content; ?>
  </div>

</body>

</html>
<script type="text/javascript">
	$('.ui.dropdown.item').dropdown({
		    // on: 'hover'
		});

</script>