
<?php echo $this->doctype(); ?>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">


    <?php echo $this->headTitle('Administrador - '. $this->translate('Encuestas'))->setSeparator(' - ')->setAutoEscape(false) ?>

    <link rel="stylesheet" type="text/css" href="<?php echo $this->url('home') ?>semantic/semantic.css">

    <script src="<?php echo $this->url('home') ?>js/jquery-3.1.0.min.js"></script>
    <script src="<?php echo $this->url('home') ?>semantic/semantic.js"></script>
    <script src="<?php echo $this->url('home') ?>js/scripts.js"></script>

    <script type="text/javascript">
        // var ajax = new AJAX();
        $(document).ready(function() {
            $('.item.request').on('click',function(){
                ajaxGet("<?php echo $this->url('home') ?>"+$(this).attr('modulo')+"/"+$(this).attr('accion'), "contenedor");
            });

            $('.toc.item').on('click',function(){
                $('.ui.sidebar').sidebar('toggle');
            });
        });
    </script>

</head>
<body>


<div class="ui bottom attached segment pushable">

    <div class="ui visible left vertical sidebar menu">

        <h3 class="ui green center aligned icon header">
            <i class="circular white users icon"></i>
            [<?php echo $usuario;?>]
        </h3>
        <a class="item" href="<?php echo $this->url('home') ?>usuario/index-parametros">
            <i class="green configure icon"></i>Parametros
        </a>
        <a class="item" href="<?php echo $this->url('home') ?>usuario/index-estud">
            <i class="green student icon"></i>Estudiantes
        </a>
        <a class="item" href="<?php echo $this->url('home') ?>usuario/index">
            <i class="green eye icon"></i>Ver Encuestas Pregrado
        </a>
        <a class="item" href="<?php echo $this->url('home') ?>usuario/index-post">
            <i class="green eye icon"></i>Ver Encuestas Postgrado
        </a>
        <!-- <a class="item" href="<?php echo $this->url('home') ?>usuario/index-encuestas-anteriores">
            <i class="green eye icon"></i>Ver Encuestas Anteriores Pregrado
        </a>
        <a class="item" href="<?php echo $this->url('home') ?>usuario/index-encuestas-anteriores-pos">
            <i class="green eye icon"></i>Ver Encuestas Anteriores. Postgrado
        </a> -->
        <a class="item" href="<?php echo $this->url('home') ?>usuario/index-actas">
            <i class="green edit icon"></i>Actas - graduados
        </a>
        <a class="item" href="<?php echo $this->url('home') ?>usuario/index-menu-actualiza">
            <i class="green edit icon"></i>Actualizacion de datos - graduados
        </a>
        <a class="item" href="<?php echo $this->url('home') ?>usuario/index-inscripevento">
            <i class="green file text icon"></i>Eventos egresados
        </a>
        <a class="item" href="<?php echo $this->url('home') ?>usuario/index-reporencuesta">
            <i class="green table icon"></i>Reportes - encuestas
        </a>
        <a class="item" href="<?php echo $this->url('home') ?>usuario/index-reporgraduados">
            <i class="green table icon"></i>Reportes - graduados
        </a>
        <a class="item request" modulo="docente" accion="ver" href="<?php echo $this->url('home') ?>autenticacion/logout">
            <i class="red sign out icon"></i>Salir
        </a>
        <br>
        <table width="15%">
            <tr>
                <td>
                    <img src="<?php echo $this->url('home') ?>img/egresados.jpg" style="width: 180px;">
                </td>
            </tr>
        </table>
        <br>
        <table width="15%">
            <tr>
                <td>
                    <img src="<?php echo $this->url('home') ?>img/logocintia.jpg" style="width: 180px;">
                </td>
            </tr>
        </table>
    </div>
    <div class="pusher">
        <div class="ui basic segment" id="contenedor" style="padding-right: 300px;">
            <?php echo $this->content; ?>
        </div>
    </div>

</div>


</body>
</html>