
<div class="ui secondary pointing menu">
    <div class="item">
      <h2><i class="green user icon"></i>Datos personales del estudiante</h2>
    </div>     
 <!--   <div class="right menu">
      <a class="ui item" id="link_ver_productos">
        <i class="write square large green icon"></i> Corregir Datos Personales
      </a>
    </div>-->
</div>

<table class="ui table" style="font-size: 16px">
      <tbody>
          <tr>
              <td class="sombreado"><strong>Identificación</strong></td>
              <td><?= $estudiante['nro_ident']?></td>

              <td class="sombreado"><strong>Nombres y apellidos</strong></td>
              <td><?= $estudiante['nombres'].' '.$estudiante['apellidos'] ?></td>

              <td class="sombreado"><strong>Email</strong></td>
              <td><?= $estudiante['email'] ?></td>
          </tr>

      </tbody>
</table>

<div class="ui secondary pointing menu">
    <div class="item">
        <h2><i class="green user icon"></i>Reconfirme Datos Personales </h2>
    </div>
</div>

<form class="ui form segment tiny formencuesta">

    <div class="four fields">
        <div class="field">
            <label>Numero de identificación actual</label>
            <input type="text" id="num_id" name="num_id" maxlength="11" />
        </div>
        <div class="field">

        </div>
        <div class="field">

        </div>
        <div class="field">

        </div>
    </div>

    <div class="four fields">
        <div class="field">
            <label>Lugar de expedición documento de ID</label>
            <input type="text" id="l_expedicion" name="l_expedicion" maxlength="100" />
        </div>
        <div class="field">
            <label>Fecha de nacimiento</label>
            <input type="date" placeholder="AAAA-MM-DD" id="f_nac" name="f_nac" maxlength="10">
        </div>
        <div class="field">
            <label>Municipio de nacimiento</label>
            <input type="text" id="nac_municipio" name="nac_municipio" maxlength="100" placeholder="Municipio"/>
        </div>
        <div class="field">
            <label>&nbsp;</label>
            <input type="text" id="nac_depto" name="nac_depto" maxlength="100" placeholder="Departamento"/>
        </div>
    </div>

    <div class="four fields">
        <div class="field">
            <label>Dirección residencial</label>
            <input type="text" id="dir_residencial" name="dir_residencial" maxlength="250" />
        </div>

        <div class="field">
            <label>Teléfono de Residencia</label>
            <input type="text" id="rtelestud" name="rtelestud" maxlength="10" placeholder="Teléfono de Residencia"/>
        </div>

        <div class="field">
            <label>Municipio de residencia</label>
            <input type="text" id="res_municipio" name="res_municipio" maxlength="100" placeholder="Municipio"/>
        </div>

        <div class="field">
            <label>&nbsp;</label>
            <input type="text" id="res_depto" name="res_depto" maxlength="100" placeholder="Departamento"/>
        </div>
    </div>


    <div class="four fields">
        <div class="field">
            <label>Celular</label>
            <input type="text" id="rcelestud" name="rcelestud" maxlength="10" placeholder="Celular"/>
        </div>

        <div class="field">
            <label>E-mail</label>
            <input type="email" id="remailestud" name="remailestud" maxlength="100" placeholder="ejemplo@um.es"/>
        </div>
    </div>


    <div class="ui secondary pointing menu">
       <div class="item">
          <h2><i class="green user icon"></i>Historia Académica</h2>
       </div>
    </div>


	<div class="fields">
        <div class="six wide field">
            <label>SNP_SABER_PRO Registro No</label>
            <input type="text" id="snp" name="snp" maxlength="14">
        </div>

        <div class="ten wide field">
		  	<label>Programa cursado</label>
				    <select class="ui dropdown origen" id="programa" name="programa">
                        <option value="">Seleccione el origen...</option>
                        <?php foreach ($programas as $bprogra) {?>
                            <option value="<?=$bprogra['id']?>"> <?=$bprogra['nombre']?></option>
                        <?php }?>
					</select>
  			</div>

  	</div>
  	<div class="fields">
  			<div class="three wide field">
		  			<label>Semestre inicio</label>
				    <select class="ui dropdown origen" id="sem_ini" name="sem_ini">
					        <option value="">Origen...</option>
					        <option value="1">I</option>
					        <option value="2">II</option>
					</select>
  			</div>
  			<div class="two wide field">
			      <label>Año Inicio</label>
			      <input type="text" id="anyo1" name="anyo1" maxlength="4" minlength="4">
		    </div>
  			<div class="three wide field">
		  			<label>Semestre Finalización</label>
				    <select class="ui dropdown origen" id="sem_fin" name="sem_fin">
					        <option value="">Origen...</option>
					        <option value="1">I</option>
					        <option value="2">II</option>
					</select>
  			</div>
  			<div class="two wide field">
			      <label>Año Finalización</label>
			      <input type="text" id="anyo2" name="anyo2" maxlength="4" minlength="4">
		    </div>

        <div class="field">
            <label>¿En que sede terminó?</label>
            <select class="ui dropdown origen" name="sedeuniv" id="sedeuniv">
                <option value="">SELECCIONE</option>
                <option value="1">MONTERIA</option>
                <option value="2">BERASTEGUI</option>
                <option value="3">LORICA</option
                ><option value="4">MOÑITOS</option>
                <option value="5">PLANETA RICA</option>
                <option value="6">SAHAGUN</option>
                <option value="7">SAN BERNARDO DEL VIENTO</option>
            </select>
        </div>
        <div class="six wide field">
            <label>En qué % el programa de pregreado que estudió llenó sus expectativas académicas?</label>
            <input type="text" id="porcentaje" name="porcentaje" maxlength="3">
        </div>

  	</div>
  	<div class="fields">
        <div class="three wide field">
            <label>Estudio otra carrera?</label>
            <div class="ui checkbox">
                <input type="checkbox" tabindex="0" id="estudio_otra" name="estudio_otra">
                <label></label>
            </div>
        </div>
        <div class="three wide field">
		  	<label>Termino esa carrera?</label>
			<select class="ui dropdown termino_otra" id="termino_otra" name="termino_otra">
			        <option value="">Seleccionar...</option>
			        <option value="SI">SI</option>
			        <option value="NO">NO</option>
			</select>
        </div>
  		<div class="ten wide field">
			 <label>En que universidad</label>
	<!--		      <input type="text" id="univer_otra" name="univer_otra" maxlength="100" disabled="disabled"> -->
             <select class="ui dropdown origen search univer_otra" name="univer_otra" id="univer_otra">
                    <option value="" selected>SELECCIONE</option>
                    <?php foreach ($universidad as $bunivers) {?>
                    <option value="<?=$bunivers['codigo']?>"> <?=$bunivers['nombre']?></option>
                    <?php }?>
             </select>
		</div>
    </div>
    <div class="field">
        <label>Qué carrera estudio?</label>
        <input type="text" id="otroprograma" name="otroprograma" maxlength="100" disabled="disabled">
 <!--       <select class="ui dropdown origen search" id="otroprograma" name="otroprograma">
        </select>-->
    </div>


	<div class="ui secondary pointing menu">
	    <div class="item">
	      <h2><i class="green user icon"></i>Expectativa de postgrados</h2>
	    </div>     
	</div>

	<div class="field">
	      <label>En qúe área de formación le gustaría especializarse?</label>
	      <input type="text" id="especializar" name="especializar" maxlength="80">
    </div>

    <div class="ui secondary pointing menu">
	    <div class="item">
	      <h2><i class="green user icon"></i>Información Laboral</h2>
	    </div>     
	</div>

	<div class="fields">
  			<div class="four wide field">
                <label>Trabaja actualmente</label>
                <div class="ui checkbox">
                    <input type="checkbox" tabindex="0" id="trabaja_actual" name="trabaja_actual">
                    <label></label>
                </div>
				    <!--<select class="ui dropdown trabaja_actual" id="trabaja_actual" name="trabaja_actual">
					        <option value="">Seleccione...</option>
					        <option value="SI">SI</option>
					        <option value="NO">NO</option>
					</select>-->
  			</div>
  			<div class="three wide field">
		  			<label>Fecha en la que comenzó</label>
			      	<input type="date" placeholder="AAAA-MM-DD" id="fecha_inilaboral" name="fecha_inilaboral" maxlength="10" disabled="disabled">
  			</div>
  	</div>
  	<div class="fields">
  			<div class="four wide field">
                <label>Ha tenido alguna vez algún trabajo remunerado?</label>
                <div class="ui checkbox">
                    <input type="checkbox" tabindex="0" id="trabajo_remunera" name="trabajo_remunera">
                    <label></label>
                </div>
				 <!--   <select class="ui dropdown origen search" id="trabajo_remunera" name="trabajo_remunera" onChange="validaremunerado(this.value);">
					        <option value="">Seleccione...</option>
					        <option value="SI">SI</option>
					        <option value="NO">NO</option>
					</select>-->
  			</div>
  			<div class="five wide field">
			      <label>Ocupación en el trabajo</label>
			      <input type="text" id="ocupacion_trabajo" name="ocupacion_trabajo" maxlength="80" disabled="disabled">
		    </div>
		    <div class="seven wide field">
			      <label>Empresa o negocio donde trabajaba o trabaja</label>
			      <input type="text" id="nombre_empresa" name="nombre_empresa" maxlength="100" disabled="disabled">
		    </div>
  	</div>
  	<div class="field">
	      <label>Cual es la actividad económica a la que se dedica la empresa donde trabajaba o trabaja?</label>
	      <input type="text" id="actividad_empresa" name="actividad_empresa" maxlength="80" disabled="disabled">
    </div>

    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Información de empleadores</h2>
        </div>
    </div>

    <div class="content field">
        <div class="four fields">
            <div class="field">
                <label>Nombre del Director o Gerente de la Empresa</label>
                <input type="text" name="nom_gerente_emp_trab" id="nom_gerente_emp_trab" maxlength="80" disabled="disabled" placeholder="Nombre del Director o Gerente de la Empresa" />
            </div>
            <div class="field">
                <label>Nombre del Jefe Inmediato</label>
                <input type="text" name="nom_jefe_emp_trab" id="nom_jefe_emp_trab" maxlength="80" disabled="disabled" placeholder="Nombre del Jefe Inmediato" />
            </div>
            <div class="field">
                <label>Direccion Laboral</label>
                <input type="text" name="direc_emp_trab" id="direc_emp_trab" maxlength="100" disabled="disabled" placeholder="Direccion Laboral" />
            </div>
            <div class="field">
                <label>Departamento</label>
                <input type="text" name="dpto_emp_trab" id="dpto_emp_trab" maxlength="60" disabled="disabled" placeholder="Departamento" />
            </div>
        </div>
        <div class="four fields">
            <div class="field">
                <label>Municipio</label>
                <input type="text" name="mpio_emp_trab" id="mpio_emp_trab" maxlength="60" disabled="disabled" placeholder="Municipio" />
            </div>
            <div class="field">
                <label>Telefono Labora</label>
                <input type="text" name="telef_emp_trab" id="telef_emp_trab" maxlength="10" disabled="disabled" placeholder="Telefono Labora" />
            </div>
            <div class="field">
                <label>E-mail Laboral</label>
                <input type="text" name="email_emp_trab" id="email_emp_trab" maxlength="100" disabled="disabled" placeholder="ejemplo@um.es" />
            </div>
        </div>
    </div>

    <input type="hidden" name="id_estudiante" value="<?=$estudiante['id']?>">

    <div class="ui error message"></div>

    <button class="ui button encuesta">
        Guardar la Encuesta
    </button>


</form>

<script type="text/javascript">

 	$('.ui.dropdown').dropdown();


    $(".ui.dropdown.termino_otra").addClass('disabled');
    $(".ui.dropdown.origen.search.univer_otra").addClass('disabled');
    $('#estudio_otra').click(function() {
        if ($(this).is(':checked')) {
            $(".ui.dropdown.termino_otra").removeClass('disabled');
            $(".ui.dropdown.origen.search.univer_otra").removeClass("disabled","");
            $("#otroprograma").prop("disabled","");
        }else {
            $(".ui.dropdown.termino_otra").addClass('disabled');
            $(".ui.dropdown.origen.search.univer_otra").addClass('disabled');
            $("#otroprograma").prop("disabled","disabled");
        }
    });

    $('#trabaja_actual').click(function() {
        if ($(this).is(':checked')) {
            $("#fecha_inilaboral").prop("disabled","");
            $("#ocupacion_trabajo").prop("disabled","");
            $("#nombre_empresa").prop("disabled","");
            $("#actividad_empresa").prop("disabled","");

            $("#nom_gerente_emp_trab").prop("disabled","");
            $("#nom_jefe_emp_trab").prop("disabled","");
            $("#direc_emp_trab").prop("disabled","");
            $("#dpto_emp_trab").prop("disabled","");
            $("#mpio_emp_trab").prop("disabled","");
            $("#telef_emp_trab").prop("disabled","");
            $("#email_emp_trab").prop("disabled","");
        }else {
            $("#fecha_inilaboral").prop("disabled","disabled");
            if ($('#trabajo_remunera').is(':checked')) {
                $("#ocupacion_trabajo").prop("disabled","");
                $("#nombre_empresa").prop("disabled","");
                $("#actividad_empresa").prop("disabled","");

                $("#nom_gerente_emp_trab").prop("disabled","");
                $("#nom_jefe_emp_trab").prop("disabled","");
                $("#direc_emp_trab").prop("disabled","");
                $("#dpto_emp_trab").prop("disabled","");
                $("#mpio_emp_trab").prop("disabled","");
                $("#telef_emp_trab").prop("disabled","");
                $("#email_emp_trab").prop("disabled","");
            }else{
                $("#ocupacion_trabajo").prop("disabled","disabled");
                $("#nombre_empresa").prop("disabled","disabled");
                $("#actividad_empresa").prop("disabled","disabled");

                $("#nom_gerente_emp_trab").prop("disabled","disabled");
                $("#nom_jefe_emp_trab").prop("disabled","disabled");
                $("#direc_emp_trab").prop("disabled","disabled");
                $("#dpto_emp_trab").prop("disabled","disabled");
                $("#mpio_emp_trab").prop("disabled","disabled");
                $("#telef_emp_trab").prop("disabled","disabled");
                $("#email_emp_trab").prop("disabled","disabled");
            }
        }
    });

    $('#trabajo_remunera').click(function() {
        if ($(this).is(':checked')) {
            $("#ocupacion_trabajo").prop("disabled","");
            $("#nombre_empresa").prop("disabled","");
            $("#actividad_empresa").prop("disabled","");

            $("#nom_gerente_emp_trab").prop("disabled","");
            $("#nom_jefe_emp_trab").prop("disabled","");
            $("#direc_emp_trab").prop("disabled","");
            $("#dpto_emp_trab").prop("disabled","");
            $("#mpio_emp_trab").prop("disabled","");
            $("#telef_emp_trab").prop("disabled","");
            $("#email_emp_trab").prop("disabled","");
        }else{
            if ($('#trabaja_actual').is(':checked')) {
                $("#ocupacion_trabajo").prop("disabled","");
                $("#nombre_empresa").prop("disabled","");
                $("#actividad_empresa").prop("disabled","");

                $("#nom_gerente_emp_trab").prop("disabled","");
                $("#nom_jefe_emp_trab").prop("disabled","");
                $("#direc_emp_trab").prop("disabled","");
                $("#dpto_emp_trab").prop("disabled","");
                $("#mpio_emp_trab").prop("disabled","");
                $("#telef_emp_trab").prop("disabled","");
                $("#email_emp_trab").prop("disabled","");
            }else{
                $("#ocupacion_trabajo").prop("disabled", "disabled");
                $("#nombre_empresa").prop("disabled", "disabled");
                $("#actividad_empresa").prop("disabled", "disabled");

                $("#nom_gerente_emp_trab").prop("disabled", "disabled");
                $("#nom_jefe_emp_trab").prop("disabled", "disabled");
                $("#direc_emp_trab").prop("disabled", "disabled");
                $("#dpto_emp_trab").prop("disabled", "disabled");
                $("#mpio_emp_trab").prop("disabled", "disabled");
                $("#telef_emp_trab").prop("disabled", "disabled");
                $("#email_emp_trab").prop("disabled", "disabled");
            }
        }
    });

    $.fn.form.settings.rules.anyo2000 = function(value) {
        if (value < 1900){
           return false
        }else{
            return true;
        }
    };

    $.fn.form.settings.rules.anyo2mayor = function(value) {
        anyo1= $('#anyo1').val();

        if ((value - anyo1) < 2){
            return false
        }else{
            return true;
        }
    };
    var rules = {

        num_id: {
            identifier  : 'num_id',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el numero de identificación actual'
                },
                {
                    type: 'maxLength[11]',
                    prompt : 'M&aacute;ximo 11 numeros'
                },
                {
                    type: 'integer',
                    prompt : 'Solo valores numéricos'
                },
            ]
        },

        l_expedicion: {
            identifier  : 'l_expedicion',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese municipio de expedición de identificación'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres'
                },
            ]
        },

        f_nac: {
            identifier  : 'f_nac',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese la fecha de nacimiento'
                },
                {
                    type: 'maxLength[10]',
                    prompt : 'M&aacute;ximo 10 caracteres'
                },
                {
                    type   : 'regExp[/^[0-9]{4}-[0-9]{2}-[0-9]{2}$/]',
                    prompt: 'Fecha NO válida. Formato AAAA-MM-DD'
                }
            ]
        },

        nac_municipio: {
            identifier  : 'nac_municipio',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese municipio de nacimiento'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres'
                },
            ]
        },

        nac_depto: {
            identifier  : 'nac_depto',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese departamento de nacimiento'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres'
                },
            ]
        },

        dir_residencial: {
            identifier  : 'dir_residencial',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese la dirección residencial'
                },
                {
                    type: 'maxLength[250]',
                    prompt : 'M&aacute;ximo 250 caracteres'
                },
            ]
        },

        rcelestud: {
            identifier  : 'rcelestud',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el numero de celular'
                },
                {
                    type: 'maxLength[10]',
                    prompt : 'M&aacute;ximo 10 numeros'
                },
                {
                    type: 'integer',
                    prompt : 'Solo valores numéricos'
                },
            ]
        },



        res_municipio: {
            identifier  : 'res_municipio',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese municipio de residencia'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres - residencia'
                },
            ]
        },

        res_depto: {
            identifier  : 'res_depto',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese departamento de residencia'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres - residencia'
                },
            ]
        },


        rtelestud:{
            identifier  : 'rtelestud',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el numero de telefono fijo residencia, si no tiene ingrese 0'
                },
                {
                    type: 'maxLength[10]',
                    prompt : 'M&aacute;ximo 10 numeros'
                },
                {
                    type: 'integer',
                    prompt : 'Solo valores numéricos'
                },
            ]
        },
        rteltrabestud:{
            identifier  : 'rteltrabestud',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el numero de telefono fijo empleo, si no tiene ingrese 0'
                },
                {
                    type: 'maxLength[10]',
                    prompt : 'M&aacute;ximo 10 numeros'
                },
                {
                    type: 'integer',
                    prompt : 'Solo valores numéricos'
                },
            ]
        },
        remailestud:{
            identifier  : 'remailestud',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese su email'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 carateres'
                },
                {
                    type: 'email',
                    prompt : 'ingrese un email valido'
                },
            ]
        },
        snp:{
            identifier  : 'snp',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese su SNP pruebas icfes saber PRO'
                },
                {
                    type: 'exactLength[14]',
                    prompt : 'El código debe tener 14 carateres'
                },
            ]
        },
        programa:{
            identifier  : 'programa',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un programa academico'
                },
            ]
        },
        sem_ini:{
            identifier  : 'sem_ini',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un valor de la lista'
                },
            ]
        },
        anyo1:{
            identifier  : 'anyo1',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el año de inicio de semestre'
                },
                {
                    type: 'minLength[4]',
                    prompt : 'Minimo 4 numeros'
                },
                {
                    type: 'anyo2000',
                    prompt : 'Elvalor no debe ser menor a 2000'
                },
                {
                    type: 'integer',
                    prompt : 'Solo valores numéricos'
                },
            ]
        },
        sem_fin:{
            identifier  : 'sem_fin',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un valor de la lista'
                },
            ]
        },
        anyo2:{
            identifier  : 'anyo2',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el año de fin de semestre'
                },
                {
                    type: 'minLength[4]',
                    prompt : 'Minimo 4 numeros'
                },
                {
                    type: 'anyo2mayor',
                    prompt : 'El valor debe ser minimo 3 años mayor a año inicio'
                },
                {
                    type: 'integer',
                    prompt : 'Solo valores numéricos'
                },
            ]
        },
        sedeuniv:{
            identifier  : 'sedeuniv',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un valor de la lista'
                },
            ]
        },
        porcentaje:{
            identifier  : 'porcentaje',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el porcentaje de satisfaccion'
                },
                {
                    type: 'maxLength[3]',
                    prompt : 'M&aacute;ximo 3 numeros'
                },
                {
                    type: 'integer[1..100]',
                    prompt : 'Solo valores numéricos del 1 al 100'
                },
            ]
        },

        termino_otra:{
            identifier  : 'termino_otra',
            depends    : 'estudio_otra',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un valor de la lista'
                },
            ]
        },
        univer_otra:{
            identifier  : 'univer_otra',
            depends    : 'estudio_otra',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el nombre la universidad'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 carateres'
                },
            ]
        },
        otroprograma:{
            identifier  : 'otroprograma',
            depends    : 'estudio_otra',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un valor de la lista'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 carateres'
                },
            ]
        },
        especializar:{
            identifier  : 'especializar',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el nombre de la especializacion'
                },
                {
                    type: 'maxLength[80]',
                    prompt : 'M&aacute;ximo 80 caracteres'
                },
            ]
        },
        trabaja_actual:{
            identifier  : 'trabaja_actual',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un valor de la lista'
                },
            ]
        },
        fecha_inilaboral:{
            identifier  : 'fecha_inilaboral',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese la fecha de inicio laboral'
                },
                {
                    type   : 'regExp[/^[0-9]{4}-[0-9]{2}-[0-9]{2}$/]',
                    prompt: 'Fecha NO válida. Formato AAAA-MM-DD'
                }
            ]
        },
        trabajo_remunera:{
            identifier  : 'trabajo_remunera',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un valor de la lista'
                },
            ]
        },
        ocupacion_trabajo:{
            identifier  : 'ocupacion_trabajo',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese su ocupacion en la empresa'
                },
                {
                    type: 'maxLength[80]',
                    prompt : 'M&aacute;ximo 80 caracteres'
                },
            ]
        },
        nombre_empresa:{
            identifier  : 'nombre_empresa',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el nombre de la empresa'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres'
                },
            ]
        },
        actividad_empresa:{
            identifier  : 'actividad_empresa',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese la actividad economica de la empresa'
                },
                {
                    type: 'maxLength[80]',
                    prompt : 'M&aacute;ximo 80 caracteres'
                },
            ]
        },
        nom_gerente_emp_trab:{
            identifier  : 'nom_gerente_emp_trab',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el nombre del gerente de la empresa'
                },
                {
                    type: 'maxLength[80]',
                    prompt : 'M&aacute;ximo 80 caracteres'
                },
            ]
        },
        nom_jefe_emp_trab:{
            identifier  : 'nom_jefe_emp_trab',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el nombre del jefe inmediato de la empresa'
                },
                {
                    type: 'maxLength[80]',
                    prompt : 'M&aacute;ximo 80 caracteres'
                },
            ]
        },
        direc_emp_trab:{
            identifier  : 'direc_emp_trab',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese la direccion de la empresa'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres'
                },
            ]
        },
        dpto_emp_trab:{
            identifier  : 'dpto_emp_trab',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el nombre del departamento de ubicacion de la empresa'
                },
                {
                    type: 'maxLength[60]',
                    prompt : 'M&aacute;ximo 60 caracteres'
                },
            ]
        },
        mpio_emp_trab:{
            identifier  : 'mpio_emp_trab',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el nombre del municipio de ubicacion de la empresa'
                },
                {
                    type: 'maxLength[60]',
                    prompt : 'M&aacute;ximo 60 caracteres'
                },
            ]
        },
        telef_emp_trab:{
            identifier  : 'telef_emp_trab',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el numero de telefono de la empresa'
                },
                {
                    type: 'maxLength[10]',
                    prompt : 'M&aacute;ximo 10 caracteres'
                },
                {
                    type: 'integer',
                    prompt : 'Solo valores numericos'
                },
            ]
        },
        email_emp_trab:{
            identifier  : 'email_emp_trab',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el email de la empresa donde labora'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres'
                },
                {
                    type: 'email',
                    prompt : 'ingrese un email valido'
                },
            ]
        },
    };

    $.fn.api.settings.api = {
        'insertar' : '<?php echo $this->url('home') ?>encuestapreg/insertar',
    };

    $('.ui.form.segment.tiny.formencuesta').form({
        on: 'blur',
        inline : true,
        fields: rules,
        onSuccess : function() {
            return false;
        },
    });

    buttonPostValidation('.ui.button.encuesta', 'insertar', '.ui.form.segment.tiny.formencuesta', 'contenedor');

</script>


