
<div class="ui secondary pointing menu">
    <div class="item">
        <h2><i class="green user icon"></i>Datos personales del estudiante de Postgrado</h2>
    </div>

</div>

<table class="ui table compact">
    <tbody>
    <tr>
        <td class="sombreado"><strong>Nombres y apellidos</strong></td>
        <td><?= $estudiante['nombres'].' '.$estudiante['apellidos'] ?></td>

        <td class="sombreado"><strong>Identificación</strong></td>
        <td><?= $estudiante['nro_ident']?></td>

        <td class="sombreado"><strong>Lugar de expedición</strong></td>
        <td><?= $estudiante['ciud_exped'] ?></td>
    </tr>
    <tr>
        <td class="sombreado"><strong>Fecha de nacimiento</strong></td>
        <td><?= date_format(date_create($estudiante['fecnac']), 'd/m/Y') ?></td>

        <td class="sombreado"><strong>Sexo</strong></td>
        <td><?= $estudiante['sexo'] ?></td>

        <td class="sombreado"><strong>Lugar de Nacimiento</strong></td>
        <td><?= $estudiante['mpio_nac'] ?></td>
    </tr>
    <tr>
        <td class="sombreado"><strong>Departamento Nacimiento</strong></td>
        <td><?= $estudiante['dpto_nac'] ?></td>

        <td class="sombreado"><strong>Teléfono</strong></td>
        <td><?= $estudiante['tel_residencia'] ?></td>

        <td class="sombreado"><strong>Celular</strong></td>
        <td><?= $estudiante['cel_egresado'] ?></td>
    </tr>
    <tr>
        <td class="sombreado"><strong>Email</strong></td>
        <td><?= $estudiante['email'] ?></td>

        <td class="sombreado"><strong>Dirección de residencia</strong></td>
        <td><?= $estudiante['dir_residencia'] ?></td>

        <td class="sombreado"><strong>Municipio de residencia</strong></td>
        <td><?= $estudiante['mpio_residencia'] ?></td>
    </tr>
    </tbody>
</table>

<div class="ui secondary pointing menu">
    <div class="item">
        <h2><i class="green user icon"></i>Reconfirme Datos Personales y favor acercarse a la oficina de Registro y Control</h2>
    </div>
</div>

<form class="ui form segment tiny formencuesta">

    <div class="four fields">
        <div class="field">
            <label>Celular</label>
            <input type="text" id="rcelestud" name="rcelestud" maxlength="10" placeholder="Celular"/>
        </div>
        <div class="field">
            <label>Teléfono de Residencia</label>
            <input type="text" id="rtelestud" name="rtelestud" maxlength="10" placeholder="Teléfono de Residencia"/>
        </div>
        <div class="field">
            <label>Teléfono de Trabajo</label>
            <input type="text" id="rteltrabestud" name="rteltrabestud" maxlength="10" placeholder="Teléfono de Trabajo"/>
        </div>
        <div class="field">
            <label>E-mail</label>
            <input type="email" id="remailestud" name="remailestud" maxlength="100" placeholder="ejemplo@um.es"/>
        </div>
    </div>


    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Historia Académica</h2>
        </div>
    </div>

    <div class="fields">
        <div class="four wide field">
            <label>SNP_SABER_PRO Registro No</label>
            <input type="text" id="snp" name="snp" maxlength="30">
        </div>
        <div class="ten wide field">
            <label>En que universidad se Graduo del Pregrado</label>
            <!--		      <input type="text" id="univer_otra" name="univer_otra" maxlength="100" disabled="disabled"> -->
            <select class="ui dropdown origen search univer_pre" name="univer_pre" id="univer_pre">
                <option value="" selected>SELECCIONE</option>
                <?php foreach ($universidad as $bunivers) {?>
                    <option value="<?=$bunivers['codigo']?>"> <?=$bunivers['nombre']?></option>
                <?php }?>
            </select>
        </div>

    </div>

    <div class="fields">
        <div class="ten wide field">
            <label>Programa de Pregrado Cursado</label>
            <input type="text" maxlength="120" id="progpre" name="progpre">
        </div>
        <div class="ten wide field">
            <label>Programa de Postgrado Cursado</label>
            <select class="ui dropdown origen search" id="progpost" name="progpost">
                <option value="">Seleccione el origen...</option>
                <option value="1">TELECOMUNICACIONES</option>
                <option value="2">TRIBUTARIA</option>
            </select>
        </div>
    </div>

    <div class="fields">
        <div class="three wide field">
            <label>Semestre inicio</label>
            <select class="ui dropdown origen search" id="sem_ini" name="sem_ini">
                <option value="">Origen...</option>
                <option value="1">I</option>
                <option value="2">II</option>
            </select>
        </div>
        <div class="two wide field">
            <label>Año Inicio</label>
            <input type="text" id="anyo1" name="anyo1" maxlength="4">
        </div>
        <div class="three wide field">
            <label>Semestre Finalización</label>
            <select class="ui dropdown origen search" id="sem_fin" name="sem_fin">
                <option value="">Origen...</option>
                <option value="1">I</option>
                <option value="2">II</option>
            </select>
        </div>
        <div class="two wide field">
            <label>Año Finalización</label>
            <input type="text" id="anyo2" name="anyo2" maxlength="4">
        </div>
        <div class="six wide field">
            <label>En qué % el programa de postgrado que estudió llenó sus expectativas académicas?</label>
            <input type="text" id="porcentaje" name="porcentaje" maxlength="3">
        </div>
    </div>

    <div class="fields">
        <div class="three wide field">
            <label>Estudio otra carrera de postgrado?</label>
            <div class="ui checkbox">
                <input type="checkbox" tabindex="0" id="estudio_otra" name="estudio_otra">
                <label></label>
            </div>
        </div>
        <div class="field">
            <label>Termino esa carrera?</label>
            <select class="ui dropdown termino_otra" id="termino_otra" name="termino_otra">
                <option value="">Escoja</option>
                <option value="SI">SI</option>
                <option value="NO">NO</option>
            </select>
        </div>
        <div class="seven wide field">
            <label>Qué carrera estudio?</label>
            <input type="text" id="otroprograma" name="otroprograma" maxlength="100" disabled="disabled">
        <!--       <select class="ui dropdown origen search" id="otroprograma" name="otroprograma">
               </select>-->
        </div>
        <div class="eight wide field">
            <label>En que universidad</label>
            <!--		      <input type="text" id="univer_otra" name="univer_otra" maxlength="100" disabled="disabled"> -->
            <select class="ui dropdown origen search univer_post" name="univer_post" id="univer_post">
                <option value="" selected>SELECCIONE</option>
                <?php foreach ($univpost as $bunipost) {?>
                    <option value="<?=$bunipost['codigo']?>"> <?=$bunipost['nombre']?></option>
                <?php }?>
            </select>
        </div>
    </div>

    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Expectativas de postgrados</h2>
        </div>
    </div>

    <div class="field">
        <label>En qúe área de formación le gustaría continuar?</label>
        <input type="text" id="especializar" name="especializar" maxlength="80">
    </div>

    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Información Laboral</h2>
        </div>
    </div>

    <div class="fields">
        <div class="three wide field">
            <label>Trabaja actualmente</label>
            <div class="ui checkbox">
                <input type="checkbox" tabindex="0" id="trabaja_actual" name="trabaja_actual">
                <label></label>
            </div>
        </div>
        <div class="three wide field">
            <label>Fecha en la que comenzó</label>
            <input type="date" placeholder="AAAA-MM-DD" id="fecha_inilaboral" name="fecha_inilaboral" maxlength="10" disabled="disabled">
        </div>
        <div class="five wide field">
            <label>Ocupación en ese trabajo</label>
            <input type="text" id="ocupacion_trabajo" name="ocupacion_trabajo" maxlength="120" disabled="disabled">
        </div>
    </div>

    <div class="fields">
        <div class="seven wide field">
            <label>Empresa o negocio donde trabaja o trabajaba</label>
            <input type="text" id="nombre_empresa" name="nombre_empresa" maxlength="100" disabled="disabled">
        </div>
        <div class="field">
            <label>Cual es la actividad económica de la empresa?</label>
            <input type="text" id="actividad_empresa" name="actividad_empresa" maxlength="150" disabled="disabled">
        </div>
    </div>

    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Información de empleadores</h2>
        </div>
    </div>

    <div class="content field">
        <div class="four fields">
            <div class="field">
                <label>Nombre del Director o Gerente de la Empresa</label>
                <input type="text" name="nom_gerente_emp_trab" id="nom_gerente_emp_trab" maxlength="80" disabled="disabled" placeholder="Nombre del Director o Gerente de la Empresa" />
            </div>
            <div class="field">
                <label>Nombre del Jefe Inmediato</label>
                <input type="text" name="nom_jefe_emp_trab" id="nom_jefe_emp_trab" maxlength="80" disabled="disabled" placeholder="Nombre del Jefe Inmediato" />
            </div>
            <div class="field">
                <label>Direccion Laboral</label>
                <input type="text" name="direc_emp_trab" id="direc_emp_trab" maxlength="100" disabled="disabled" placeholder="Direccion Laboral" />
            </div>
            <div class="field">
                <label>Departamento</label>
                <input type="text" name="dpto_emp_trab" id="dpto_emp_trab" maxlength="60" disabled="disabled" placeholder="Departamento" />
            </div>
        </div>
        <div class="four fields">
            <div class="field">
                <label>Municipio</label>
                <input type="text" name="mpio_emp_trab" id="mpio_emp_trab" maxlength="60" disabled="disabled" placeholder="Municipio" />
            </div>
            <div class="field">
                <label>Telefono Labora</label>
                <input type="text" name="telef_emp_trab" id="telef_emp_trab" maxlength="10" disabled="disabled" placeholder="Telefono Labora" />
            </div>
            <div class="field">
                <label>E-mail Labora</label>
                <input type="text" name="email_emp_trab" id="email_emp_trab" maxlength="100" disabled="disabled" placeholder="ejemplo@um.es" />
            </div>
        </div>
    </div>

    <div class="ui error message"></div>

    <button class="ui button postgrado">
        Guardar la Encuesta
    </button>

    <input type="hidden" name="id_estudiante" value="<?=$estudiante['id']?>">

</form>

<script type="text/javascript">

    $('.ui.dropdown').dropdown();

    $(".ui.dropdown.termino_otra").addClass('disabled');
    $(".ui.dropdown.origen.search.univer_post").addClass('disabled');
    $('#estudio_otra').click(function() {
        if ($(this).is(':checked')) {
            $(".ui.dropdown.termino_otra").removeClass('disabled');
            $(".ui.dropdown.origen.search.univer_post").removeClass("disabled","");
            $("#otroprograma").prop("disabled","");
        }else {
            $(".ui.dropdown.termino_otra").addClass('disabled');
            $(".ui.dropdown.origen.search.univer_post").addClass('disabled');
            $("#otroprograma").prop("disabled","disabled");
        }
    });

    $('#trabaja_actual').click(function() {
        if ($(this).is(':checked')) {
            $("#fecha_inilaboral").prop("disabled","");
            $("#ocupacion_trabajo").prop("disabled","");
            $("#nombre_empresa").prop("disabled","");
            $("#actividad_empresa").prop("disabled","");

            $("#nom_gerente_emp_trab").prop("disabled","");
            $("#nom_jefe_emp_trab").prop("disabled","");
            $("#direc_emp_trab").prop("disabled","");
            $("#dpto_emp_trab").prop("disabled","");
            $("#mpio_emp_trab").prop("disabled","");
            $("#telef_emp_trab").prop("disabled","");
            $("#email_emp_trab").prop("disabled","");
        }else {
            $("#fecha_inilaboral").prop("disabled","disabled");
            $("#ocupacion_trabajo").prop("disabled","disabled");
            $("#nombre_empresa").prop("disabled","disabled");
            $("#actividad_empresa").prop("disabled","disabled");

            $("#nom_gerente_emp_trab").prop("disabled","disabled");
            $("#nom_jefe_emp_trab").prop("disabled","disabled");
            $("#direc_emp_trab").prop("disabled","disabled");
            $("#dpto_emp_trab").prop("disabled","disabled");
            $("#mpio_emp_trab").prop("disabled","disabled");
            $("#telef_emp_trab").prop("disabled","disabled");
            $("#email_emp_trab").prop("disabled","disabled");
        }
    });

    $.fn.api.settings.api = {
        'inserpost' : '<?php echo $this->url('home') ?>encuestapost/inserpost',
    };

    $('.ui.form.segment.tiny.formencuesta').form({
        on: 'blur',
        inline : true,
        fields: rules,
        onSuccess : function() {
            return false;
        },
    });

    buttonPostValidation('.ui.button.postgrado', 'inserpost', '.ui.form.segment.tiny.formencuesta', 'contenedor');

    $.fn.form.settings.rules.anyo2000 = function(value) {
        if (value < 1900){
            return false
        }else{
            return true;
        }
    };

    $.fn.form.settings.rules.anyo2mayor = function(value) {
        anyo1= $('#anyo1').val();

        if ((value - anyo1) < 1){
            return false
        }else{
            return true;
        }
    };

    var rules = {
        rcelestud: {
            identifier  : 'rcelestud',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el numero de celular'
                },
                {
                    type: 'maxLength[10]',
                    prompt : 'M&aacute;ximo 10 numeros'
                },
                {
                    type: 'integer',
                    prompt : 'Solo valores numéricos'
                },
            ]
        },
        rtelestud:{
            identifier  : 'rtelestud',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el numero de telefono fijo residencia, si no tiene ingrese 0'
                },
                {
                    type: 'maxLength[10]',
                    prompt : 'M&aacute;ximo 10 numeros'
                },
                {
                    type: 'integer',
                    prompt : 'Solo valores numéricos'
                },
            ]
        },
        rteltrabestud:{
            identifier  : 'rteltrabestud',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el numero de telefono fijo empleo, si no tiene ingrese 0'
                },
                {
                    type: 'maxLength[10]',
                    prompt : 'M&aacute;ximo 10 numeros'
                },
                {
                    type: 'integer',
                    prompt : 'Solo valores numéricos'
                },
            ]
        },
        remailestud:{
            identifier  : 'remailestud',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese su email'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 carateres'
                },
                {
                    type: 'email',
                    prompt : 'ingrese un email valido'
                },
            ]
        },
        snp:{
            identifier  : 'snp',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese su SNP pruebas icfes saber PRO'
                },
            ]
        },
        progpre:{
            identifier  : 'progpre',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un programa academico de pregrado'
                },
            ]
        },
        progpost:{
            identifier  : 'progpost',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un programa academico de postgrado'
                },
            ]
        },
        sem_ini:{
            identifier  : 'sem_ini',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un valor de la lista'
                },
            ]
        },
        anyo1:{
            identifier  : 'anyo1',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el año de inicio de semestre'
                },
                {
                    type: 'maxLength[4]',
                    prompt : 'M&aacute;ximo 4 numeros'
                },
                {
                    type: 'anyo2000',
                    prompt : 'Elvalor no debe ser menor a 2000'
                },
                {
                    type: 'integer',
                    prompt : 'Solo valores numéricos'
                },
            ]
        },
        sem_fin:{
            identifier  : 'sem_fin',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un valor de la lista'
                },
            ]
        },
        anyo2:{
            identifier  : 'anyo2',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el año de fin de semestre'
                },
                {
                    type: 'maxLength[4]',
                    prompt : 'M&aacute;ximo 4 numeros'
                },
                {
                    type: 'anyo2mayor',
                    prompt : 'El valor debe ser minimo 3 años mayor a año inicio'
                },
                {
                    type: 'integer',
                    prompt : 'Solo valores numéricos'
                },
            ]
        },
        sedeuniv:{
            identifier  : 'sedeuniv',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un valor de la lista'
                },
            ]
        },
        porcentaje:{
            identifier  : 'porcentaje',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el porcentaje de satisfaccion'
                },
                {
                    type: 'maxLength[3]',
                    prompt : 'M&aacute;ximo 3 numeros'
                },
                {
                    type: 'integer[1..100]',
                    prompt : 'Solo valores numéricos del 1 al 100'
                },
            ]
        },

        termino_otra:{
            identifier  : 'termino_otra',
            depends    : 'estudio_otra',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un valor de la lista'
                },
            ]
        },
        univer_pre:{
            identifier  : 'univer_pre',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el nombre la universidad'
                },
            ]
        },
        univer_post:{
            identifier  : 'univer_post',
            depends    : 'estudio_otra',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el nombre la universidad'
                },
            ]
        },
        otroprograma:{
            identifier  : 'otroprograma',
            depends    : 'estudio_otra',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un valor de la lista'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 carateres'
                },
            ]
        },
        especializar:{
            identifier  : 'especializar',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el nombre de la especializacion'
                },
                {
                    type: 'maxLength[80]',
                    prompt : 'M&aacute;ximo 80 caracteres'
                },
            ]
        },
        trabaja_actual:{
            identifier  : 'trabaja_actual',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un valor de la lista'
                },
            ]
        },
        fecha_inilaboral:{
            identifier  : 'fecha_inilaboral',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'ingrese la fecha de inicio laboral'
                },
            ]
        },
        trabajo_remunera:{
            identifier  : 'trabajo_remunera',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un valor de la lista'
                },
            ]
        },
        ocupacion_trabajo:{
            identifier  : 'ocupacion_trabajo',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese su ocupacion en la empresa'
                },
                {
                    type: 'maxLength[80]',
                    prompt : 'M&aacute;ximo 80 caracteres'
                },
            ]
        },
        nombre_empresa:{
            identifier  : 'nombre_empresa',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el nombre de la empresa'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres'
                },
            ]
        },
        actividad_empresa:{
            identifier  : 'actividad_empresa',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese la actividad economica de la empresa'
                },
                {
                    type: 'maxLength[80]',
                    prompt : 'M&aacute;ximo 80 caracteres'
                },
            ]
        },
        nom_gerente_emp_trab:{
            identifier  : 'nom_gerente_emp_trab',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el nombre del gerente de la empresa'
                },
                {
                    type: 'maxLength[80]',
                    prompt : 'M&aacute;ximo 80 caracteres'
                },
            ]
        },
        nom_jefe_emp_trab:{
            identifier  : 'nom_jefe_emp_trab',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el nombre del jefe inmediato de la empresa'
                },
                {
                    type: 'maxLength[80]',
                    prompt : 'M&aacute;ximo 80 caracteres'
                },
            ]
        },
        direc_emp_trab:{
            identifier  : 'direc_emp_trab',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese la direccion de la empresa'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres'
                },
            ]
        },
        dpto_emp_trab:{
            identifier  : 'dpto_emp_trab',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el nombre del departamento de ubicacion de la empresa'
                },
                {
                    type: 'maxLength[60]',
                    prompt : 'M&aacute;ximo 60 caracteres'
                },
            ]
        },
        mpio_emp_trab:{
            identifier  : 'mpio_emp_trab',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el nombre del municipio de ubicacion de la empresa'
                },
                {
                    type: 'maxLength[60]',
                    prompt : 'M&aacute;ximo 60 caracteres'
                },
            ]
        },
        telef_emp_trab:{
            identifier  : 'telef_emp_trab',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el numero de telefono de la empresa'
                },
                {
                    type: 'maxLength[10]',
                    prompt : 'M&aacute;ximo 10 caracteres'
                },
                {
                    type: 'integer',
                    prompt : 'Solo valores numericos'
                },
            ]
        },
        email_emp_trab:{
            identifier  : 'email_emp_trab',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el email de la empresa donde labora'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres'
                },
                {
                    type: 'email',
                    prompt : 'ingrese un email valido'
                },
            ]
        },
    };


</script>
