
<style type="text/css">
    .container2 {
        padding: 10px;
        width: 100%;
        height: 400px;
        border: 1px solid #D8D8D8;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .floatLeft2 {
        width: 2000px;
        height: 400;
    }
</style>


<div class="ui green icon message">
    <i class="info green circle icon"></i>
    <div class="content">
        <div class="header">
            Validando para Realizar Encuesta de Egresados
        </div>
        <p></p>
    </div>
</div>


<div class="ui three column grid">
    <div class="column">

    </div>
    <div class="column">

        <form class="ui form segment busqueda">
            <div class="field" align="center">
                <label>Tipo de estudio realizado</label>
                <input type="radio" id="tipo" name="tipo" value="Pregrado">Pregrado
                <input type="radio" id="tipo" name="tipo" value="Postgrado">Postgrado
            </div>

            <div class="field">
                <label>Identificación</label>
                <input type="text" id="identificacion" name="identificacion" maxlength="20">
            </div>

            <!--
            <div class="field">
                <label>Programa cursado</label>
                <select class="ui dropdown programa" id="programa" name="programa">

                </select>
            </div>
            -->



            <div class="field center aligned">
                <div class="ui fluid green labeled icon button busqueda"><i class="search icon"></i> Realizar Encuesta </div>
            </div>
            <div class="ui error message"></div>
        </form>

    </div>
    <div class="column">

    </div>
</div>


<br>
<script type="text/javascript">

    $('.ui.dropdown.programa').click(function() {

    });


    $("input[name=tipo]").click(function () {
        valor = $(this).val();
        if ((valor=="Pregrado")) {
            var newOptions = {
                '' : 'Seleccione el origen...',
             '908' :'ACUICULTURA',
            '1808' : 'ADMINIS. EN FINANZAS Y NEGOCIOS INTERNAC',
            '1886' : 'ADMINISTRACIÓN EN SALUD',
             '916' : 'BACTERIOLOGÍA',
             '969' : 'BIOLOGÍA',
            '1809' : 'DERECHO',
             '904' : 'ENFERMERÍA',
             '804' : 'ESTADÍSTICA',
             '887' : 'FÍSICA',
             '844' : 'GEOGRAFÍA',
             '784' : 'INGENIERÍA AGRONÓMICA',
            '1746' : 'INGENIERÍA AMBIENTAL',
             '967' : 'INGENIERÍA DE ALIMENTOS',
            '1605' : 'INGENIERÍA DE SISTEMAS',
             '867' : 'INGENIERÍA INDUSTRIAL',
            '1726' : 'INGENIERÍA MECÁNICA',
            '1666' : 'LIC EN CIENCIAS NATURALES Y EDU AMBIENTA',
             '885' : 'LIC EN EDUC BÁSICA CON ENF EN CIEN SOCIA',
             '907' : 'LIC EN EDUC BÁSICA CON ENF EN HUMAN INGL',
             '924' : 'LIC EN EDUC BÁSICA CON ENF HUM LENG CAST',
             '849' : 'LIC. EDUCACIÓN BÁSICA ÉNFASIS ARTÍSTICA',
             '910' : 'LIC. EDUCACIÓN FÍSICA RECREACIÓN Y DEPOR',
            '1418' : 'LICENCIATURA EN EDUCACION INFANTIL',
            '1414' : 'LICENCIATURA EN INFORMÁTICA Y MEDIOS AUD',
             '805' : 'MATEMÁTICAS',
             '886' : 'MEDICINA VETERINARIA Y ZOOTECNIA',
            '1405' : 'PROFESIONALIZACIÓN EN ACUICULTURA',
             '906' : 'QUÍMICA',
            '2207' : 'TEC PROF EN MANEJO Y CONSERV DE PROD AGR',
            '1706' : 'TECNOLOGÍA EN MERCADEO AGROINDUSTRIAL',
             '964' : 'TECNOLOGÍA EN REGENCIA DE FARMACIA'
            };
            var selectedOption = '';

            var select = $('.ui.dropdown.programa');
            if(select.prop){
                var options = select.prop('options');
            }else {
                var options = select.attr('options');
            }
            $('option', select).remove();

            /*
            $.each(newOptions, function(val, text) {
                options[options.length] = new Option(text, val);
            });
            select.val(selectedOption);
            */

            $('.ui.form.segment.busqueda').form({
                on: 'blur',
                fields: rules,
                onSuccess : function() {
                    return false;
                },
            });

            $.fn.api.settings.api = {
                'buscar' : '<?php echo $this->url('home') ?>estudiante/buscar',
            };

            buttonPostValidation('.ui.button.busqueda', 'buscar', '.ui.form.segment.busqueda', 'contenedor');
        }else{
            var newOptions = {
                ''  : 'Seleccione el origen...',
                '1' : 'TELECOMUNICACIONES',
                '2' : 'TRIBUTARIA'
            };
            var selectedOption = '';

            var select = $('.ui.dropdown.programa');
            if(select.prop){
                var options = select.prop('options');
            }else {
                var options = select.attr('options');
            }
            $('option', select).remove();

            $.each(newOptions, function(val, text) {
                options[options.length] = new Option(text, val);
            });
            select.val(selectedOption);
            $('.ui.form.segment.busqueda').form({
                on: 'blur',
                fields: rules,
                onSuccess : function() {
                    return false;
                },
            });

            $.fn.api.settings.api = {
                'formpost' : '<?php echo $this->url('home') ?>estudiante/formpost',
            };

            buttonPostValidation('.ui.button.busqueda', 'formpost', '.ui.form.segment.busqueda', 'contenedor');
        }
    });



    var rules = {
        identificacion: {
            identifier  : 'identificacion',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el numero de identificación'
                },
                {
                    type: 'maxLength[20]',
                    prompt : 'M&aacute;ximo 20 caracteres'
                },
                {
                    type: 'integer',
                    prompt : 'Solo valores numéricos'
                },
            ]
        },

        /*
        programa: {
            identifier  : 'programa',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione el programa cursado'
                },
            ]
        },
        */

    };

</script>

<div id="contenedor-calcular"></div>