<div class="ui secondary pointing menu">
    <div class="item">
        <h2><i class="green user icon"></i>Ingresando Datos del Acta y número de diploma</h2>
    </div>
</div>

<form class="ui form segment tiny formactas">

    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Datos Personales</h2>
        </div>
    </div>

    <div class="four fields">
        <div class="field">
            <label>Numero de identificación actual</label>
            <input type="text" id="num_id" name="num_id" value="<?=$datosparaacta['dp_identestud']?>" readonly="readonly"/>
        </div>

        <div class="field">
            <label>Nombres</label>
            <input type="text" id="nombres" name="nombres" value="<?=$datosparaacta['nombres']?>"/>
        </div>

        <div class="field">
            <label>Apellidos</label>
            <input type="text" id="apellidos" name="apellidos" value="<?=$datosparaacta['apellidos']?>"/>
        </div>

        <div class="field">
            <label>Celular</label>
            <input type="text" id="rcelestud" name="rcelestud" value="<?=$datosparaacta['dp_celestud']?>" readonly="readonly"/>
        </div>
    </div>

    <div class="four fields">
        <div class="field">
            <label>E-mail</label>
            <input type="email" id="remailestud" name="remailestud" value="<?= $datosparaacta['dp_emailestud'] ?>" readonly="readonly"/>
        </div>

        <div class="field">
            <label>Programa cursado</label>
            <input type="text" id="programa" name="programa" value="<?=$programas['nombre']?>" readonly="readonly"/>
        </div>

        <div class="field">
            <label>SNP_SABER_PRO</label>
            <input type="text" id="snp" name="snp" maxlength="20" value="<?=$datosparaacta['ha_npsaberpro']?>" readonly="readonly"/>
        </div>
    </div>


    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Datos del Acta</h2>
        </div>
    </div>


    <div class="four fields">

        <div class="field">
            <label>Fecha de actas</label>
            <input type="date" placeholder="AAAA-MM-DD" id="fec_actas" name="fec_actas" maxlength="10"/>
        </div>

        <div class="field">
            <label>Nro de Acta General</label>
            <input type="text" id="actagral" name="actagral" maxlength="15"/>
        </div>

        <div class="field">
            <label>Nro de Acta Individual</label>
            <input type="text" id="actaind" name="actaind" maxlength="15"/>
        </div>

        <div class="field">
            <label>Nro de diploma</label>
            <input type="text" id="nro_diplo" name="nro_diplo" maxlength="15"/>
        </div>

    </div>

    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Datos del Carnet</h2>
        </div>
    </div>

    <div class="four fields">

        <div class="field">
            <label>Estado del Carnet</label>
            <select class="ui dropdown carnet" id="carnet" name="carnet">
                <option value="">Seleccionar...</option>
                <option value="1">Entregado</option>
                <option value="2">Por entregar</option>
                <option value="3">En tramite</option>
            </select>
        </div>

        <div class="field">
            <label>Fecha de entrega</label>
            <input type="date" placeholder="AAAA-MM-DD" id="fecentcarnet" name="fecentcarnet" maxlength="10"/>
        </div>

        <div class="field">
            <label>Periodo - Grado</label>
            <input type="text" id="periodo_grado" name="periodo_grado" maxlength="6"/>
        </div>

    </div>

    <input type="hidden" name="id_autorizado" id="id_autorizado" value="<?=$datosparaacta['id_autorizado']?>"/>
    <input type="hidden" name="id_estud" id="id_estud" value="<?=$datosparaacta['id']?>"/>
    <input type="hidden" name="idcorte" id="idcorte" value="<?=$datosparaacta['id_corte']?>">
    <input type="hidden" name="procurso" id="procurso" value="<?=$datosparaacta['ha_progprecursa']?>">
    <input type="hidden" name="tipoestud" id="tipoestud" value="<?= $programas['id_estudio'] ?>">

    <button class="ui button actas">
        Guardar Datos del Acta
    </button>

</form>

<div id="contenedor7">

</div>

<script type="text/javascript">

    $('.ui.dropdown').dropdown();

    $("#fec_actas").on('change', function () {
        var fecact=$("#fec_actas").val();
        $("#fecentcarnet").val(fecact);
    });

    var rules = {

        nombres: {
            identifier  : 'nombres',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el nombre'
                },
                {
                    type: 'maxLength[60]',
                    prompt : 'M&aacute;ximo 60 caracteres'
                },
            ]
        },

        apellidos: {
            identifier  : 'apellidos',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese los apellidos'
                },
                {
                    type: 'maxLength[60]',
                    prompt : 'M&aacute;ximo 60 caracteres'
                },
            ]
        },

        fec_actas:{
            identifier  : 'fec_actas',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese la fecha de inicio laboral'
                },
                {
                    type   : 'regExp[/^[0-9]{4}-[0-9]{2}-[0-9]{2}$/]',
                    prompt: 'Fecha NO válida. Formato AAAA-MM-DD'
                }
            ]
        },

        actagral: {
            identifier  : 'actagral',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el numero del acta general'
                },
                {
                    type: 'maxLength[15]',
                    prompt : 'M&aacute;ximo 15 numeros'
                },
                {
                    type: 'integer',
                    prompt : 'Solo valores numéricos'
                }
            ]
        },

        actaind: {
            identifier  : 'actaind',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el numero del acta individual'
                },
                {
                    type: 'maxLength[15]',
                    prompt : 'M&aacute;ximo 15 numeros'
                },
                {
                    type: 'integer',
                    prompt : 'Solo valores numéricos'
                }
            ]
        },

        nro_diplo: {
            identifier  : 'nro_diplo',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el numero del diploma'
                },
                {
                    type: 'maxLength[15]',
                    prompt : 'M&aacute;ximo 15 numeros'
                },
                {
                    type: 'integer',
                    prompt : 'Solo valores numéricos'
                }
            ]
        },

        carnet: {
            identifier  : 'carnet',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un elemento de la lista'
                }
            ]
        },

        /*fecentcarnet:{
            identifier  : 'fecentcarnet',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese la fecha de inicio laboral'
                },
                {
                    type   : 'regExp[/^[0-9]{4}-[0-9]{2}-[0-9]{2}$/]',
                    prompt: 'Fecha NO válida. Formato AAAA-MM-DD'
                }
            ]
        },*/

        periodo_grado: {
            identifier  : 'periodo_grado',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el periodo de la fecha de acta'
                },
                {
                    type: 'maxLength[6]',
                    prompt : 'M&aacute;ximo 6 carateres'
                }
            ]
        }

    };

    $('.ui.form.segment.tiny.formactas').form({
        on: 'blur',
        inline : true,
        fields: rules,
        onSuccess : function() {
            return false;
        },
    });

    $.fn.api.settings.api = {
        'insertactas' : '<?php echo $this->url('home') ?>encuesta/insertactas',
    };

    buttonPostValidation('.ui.button.actas', 'insertactas', '.ui.form.segment.tiny.formactas', 'contenedor7');

</script>
