
<div class="ui secondary pointing menu">
    <div class="item">
        <h2><i class="green user icon"></i>Datos de la encuesta del estudiante</h2>
    </div>

</div>


<form class="ui form segment tiny formencuesta">

    <div class="four fields">
        <div class="field">
            <label>Fecha y hora de la Encuesta: </label>
            <input type="text" id="fec_encuesta" name="fec_encuesta" value="<?= $encuesta['fec_encuesta']?>" readonly="readonly">
        </div>
        <div class="field">

        </div>
        <div class="field">

        </div>
        <div class="field">
            <label>Número de Formulario: </label>
            <input type="text" id="id" name="id" value="<?=$encuesta['id']?>" readonly="readonly">
        </div>
    </div>

    <div class="ui secondary pointing menu">
        <div class="item">
              <h2><i class="green user icon"></i>Datos Personales</h2>
        </div>
    </div>


    <div class="four fields">
        <div class="field">
            <label>Numero de identificación actual</label>
            <input type="text" id="num_id" name="num_id" value="<?= $encuesta['dp_identestud'] ?>" readonly="readonly">
        </div>
        <div class="field">
            <label>Nombres</label>
            <input type="text" id="nombres" name="nombres" value="<?= $estudiante['nombres'] ?>" readonly="readonly">
        </div>
        <div class="field">
            <label>Apellidos</label>
            <input type="text" id="apellidos" name="apellidos" value="<?= $estudiante['apellidos'] ?>" readonly="readonly">
        </div>
        <div class="field">

        </div>
    </div>

    <div class="four fields">
        <div class="field">
            <label>Lugar de expedición documento de ID</label>
            <input type="text" id="l_expedicion" name="l_expedicion" value="<?= utf8_decode($encuesta['dp_lugarexped']) ?>" readonly="readonly">
        </div>
        <div class="field">
            <label>Fecha de nacimiento</label>
            <input type="text" id="f_nac" name="f_nac" value="<?=date_format(date_create($encuesta['dp_fecnac']),'d/m/Y')?>" readonly="readonly">
        </div>

        <div class="field" id="anteriornacm" style="display: none">
            <label>Municipio de nacimiento</label>
            <input type="text" id="nac_municipio" name="nac_municipio" value="<?= utf8_decode($encuesta['dp_mpionac']) ?>" readonly="readonly">
        </div>
        <div class="field" id="anteriornacd" style="display: none">
            <label>&nbsp;</label>
            <input type="text" id="nac_depto" name="nac_depto" value="<?= utf8_decode($encuesta['dp_deptonac']) ?>" readonly="readonly">
        </div>

        <div class="five wide field" id="actualnacp" style="display: none">
           <label>Pais de Nacimiento</label>
           <select class="ui search dropdown paisnac" id="paisnac" name="paisnac" disabled>
               <?php foreach ($paisnac as $listpaisesnac) {?>
                    <option value="<?=$listpaisesnac['Codigo']?>"> <?=$listpaisesnac['Pais']?></option>
               <?php }?>
           </select>
        </div>
        <div class="five wide field" id="actualnacc" style="display: none">
           <label>Ciudad de Nacimiento</label>
           <select class="ui search dropdown ciudnac" id="ciudnac" name="ciudnac" disabled>
                <?php foreach ($ciudnac as $listciudnac) {?>
                    <option value="<?=$listciudnac['id']?>"> <?=$listciudnac['ciudad']?></option>
                <?php }?>
           </select>
        </div>

    </div>

    <div class="four fields">
        <div class="field">
            <label>Dirección residencial</label>
            <input type="text" id="dir_residencial" name="dir_residencial" value="<?= $encuesta['dp_dirresidencia'] ?>" readonly="readonly">
        </div>

        <div class="field">
            <label>Teléfono de Residencia</label>
            <input type="text" id="rtelestud" name="rtelestud" value="<?= $encuesta['dp_telestud'] ?>" readonly="readonly">
        </div>

        <div class="field" id="anteriorresm" style="display: none">
            <label>Municipio de residencia</label>
            <input type="text" id="res_municipio" name="res_municipio" value="<?= utf8_decode($encuesta['dp_mpioresidencia']) ?>" readonly="readonly">
        </div>

        <div class="field" id="anteriorresd" style="display: none">
            <label>&nbsp;</label>
            <input type="text" id="res_depto" name="res_depto" value="<?= utf8_decode($encuesta['dp_deptoresidencia']) ?>" readonly="readonly">
        </div>

        <div class="five wide field" id="actualresp" style="display: none">
            <label>Pais de Residencia</label>
            <select class="ui search dropdown paisres" id="paisres" name="paisres" disabled>
                <?php foreach ($paisres as $listpaisesres) {?>
                    <option value="<?=$listpaisesres['Codigo']?>"> <?=$listpaisesres['Pais']?></option>
                <?php }?>
            </select>
        </div>
        <div class="five wide field" id="actualresc" style="display: none">
            <label>Ciudad de Residencia</label>
            <select class="ui search dropdown ciudres" id="ciudres" name="ciudres" disabled>
                <?php foreach ($ciudres as $listciudres) {?>
                    <option value="<?=$listciudres['id']?>"> <?=$listciudres['ciudad']?></option>
                <?php }?>
            </select>
        </div>
    </div>


    <div class="four fields">
        <div class="field">
            <label>Celular</label>
            <input type="text" id="rcelestud" name="rcelestud" value="<?= $encuesta['dp_celestud'] ?>" readonly="readonly">
        </div>

        <div class="field">
            <label>E-mail</label>
            <input type="email" id="remailestud" name="remailestud" value="<?= $encuesta['dp_emailestud'] ?>" readonly="readonly">
        </div>
    </div>


    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Historia Académica</h2>
        </div>
    </div>

    <div class="fields">
        <div class="six wide field">
            <label>SNP_SABER_PRO Registro No</label>
            <input type="text" id="snp" name="snp" maxlength="30" value="<?= $encuesta['ha_npsaberpro'] ?>" readonly="readonly">
        </div>

        <div class="ten wide field">
            <label>Programa cursado</label>
            <select class="ui search dropdown programa" id="programa" name="programa" disabled="disabled">
                <?php foreach ($programas as $bprogra) {?>
                    <option value="<?=$bprogra['id']?>" > <?=$bprogra['nombre']?></option>
                <?php }?>
            </select>
        </div>
    </div>

    <div class="fields">
        <div class="three wide field">
            <label>Semestre inicio</label>
            <select class="ui dropdown origen search" id="sem_ini" name="sem_ini" disabled="disabled">
                <option value="1" <?php if($encuesta['ha_semacaini']=="1"){ ?> selected <?php } ?> >I</option>
                <option value="2" <?php if($encuesta['ha_semacaini']=="2"){ ?> selected <?php } ?> >II</option>
            </select>
        </div>
        <div class="two wide field">
            <label>Año Inicio</label>
            <input type="text" id="anyo1" name="anyo1" maxlength="4" value="<?= $encuesta['ha_anosemacaini'] ?>" readonly="readonly">
        </div>
        <div class="three wide field">
            <label>Semestre Finalización</label>
            <select class="ui dropdown origen search" id="sem_fin" name="sem_fin" disabled="disabled">
                <option value="1" <?php if($encuesta['ha_semacafin']=="1"){ ?> selected <?php } ?> >I</option>
                <option value="2" <?php if($encuesta['ha_semacafin']=="2"){ ?> selected <?php } ?> >II</option>
            </select>
        </div>
        <div class="two wide field">
            <label>Año Finalización</label>
            <input type="text" id="anyo2" name="anyo2" maxlength="4" value="<?= $encuesta['ha_anosemacafin'] ?>" readonly="readonly">
        </div>

        <div class="field">
            <label>¿En que sede termino?</label>
            <select class="ui dropdown" name="sedeuniv" id="sedeuniv" disabled="disabled">
                <option value="1" <?php if($encuesta['sedeuniv']=="1"){ ?> selected <?php } ?> >MONTERIA</option>
                <option value="2" <?php if($encuesta['sedeuniv']=="2"){ ?> selected <?php } ?> >BERASTEGUI</option>
                <option value="3" <?php if($encuesta['sedeuniv']=="3"){ ?> selected <?php } ?> >LORICA</option>
                <option value="4" <?php if($encuesta['sedeuniv']=="4"){ ?> selected <?php } ?> >MOÑITOS</option>
                <option value="5" <?php if($encuesta['sedeuniv']=="5"){ ?> selected <?php } ?> >PLANETA RICA</option>
                <option value="6" <?php if($encuesta['sedeuniv']=="6"){ ?> selected <?php } ?> >SAHAGUN</option>
                <option value="7" <?php if($encuesta['sedeuniv']=="7"){ ?> selected <?php } ?> >SAN BERNARDO DEL VIENTO</option>
            </select>
        </div>
        <div class="six wide field">
            <label>En qué % el programa de pregreado que estudió llenó sus expectativas académicas?</label>
            <input type="text" id="porcentaje" name="porcentaje" maxlength="3" readonly="readonly" value="<?= $encuesta['ha_porcsatis'] ?>">
        </div>
    </div>

    <div class="fields">
        <div class="three wide field">
            <label>Estudio otra carrera?</label>
            <div class="ui checkbox">
                <input type="checkbox" tabindex="0" id="estudio_otra" name="estudio_otra" value="on"
                    <?php if (!empty($encuesta['ha_estudotracarrera'])) {    echo "checked";}?> disabled="disabled">
                <label></label>
            </div>
        </div>
        <div class="three wide field">
            <label>Termino esa carrera?</label>
            <select class="ui dropdown termino_otra" id="termino_otra" name="termino_otra" disabled="disabled">
                <option value="" <?php if(is_null($encuesta['ha_termesacarrera'])){ ?> selected <?php } ?> ></option>
                <option value="SI" <?php if($encuesta['ha_termesacarrera']=="SI"){ ?> selected <?php } ?> >SI</option>
                <option value="NO" <?php if($encuesta['ha_termesacarrera']=="NO"){ ?> selected <?php } ?> >NO</option>
            </select>
        </div>
        <div class="ten wide field">
            <label>En que universidad</label>
            <input type="text" id="univer_otra" name="univer_otra" size="120" value="<?=$univpreotra['nombre']?>" readonly="readonly">
        </div>
    </div>

    <div class="field">
        <label>Qué carrera estudio?</label>
        <input type="text" id="otroprograma" name="otroprograma" value="<?=$encuesta['ha_nomesacarrera']?>" readonly="readonly">
    </div>


    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Expectativa de postgrados</h2>
        </div>
    </div>

    <div class="field">
        <label>En qúe área de formación le gustaría especializarse?</label>
        <input type="text" id="especializar" name="especializar" maxlength="80" value="<?=$encuesta['ep_areaporespec']?>" readonly="readonly">
    </div>

    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Información Laboral</h2>
        </div>
    </div>

    <div class="fields">
        <div class="three wide field">
            <label>Trabaja actualmente</label>
            <div class="ui checkbox">
                <input type="checkbox" tabindex="0" id="trabaja_actual" name="trabaja_actual"
                    <?php if (!empty($encuesta['il_trabactualmente'])) {    echo "checked";}?> disabled="disabled">
                <label></label>
            </div>
        </div>
        <div class="three wide field">
            <label>Fecha en la que comenzó</label>
            <input type="text" id="fecha_inilaboral" name="fecha_inilaboral" maxlength="10"
                   value="<?=$encuesta['il_fecinilab']?>" readonly="readonly">
        </div>
    </div>
    <div class="fields">
        <div class="four wide field">
            <label>Ha tenido alguna vez algún trabajo remunerado?</label>
            <div class="ui checkbox">
                <input type="checkbox" tabindex="0" id="trabajo_remunera" name="trabajo_remunera"
                       <?php if (!empty($encuesta['il_tenidotrabremu'])) {    echo "checked";}?> disabled="disabled">
                <label></label>
            </div>
        </div>
        <div class="five wide field">
            <label>Ocupación en ese trabajo</label>
            <input type="text" id="ocupacion_trabajo" name="ocupacion_trabajo" maxlength="80" value="<?=$encuesta['il_ocupesetraba']?>" readonly="readonly">
        </div>
        <div class="seven wide field">
            <label>Empresa o negocio donde trabajaba</label>
            <input type="text" id="nombre_empresa" name="nombre_empresa" maxlength="100" value="<?=$encuesta['il_nomemplab']?>" readonly="readonly">
        </div>
    </div>
    <div class="fields">
        <div class="three wide field" id="sector" style="display: none">
            <label style="font-size: 14px">En el sector de su profesión</label>
            <select class="ui dropdown sectprof" id="sectprof" name="sectprof" disabled>
                <option value="" <?php if(is_null($encuesta['trabsectprofe'])){ ?> selected <?php } ?>></option>
                <option value="SI" <?php if($encuesta['trabsectprofe']=='SI'){ ?> selected <?php } ?>>SI</option>
                <option value="NO" <?php if($encuesta['trabsectprofe']=='NO'){ ?> selected <?php } ?>>NO</option>
            </select>
        </div>
        <div class="one wide field" id="sector" style="display: none"></div>
        <div class="twelve wide field">
            <label>Cual es la actividad económica a la que se dedica la empresa donde trabajaba o trabaja?</label>
            <input type="text" id="actividad_empresa" name="actividad_empresa" maxlength="80"
                   value="<?= $encuesta['il_actecoemplab'] ?>" readonly="readonly">
        </div>
    </div>

    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Información de empleadores</h2>
        </div>
    </div>

    <div class="content field">
        <div class="four fields">
            <div class="field">
                <label>Nombre del Director o Gerente de la Empresa</label>
                <input type="text" name="nom_gerente_emp_trab" id="nom_gerente_emp_trab" maxlength="80" value="<?=$encuesta['ie_nomgteemp']?>" readonly="readonly" />
            </div>
            <div class="field">
                <label>Nombre del Jefe Inmediato</label>
                <input type="text" name="nom_jefe_emp_trab" id="nom_jefe_emp_trab" maxlength="80" value="<?=$encuesta['ie_nomjefinme']?>" readonly="readonly" />
            </div>
            <div class="field">
                <label>Direccion Laboral</label>
                <input type="text" name="direc_emp_trab" id="direc_emp_trab" maxlength="100" value="<?=$encuesta['ie_diremplab']?>" readonly="readonly" />
            </div>
            <div class="field" id="anteriorlabd" style="display: none">
                <label>Departamento</label>
                <input type="text" name="dpto_emp_trab" id="dpto_emp_trab" maxlength="60" value="<?=$encuesta['ie_dptoemplab']?>" readonly="readonly" />
            </div>
            <div class="five wide field" id="actuallabp" style="display: none">
                <label>Pais donde Labora</label>
                <select class="ui search dropdown paislab" id="paislab" name="paislab" disabled>
                    <?php foreach ($paislab as $listpaiseslab) {?>
                        <option value="<?=$listpaiseslab['Codigo']?>"> <?=$listpaiseslab['Pais']?></option>
                    <?php }?>
                </select>
            </div>
        </div>
        <div class="four fields">
            <div class="field" id="anteriorlabm" style="display: none">
                <label>Municipio</label>
                <input type="text" name="mpio_emp_trab" id="mpio_emp_trab" maxlength="60" value="<?=$encuesta['ie_mpioemplab']?>" readonly="readonly" />
            </div>
            <div class="five wide field" id="actuallabc" style="display: none">
                <label>Ciudad donde Labora</label>
                <select class="ui search dropdown ciudlab" id="ciudlab" name="ciudlab" disabled>
                    <?php foreach ($ciudlab as $listciudlab) {?>
                        <option value="<?=$listciudlab['id']?>"> <?=$listciudlab['ciudad']?></option>
                    <?php }?>
                </select>
            </div>
            <div class="field">
                <label>Telefono Labora</label>
                <input type="text" name="telef_emp_trab" id="telef_emp_trab" maxlength="10" value="<?=$encuesta['ie_telemplab']?>" readonly="readonly" />
            </div>
            <div class="field">
                <label>E-mail Labora</label>
                <input type="text" name="email_emp_trab" id="email_emp_trab" maxlength="100" value="<?=$encuesta['ie_emailemplab']?>" readonly="readonly" />
            </div>
        </div>

        <div class="fields" id="mejorasfortaleza" style="display: none">
            <div class="twelve wide field">
                <label style="font-size: 14px">De acuerdo con su experiencia laboral, en que area considera uted debe mejorar el programa del cual
                    usted es egresado?</label>
                <select class="ui search dropdown mejorar" id="mejorar" name="mejorar">
                    <option value="" selected>Elija una opción</option>
                    <?php foreach ($respuestas as $listaresp) { ?>
                        <option value="<?= $listaresp['id_respuesta'] ?>">
                            <?= utf8_decode($listaresp['descrip_respuesta']) ?></option>
                    <?php } ?>
                </select>
            </div>
            <div class="twelve wide field">
                <label style="font-size: 14px">Cual considera usted que es la Fortaleza del programa del cual usted es egresado?</label>
                <select class="ui search dropdown fortaleza" id="fortaleza" name="fortaleza">
                    <option value="" selected>Elija una opción</option>
                    <?php foreach ($respuestas1 as $listaresp1) { ?>
                        <option value="<?= $listaresp1['id_respuesta'] ?>">
                            <?= utf8_decode($listaresp1['descrip_respuesta']) ?></option>
                    <?php } ?>
                </select>
            </div>
        </div>
    </div>

    <button class="ui button encuesta">
        Regesar
    </button>

</form>

<script type="text/javascript">

    $('.ui.dropdown').dropdown();

    $(document).ready(function(){
        var dato1 = $("#ciudnac").val();
        var dato2 = $("#ciudres").val();
        var dato3 = $("#ciudlab").val();

        if(dato1!=null){
            $("#actualnacp").show();
            $("#actualnacc").show();
        }else{
            $("#anteriornacm").show();
            $("#anteriornacd").show();
        }

        if(dato2!=null){
            $("#actualresp").show();
            $("#actualresc").show();
        }else{
            $("#anteriorresm").show();
            $("#anteriorresd").show();
        }

        if(dato3!=null){
            $("#actualresp").show();
            $("#actualresc").show();
        }else{
            $("#anteriorresm").show();
            $("#anteriorresd").show();
        }

        var trabaja="<?=$encuesta['il_trabactualmente']?>";
        var trabrem="<?=$encuesta['il_tenidotrabremu']?>";
        //alert(trabaja);alert(trabrem);
        if (trabaja=='on'){
            $("#sector").show();
            $("#mejorasfortaleza").show();
        }else{
            if (trabrem=='on'){
                $("#sector").show();
                $("#mejorasfortaleza").show();
            }
        }
    });

    $('.ui.search.dropdown.programa').dropdown('set selected',"<?=$encuesta['ha_progprecursa']?>");

    $('.ui.search.dropdown.paisnac').dropdown('set selected',"<?=$encuesta['pais_nac']?>");
    $('.ui.search.dropdown.ciudnac').dropdown('set selected',<?=$encuesta['ciud_nac']?>);

    $('.ui.search.dropdown.paisres').dropdown('set selected',"<?=$encuesta['pais_res']?>");
    $('.ui.search.dropdown.ciudres').dropdown('set selected',<?=$encuesta['ciud_res']?>);

    $('.ui.search.dropdown.paislab').dropdown('set selected',"<?=$encuesta['pais_lab']?>");
    $('.ui.search.dropdown.ciudlab').dropdown('set selected',<?=$encuesta['ciud_lab']?>);

    $('.ui.search.dropdown.mejorar').dropdown('set selected',<?=$encuesta['id_prog_mejorar']?>);
    $('.ui.search.dropdown.fortaleza').dropdown('set selected',<?=$encuesta['id_prog_fortaleza']?>);


</script>
