<div class="ui secondary pointing menu">
    <div class="item">
        <h2><i class="green user icon"></i>Ver Datos del Acta y número de diploma</h2>
    </div>
</div>

<form class="ui form segment tiny formactas">

    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Datos Personales</h2>
        </div>
    </div>

    <div class="four fields">
        <div class="field">
            <label>Numero de identificación actual</label>
            <input type="text" id="num_id" name="num_id" value="<?=$datosparaacta['dp_identestud']?>" readonly="readonly"/>
        </div>

        <div class="field">
            <label>Nombres</label>
            <input type="text" id="nombres" name="nombres" value="<?=$datosparaacta['nombres']?>" readonly/>
        </div>

        <div class="field">
            <label>Apellidos</label>
            <input type="text" id="apellidos" name="apellidos" value="<?=$datosparaacta['apellidos']?>" readonly/>
        </div>

        <div class="field">
            <label>Celular</label>
            <input type="text" id="rcelestud" name="rcelestud" value="<?=$datosparaacta['dp_celestud']?>" readonly="readonly"/>
        </div>
    </div>

    <div class="four fields">
        <div class="field">
            <label>E-mail</label>
            <input type="email" id="remailestud" name="remailestud" value="<?= $datosparaacta['dp_emailestud'] ?>" readonly="readonly"/>
        </div>

        <div class="field">
            <label>Programa cursado</label>
            <input type="text" id="programa" name="programa" value="<?=$programas['nombre']?>" readonly="readonly"/>
        </div>

        <div class="field">
            <label>SNP_SABER_PRO</label>
            <input type="text" id="snp" name="snp" maxlength="20" value="<?=$datosparaacta['ha_npsaberpro']?>" readonly="readonly"/>
        </div>
    </div>


    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Datos del Acta</h2>
        </div>
    </div>


    <div class="four fields">

        <div class="field">
            <label>Fecha de actas</label>
            <input type="date" id="fec_actas" name="fec_actas" value="<?=$datosveracta['fec_actas']?>"/>
        </div>

        <div class="field">
            <label>Nro de Acta General</label>
            <input type="text" id="actagral" name="actagral" value="<?=$datosveracta['nro_actgral']?>"/>
        </div>

        <div class="field">
            <label>Nro de Acta Individual</label>
            <input type="text" id="actaind" name="actaind" value="<?=$datosveracta['nro_actind']?>"/>
        </div>

        <div class="field">
            <label>Nro de diploma</label>
            <input type="text" id="nro_diplo" name="nro_diplo" value="<?=$datosveracta['nro_diploma']?>"/>
        </div>

    </div>

    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Datos del Carnet</h2>
        </div>
    </div>

    <div class="four fields">

        <div class="field">
            <label>Estado del Carnet</label>
            <?php if($datosveracta['carnet_entregado']==1) : ?>
                <select class="ui dropdown carnet" id="carnet" name="carnet">
                    <option value="1" <?php if($datosveracta['carnet_entregado']==1){ ?> selected <?php } ?> >Entregado</option>
                </select>
            <?php else:?>
                <select class="ui dropdown carnet" id="carnet" name="carnet">
                    <option value="1" <?php if($datosveracta['carnet_entregado']==1){ ?> selected <?php } ?> >Entregado</option>
                    <option value="2" <?php if($datosveracta['carnet_entregado']==2){ ?> selected <?php } ?> >Por entregar</option>
                    <option value="3" <?php if($datosveracta['carnet_entregado']==3){ ?> selected <?php } ?> >En tramite</option>
                </select>
            <?php endif ?>
        </div>

        <div class="field">
            <label>Fecha de entrega</label>
            <?php if($datosveracta['carnet_entregado']==1) : ?>
                <input type="date" id="fecentcarnet" name="fecentcarnet" value="<?=$datosveracta['fec_entrecarnet']?>" readonly/>
            <?php else:?>
                <input type="date" id="fecentcarnet" name="fecentcarnet" value="<?=$datosveracta['fec_entrecarnet']?>"/>
            <?php endif ?>
        </div>

        <div class="field">
            <label>Periodo - Grado</label>
            <input type="text" id="periodo_grado" name="periodo_grado" value="<?=$datosveracta['periodo_grado']?>"/>
        </div>

    </div>

    <input type="hidden" name="id_autorizado" id="id_autorizado" value="<?=$datosparaacta['id_autorizado']?>"/>
    <input type="hidden" name="id_estud" id="id_estud" value="<?=$datosparaacta['id']?>"/>
    <input type="hidden" id="idtactas" name="idtactas" value="<?=$datosveracta['id']?>">

    <button class="ui button actas">
        Actualizar Datos editados
    </button>

</form>

<div id="contenedor5"></div>

<script type="text/javascript">

    $('.ui.dropdown').dropdown();

    $.fn.api.settings.api = {
        'updatecarnet' : '<?php echo $this->url('home') ?>encuesta/updatecarnet',
    };

    buttonPostValidation('.ui.button.actas', 'updatecarnet', '.ui.form.segment.tiny.formactas', "contenedor6");

</script>