<h2 class="ui red header">
    <i class="user icon"></i>
    <div class="content">
        Crear Nuevo Usuario
    </div>
</h2>

<div class="ui divider"></div>

<form class="ui form segment usuario">

    <div class="fields">
        <div class="twelve wide field">
            <label>Nombre completo</label>
            <input type="text" id="nombre" name="nombre" maxlength="100">
        </div>

        <div class="field">
        </div>
    </div>
    <div class="fields">
        <div class="twelve wide field">
            <label>Usuario</label>
            <input type="text" id="usuario" name="usuario" maxlength="30">
        </div>

        <div class="field">
        </div>
    </div>
    <div class="fields">
        <div class="twelve wide field">
            <label>Contraseña</label>
            <input type="text" id="password" name="password" maxlength="30">
        </div>

        <div class="field">
        </div>
    </div>
    <div class="fields">
        <div class="twelve wide field">
            <label>Tipo</label>
            <select class="ui dropdown encuestas" id="id_tipo" name="id_tipo">
                <option value="">Seleccione el tipo de usuario ...</option>
                <option value="2">Trabajador</option>
                <option value="3">Directivo</option>
            </select>
        </div>

        <div class="field">
        </div>
    </div>
    <div class="field">
        <div class="ui red labeled icon button usuario"><i class="check circle icon"></i>Crear Usuario</div>
    </div>
    <div class="ui error message"></div>
</form>

<script type="text/javascript">

    $('.ui.dropdown.modulo').dropdown();

    var rules = {
        nombre: {
            identifier  : 'nombre',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese nombre completo'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres'
                },
            ],
        },
        usuario: {
            identifier  : 'usuario',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese nombre de usuario para ingreso al sistema'
                },
                {
                    type: 'maxLength[30]',
                    prompt : 'M&aacute;ximo 30 caracteres'
                },
            ],
        },
        password: {
            identifier  : 'password',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese la contraseña'
                },
                {
                    type: 'maxLength[30]',
                    prompt : 'M&aacute;ximo 30 caracteres'
                },
            ],
        },
        id_tipo: {
            identifier  : 'id_tipo',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione el tipo de trabajador'
                },
            ],
        },
        id_modulo: {
            identifier  : 'id_modulo',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione la encuesta'
                },
            ],
        },
    };


    $('.ui.form.segment.usuario').form({
        on: 'blur',
        fields: rules,
        onSuccess : function() {
            return false;
        },
    });

    $.fn.api.settings.api = {
        'crear' : '<?php echo $this->url('home') ?>usuarios/crear',
    };

    buttonPostValidation('.ui.button.usuario', 'crear', '.ui.form.segment.usuario', 'contenedor');

</script>