<script type="text/javascript">
    $('.ui.dropdown').dropdown();
    var corte=0;
    $(document).ready(function() {
        $('.ui.dropdown.corte').on('change',function(){
            corte = $("#corte").val();
        });

        $('.item.request2').on('click',function(){
            ajaxGet("<?php echo $this->url('home') ?>"+$(this).attr('modulo')+"/"+$(this).attr('accion')+"/"+corte, "contenedor6");
        });

        $('.item.request3').on('click',function(){
            ajaxGet("<?php echo $this->url('home') ?>"+$(this).attr('modulo')+"/"+$(this).attr('accion'), "contenedor6");
        });
    });
</script>



<div class="ui menu">
    <div class="header item active green">
        ACTAS
    </div>
    <a class="item request3" modulo="anteriores" accion="seleccionar-programa-nro-acta/1">
        Agregar # de Actas Pregrado
    </a>
    <a class="item request2" modulo="anteriores" accion="ver-lista-estud-con-acta">
        Editar # de Actas Pregrado
    </a>
    <a class="item request3" modulo="anteriores" accion="seleccionar-programa-nro-acta-pos/2">
        Agregar # de Actas Postgrado
    </a>
    <a class="item request2" modulo="anteriores" accion="ver-lista-estud-con-acta-pos">
        Editar # de Actas Postgrado
    </a>
</div>

<div id="contenedor6">
    <form class="ui form">
        <div class="two field">
            <div class="field">
                <label>Corte ó Periodo de Encuesta</label>
                <select class="ui dropdown corte" id="corte" name="corte">
                    <option value="">Seleccione el corte...</option>
                    <?php foreach ($cortesinactivos as $bcortes) {?>
                        <option value="<?=$bcortes['id']?>"> <?=$bcortes['nombre']?></option>
                    <?php }?>
                </select>
            </div>
            <div class="field">

            </div>
        </div>
    </form>
</div>

