
<script type="text/javascript">
    $('.ui.dropdown').dropdown();
    var corte=0;
    $(document).ready(function() {
        $('.ui.dropdown.corte').on('change',function(){
            corte = $("#corte").val();
        });

        $('.item.request2').on('click', function () {
            ajaxGet("<?php echo $this->url('home') ?>" + $(this).attr('modulo') + "/" + $(this).attr('accion') + "/" + corte, "contenedor5");
        });

        $('.item.request3').on('click',function(){
            ajaxGet("<?php echo $this->url('home') ?>"+$(this).attr('modulo')+"/"+$(this).attr('accion'), "contenedor5");
        });

        $('.search.link.icon.identificacion').on('click',function(){
            ajaxPost('<?php echo $this->url('home') ?>encuesta/consultaencuesta', 'contenedor5', {identificacion: $("#identificacion").val()});
        });

        $('.search.link.icon.nombres').on('click',function(){
            ajaxPost('<?php echo $this->url('home') ?>encuesta/consultaestudxnombres', 'contenedor5', {nombres: $("#nombres").val()});
        });
    });
</script>

<div class="ui menu">
    <div class="header item active green">
        ENCUESTAS PRE
    </div>
    <!--<a modulo="reportes" accion="form-encuestas-realizadas">
    modulo="reportes" accion="form-encuestas-no-realizadas">
    modulo="reportes" accion="seleccionar-programa/1">-->
    <a class="item request2" modulo="anteriores" accion="encuestas-anteriores-realizadas-pre">
        Realizadas
    </a>
    <a class="item request2" modulo="anteriores" accion="encuestas-anteriores-no-realizadas-pre">
        Por realizar
    </a>
    <a class="item request2" modulo="anteriores" accion="anteriores-seleccionar-programa/1">
        Realizadas por programa
    </a>
    <a class="item request2" modulo="anteriores" accion="selec-fecha-encuestas-anteriores-realizadas-pre">
        Realizadas por fecha
    </a>
    <a class="item request3" modulo="estudiante" accion="buscarporidentificacionpre">
        Corregir datos
    </a>
    <a class="item">
        <div class="ui icon input">
            <input id="identificacion" type="text" placeholder="Identificación" size="15">
            <i class="search link icon identificacion"></i>
        </div>
    </a>
    <a class="item">
        <div class="ui icon input">
            <input id="nombres" type="text" placeholder="Nombres">
            <i class="search link icon nombres"></i>
        </div>
    </a>

</div>

<div id="contenedor5">
    <form class="ui form">
        <div class="two field">
            <div class="field">
                <label>Corte ó Periodo</label>
                <select class="ui dropdown corte" id="corte" name="corte">
                    <option value="0">Seleccione el corte...</option>
                    <?php foreach ($cortesinactivos as $bcortes) { ?>
                        <option value="<?= $bcortes['id'] ?>"> <?= $bcortes['nombre'] ?></option>
                    <?php } ?>
                </select>
            </div>
            <div class="field">

            </div>
        </div>
    </form>
    <div class="ui segment green">
        <h3 class="ui dividing header ">
            Encuestas Actual Pregrados - [<?= $cortevigente['nombre'] ?>]
        </h3>
        <div class="ui four column grid">
            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h4 class="ui red header"><i class="list icon"></i> Encuestas a realizar</h4>
                    </div>
                    <div class="ui secondary red inverted dashboard center aligned segment">
                        <div class="ui dashboard statistic valor">
                            <div class="value valor" style="color: white">
                                <?= $estudiantes['total'] ?>
                            </div>
                            <div class="label" style="color: white">
                                Estudiantes de Pre
                            </div>
                        </div>
                    </div>
                    <div class="ui segment">
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h4 class="ui yellow header"><i class="list icon"></i> Encuestas realizadas</h4>
                    </div>
                    <div class="ui secondary yellow inverted dashboard center aligned segment">
                        <div class="ui dashboard statistic valor">
                            <div class="value valor" style="color: white">
                                <?= $realizadas['total'] ?>
                            </div>
                            <div class="label" style="color: white">
                                Encuestas Pre
                            </div>
                        </div>
                    </div>
                    <div class="ui segment">
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h4 class="ui green header"><i class="list icon"></i>Encuestas Faltantes</h4>
                    </div>
                    <div class="ui secondary green inverted dashboard center aligned segment">
                        <div class="ui dashboard statistic valor">
                            <div class="value valor" style="color: white">
                                <?= $estudiantes['total'] - $realizadas['total'] ?>
                            </div>
                            <div class="label" style="color: white">
                                Encuestas Pre
                            </div>
                        </div>
                    </div>
                    <div class="ui segment">
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

