<div class="ui teal info icon message">
    <i class="blue info circle icon"></i>
    <div class="content">
        <div class="header">Informaci&oacute;n</div>
        <p><?= $mensaje?></p>
    </div>
</div>

<form>
    <input type="hidden" id="programa" name="programa" value="<?=$progra?>">
    <button class="ui button actas">
        Regresar
    </button>

</form>

<script type="text/javascript">

    $('.ui.button.actas').on('click',function() {
        var tipo=<?=$estudio?>;
        if (tipo==1) {
            ajaxPost('<?php echo $this->url('home') ?>anteriores/ver-lista-encuestados-para-acta/' + <?=$parametro1?>,
                'contenedor7', {programa: $("#programa").val()})
        }else if(tipo==2){
            ajaxPost('<?php echo $this->url('home') ?>anteriores/ver-lista-encuestados-para-acta-pos/' + <?=$parametro1?>,
                'contenedor7', {programa: $("#programa").val()})
        }
    });

</script>