
<div class="ui secondary pointing menu">
    <div class="item">
        <h2><i class="green user icon"></i>Datos de la encuesta del estudiante</h2>
    </div>
</div>


<form class="ui form segment tiny formencuesta">

    <div class="four fields">
        <div class="field">
            <label>Fecha y hora de la Encuesta: </label>
            <input type="text" id="fec_encuesta" name="fec_encuesta" value="<?=$encuestapost['fec_encuesta']?>" readonly="readonly">
        </div>
        <div class="field">

        </div>
        <div class="field">

        </div>
        <div class="field">
            <label>Número de Formulario: </label>
            <input type="text" id="id" name="id" value="<?=$encuestapost['id']?>" readonly="readonly">
        </div>
    </div>

    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Datos Personales</h2>
        </div>
    </div>


    <div class="four fields">
        <div class="field">
            <label>Numero de identificación actual</label>
            <input type="text" id="num_id" name="num_id" value="<?= $encuestapost['dp_identestud'] ?>" readonly="readonly">
        </div>
        <div class="field">
            <label>Nombres</label>
            <input type="text" id="nombres" name="nombres" value="<?= $estudiante['nombres'] ?>" readonly="readonly">
        </div>
        <div class="field">
            <label>Apellidos</label>
            <input type="text" id="apellidos" name="apellidos" value="<?= $estudiante['apellidos'] ?>" readonly="readonly">
        </div>
        <div class="field">
            <label>Estado civil</label>
            <select class="ui search dropdown est_civil" id="est_civil" name="est_civil" disabled="disabled">
                <?php foreach ($estcivil as $listaestcivil) { ?>
                    <option value="<?= $listaestcivil['id'] ?>"> <?= $listaestcivil['nom_estado'] ?></option>
                <?php } ?>
            </select>
        </div>
    </div>

    <div class="four fields">
        <div class="field">
            <label>Lugar de expedición documento de ID</label>
            <input type="text" id="l_expedicion" name="l_expedicion" value="<?= $encuestapost['dp_lugarexped'] ?>" readonly="readonly">
        </div>
        <div class="field">
            <label>Fecha de nacimiento</label>
            <input type="text" id="f_nac" name="f_nac" value="<?=date_format(date_create($encuestapost['dp_fecnac']),'d/m/Y')?>" readonly="readonly">
        </div>
        <div class="field" id="anteriornacm" style="display: none">
            <label>Municipio de nacimiento</label>
            <input type="text" id="nac_municipio" name="nac_municipio" value="<?= $encuestapost['dp_mpionac'] ?>" readonly="readonly">
        </div>
        <div class="field" id="anteriornacd" style="display: none">
            <label>&nbsp;</label>
            <input type="text" id="nac_depto" name="nac_depto" value="<?= $encuestapost['dp_deptonac'] ?>" readonly="readonly">
        </div>

        <div class="five wide field" id="actualnacp" style="display: none">
            <label>Pais de Nacimiento</label>
            <select class="ui search dropdown paisnac" id="paisnac" name="paisnac" disabled>
                <?php foreach ($paisnac as $listpaisesnac) {?>
                    <option value="<?=$listpaisesnac['Codigo']?>"> <?=$listpaisesnac['Pais']?></option>
                <?php }?>
            </select>
        </div>
        <div class="five wide field" id="actualnacc" style="display: none">
            <label>Ciudad de Nacimiento</label>
            <select class="ui search dropdown ciudnac" id="ciudnac" name="ciudnac" disabled>
                <?php foreach ($ciudnac as $listciudnac) {?>
                    <option value="<?=$listciudnac['id']?>"> <?=$listciudnac['ciudad']?></option>
                <?php }?>
            </select>
        </div>
    </div>

    <div class="four fields">
        <div class="field">
            <label>Dirección residencial</label>
            <input type="text" id="dir_residencial" name="dir_residencial" value="<?= $encuestapost['dp_dirresidencia'] ?>" readonly="readonly">
        </div>

        <div class="field">
            <label>Teléfono de Residencia</label>
            <input type="text" id="rtelestud" name="rtelestud" value="<?= $encuestapost['dp_telestud'] ?>" readonly="readonly">
        </div>

        <div class="field" id="anteriorresm" style="display: none">
            <label>Municipio de residencia</label>
            <input type="text" id="res_municipio" name="res_municipio" value="<?= $encuestapost['dp_mpioresidencia'] ?>" readonly="readonly">
        </div>

        <div class="field" id="anteriorresd" style="display: none">
            <label>&nbsp;</label>
            <input type="text" id="res_depto" name="res_depto" value="<?= $encuestapost['dp_deptoresidencia'] ?>" readonly="readonly">
        </div>

        <div class="five wide field" id="actualresp" style="display: none">
            <label>Pais de Residencia</label>
            <select class="ui search dropdown paisres" id="paisres" name="paisres" disabled>
                <?php foreach ($paisres as $listpaisesres) {?>
                    <option value="<?=$listpaisesres['Codigo']?>"> <?=$listpaisesres['Pais']?></option>
                <?php }?>
            </select>
        </div>
        <div class="five wide field" id="actualresc" style="display: none">
            <label>Ciudad de Residencia</label>
            <select class="ui search dropdown ciudres" id="ciudres" name="ciudres" disabled>
                <?php foreach ($ciudres as $listciudres) {?>
                    <option value="<?=$listciudres['id']?>"> <?=$listciudres['ciudad']?></option>
                <?php }?>
            </select>
        </div>
    </div>


    <div class="four fields">
        <div class="field">
            <label>Celular</label>
            <input type="text" id="rcelestud" name="rcelestud" value="<?= $encuestapost['dp_celestud'] ?>" readonly="readonly">
        </div>

        <div class="field">
            <label>E-mail</label>
            <input type="email" id="remailestud" name="remailestud" value="<?= $encuestapost['dp_emailestud'] ?>" readonly="readonly">
        </div>
    </div>


    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Historia Académica</h2>
        </div>
    </div>


    <div class="fields">
        <div class="three wide field">
            <label>Fecha Fin Pregrado</label>
            <input type="date" id="f_finpregrado" name="f_finpregrado" value="<?= $encuestapost['ha_fechafinpregrado'] ?>" readonly>
        </div>
        <div class="six wide field">
            <label>SNP_SABER_PRO Registro No</label>
            <input type="text" id="snp" name="snp" maxlength="30" value="<?= $encuestapost['ha_npsaberpro'] ?>" readonly="readonly">
        </div>
        <div class="ten wide field">
            <label>En que universidad se Graduo del Pregrado</label>
            <input type="text" id="univer_pre" name="univer_pre" maxlength="120" value="<?= $univpre['nombre'] ?>" readonly="readonly">
        </div>
    </div>

    <div class="three fields">
        <div class="field">
            <label>Programa pregrado cursado-graduado Unicordoba</label>
            <input type="text" id="progpre" name="progpre" size="120" value="<?= $progpreunicor['nombre'] ?>" readonly="readonly">
        </div>
        <div class="field" id="nomdeotraunivpre">
            <label>Nombre Otra Universidad de Pregrado Cursado</label>
            <input type="text" id="nomotraunivpre" name="nomotraunivpre" value="<?= $encuestapost['ha_nomotraunivpre'] ?>" readonly>
        </div>
        <div class="field" id="progpreotrauniv">
            <label>Nombre Programa de Pregrado otra universidad</label>
            <input type="text" id="progpreotra" name="progpreotra" value="<?= $encuestapost['ha_progpregraduado'] ?>" readonly>
        </div>
    </div>

    <div class="fields">
        <div class="ten wide field">
            <label>Programa de Postgrado Cursado</label>
            <input type="text" id="progpost" name="progpost" size="120" value="<?= $programas['nombre'] ?>" readonly="readonly">
        </div>
    </div>

    <div class="fields">
        <div class="three wide field">
            <label>Semestre inicio</label>
            <select class="ui dropdown origen search" id="sem_ini" name="sem_ini" disabled="disabled">
                <option value="1" <?php if($encuestapost['ha_seminipost']=="1"){ ?> selected <?php } ?> >I</option>
                <option value="2" <?php if($encuestapost['ha_seminipost']=="2"){ ?> selected <?php } ?> >II</option>
            </select>
        </div>
        <div class="two wide field">
            <label>Año Inicio</label>
            <input type="text" id="anyo1" name="anyo1" maxlength="4" value="<?= $encuestapost['ha_anoinipost'] ?>" readonly="readonly">
        </div>
        <div class="three wide field">
            <label>Semestre Finalización</label>
            <select class="ui dropdown origen search" id="sem_fin" name="sem_fin" disabled="disabled">
                <option value="1" <?php if($encuestapost['ha_semfinpost']=="1"){ ?> selected <?php } ?> >I</option>
                <option value="2" <?php if($encuestapost['ha_semfinpost']=="2"){ ?> selected <?php } ?> >II</option>
            </select>
        </div>
        <div class="two wide field">
            <label>Año Finalización</label>
            <input type="text" id="anyo2" name="anyo2" maxlength="4" value="<?= $encuestapost['ha_anofinpost'] ?>" readonly="readonly">
        </div>
        <div class="six wide field">
            <label>En qué % el programa de pregreado que estudió llenó sus expectativas académicas?</label>
            <input type="text" id="porcentaje" name="porcentaje" readonly="readonly" value="<?= $encuestapost['ha_porcsatis'] ?>">
        </div>
    </div>

    <div class="fields">
        <div class="three wide field">
            <label>Estudio otra carrera?</label>
            <div class="ui checkbox">
                <input type="checkbox" tabindex="0" id="estudio_otra" name="estudio_otra" value="on"
                    <?php if (!empty($encuestapost['ha_estudotropost'])) {    echo "checked";}?> disabled="disabled">
                <label></label>
            </div>
        </div>
        <div class="three wide field">
            <label>Termino esa carrera?</label>
            <select class="ui dropdown termino_otra" id="termino_otra" name="termino_otra" disabled="disabled">
                <option value="" <?php if($encuestapost['ha_termesepost']==""){ ?> selected <?php } ?> ></option>
                <option value="SI" <?php if($encuestapost['ha_termesepost']=="SI"){ ?> selected <?php } ?> >SI</option>
                <option value="NO" <?php if($encuestapost['ha_termesepost']=="NO"){ ?> selected <?php } ?> >NO</option>
            </select>
        </div>
        <div class="field">
            <label>Qué carrera estudio?</label>
            <input type="text" id="otroprograma" name="otroprograma" maxlength="100" value="<?=$encuestapost['ha_nomesepost']?>" readonly="readonly">
        </div>
        <div class="ten wide field">
            <label>En que universidad</label>
            <input type="text" id="univer_otra" name="univer_otra" maxlength="120" value="<?= $univpost['nombre'] ?>" readonly="readonly">
        </div>
    </div>

    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Expectativa de postgrados</h2>
        </div>
    </div>

    <div class="field">
        <label>En qúe área de formación le gustaría continuar?</label>
        <input type="text" id="especializar" name="especializar" maxlength="80" value="<?=$encuestapost['ep_areaformcontinua']?>" readonly="readonly">
    </div>

    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Información Laboral</h2>
        </div>
    </div>

    <div class="fields">
        <div class="three wide field">
            <label>Trabaja actualmente</label>
            <div class="ui checkbox">
                <input type="checkbox" tabindex="0" id="trabaja_actual" name="trabaja_actual" value="on"
                    <?php if (!empty($encuestapost['il_trabactualmente'])) {    echo "checked";}?> disabled="disabled">
                <label></label>
            </div>
        </div>
        <div class="three wide field" id="sector" style="display: none">
            <label style="font-size: 14px">En el sector de su profesión</label>
            <select class="ui dropdown sectprof" id="sectprof" name="sectprof" disabled>
                <option value="" <?php if(is_null($encuestapost['trabsectprofe'])){ ?> selected <?php } ?>></option>
                <option value="SI" <?php if($encuestapost['trabsectprofe']=='SI'){ ?> selected <?php } ?>>SI</option>
                <option value="NO" <?php if($encuestapost['trabsectprofe']=='NO'){ ?> selected <?php } ?>>NO</option>
            </select>
        </div>
        <div class="one wide field" id="sector" style="display: none"></div>
        <div class="three wide field">
            <label>Fecha en la que comenzó</label>
            <input type="text" id="fecha_inilaboral" name="fecha_inilaboral" maxlength="10"
                   value="<?=$encuestapost['il_fecinilab']?>" readonly="readonly">
        </div>
        <div class="five wide field">
            <label>Ocupación en ese trabajo</label>
            <input type="text" id="ocupacion_trabajo" name="ocupacion_trabajo" maxlength="80" value="<?=$encuestapost['il_ocupesetraba']?>" readonly="readonly">
        </div>
    </div>
    <div class="fields">
        <div class="seven wide field">
            <label>Empresa o negocio donde trabajaba</label>
            <input type="text" id="nombre_empresa" name="nombre_empresa" maxlength="100" value="<?=$encuestapost['il_nomemplab']?>" readonly="readonly">
        </div>
        <div class="seven wide field">
            <label>Cual es la actividad económica a la que se dedica la empresa donde trabajaba o trabaja?</label>
            <input type="text" id="actividad_empresa" name="actividad_empresa" maxlength="150" value="<?=$encuesta['il_actecoemplab']?>" readonly="readonly">
        </div>
        <!--<div class="twelve wide field">
            <label>Cual es la actividad económica a la que se dedica la empresa donde trabajaba o trabaja?</label>
            <select class="ui search dropdown actividad_empresa" id="actividad_empresa" name="actividad_empresa" disabled="disabled">
                <?php foreach ($act_economica as $listactividades) { ?>
                    <option value="<?= $listactividades['id'] ?>"> <?= $listactividades['descrip_actividad'] ?></option>
                <?php } ?>
            </select>
        </div>-->
    </div>
    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Información de empleadores</h2>
        </div>
    </div>

    <div class="content field">
        <div class="four fields">
            <div class="field">
                <label>Nombre del Director o Gerente de la Empresa</label>
                <input type="text" name="nom_gerente_emp_trab" id="nom_gerente_emp_trab" maxlength="80" value="<?=$encuestapost['ie_nomgteemp']?>" readonly="readonly" />
            </div>
            <div class="field">
                <label>Nombre del Jefe Inmediato</label>
                <input type="text" name="nom_jefe_emp_trab" id="nom_jefe_emp_trab" maxlength="80" value="<?=$encuestapost['ie_nomjefinme']?>" readonly="readonly" />
            </div>
            <div class="field">
                <label>Direccion Laboral</label>
                <input type="text" name="direc_emp_trab" id="direc_emp_trab" maxlength="100" value="<?=$encuestapost['ie_diremplab']?>" readonly="readonly" />
            </div>
            <div class="field" id="anteriorlabd" style="display: none">
                <label>Departamento</label>
                <input type="text" name="dpto_emp_trab" id="dpto_emp_trab" maxlength="60" value="<?=$encuestapost['ie_dptoemplab']?>" readonly="readonly" />
            </div>
            <div class="five wide field" id="actuallabp" style="display: none">
                <label>Pais donde Labora</label>
                <select class="ui search dropdown paislab" id="paislab" name="paislab" disabled>
                    <?php foreach ($paislab as $listpaiseslab) {?>
                        <option value="<?=$listpaiseslab['Codigo']?>"> <?=$listpaiseslab['Pais']?></option>
                    <?php }?>
                </select>
            </div>
        </div>
        <div class="four fields">
            <div class="field" id="anteriorlabm" style="display: none">
                <label>Municipio</label>
                <input type="text" name="mpio_emp_trab" id="mpio_emp_trab" maxlength="60" value="<?=$encuestapost['ie_mpioemplab']?>" readonly="readonly" />
            </div>
            <div class="five wide field" id="actuallabc" style="display: none">
                <label>Ciudad donde Labora</label>
                <select class="ui search dropdown ciudlab" id="ciudlab" name="ciudlab" disabled>
                    <?php foreach ($ciudlab as $listciudlab) {?>
                        <option value="<?=$listciudlab['id']?>"> <?=$listciudlab['ciudad']?></option>
                    <?php }?>
                </select>
            </div>
            <div class="field">
                <label>Telefono Labora</label>
                <input type="text" name="telef_emp_trab" id="telef_emp_trab" maxlength="10" value="<?=$encuestapost['ie_telemplab']?>" readonly="readonly" />
            </div>
            <div class="field">
                <label>E-mail Labora</label>
                <input type="text" name="email_emp_trab" id="email_emp_trab" maxlength="100" value="<?=$encuestapost['ie_emailemplab']?>" readonly="readonly" />
            </div>
        </div>

        <div class="fields" id="mejorasfortaleza" style="display: none">
            <div class="twelve wide field">
                <label style="font-size: 14px">De acuerdo con su experiencia laboral, en que area considera uted debe mejorar el programa del cual
                    usted es egresado?</label>
                <select class="ui search dropdown mejorar" id="mejorar" name="mejorar">
                    <option value="" selected>Elija una opción</option>
                    <?php foreach ($respuestas as $listaresp) { ?>
                        <option value="<?= $listaresp['id_respuesta'] ?>">
                            <?= utf8_decode($listaresp['descrip_respuesta']) ?></option>
                    <?php } ?>
                </select>
            </div>
            <div class="twelve wide field">
                <label style="font-size: 14px">Cual considera usted que es la Fortaleza del programa del cual usted es egresado?</label>
                <select class="ui search dropdown fortaleza" id="fortaleza" name="fortaleza">
                    <option value="" selected>Elija una opción</option>
                    <?php foreach ($respuestas1 as $listaresp1) { ?>
                        <option value="<?= $listaresp1['id_respuesta'] ?>">
                            <?= utf8_decode($listaresp1['descrip_respuesta']) ?></option>
                    <?php } ?>
                </select>
            </div>
        </div>
        <div class="fields">
            <div class="ui checkbox">
                <input type="checkbox" tabindex="0" id="aceptacion" name="aceptacion" checked="checked" disabled>
                <?php if (!empty($encuestapost['auto_recolec_datos'])) {
                    echo "checked";
                } ?>>
                <label></label>
            </div>
            <label><strong>Acepto la política de protección de datos y autorizo el uso de la información recolectada en este formulario por parte de la institución.</strong>
            </label>
        </div>

    </div>

    <div class="ui error message"></div>

</form>

<script type="text/javascript">

    $(document).ready(function(){
        var dato1 = $("#ciudnac").val();
        var dato2 = $("#ciudres").val();
        var dato3 = $("#ciudlab").val();

        if(dato1!=null){
            $("#actualnacp").show();
            $("#actualnacc").show();
        }else{
            $("#anteriornacm").show();
            $("#anteriornacd").show();
        }

        if(dato2!=null){
            $("#actualresp").show();
            $("#actualresc").show();
        }else{
            $("#anteriorresm").show();
            $("#anteriorresd").show();
        }

        if(dato3!=null){
            $("#actualresp").show();
            $("#actualresc").show();
        }else{
            $("#anteriorresm").show();
            $("#anteriorresd").show();
        }

        var trabaja="<?=$encuestapost['il_trabactualmente']?>";
        //alert(trabaja);
        if (trabaja=='on'){
            $("#sector").show();
            $("#mejorasfortaleza").show();
        }
    });

    $('.ui.dropdown').dropdown();

    $('.ui.search.dropdown.est_civil').dropdown('set selected', <?=$estudiante['estado_civil']?>);
    $('.ui.search.dropdown.actividad_empresa').dropdown('set selected', "<?=$encuestapost['id_acteconomica']?>");

    $('.ui.search.dropdown.paisnac').dropdown('set selected',"<?=$encuestapost['pais_nac']?>");
    $('.ui.search.dropdown.ciudnac').dropdown('set selected',<?=$encuestapost['ciud_nac']?>);

    $('.ui.search.dropdown.paisres').dropdown('set selected',"<?=$encuestapost['pais_res']?>");
    $('.ui.search.dropdown.ciudres').dropdown('set selected',<?=$encuestapost['ciud_res']?>);

    $('.ui.search.dropdown.paislab').dropdown('set selected',"<?=$encuestapost['pais_lab']?>");
    $('.ui.search.dropdown.ciudlab').dropdown('set selected',<?=$encuestapost['ciud_lab']?>);

    $('.ui.search.dropdown.mejorar').dropdown('set selected',<?=$encuestapost['id_prog_mejorar']?>);
    $('.ui.search.dropdown.fortaleza').dropdown('set selected',<?=$encuestapost['id_prog_fortaleza']?>);


</script>
