
<style type="text/css">
    .container2 {
        padding: 10px;
        width: 100%;
        height: 400px;
        border: 1px solid #D8D8D8;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .floatLeft2 {
        width: 2000px;
        height: 400px;
    }
</style>

<br>
<br>
<br>
<div class="ui white icon message">
    <i class="info white"></i>
    <div class="content">
        <div class="header" align="center">
            <h2>Inscripción a Eventos</h2>
        </div>
        <!--<p>
          <div class="header">

       </div>
        <p></p>-->
    </div>
</div>


<div class="ui three column grid">
    <div class="column">

    </div>
    <div class="column">

        <form class="ui form segment busqueda">

            <div class="field">
                <label>Identificación</label>
                <input type="text" id="identificacion" name="identificacion" maxlength="20">
            </div>

            <div class="field">
                <label>Evento</label>
                <select class="ui search dropdown idevento" id="idevento" name="idevento">
                    <option value="" selected>seleccione un evento...</option>
                    <?php foreach ($eventovigente as $listaeventos) { ?>
                        <option value="<?= $listaeventos['id'] ?>">
                            <?= utf8_decode($listaeventos['nombre']) ?></option>
                    <?php } ?>
                </select>
            </div>

            <div class="field center aligned">
                <div class="ui fluid green labeled icon button actualizar">
                    <i class="search icon"></i> Realizar Inscripción
                </div>
            </div>

            <div class="ui error message"></div>
        </form>

    </div>
    <div class="column">

    </div>
</div>


<br>
<script type="text/javascript">

    $('.ui.dropdown').dropdown();

    $(document).ready(function() {

        $('ui.form.segment.busqueda').keypress(function(e){
            if(e == 13){
                return false;
            }
        });

        $('#identificacion').keypress(function(e){
            if(e.which == 13){
                return false;
            }
        });

    });

    var rules = {
        identificacion: {
            identifier  : 'identificacion',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el numero de identificación'
                },
                {
                    type: 'maxLength[11]',
                    prompt : 'M&aacute;ximo 11 caracteres'
                },
                {
                    type: 'integer',
                    prompt : 'Solo valores numéricos'
                },
            ]
        },


        idevento: {
            identifier: 'idevento',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Seleccione el evento al cual se va a inscribir'
                },
            ]
        },

    };

    $('.ui.form.segment.busqueda').form({
        on: 'blur',
        inline: true,
        fields: rules,
        onSuccess : function() {
            return false;
        },
    });

    $.fn.api.settings.api = {
        'actualizarinscrip' : '<?php echo $this->url('home') ?>inscripcion/actualizarinscrip/1/2',
    };

    buttonPostValidation('.ui.fluid.green.labeled.icon.button.actualizar', 'actualizarinscrip', '.ui.form.segment.busqueda', 'contenedor');

</script>

<div id="contenedor-calcular"></div>