<div class="ui secondary pointing menu">
    <div class="item">
        <h2><i class="green user icon"></i>Agreagar nuevo evento</h2>
    </div>
</div>

<form class="ui form segment tiny formevento">
    <table class="ui table compact">
        <tr>
            <td><strong>EVENTO</strong></td>
            <td><strong>FECHA DEL EVENTO</strong></td>
            <td><strong>FECHA DE FINALIZACIÓN</strong></td>
            <td><strong>ESTADO</strong></td>
            <td><strong>EDITAR/ABRIR</strong></td>
            <td><strong>CERRAR</strong></td>
        </tr>
        <?php foreach ($eventos as $value): ?>
            <tr>
                <td align="left"><?= $value['nombre'] ?></td>
                <td align="left"><?= $value['fecha_evento'] ?></td>
                <td align="left"><?= $value['fecha_finaliza'] ?></td>
                <td align="left"><?= $value['estado'] ?></td>
                <td align="left">
                    <?php if($value['estado']<>'INA'){ ?>
                            <a href="#" class="item request3" modulo="inscripcion" accion="verdatosevento/<?=$value['id']?>">
                                <i class="icon edit">Editar</i>
                            </a>
                    <?php }else{ $est='VIG'; ?>
                        <a href="#" class="item request3" modulo="inscripcion" accion="cambiarelestadoevento/<?=$value['id']?>/<?=$est?>">
                            <i class="icon opencart">Abrir</i>
                        </a>
                    <?php } ?>
                </td>
                <td align="left">
                    <?php if($value['estado']<>'INA'){ $est='INA'; ?>
                             <a href="#" class="item request3" modulo="inscripcion" accion="cambiarelestadoevento/<?=$value['id']?>/<?=$est?>">
                                <i class="icon delete">Cerrar</i>
                             </a>
                    <?php } ?>
                </td>


            </tr>
        <?php endforeach ?>
    </table>

    <div class="three fields">
        <div class="twelve wide field">
            <label>Nombre del evento</label>
            <input type="text" id="evento" name="evento" maxlength="100"/>
        </div>
        <div class="five wide field">
            <label>fecha Inicio</label>
            <input type="date" id="fecini" name="fecini" maxlength="10" placeholder="AAAA-MM-DD"/>
        </div>
        <div class="five wide field">
            <label>fecha Finaliza</label>
            <input type="date" id="fecfin" name="fecfin" maxlength="10" placeholder="AAAA-MM-DD"/>
        </div>
    </div>


    <div class="ui error message"></div>

    <button class="ui button green evento">
        Guardar Datos
    </button>

</form>

<script type="text/javascript">

    $('.ui.dropdown').dropdown();

    $('.item.request3').on('click',function(){
        ajaxGet("<?php echo $this->url('home') ?>"+$(this).attr('modulo')+"/"+$(this).attr('accion'), "contenedor5");
    });

    var rules = {

        evento: {
            identifier: 'evento',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Ingrese el nombre del evento'
                },
                {
                    type: 'maxLength[100]',
                    prompt: 'M&aacute;ximo 100 caracteres'
                },
            ]
        },

        fecini:{
            identifier  : 'fecini',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese la fecha del evento'
                },
                {
                    type   : 'regExp[/^[0-9]{4}-[0-9]{2}-[0-9]{2}$/]',
                    prompt: 'Fecha NO válida. Formato AAAA-MM-DD'
                }
            ]
        },

        fecfin:{
            identifier  : 'fecfin',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese la fecha de finalización del evento'
                },
                {
                    type   : 'regExp[/^[0-9]{4}-[0-9]{2}-[0-9]{2}$/]',
                    prompt: 'Fecha NO válida. Formato AAAA-MM-DD'
                }
            ]
        },

    };

    $('.ui.form.segment.tiny.formevento').form({
        on: 'blur',
        inline : true,
        fields: rules,
        onSuccess : function() {
            return false;
        },
    });

    $.fn.api.settings.api = {
        'insertevento' : '<?php echo $this->url('home') ?>inscripcion/insertevento',
    };

    buttonPostValidation('.ui.button.green.evento', 'insertevento', '.ui.form.segment.tiny.formevento', 'contenedor5');

</script>