<script type="text/javascript">
    $(document).ready(function() {

        $('.ui.dropdown.evento').on('change',function(){
            ajaxPost('<?php echo $this->url('home') ?>inscripcion/listaestudisncrievento', 'contenedor6', {evento: $("#evento").val()})
        });

    });
    $('.ui.dropdown').dropdown();
</script>
<form class="ui form">
    <div class="two fields">
        <div class="field">
            <label>Eventos:</label>
            <select class="ui dropdown evento" id="evento" name="evento">
                <option value="">Seleccione el evento...</option>
                <?php foreach ($listaeventos as $blistaeventos) {?>
                    <option value="<?=$blistaeventos['id']?>"> <?=utf8_encode($blistaeventos['nombre']).'-'.$blistaeventos['fecha_evento']?></option>
                <?php }?>
            </select>
        </div>
        <div class="field">

        </div>
    </div>
</form>

<div id="contenedor6">

</div>