<div class="ui secondary pointing menu">
    <div class="item">
        <h2><i class="green user icon"></i>Editar Evento</h2>
    </div>
</div>
<form class="ui form segment tiny formevento">
    <div class="three fields">
        <div class="twelve wide field">
            <label>Nombre del evento</label>
            <input type="text" id="evento" name="evento" maxlength="100" value="<?= $evento['nombre'] ?>"/>
        </div>
        <div class="five wide field">
            <label>fecha Inicio</label>
            <input type="date" id="fecini" name="fecini" maxlength="10" value="<?= $evento['fecha_evento'] ?>"/>
        </div>
        <div class="five wide field">
            <label>fecha Finaliza</label>
            <input type="date" id="fecfin" name="fecfin" maxlength="10" value="<?= $evento['fecha_finaliza'] ?>"/>
        </div>
    </div>

    <input type="hidden" id="idevento" name="idevento" value="<?= $evento['id'] ?>">


    <div class="ui error message"></div>

    <button class="ui button green evento">
        Actualizar Datos
    </button>

</form>
<script type="text/javascript">

    var rules = {

        evento: {
            identifier: 'evento',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Ingrese el nombre del evento'
                },
                {
                    type: 'maxLength[100]',
                    prompt: 'M&aacute;ximo 100 caracteres'
                },
            ]
        },

        fecini:{
            identifier  : 'fecini',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese la fecha del evento'
                },
                {
                    type   : 'regExp[/^[0-9]{4}-[0-9]{2}-[0-9]{2}$/]',
                    prompt: 'Fecha NO válida. Formato AAAA-MM-DD'
                }
            ]
        },

        fecfin:{
            identifier  : 'fecfin',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese la fecha de finalización del evento'
                },
                {
                    type   : 'regExp[/^[0-9]{4}-[0-9]{2}-[0-9]{2}$/]',
                    prompt: 'Fecha NO válida. Formato AAAA-MM-DD'
                }
            ]
        },

    };

    $('.ui.form.segment.tiny.formevento').form({
        on: 'blur',
        inline : true,
        fields: rules,
        onSuccess : function() {
            return false;
        },
    });

    $.fn.api.settings.api = {
        'updateEvento' : '<?php echo $this->url('home') ?>inscripcion/updateEvento',
    };

    buttonPostValidation('.ui.button.green.evento', 'updateEvento', '.ui.form.segment.tiny.formevento', 'contenedor5');

</script>