<?= $mensaje?>

<form>
    <button class="ui button encuesta">
        Regesar
    </button>

</form>

<script type="text/javascript">

    $('.ui.dropdown').dropdown();

    $(.ui.button.encuesta).api(
        {
            action: accion,

        });

    $.fn.api.settings.api = {
        'index' : '<?php echo $this->url('home') ?>estudiante/index',
    };



</script>