
<div class="ui teal info icon message">
    <i class="blue info circle icon"></i>
    <div class="content">
        <div class="header">Informaci&oacute;n</div>
        <p><?= $mensaje?></p>
    </div>
</div>

<form>
    <button class="ui button encuesta">
        Regesar
    </button>

</form>

<script type="text/javascript">

    $('.ui.dropdown').dropdown();

    $(.ui.button.encuesta).api(
        {
            action: accion,

        });

    $.fn.api.settings.api = {
        'index' : '<?php echo $this->url('home') ?>estudiante/index',
    };



</script>