<div class="ui secondary pointing menu">
    <div class="item">
        <h2><i class="green user icon"></i>Datos personales del estudiante registrados en la encuesta</h2>
    </div>
</div>

<form class="ui form segment tiny formactualizar">

    <div class="four fields">
        <div class="field">
            <label style="font-size: 14px">Numero de identificación actual</label>
            <input type="text" id="num_id" name="num_id" maxlength="11" value="<?= $viewencuesta['dp_identestud']?>">
        </div>
        <div class="field">
            <label style="font-size: 14px">Lugar de exped</label>
            <input type="text" id="l_expedic" name="l_expedic" maxlength="30" value="<?= $viewencuesta['dp_lugarexped']?>">
        </div>
        <div class="field">
            <label style="font-size: 14px">Nombres</label>
            <input type="text" id="nombres" name="nombres" maxlength="60" value="<?= $viewencuesta['nombres']?>">
        </div>
        <div class="field">
            <label style="font-size: 14px">Apellidos</label>
            <input type="text" id="apellidos" name="apellidos" maxlength="60" value="<?= $viewencuesta['apellidos'] ?>">
        </div>
        <div class="field">
            <label style="font-size: 14px">Sexo</label>
            <input type="text" id="sexo" name="sexo" maxlength="1" placeholder="F ó M" value="<?= $viewencuesta['sexo'] ?>">
        </div>
    </div>

    <div class="four fields">
        <div class="field">
            <label style="font-size: 14px">Fecha de nacimiento (YYYY-mm-dd)</label>
            <input type="date" id="f_nac" name="f_nac" value="<?=$viewencuesta['dp_fecnac']?>">
        </div>
        <div class="field">
            <label style="font-size: 14px">Municipio de nacimiento</label>
            <input type="text" id="nac_municipio" name="nac_municipio" value="<?= $viewencuesta['dp_mpionac']?>" readonly/>
        </div>
        <div class="field">
            <label style="font-size: 14px">&nbsp;</label>
            <input type="text" id="nac_depto" name="nac_depto" value="<?= $viewencuesta['dp_deptonac']?>" readonly/>
        </div>
        <div class="field">
            <label style="font-size: 14px">SNP Saber Pro Nro</label>
            <input type="text" id="saber_pro" name="saber_pro" value="<?= $viewencuesta['ha_npsaberpro']?>"/>
        </div>
    </div>

    <input type="hidden" name="id_encuesta" value="<?=$viewencuesta['id']?>">
    <input type="hidden" name="id_estud" value="<?=$viewencuesta['idest']?>">
    <input type="hidden" name="tipo" id="tipo" value="<?=$tipo?>">


    <div class="ui error message"></div>

    <button class="ui button actualizar">
        Actualizar datos
    </button>

</form>
<div class="contenedor5"></div>

<script type="text/javascript">
    var rules = {

        num_id: {
            identifier: 'num_id',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Ingrese el numero de identificación actual'
                },
                {
                    type: 'maxLength[11]',
                    prompt: 'M&aacute;ximo 11 numeros'
                },
                {
                    type: 'integer',
                    prompt: 'Solo valores numéricos'
                },
            ]
        },

        l_expedic: {
            identifier: 'l_expedic',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Ingrese el de expeicion del documento'
                },
                {
                    type: 'maxLength[30]',
                    prompt: 'M&aacute;ximo 30 caracteres'
                },
            ]
        },

        nombres: {
            identifier: 'nombres',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Ingrese los nombres del egresado encuestado'
                },
                {
                    type: 'maxLength[60]',
                    prompt: 'M&aacute;ximo 60 caracteres'
                },
            ]
        },

        apellidos: {
            identifier: 'apellidos',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Ingrese los apellidos del egresado encuestado'
                },
                {
                    type: 'maxLength[60]',
                    prompt: 'M&aacute;ximo 60 caracteres'
                },
            ]
        },

        /*l_expedicion: {
            identifier: 'l_expedicion',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Ingrese municipio de expedición de identificación'
                },
                {
                    type: 'maxLength[100]',
                    prompt: 'M&aacute;ximo 100 caracteres'
                },
            ]
        },

        f_nac: {
            identifier: 'f_nac',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Ingrese la fecha de nacimiento'
                },
                {
                    type: 'maxLength[10]',
                    prompt: 'M&aacute;ximo 10 caracteres'
                },
                {
                    type: 'regExp[/^[0-9]{4}-[0-9]{2}-[0-9]{2}$/]',
                    prompt: 'Fecha NO válida. Formato AAAA-MM-DD'
                }
            ]
        },

        nac_municipio: {
            identifier: 'nac_municipio',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Ingrese municipio de nacimiento'
                },
                {
                    type: 'maxLength[100]',
                    prompt: 'M&aacute;ximo 100 caracteres'
                },
            ]
        },

        nac_depto: {
            identifier: 'nac_depto',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Ingrese departamento de nacimiento'
                },
                {
                    type: 'maxLength[100]',
                    prompt: 'M&aacute;ximo 100 caracteres'
                },
            ]
        }*/

    };

    var tpenc = $("#tipo").val();

    $.fn.api.settings.api = {
        'updateidentestudenc' : '<?php echo $this->url('home') ?>estudiante/updateidentestudenc/'+tpenc,
    };

    $('.ui.form.segment.tiny.formactualizar').form({
        on: 'blur',
        inline : true,
        fields: rules,
        onSuccess : function() {
            return false;
        },
    });

    buttonPostValidation('.ui.button.actualizar', 'updateidentestudenc', '.ui.form.segment.tiny.formactualizar', 'contenedor5');

</script>