<div class="ui secondary pointing menu">
    <div class="item">
        <h2><i class="green user icon"></i>Datos personales del estudiante</h2>
    </div>
</div>

<form class="ui form segment tiny formestudiante">
    <div class="four fields">
        <div class="field">
            <label>Identificación</label>
            <input type="text" id="nro_ident" name="nro_ident">
        </div>
        <div class="field">
            <label>Lugar de expedición documento de ID</label>
            <input type="text" id="l_expedicion" name="l_expedicion" maxlength="50" placeholder="Ciudad" />
        </div>
        <div class="field">
            <label>Nombres</label>
            <input type="text" id="nombres" name="nombres" maxlength="100" >
        </div>

        <div class="field">
            <label>Apellidos</label>
            <input type="text" id="apellidos" name="apellidos" maxlength="100" >
        </div>
    </div>

    <div class="four fields">
        <div class="field">
            <label>Sexo</label>
            <input type="text" id="sexo" name="sexo" maxlength="1" placeholder="M o F"/>
        </div>
        <div class="field">
            <label>Dirección residencial</label>
            <input type="text" id="dir_residencial" name="dir_residencial" maxlength="250" />
        </div>
        <div class="field">
            <label>Celular</label>
            <input type="text" id="rcelestud" name="rcelestud" maxlength="10" placeholder="Celular"/>
        </div>
        <div class="field">
            <label>E-mail</label>
            <input type="text" id="email" name="email" maxlength="200" >
        </div>
    </div>

    <div class="four fields">
        <div class="field">
            <label>Corte Periodo</label>
            <select class="ui dropdown origen" id="corte" name="corte">
                <option value="">Seleccione el corte...</option>
                <option value="<?=$corte['id']?>"> <?=$corte['nombre']?></option>
            </select>
        </div>
        <div class="field">
            <label>Tipo de estudio realizado</label>
            <input type="radio" id="tipo" name="tipo" value="1">Pregrado
            <input type="radio" id="tipo" name="tipo" value="2">Postgrado
        </div>
        <div class="field">
            <label>Programa</label>
            <select class="ui dropdown origen" id="programa" name="programa">

            </select>
        </div>
    </div>


    <div class="ui error message"></div>

    <button class="ui button green estudiante">
        Guardar Datos del Estudiante
    </button>

</form>

<script type="text/javascript">

    $('.ui.dropdown').dropdown();


    $("input[name=tipo]").click(function () {
        valor = $(this).val();
        if ((valor=="1")) {
            ajaxGet(
                '<?php echo $this->url('home') ?>estudiante/programas/1',
                'programa'
            );
        }else{
            ajaxGet(
                '<?php echo $this->url('home') ?>estudiante/programas/2',
                'programa'
            );
        }
    });

    var rules = {

        nro_ident: {
            identifier: 'nro_ident',
               rules: [
               {
                 type: 'empty',
                 prompt: 'Ingrese identificacion del estudiante'
               },
               {
                 type: 'maxLength[12]',
                 prompt: 'M&aacute;ximo 12 caracteres'
               },
               {
                 type: 'integer',
                 prompt : 'Solo valores numéricos'
               },
            ]
        },

        l_expedicion: {
            identifier  : 'l_expedicion',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese municipio de expedición de identificación'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres'
                },
            ]
        },

        nombres: {
            identifier: 'nombres',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Ingrese nombres del estudiante'
                },
                {
                    type: 'maxLength[100]',
                    prompt: 'M&aacute;ximo 100 caracteres'
                },
            ]
        },

        apellidos: {
            identifier: 'apellidos',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Ingrese apellidos del estudiante'
                },
                {
                    type: 'maxLength[100]',
                    prompt: 'M&aacute;ximo 100 caracteres'
                },
            ]
        },

        sexo: {
            identifier: 'sexo',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Ingrese sexo del estudiante'
                },
                {
                    type: 'regExp[/^[M,F]{1}$/]',
                    prompt: 'Solo permite M o F'
                },
            ]
        },

        dir_residencial: {
            identifier  : 'dir_residencial',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese la dirección residencial'
                },
                {
                    type: 'maxLength[250]',
                    prompt : 'M&aacute;ximo 250 caracteres'
                },
            ]
        },

        rcelestud: {
            identifier  : 'rcelestud',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el numero de celular'
                },
                {
                    type: 'maxLength[10]',
                    prompt : 'M&aacute;ximo 10 numeros'
                },
                {
                    type: 'integer',
                    prompt : 'Solo valores numéricos'
                },
            ]
        },

        email: {
            identifier: 'email',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Ingrese su email'
                },
                {
                    type: 'maxLength[200]',
                    prompt: 'M&aacute;ximo 200 carateres'
                },
                {
                    type: 'email',
                    prompt: 'ingrese un email valido'
                },
            ]
        },

        corte: {
            identifier: 'corte',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Seleccione el periodo actual'
                },
            ]
        },

        programa: {
            identifier: 'programa',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Seleccione un programa academico'
                },
            ]
        },

    };

    $('.ui.form.segment.tiny.formestudiante').form({
        on: 'blur',
        inline : true,
        fields: rules,
        onSuccess : function() {
            return false;
        },
    });

    $.fn.api.settings.api = {
        'insertestud' : '<?php echo $this->url('home') ?>estudiante/insertestud',
    };

    buttonPostValidation('.ui.button.green.estudiante', 'insertestud', '.ui.form.segment.tiny.formestudiante', 'contenedor5');

</script>