<form class="ui form segment tiny formencuesta">
    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Datos personales del estudiante de Postgrado</h2>
        </div>
    </div>

    <table class="ui table compact">
        <tbody>
        <tr>
            <td class="sombreado"><strong>Identificación</strong></td>
            <td><?= $estudiante['nro_ident'] ?></td>

            <td class="sombreado"><strong>Nombres y apellidos</strong></td>
            <td><?= $estudiante['nombres'] . ' ' . $estudiante['apellidos'] ?></td>

            <td class="sombreado"><strong>Email</strong></td>
            <td><?= $estudiante['email'] ?></td>
        </tr>
        </tbody>
    </table>

    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Reconfirme Datos Personales</h2>
        </div>
    </div>

    <div class="four fields">
        <div class="field">
            <label>Numero de identificación actual</label>
            <input type="text" id="num_id" name="num_id" maxlength="11"/>
        </div>
        <div class="field">
            <label>Lugar de expedición documento de ID</label>
            <input type="text" id="l_expedicion" name="l_expedicion" maxlength="100" placeholder="Ciudad"/>
        </div>
        <div class="field">

        </div>
        <div class="field">

        </div>
    </div>

    <div class="four fields">
        <div class="field">
            <label>Fecha de nacimiento</label>
            <input type="date" placeholder="AAAA-MM-DD" id="f_nac" name="f_nac" maxlength="10">
        </div>
        <div class="five wide field">
            <label style="font-size: 14px">Pais de Nacimiento</label>
            <select class="ui search dropdown paisnac" id="paisnac" name="paisnac">
                <option value="">Seleccionar el pais...</option>
                <?php foreach ($paisnac as $listpaisesnac) { ?>
                    <option value="<?= $listpaisesnac['Codigo'] ?>"> <?= $listpaisesnac['Pais'] ?></option>
                <?php } ?>
            </select>
        </div>
        <div class="five wide field">
            <label style="font-size: 14px">Ciudad de Nacimiento</label>
            <select class="ui search dropdown ciudnac" id="ciudnac" name="ciudnac">

            </select>
        </div>
        <!--<div class="field">
            <label>Municipio de nacimiento</label>
            <input type="text" id="nac_municipio" name="nac_municipio" maxlength="100" placeholder="Municipio"/>
        </div>
        <div class="field">
            <label>&nbsp;</label>
            <input type="text" id="nac_depto" name="nac_depto" maxlength="100" placeholder="Departamento"/>
        </div>-->
    </div>

    <div class="four fields">
        <div class="field">
            <label>Dirección residencial</label>
            <input type="text" id="dir_residencial" name="dir_residencial" maxlength="250"/>
        </div>

        <div class="field">
            <label>Teléfono de Residencia</label>
            <input type="text" id="rtelestud" name="rtelestud" maxlength="10" placeholder="Teléfono de Residencia"/>
        </div>

        <div class="five wide field">
            <label style="font-size: 14px">Pais de Residencia</label>
            <select class="ui search dropdown paisres" id="paisres" name="paisres">
                <option value="">Seleccionar el pais...</option>
                <?php foreach ($paisres as $listpaisesre) { ?>
                    <option value="<?= $listpaisesre['Codigo'] ?>"> <?= $listpaisesre['Pais'] ?></option>
                <?php } ?>
            </select>
        </div>
        <div class="five wide field">
            <label style="font-size: 14px">Ciudad de Residencia</label>
            <select class="ui search dropdown ciudres" id="ciudres" name="ciudres">

            </select>
        </div>

        <!--<div class="field">
            <label>Municipio de residencia</label>
            <input type="text" id="res_municipio" name="res_municipio" maxlength="100" placeholder="Municipio"/>
        </div>

        <div class="field">
            <label>&nbsp;</label>
            <input type="text" id="res_depto" name="res_depto" maxlength="100" placeholder="Departamento"/>
        </div>-->
    </div>


    <div class="four fields">
        <div class="field">
            <label>Celular</label>
            <input type="text" id="rcelestud" name="rcelestud" maxlength="10" placeholder="Celular"/>
        </div>

        <div class="field">
            <label>E-mail</label>
            <input type="email" id="remailestud" name="remailestud" maxlength="100" placeholder="ejemplo@um.es"/>
        </div>
    </div>


    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Historia Académica</h2>
        </div>
    </div>

    <div class="fields">
        <div class="three wide field">
            <label>Fecha Fin Pregrado</label>
            <input type="date" placeholder="AAAA-MM-DD" id="f_finpregrado" name="f_finpregrado" maxlength="10"
                   onchange="validaFecha();">
        </div>
        <div class="four wide field">
            <label>SNP_SABER_PRO Registro No</label>
            <input type="text" id="snp" name="snp" maxlength="14">
        </div>
        <div class="ten wide field">
            <label>En que universidad se Graduo del Pregrado</label>
            <select class="ui dropdown origen search univer_pre" name="univer_pre" id="univer_pre">
                <option value=0 selected>SELECCIONE</option>
                <?php foreach ($univerpre as $buniverpre) { ?>
                    <option value="<?= $buniverpre['id'] ?>"> <?= $buniverpre['nombre'] ?></option>
                <?php } ?>
            </select>
        </div>
    </div>

    <div class="two fields">
        <div class="field" id="progpreunicord" style="display: none">
            <label>Programa de Pregrado Cursado Unicordoba</label>
            <select class="ui dropdown search" id="progpreucor" name="progpreucor">
                <option value=0 selected>Seleccionar el programa...</option>
                <?php foreach ($progdepre as $bprograpre) { ?>
                    <option value="<?= $bprograpre['id'] ?>"> <?= $bprograpre['nombre'] ?></option>
                <?php } ?>
            </select>
        </div>
        <div class="field" id="nomdeotraunivpre" style="display: none">
            <label>Nombre Otra Universidad de Pregrado Cursado</label>
            <input type="text" maxlength="120" id="nomotraunivpre" name="nomotraunivpre">
        </div>

        <div class="field" id="progpreotrauniv" style="display: none">
            <label>Nombre Programa de Pregrado otra universidad</label>
            <input type="text" maxlength="100" id="progpreotra" name="progpreotra">
        </div>

    </div>

    <div class="field">
        <div class="ten wide field">
            <label>Programa de Postgrado Cursado</label>
            <select class="ui dropdown origen" id="progpost" name="progpost">
                <?php foreach ($programas as $bprogra) { ?>
                    <?php if ($selecprog['id_programa'] == $bprogra['id']): ?>
                        <option value="<?= $selecprog['id_programa'] ?>" selected> <?= $bprogra['nombre'] ?></option>
                    <?php endif ?>
                <?php } ?>
            </select>
        </div>
    </div>

    <div class="fields">
        <div class="three wide field">
            <label>Semestre inicio</label>
            <select class="ui dropdown origen" id="sem_ini" name="sem_ini">
                <option value="">Seleccione periodo</option>
                <option value="1">I</option>
                <option value="2">II</option>
            </select>
        </div>
        <div class="two wide field">
            <label>Año Inicio</label>
            <input type="text" id="anyo1" name="anyo1" maxlength="4">
        </div>
        <div class="three wide field">
            <label>Semestre Finalización</label>
            <select class="ui dropdown origen" id="sem_fin" name="sem_fin">
                <option value="">Seleccione periodo</option>
                <option value="1">I</option>
                <option value="2">II</option>
            </select>
        </div>
        <div class="two wide field">
            <label>Año Finalización</label>
            <input type="text" id="anyo2" name="anyo2" maxlength="4">
        </div>
        <div class="six wide field">
            <label>En qué % el programa de postgrado que estudió llenó sus expectativas académicas?</label>
            <input type="text" id="porcentaje" name="porcentaje" maxlength="3">
        </div>
    </div>

    <div class="fields">
        <div class="three wide field">
            <label>Estudio otra carrera de postgrado?</label>
            <div class="ui checkbox">
                <input type="checkbox" tabindex="0" id="estudio_otra" name="estudio_otra">
                <label></label>
            </div>
        </div>
        <div class="field">
            <label>Termino esa carrera?</label>
            <select class="ui dropdown termino_otra" id="termino_otra" name="termino_otra">
                <option value="">Escoja</option>
                <option value="SI">SI</option>
                <option value="NO">NO</option>
            </select>
        </div>
        <div class="seven wide field">
            <label>Qué carrera estudio?</label>
            <input type="text" id="otroprograma" name="otroprograma" maxlength="100" disabled="disabled">
        </div>
    </div>

    <div class="two fields">
        <div class="field">
            <label>En que universidad</label>
            <select class="ui dropdown origen search univer_post" name="univer_post" id="univer_post">
                <option value=0 selected>SELECCIONE</option>
                <?php foreach ($univerpost as $bunipost) { ?>
                    <option value="<?= $bunipost['id'] ?>"> <?= $bunipost['nombre'] ?></option>
                <?php } ?>
            </select>
        </div>
        <div class="field" id="nomdeotraunivpost" style="display: none">
            <label>Nombre Otra Universidad</label>
            <input type="text" id="nomotraunivpos" name="nomotraunivpos">
        </div>
    </div>

    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Expectativas de postgrados</h2>
        </div>
    </div>

    <div class="field">
        <label>En qúe área de formación le gustaría continuar?</label>
        <input type="text" id="especializar" name="especializar" maxlength="100">
    </div>

    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Información Laboral</h2>
        </div>
    </div>

    <div class="fields">
        <div class="three wide field">
            <label>Trabaja actualmente</label>
            <div class="ui checkbox">
                <input type="checkbox" tabindex="0" id="trabaja_actual" name="trabaja_actual">
                <label></label>
            </div>
        </div>
        <div class="three wide field" id="sector" style="display: none">
            <label style="font-size: 14px">En el sector de su profesión</label>
            <select class="ui dropdown sectprof" id="sectprof" name="sectprof">
                <option value="" selected>Elija una opción</option>
                <option value="SI">SI</option>
                <option value="NO">NO</option>
            </select>
        </div>
        <div class="one wide field" id="sector" style="display: none"></div>
        <div class="three wide field">
            <label>Fecha en la que comenzó</label>
            <input type="date" placeholder="AAAA-MM-DD" id="fecha_inilaboral" name="fecha_inilaboral" maxlength="10"
                   disabled="disabled">
        </div>
        <div class="five wide field">
            <label>Ocupación en ese trabajo</label>
            <input type="text" id="ocupacion_trabajo" name="ocupacion_trabajo" maxlength="120" disabled="disabled">
        </div>
    </div>

    <div class="fields">
        <div class="seven wide field">
            <label>Empresa o negocio donde trabaja o trabajaba</label>
            <input type="text" id="nombre_empresa" name="nombre_empresa" maxlength="100" disabled="disabled">
        </div>
        <div class="field">
            <label>Cual es la actividad económica de la empresa?</label>
            <input type="text" id="actividad_empresa" name="actividad_empresa" maxlength="150" disabled="disabled">
        </div>
    </div>

    <div class="ui secondary pointing menu">
        <div class="item">
            <h2><i class="green user icon"></i>Información de empleadores</h2>
        </div>
    </div>

    <div class="content field">
        <div class="four fields">
            <div class="field">
                <label>Nombre del Director o Gerente de la Empresa</label>
                <input type="text" name="nom_gerente_emp_trab" id="nom_gerente_emp_trab" maxlength="80"
                       disabled="disabled" placeholder="Nombre del Director o Gerente de la Empresa"/>
            </div>
            <div class="field">
                <label>Nombre del Jefe Inmediato</label>
                <input type="text" name="nom_jefe_emp_trab" id="nom_jefe_emp_trab" maxlength="80" disabled="disabled"
                       placeholder="Nombre del Jefe Inmediato"/>
            </div>
            <div class="field">
                <label>Direccion Laboral</label>
                <input type="text" name="direc_emp_trab" id="direc_emp_trab" maxlength="100" disabled="disabled"
                       placeholder="Direccion Laboral"/>
            </div>
            <div class="five wide field">
                <label style="font-size: 14px">Pais donde Labora</label>
                <select class="ui search dropdown paislab" id="paislab" name="paislab">
                    <option value="">Seleccionar el pais...</option>
                    <?php foreach ($paislab as $listpaiseslab) { ?>
                        <option value="<?= $listpaiseslab['Codigo'] ?>"> <?= $listpaiseslab['Pais'] ?></option>
                    <?php } ?>
                </select>
            </div>
            <!--<div class="field">
                <label>Departamento</label>
                <input type="text" name="dpto_emp_trab" id="dpto_emp_trab" maxlength="60" disabled="disabled" placeholder="Departamento" />
            </div>-->
        </div>
        <div class="four fields">
            <!--<div class="field">
                <label>Municipio</label>
                <input type="text" name="mpio_emp_trab" id="mpio_emp_trab" maxlength="60" disabled="disabled" placeholder="Municipio" />
            </div>-->
            <div class="five wide field">
                <label style="font-size: 14px">Ciudad donde Labora</label>
                <select class="ui search dropdown ciudlab" id="ciudlab" name="ciudlab">

                </select>
            </div>
            <div class="field">
                <label>Telefono Labora</label>
                <input type="text" name="telef_emp_trab" id="telef_emp_trab" maxlength="10" disabled="disabled"
                       placeholder="Telefono Labora"/>
            </div>
            <div class="field">
                <label>E-mail Labora</label>
                <input type="text" name="email_emp_trab" id="email_emp_trab" maxlength="100" disabled="disabled"
                       placeholder="ejemplo@um.es"/>
            </div>
        </div>
        <div class="fields" id="mejorasfortaleza" style="display: none">
            <div class="twelve wide field">
                <label style="font-size: 14px">De acuerdo con su experiencia laboral, en que area considera uted debe mejorar el programa del cual
                    usted es egresado?</label>
                <select class="ui search dropdown mejorar" id="mejorar" name="mejorar">
                    <option value="0" selected>Elija una opción</option>
                    <?php foreach ($respuestas as $listaresp) { ?>
                        <option value="<?= $listaresp['id_respuesta'] ?>">
                            <?= utf8_decode($listaresp['descrip_respuesta']) ?></option>
                    <?php } ?>
                </select>
            </div>
            <div class="twelve wide field">
                <label style="font-size: 14px">Cual considera usted que es la Fortaleza del programa del cual usted es egresado?</label>
                <select class="ui search dropdown fortaleza" id="fortaleza" name="fortaleza">

                </select>
            </div>
        </div>
    </div>

    <input type="hidden" name="id_autorizado" value="<?= $selecprog['id'] ?>">
    <input type="hidden" name="id_estudiante" value="<?= $selecprog['id_estudiante'] ?>">
    <input type="hidden" name="id_corte" value="<?= $corte['id'] ?>">

    <div class="ui error message"></div>

    <button class="ui button green postgrado">
        Guardar la Encuesta
    </button>

</form>

<script type="text/javascript">

    $('.ui.dropdown').dropdown();

    $("#univer_pre").on('change',function() {
        var idunivpre=$("#univer_pre").val();
        if (idunivpre==999){
            $("#nomdeotraunivpre").show();
            $("#progpreotrauniv").show();
            $("#nomotraunivpre").focus();
        }else if(idunivpre==7){
            $("#progpreunicord").show();
            $("#progpreotrauniv").hide();
            $("#nomdeotraunivpre").hide();
            $("#nomotraunivpre").val("");
        }else {
            $("#progpreotrauniv").show();
            $("#progpreunicord").hide();
            $("#nomdeotraunivpre").hide();
            $("#nomotraunivpre").val("");
        }
    });

    $("#univer_post").on('change',function() {
        var idunivpost=$("#univer_post").val();
        if (idunivpost==999){
            $("#nomdeotraunivpost").show();
            $("#nomotraunivpos").focus();
        }else{
            $("#nomdeotraunivpost").hide();
            $("#nomotraunivpos").val("");
        }
    });

    $("#mejorar").on('change',function () {
        var idmejorar=$("#mejorar").val();
        ajaxGet('<?php echo $this->url('home') ?>actualizar/fortaleza/'+idmejorar,'fortaleza');
    });

    $("#paisres").on('change',function () {
        var codpais=$("#paisres").val();
        ajaxGet('<?php echo $this->url('home') ?>actualizar/ciudades/'+codpais,'ciudres');
    });

    $("#paislab").on('change',function () {
        var codpais=$("#paislab").val();
        ajaxGet('<?php echo $this->url('home') ?>actualizar/ciudades/'+codpais,'ciudlab');
    });

    $("#paisnac").on('change',function () {
        var codpais=$("#paisnac").val();
        ajaxGet('<?php echo $this->url('home') ?>actualizar/ciudades/'+codpais,'ciudnac');
    });

    function validaFecha() {
        var fec=$("#f_finpregrado").val();
        if (fec <= '2009-10-14'){
            $("#snp").val('NA000000000000')
        }else
            $("#snp").val('EK')
    }

    $(".ui.dropdown.termino_otra").addClass('disabled');
    $(".ui.dropdown.origen.search.univer_post").addClass('disabled');
    $('#estudio_otra').click(function() {
        if ($(this).is(':checked')) {
            $(".ui.dropdown.termino_otra").removeClass('disabled');
            $(".ui.dropdown.origen.search.univer_post").removeClass("disabled","");
            $("#otroprograma").prop("disabled","");
        }else {
            $(".ui.dropdown.termino_otra").addClass('disabled');
            $(".ui.dropdown.origen.search.univer_post").addClass('disabled');
            $("#otroprograma").prop("disabled","disabled");
        }
    });

    $(".ui.dropdown.search.paislab").addClass('disabled');
    $(".ui.dropdown.search.ciudlab").addClass('disabled');
    $('#trabaja_actual').click(function() {
        if ($(this).is(':checked')) {
            $("#fecha_inilaboral").prop("disabled","");
            $("#ocupacion_trabajo").prop("disabled","");
            $("#nombre_empresa").prop("disabled","");
            $("#actividad_empresa").prop("disabled","");

            $("#nom_gerente_emp_trab").prop("disabled","");
            $("#nom_jefe_emp_trab").prop("disabled","");
            $("#direc_emp_trab").prop("disabled","");
            $(".ui.dropdown.search.paislab").removeClass("disabled","");
            $(".ui.dropdown.search.ciudlab").removeClass("disabled","");
            $("#dpto_emp_trab").prop("disabled","");
            $("#mpio_emp_trab").prop("disabled","");
            $("#telef_emp_trab").prop("disabled","");
            $("#email_emp_trab").prop("disabled","");
            $("#sector").show();
            $("#mejorasfortaleza").show();
        }else {
            $("#fecha_inilaboral").prop("disabled","disabled");
            $("#ocupacion_trabajo").prop("disabled","disabled");
            $("#nombre_empresa").prop("disabled","disabled");
            $("#actividad_empresa").prop("disabled","disabled");

            $("#nom_gerente_emp_trab").prop("disabled","disabled");
            $("#nom_jefe_emp_trab").prop("disabled","disabled");
            $("#direc_emp_trab").prop("disabled","disabled");
            $(".ui.dropdown.search.paislab").addClass('disabled');
            $(".ui.dropdown.search.ciudlab").addClass('disabled');
            $("#dpto_emp_trab").prop("disabled","disabled");
            $("#mpio_emp_trab").prop("disabled","disabled");
            $("#telef_emp_trab").prop("disabled","disabled");
            $("#email_emp_trab").prop("disabled","disabled");
            $("#sector").hide();
            $("#mejorasfortaleza").hide();
        }
    });

    $.fn.form.settings.rules.anyo2000 = function(value) {
        if (value < 1900){
            return false
        }else{
            return true;
        }
    };

    $.fn.form.settings.rules.anyo2mayor = function(value) {
        anyo1= $('#anyo1').val();

        if ((value - anyo1) < 0){
            return false
        }else{
            return true;
        }
    };

    $.fn.form.settings.rules.semanyo2 = function(value) {
        anyo1= $('#anyo1').val();
        semi= $('#sem_ini').val();
        semf= $('#sem_fin').val();

        if ((value - anyo1) == 0){
               if (semi==semf){
                   return false
               }else{
                   if (semi=='2' && semf=='1'){
                       return false
                   }else {
                       return true;
                   }
               }
        }else{
            return true;
        }

    };

    var rules = {
        num_id: {
            identifier  : 'num_id',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el numero de identificación actual'
                },
                {
                    type: 'maxLength[11]',
                    prompt : 'M&aacute;ximo 11 numeros'
                },
                {
                    type: 'integer',
                    prompt : 'Solo valores numéricos'
                },
            ]
        },

        l_expedicion: {
            identifier  : 'l_expedicion',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese municipio de expedición de identificación'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres'
                },
            ]
        },

        f_nac: {
            identifier  : 'f_nac',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese la fecha de nacimiento'
                },
                {
                    type: 'maxLength[10]',
                    prompt : 'M&aacute;ximo 10 caracteres'
                },
                {
                    type   : 'regExp[/^[0-9]{4}-[0-9]{2}-[0-9]{2}$/]',
                    prompt: 'Fecha NO válida. Formato AAAA-MM-DD'
                }
            ]
        },

        paisnac:{
            identifier  : 'paisnac',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un pais'
                },
            ]
        },

        ciudnac:{
            identifier  : 'ciudnac',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione una ciudad'
                },
            ]
        },

        nac_municipio: {
            identifier  : 'nac_municipio',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese municipio de nacimiento'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres'
                },
            ]
        },

        nac_depto: {
            identifier  : 'nac_depto',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese departamento de nacimiento'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres'
                },
            ]
        },

        dir_residencial: {
            identifier  : 'dir_residencial',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese la dirección residencial'
                },
                {
                    type: 'maxLength[250]',
                    prompt : 'M&aacute;ximo 250 caracteres'
                },
            ]
        },

        rcelestud: {
            identifier  : 'rcelestud',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el numero de celular'
                },
                {
                    type: 'maxLength[10]',
                    prompt : 'M&aacute;ximo 10 numeros'
                },
                {
                    type: 'integer',
                    prompt : 'Solo valores numéricos'
                },
            ]
        },

        paisres:{
            identifier  : 'paisres',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un pais'
                },
            ]
        },

        ciudres:{
            identifier  : 'ciudres',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione una ciudad'
                },
            ]
        },

        res_municipio: {
            identifier  : 'res_municipio',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese municipio de residencia'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres - residencia'
                },
            ]
        },

        res_depto: {
            identifier  : 'res_depto',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese departamento de residencia'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres - residencia'
                },
            ]
        },

        rtelestud:{
            identifier  : 'rtelestud',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el numero de telefono fijo residencia, si no tiene ingrese 0'
                },
                {
                    type: 'maxLength[10]',
                    prompt : 'M&aacute;ximo 10 numeros'
                },
                {
                    type: 'integer',
                    prompt : 'Solo valores numéricos'
                },
            ]
        },

        remailestud:{
            identifier  : 'remailestud',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese su email'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 carateres'
                },
                {
                    type: 'email',
                    prompt : 'ingrese un email valido'
                },
            ]
        },

        snp:{
            identifier  : 'snp',
            rules: [
                {
                    type: 'exactLength[14]',
                    prompt : 'debe contener 14 carateres'
                },
            ]
        },

        progpre:{
            identifier  : 'progpre',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un programa academico de pregrado'
                },
            ]
        },

        progpost:{
            identifier  : 'progpost',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un programa academico de postgrado'
                },
            ]
        },
        sem_ini:{
            identifier  : 'sem_ini',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un valor de la lista'
                },
            ]
        },
        anyo1:{
            identifier  : 'anyo1',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el año de inicio de semestre'
                },
                {
                    type: 'maxLength[4]',
                    prompt : 'M&aacute;ximo 4 numeros'
                },
                {
                    type: 'anyo2000',
                    prompt : 'Elvalor no debe ser menor a 2000'
                },
                {
                    type: 'integer',
                    prompt : 'Solo valores numéricos'
                },
            ]
        },
        sem_fin:{
            identifier  : 'sem_fin',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un valor de la lista'
                },
            ]
        },
        anyo2:{
            identifier  : 'anyo2',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el año de fin de semestre'
                },
                {
                    type: 'maxLength[4]',
                    prompt : 'M&aacute;ximo 4 numeros'
                },
                {
                    type: 'anyo2mayor',
                    prompt : 'El valor No debe ser inferior a año inicio'
                },
                {
                    type: 'semanyo2',
                    prompt : 'El valor de semestre finalizacion No debe ser igual ó menor, a semestre inicio para el mismo año inicio y finalizacion'
                },
                {
                    type: 'integer',
                    prompt : 'Solo valores numéricos'
                },
            ]
        },
        sedeuniv:{
            identifier  : 'sedeuniv',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un valor de la lista'
                },
            ]
        },
        porcentaje:{
            identifier  : 'porcentaje',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el porcentaje de satisfaccion'
                },
                {
                    type: 'maxLength[3]',
                    prompt : 'M&aacute;ximo 3 numeros'
                },
                {
                    type: 'integer[1..100]',
                    prompt : 'Solo valores numéricos del 1 al 100'
                },
            ]
        },

        termino_otra:{
            identifier  : 'termino_otra',
            depends    : 'estudio_otra',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un valor de la lista'
                },
            ]
        },
        univer_pre:{
            identifier  : 'univer_pre',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el nombre la universidad'
                },
            ]
        },
        univer_post:{
            identifier  : 'univer_post',
            depends    : 'estudio_otra',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el nombre la universidad'
                },
            ]
        },
        otroprograma:{
            identifier  : 'otroprograma',
            depends    : 'estudio_otra',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un valor de la lista'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 carateres'
                },
            ]
        },
        especializar:{
            identifier  : 'especializar',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el nombre de la especializacion'
                },
                {
                    type: 'maxLength[80]',
                    prompt : 'M&aacute;ximo 80 caracteres'
                },
            ]
        },

        trabaja_actual:{
            identifier  : 'trabaja_actual',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un valor de la lista'
                },
            ]
        },

        fecha_inilaboral:{
            identifier  : 'fecha_inilaboral',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'ingrese la fecha de inicio laboral'
                },
                {
                    type   : 'regExp[/^[0-9]{4}-[0-9]{2}-[0-9]{2}$/]',
                    prompt: 'Fecha NO válida. Formato AAAA-MM-DD'
                },
            ]
        },

        ocupacion_trabajo:{
            identifier  : 'ocupacion_trabajo',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese su ocupacion en la empresa'
                },
                {
                    type: 'maxLength[80]',
                    prompt : 'M&aacute;ximo 80 caracteres'
                },
            ]
        },
        nombre_empresa:{
            identifier  : 'nombre_empresa',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el nombre de la empresa'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres'
                },
            ]
        },
        actividad_empresa:{
            identifier  : 'actividad_empresa',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese la actividad economica de la empresa'
                },
                {
                    type: 'maxLength[80]',
                    prompt : 'M&aacute;ximo 80 caracteres'
                },
            ]
        },
        nom_gerente_emp_trab:{
            identifier  : 'nom_gerente_emp_trab',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el nombre del gerente de la empresa'
                },
                {
                    type: 'maxLength[80]',
                    prompt : 'M&aacute;ximo 80 caracteres'
                },
            ]
        },
        nom_jefe_emp_trab:{
            identifier  : 'nom_jefe_emp_trab',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el nombre del jefe inmediato de la empresa'
                },
                {
                    type: 'maxLength[80]',
                    prompt : 'M&aacute;ximo 80 caracteres'
                },
            ]
        },
        direc_emp_trab:{
            identifier  : 'direc_emp_trab',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese la direccion de la empresa'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres'
                },
            ]
        },

        paislab:{
            identifier  : 'paislab',
            depends     : 'trabaja_actual',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione un pais'
                },
            ]
        },

        ciudlab:{
            identifier  : 'ciudlab',
            depends     : 'trabaja_actual',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Seleccione una ciudad'
                },
            ]
        },

        dpto_emp_trab:{
            identifier  : 'dpto_emp_trab',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el nombre del departamento de ubicacion de la empresa'
                },
                {
                    type: 'maxLength[60]',
                    prompt : 'M&aacute;ximo 60 caracteres'
                },
            ]
        },
        mpio_emp_trab:{
            identifier  : 'mpio_emp_trab',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el nombre del municipio de ubicacion de la empresa'
                },
                {
                    type: 'maxLength[60]',
                    prompt : 'M&aacute;ximo 60 caracteres'
                },
            ]
        },
        telef_emp_trab:{
            identifier  : 'telef_emp_trab',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el numero de telefono de la empresa'
                },
                {
                    type: 'maxLength[10]',
                    prompt : 'M&aacute;ximo 10 caracteres'
                },
                {
                    type: 'integer',
                    prompt : 'Solo valores numericos'
                },
            ]
        },
        email_emp_trab:{
            identifier  : 'email_emp_trab',
            rules: [
                {
                    type   : 'empty',
                    prompt : 'Ingrese el email de la empresa donde labora'
                },
                {
                    type: 'maxLength[100]',
                    prompt : 'M&aacute;ximo 100 caracteres'
                },
                {
                    type: 'email',
                    prompt : 'ingrese un email valido'
                },
            ]
        },
    };

    $.fn.api.settings.api = {
        'insertarpos' : '<?php echo $this->url('home') ?>encuesta/insertarpos',
    };

    $('.ui.form.segment.tiny.formencuesta').form({
        on: 'blur',
        inline : true,
        fields: rules,
        onSuccess : function() {
            return false;
        },
    });

    buttonPostValidation('.ui.button.green.postgrado', 'insertarpos', '.ui.form.segment.tiny.formencuesta', 'contenedor');

</script>
