<div class="ui secondary pointing menu">
    <div class="item">
        <h2><i class="green user icon"></i>Importar archivo .csv de estudiantes</h2>
    </div>
</div>

<form class="ui form segment tiny form" id="upload_csv" method="post" enctype="multipart/form-data">

    <div class="four fields">
        <div class="field">
            <label>Archivo a importar</label>
        </div>
    </div>

    <div class="two fields">

        <div class="field">
            <input type="file" name="employee_file" style="margin-top:15px;" />
        </div>

        <div class="field">
            <input type="submit" name="upload" id="upload" value="Importar" style="margin-top:10px;" class="btn btn-info" />
        </div>

    </div>

</form>
<br>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed" style="width:100%; margin:0;" border="1px">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nro Identific.</th>
            <th>Municipio Exp.</th>
            <th>Nombres</th>
            <th>Apelldos</th>
            <th>Dir. Residencia</th>
            <th>Celular</th>
            <th>E-mail</th>
            <th>Sexo</th>
        </tr>
        </thead>
        <tbody id="testudiantes"></tbody>
    </table>
</div>

<div class="ui modal" id="modalmensaje">
    <div class="header" style="background:#04B404; color: white;">Advertencia</div>
    <div class="content">
        <p id="modalcontenido"></p>
    </div>
    <div class="actions">
        <div class="ui approve button" style="background:#04B404;color: white;">Aceptar</div>
    </div>

</div>

<script type="text/javascript">

    $(document).ready(function(){
        $('#upload_csv').on("submit", function(e){
            e.preventDefault(); //form will not submitted
            $url='<?php echo $this->url('home') ?>estudiante/ejecimportacion';
            $.ajax({
                url:$url,
                method:"POST",
                data:new FormData(this),
                contentType:false,          // The content type used when sending data to the server.
                cache:false,                // To unable request pages to be cached
                processData:false,          // To send DOMDocument or non processed data file it is set to false
                success: function(data){
                    if (data == 'Error1') {
                        $('#modalcontenido').html("Archivo invalido, debe ser un csv...!");
                        $('#modalmensaje').modal('show');
                    } else if (data == 'Error2') {
                        $('#modalcontenido').html("Por favor seleccione un archivo csv...!");
                        $('#modalmensaje').modal('show');
                    } else if (data == 'Error3'){
                        $('#modalcontenido').html("No se importaron registros...!");
                        $('#modalmensaje').modal('show');
                    }else {
                        $('#testudiantes').html(data);
                    }
                }
            })
        });
    });

</script>