<div class="ui secondary pointing menu">
    <div class="item">
        <h2><i class="green user icon"></i>Agreagar o Actualizar Periodo de la encuesta</h2>
    </div>
</div>

<form class="ui form segment tiny formcorte">
    <table class="ui table compact">
        <tr>
            <td><strong>PERIODO ENCUESTA</strong></td>
            <td><strong>ESTADO</strong></td>
        </tr>
        <?php foreach ($corte as $value): ?>
            <tr>
                <td align="left"><?= $value['nombre'] ?></td>
                <td align="left"><?= $value['estado'] ?></td>
            </tr>
        <?php endforeach ?>
    </table>

    <div class="two fields">
        <div class="field">
            <label>Corte Periodo</label>
            <input type="text" id="corte" name="corte" maxlength="6" placeholder="_-____" >
        </div>
        <div class="field">
            <label>Estado</label>
            <input type="text" id="estado" name="estado" maxlength="1" placeholder="[V]igente" >
        </div>
    </div>


    <div class="ui error message"></div>

    <button class="ui button green corte">
        Guardar Datos
    </button>

</form>

<script type="text/javascript">

    $('.ui.dropdown').dropdown();

    var rules = {

        corte: {
            identifier: 'corte',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Ingrese el periodo actual'
                },
                {
                    type: 'maxLength[6]',
                    prompt: 'M&aacute;ximo 6 caracteres'
                },
            ]
        },

        estado: {
            identifier: 'estado',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Ingreso el estado del periodo actual'
                },
                {
                    type: 'maxLength[1]',
                    prompt: 'M&aacute;ximo 1 caracteres'
                },
            ]
        },

    };

    $('.ui.form.segment.tiny.formcorte').form({
        on: 'blur',
        inline : true,
        fields: rules,
        onSuccess : function() {
            return false;
        },
    });

    $.fn.api.settings.api = {
        'insertcorte' : '<?php echo $this->url('home') ?>estudiante/insertcorte',
    };

    buttonPostValidation('.ui.button.green.corte', 'insertcorte', '.ui.form.segment.tiny.formcorte', 'contenedor5');

</script>