<div class="ui green icon message">
    <i class="info green circle icon"></i>
    <div class="content">
        <div class="header">
            <h2 align="center">Sorteo de Ganador Asistente al Evento - Encuentro de Egresados 2017.</h2>
        </div>
    </div>
</div>
</br>
<form class="ui tiny form ruleta">
    <div class="three fields">
        <div class="field">
            <div id="gifganador"style="display: none;"><center><img src="<?php echo $this->url('home') ?>img/gano.gif"></center>
            </div>
        </div>
        <div class="field">
            <center><input type="text" id="cedulas" style="font-size: 3em;" value="Iniciar" size="11"></center>
        </div>
        <div class="field"><div id="gifganador2" style="display: none;"><center><img src="<?php echo $this->url('home') ?>img/gano.gif"></center></div></div>
    </div>
    <div class="two fields">
        <div class="field">
            <input type="text" id="nomestud" name="nomestud" style="font-size: 3em; font-weight: bold">
        </div>
        <div class="field">
            <input type="text" id="apeestud" name="apeestud" style="font-size: 3em; font-weight: bold">
            <input type="hidden" id="estado" name="estado">
        </div>
    </div>
    <div class="three fields">
        <div class="field center aligned">
            <div class="ui fluid green labeled icon button iniciar" id="iniciar" onclick="comenzar();">
                <i class="play icon"></i> Iniciar Sorteo
            </div>
        </div>
        <div class="field"></div>
        <div class="field center aligned">
            <div class="ui fluid green labeled icon button detener" id="detener" onclick="parar();">
                <i class="stop icon"></i> Detener Sorteo
            </div>
        </div>
    </div>
</form>
<br><br>
<div class="one field">
    <div class="field center aligned">
        <center><img src="<?php echo $this->url('home') ?>img/logocintia.jpg" style="width: 500px;"></center>
    </div>
</div>
<script type="text/javascript" src="<?php echo $this->url('home') ?>js/Concurrent.Thread.js"></script>
<script type="text/javascript">
    function parar() {
        $("#estado").val(1);
    }
    function comenzar () {
        Concurrent.Thread.create(function() {
            $("#estado").val(0);
            var cedgana = 0;
            var fin = 0;
            var i = 0;
            var datos = [];
            $("#nomestud").val("");
            $("#apeestud").val("");
            document.getElementById('nomestud').removeAttribute('style');
            document.getElementById('apeestud').removeAttribute('style');
            document.getElementById('cedulas').removeAttribute('style');
            $("#gifganador").css('display', 'none');
            $("#gifganador2").css('display', 'none');
            document.getElementById('nomestud').setAttribute('style', 'font-size: 3em;');
            document.getElementById('apeestud').setAttribute('style', 'font-size: 3em;');
            document.getElementById('cedulas').setAttribute('style', 'font-size: 3em;');
            <?php foreach ($inscripevento as $binscripevento){ ?>

            datos[i] = "<?=$binscripevento['nro_ident']?>";
            i++;
            <?php }?>
            console.log(datos.length);
            do {
                for (var j = 0; j < datos.length; j++) {
                    fin = $("#estado").val();
                    if (fin != 0) {
                        break;
                    }
                    console.log(datos[j]);
                     $("#cedulas").val(datos[j]);
                    cedgana = datos[j];
                }
            } while (fin == 0);
            <?php foreach ($inscripevento2 as $binscripevento2){ ?>
              if ("<?=$binscripevento2['nro_ident']?>" == cedgana){
                  document.getElementById('nomestud').setAttribute('style', 'font-size: 3em; background-color:#E3FFAB; color:#2D680A');
                  document.getElementById('apeestud').setAttribute('style', 'font-size: 3em; background-color:#E3FFAB; color:#2D680A');
                  document.getElementById('cedulas').setAttribute('style', 'font-size: 3em; background-color:#E3FFAB; color:#2D680A');
                  //$("#gifganador").css('display', 'block');$("#gifganador2").css('display', 'block');
                  $("#nomestud").val("<?= utf8_encode($binscripevento2['nombres'])?>");
                  $("#apeestud").val("<?= utf8_encode($binscripevento2['apellidos'])?>");
              }
            <?php }?>
            $("#gifganador").css('display', 'block');$("#gifganador2").css('display', 'block');
        });
    }


</script>