<h2 class="ui header red dividing">
    <i class="warning circle icon"></i>
    <div class="content">
        Encuestas por realizar (<?=count($noencuestapost)?>) del periodo <?= $cortevig['nombre'] ?>
    </div>
</h2>

<table class="ui celled padded compact table">
    <tr>
        <td><strong># Reg.</strong></td>
        <td><strong>ID_ESTUD.</strong></td>
        <td><strong>NOMBRES</strong></td>
        <td><strong>APELLIDOS</strong></td>
        <td><strong>NRO DE IDENTIFICACION</strong></td>
        <td><strong>PROGRAMA</strong></td>
    </tr>
    <?php $i=1; ?>
    <?php foreach ($noencuestapost as $value): ?>
        <tr>
            <td><?=$i++?></td>
            <td align="left"><?= $value['id'] ?></td>
            <td align="left"><?= $value['nombres'] ?></td>
            <td align="left"><?= $value['apellidos'] ?></td>
            <td align="left"><?= $value['nro_ident'] ?></td>
            <td align="left"><?= $value['nombre'] ?></td>
        </tr>
    <?php endforeach ?>
</table>