<script type="text/javascript">
    $('.ui.dropdown').dropdown();

    $(document).ready(function() {
//        var nmodulo=$("#modulo").val();
        $('.ui.dropdown.tipoestudio').on('change',function(){
            tipoestud = $("#tipoestudio").val();
        });

        $('.ui.button.repor-sexo').on('click', function () {
            ajaxPost('<?php echo $this->url('home') ?>reportes/repor-nroacta-egresados-programa/' + tipoestud, 'contenedor5', {
                nroactagral: $("#nroactagral").val(), fecha1: $("#fecha1").val(), fecha2: $("#fecha2").val(), programa: $("#programa").val()});
        });

    });

    function validaProgramas () {
        var estudio = $("#tipoestudio").val();
        console.log(estudio);
        if (estudio=="1") {
            ajaxGet(
                '<?php echo $this->url('home') ?>reportes/programas-reportes/1',
                'programa'
            );
        }
        if (estudio=="2") {
            ajaxGet(
                '<?php echo $this->url('home') ?>reportes/programas-reportes/2',
                'programa'
            );
        }
    }

</script>
<form class="ui form">
    <div class="five fields">
        <div class="field">
            <label>Tipo Egresado:</label>
            <select class="ui dropdown tipoestudio" id="tipoestudio" name="tipoestudio" onchange="validaProgramas();">
                <option value="">Seleccione tipo egresado...</option>
                <option value="1">Pregrado</option>
                <option value="2">Postgrado</option>
            </select>
        </div>
        <div class="field">
            <label>Programa:</label>
            <select class="ui dropdown origen" id="programa" name="programa">

            </select>
        </div>
        <div class="field">
            <label>Ingrese el Nro del Acta General:</label>
            <input type="text" id="nroactagral" name="nroactagral" maxlength="15">
        </div>
        <div class="field">
            <label>Fecha Inicial</label>
            <input type="date" placeholder="AAAA-MM-DD" id="fecha1" name="fecha1" maxlength="10">
        </div>
        <div class="field">
            <label>Fecha Final</label>
            <input type="date" placeholder="AAAA-MM-DD" id="fecha2" name="fecha2" maxlength="10">
        </div>
    </div>
    <div class="ui button repor-sexo">
        Generar reporte
    </div>
</form>

<script type="text/javascript">
    var rules = {

        tipoestudio: {
            identifier: 'tipoestudio',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Seleccione el tipo de nivel de estudio'
                },
            ]
        },
        ident: {
            nroactagral: 'nroactagral',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Ingrese el número de acta general'
                },
                {
                    type: 'integer',
                    prompt: 'Solo valores numericos'
                },
                {
                    type: 'maxLength[15]',
                    prompt: 'M&aacute;ximo 15 caracteres'
                },
            ]
        },

    };

    $('.ui.form').form({
        on: 'blur',
        inline : true,
        fields: rules,
        onSuccess : function() {
            return false;
        },
    });

</script>

<div id="contenedor5">

</div>